%%inherit(file="../main.html.haml")

%%block(name="program_bar")
  .row
    .large-12.columns.program-bar
      - # Hardcoded values for now, so not translated
      .program-name
        = course.program_name
      .course-name
        = course.name
  .row
    .large-12.columns.program-menu
      %i.fa.fa-bars

%%block(name="content")
  .row
    .large-11.large-centered.columns.content-page
      %%include(file="content_page/course_menu.html.haml")
