%%inherit(file="../main.html.haml")

%%block(name="program_bar")
  .row
    .large-12.columns.program-bar
      .program-name
        = course.program_name
      .course-name
        = course.name
  .row
    .large-12.columns.program-menu
      %i.fa.fa-bars

%%block(name="content")
  .row
    .large-11.large-centered.columns.content-page
      %%include(file="content_page/course_menu.html.haml")
      %%include(file="content_page/course_discover.html.haml")
      %article.course-quote
        %blockquote If I had an hour to solve a problem I'd spend 55 minutes thinking about the problem and 5 minutes thinking about solutions.
        .attribution
          %img(src='http://dummyimage.com/50x50/aaa/000')
          .author Albert Einstein
          .occupation Theoretical Physicist
      %%include(file="content_page/lesson_menu.html.haml")
      .course-title
      .lesson-content
      .lesson-discussion
      %%include(file="content_page/lesson_pager.html.haml")
    .large-1.medium-1.small-0.columns
      &nbsp;

%%block(name="js_snippets")
  :javascript
    var set_page_height = function(){
      var $page = $('.content-page');
      var $footer = $('.footer');

      var new_height = $footer.position().top - $page.position().top - (2 * parseInt($page.css('margin-top')));
      $page.css({height: new_height + "px"});
    }
    $(window).on('resize', set_page_height);
    $(window).trigger('resize');
