
// paragraph setting across theme

.new-theme
{
    p
    {
        @include font-size(16);
        line-height: 26px;
    }

    .lesson-content
    {
        ul
        {
            padding: 0;
            margin: 20px;
            line-height: 26px;
            @include font-size(16);
            
            ul {
                padding: 0;
                margin: 0;
            }

            >ul
            {
                padding:0 0 0 20px;
                margin:0;
            }

            &.review-list
            {
                margin: 5px 0 10px;
            }
        }

        ol
        {
            padding: 0;
            margin: 20px;
            line-height: 26px;
            @include font-size(16);

            >ol
            {
                padding:0 0 0 20px;
                margin:0;
            }

            &.review-list
            {
                margin: 5px 0 10px;
            }
        }
    }

    .vert
    {
        &:last-child
        {
            padding-bottom: 0;
        }
    }

    // Media Query for Mobile

    @media (max-width: 767.98px) { 
        p, ul, li
        {
            @include font-size(14);
        }
    }
    &.rtl{
        .lesson-content{
            ul{
                >ul{
                    padding:0 20px 0 0;
                }
            }

            ol{
                >ol{
                    padding:0 20px 0 0;
                }
            }
        }
    }
}
