- load i18n

%ul#header-ld
  - if learner_dashboard_id
    %li
      %a{href:"#"}
        {% trans "Dashboard Elements" %}
    %li
      %a{href:"#"}
        {% trans "Discover Content" %}
  %li
      %a{href:"#"}
        {% trans "Title/Description" %}
  - if learner_dashboard_id
    %li
      %a{href:"#"}
        {% trans "Tile Positions" %}
    %li
      %a{href:"#"}
        {% trans "Branding" %}
    %li
      %a{href:"#"}
        {% trans "Copy dashboard" %}

%script
  $("#header-ld li").on('click', function (){
    $('.admin-ld-component').hide().eq($(this).index()).show();
  });
