- extends 'admin/admin_layout.haml'
- load staticfiles
- block content
  %link{rel: 'stylesheet', href: "{% static 'css/jquery-ui.min.css' %}"}
  %link{rel: 'stylesheet', href: "{% static 'css/flatpickr.min.css' %}"}
  %script
    $(function() {
      var title;
      var description;
      var previewTextColor;
      var previewDescColor;

      $('.admin-ld-component').hide().eq(0).show();

      $('#previewLearnerDashboard').on('click', function(){
        $("#preview-text").html(function(){
          return $("input[name=title_ld]").val();
        });
        $("#preview-desc").html(function(){
          return $("textarea[name=description]").val();
        });

        previewTextColor = $('input[name=title_color]').val();
        previewDescColor = $('input[name=description_color]').val();
        $('#preview-text').css("color", previewTextColor);
        $('#preview-desc').css("color", previewDescColor);
      });

      $('#title, #description, #text_color, #desc_color').on('keyup change', function() {
        $('#unchangedLearnerDashboard').css("display", "none");
        $('#saveLearnerDashboard').attr('disabled', false);
        $('#previewLearnerDashboard').css("display", "inline");
      });

      if ('{{learner_dashboard_id}}' != 'None') {
        $("#sortable").sortable({
          update: function (event, ui) {
           $("#sortable-preview").not($(this)).html($(this).html());
          }
        }).disableSelection();

        $('#sortable, #sortable-preview').sortable({
          items: '.item:not(.fixed)'
        });
        $('#sortable').disableSelection();

        var isDragging;
        var wasDragging;

        $('.ui-sortable-handle').mousedown(function() {
          isDragging = false;
        }).mousemove(function() {
          isDragging = true;
        }).mouseup(function() {
          wasDragging = isDragging;
          isDragging = false;
          if (wasDragging) {
            $('#unchangedLearnerDashboard').css("display", "none");
            $('#previewLearnerDashboard').css("display", "inline");
          }
        });
      }

      $('#saveLearnerDashboard, #saveModalLearnerDashboard').on('click', function(){
        var headers = {
          'X-CSRFToken': $.cookie('apros_csrftoken')
        }
        var data = {
          title: $("input[name=title_ld]").val(),
          description: $("textarea[name=description]").val(),
          title_color: $("input[name=title_color]").val(),
          description_color: $("input[name=description_color]").val(),
        }
        if ('{{learner_dashboard_id}}' != 'None')
          data.positions = $('#sortable').sortable('toArray');
        $.ajax({
          headers: headers,
          data: data,
          type: 'POST',
          url: window.location.pathname,
          success : function() {
            location.reload();
          }
        });
      });
    });

    function deleteTile(tileId, learnerDashboardId){
      if (window.confirm("Are you sure?")) {
        var url = window.location.pathname + '/' + learnerDashboardId + "/tile/" + tileId;
        $.ajax({
          headers: {
            'X-CSRFToken': $.cookie('apros_csrftoken')
          },
          type: 'DELETE',
          url: url
        });
        $('#' + tileId).remove();
      }
    }

    function deleteDiscover(discoverId, learnerDashboardId){
      if (window.confirm("Are you sure?")) {
        var url = window.location.pathname + '/' + learnerDashboardId + "/discover/" + discoverId;
        $.ajax({
          headers: {
            'X-CSRFToken': $.cookie('apros_csrftoken')
          },
          type: 'DELETE',
          url: url
        });
        $('#' + discoverId).remove();
      }
    }
  %script{src: "/static/js/admin_learner_dashboard/sort.js"}

  #tileModal.reveal-modal.small{'data-reveal': None}
  #discoverModal.reveal-modal.small{'data-reveal': None}
  #brandingModal.reveal-modal.small{'data-reveal': None}
  - include 'admin/learner_dashboard/preview.haml'

  .admin-detail.row
    .large-12.columns
      - include 'admin/learner_dashboard/header.haml'
  .admin-detail
    - if learner_dashboard_id
      #element-list.admin-ld-component
        - include 'admin/learner_dashboard/element_list.haml'

      #element-discovery-content.admin-ld-component
        - include 'admin/learner_dashboard/discovery_list.haml'

    #title-description.admin-ld-component
      - include 'admin/learner_dashboard/title_description.haml'

    - if learner_dashboard_id
      #element-positions.admin-ld-component
        - include 'admin/learner_dashboard/element_positions.haml'

    - if learner_dashboard_id
      #branding.admin-ld-component
        - include 'admin/learner_dashboard/branding.haml'

      #copy-dashboard.admin-ld-component
        - include 'admin/learner_dashboard/learner_dashboard_copy.haml'

    #button-row.row
      .large-10.large-offset-2.columns
        - if learner_dashboard_id
          %a#previewLearnerDashboard.button.radius.small.right.bottom-buttons{href:"/", data-reveal-id: 'previewModal'} Preview
          %input#unchangedLearnerDashboard.button.radius.small.right.bottom-buttons.disabled{type: 'button', value: 'Preview'}
        - else
          %input#saveLearnerDashboard.button.radius.small.right.bottom-buttons{type: 'button', value: 'Save', disabled: 'disabled'}
