%form{"id":"hidden_file_upload_form", "action":"/admin/api/s3file", "method":"post", "enctype":"multipart/form-data", "style":"width:0px;height:0;overflow:hidden"}
	- csrf_token
	%input{"name":"file","type":"file"}
	

  