footer[role=contentinfo]{
  color: $footer-text;
  padding: 15px;
  max-width: 90.57143rem;

  .copyright{
    color: $mckinsey-dark-grey;
    @include font-spec(10, semibold, 20);
  }

  nav {
    ul {
      margin: 0;
      line-height: normal;
      list-style-type: none;
      li {
        padding: 0 10px;
        a { @include font-spec(10, semibold, 12); }
      }
    }
  }
  @include mobile{
    margin-bottom: 50px;
  }
}
