header[role=banner].background-blue {
  // TODO: replace with extend depth5
  position: fixed;
  background-color: $mckinsey-blue-bar;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  @include clearfix;
  @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);

  .row.main-nav {
    //@include linear-gradient(to right, $header-right-color, $header-left-color 60px, $header-right-color);

    .columns {
      height: $header-bar-height;
      z-index: 5;
    }
  }

  nav {
    float: left;
    height: 100%;

    ul {
      margin: 0;
      display: table;
      height: 100%;
      list-style-type: none;

      li {
        display: table-cell;
        vertical-align: middle;
        text-transform: uppercase;
        padding-right: rem-calc(20);
        &:last-child { padding-right: 0; }
        a.selected { color: $mckinsey-academy-blue-gray; }
      }
    }

    @media #{$screen} and (max-width: 700px) {
      height: auto;
      position: absolute;
      top: 100%;
      right: 0;
      display: none;
      background: $mckinsey-blue;

      ul {
        height: auto;
        display: block;

        li {
          padding: 0;
          display: block;

          a {
            display: block;
            padding: 0 rem-calc(15);
            @include font-spec(14, semibold, 35);
          }
        }
      }
    }

  }

  .logo {
    width: 170px;
    height: 48px;
    margin: 0 auto;
    display: block;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(/static/image/mckinsey&academy@2x.png);
    }
  }

  .admin-logo {
    background: url(/static/image/McKA_admin_logo.png) no-repeat 0 center;
    background-size: 100%;
    width: 225px;
    height: 100%;
    float: left;
    margin-right: rem-calc(25);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(/static/image/McKA_admin_logo@2x.png);
    }
  }

  .mobile-menu {
    display: none;

    @media #{$small-only} {
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      padding: rem-calc(5) rem-calc(10);
      margin-top: -14px;
    }
  }

  #mobile-menu-toggle {
    display: none;

    @media #{$screen} and (max-width: #{upper-bound($small-range)}) {
      &:checked + nav { display: block; }
    }
  }

  .user-info {
    cursor: pointer;
    float: right;
    color: $user-text;
    @include font-spec(10, bold, 12);
    text-align: right;
    $drop_down_offset: 3px;
    position: fixed;
    top: 0;
    right: 0;
    @media #{$large-up}{
      position: inherit;
      top: inherit;
      right: inherit;
    }
    .fa{
      position:relative;
      &.fa-sort-asc{
        top: $drop_down_offset;
      }
      &.fa-sort-desc{
        top: -1*$drop_down_offset;
      }
    }
    div {
      display: inline;
      cursor: pointer;
    }
    .user-image img {
      @include square-size($header-bar-height);
    }
    $user-profile-width: 220px;
    .user-profile{
      width: $user-profile-width;
      @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);

      color: $mckinsey-academy-black;
      height: auto;
      display: block;
      border-left: 1px solid $border-line;
      border-right: 1px solid $border-line;
      background-color: $pure-white;

      div {
        display: block;
      }
      .user-detail{
        width: 100%;

        > div {
          padding: 10px 10px;
          text-align: left;
          border-bottom: 1px solid $border-line;
          height: 40px;
          vertical-align: middle;
          &.username{
            text-align: center;
            @include font-spec(14, semibold);
            height: 30px;
            padding-top: 8px;
          }

          &.logout {
            height: auto;
            vertical-align: middle;
            text-align: center;

            .button {
              margin: 0 0 5px;
              color: $pure-white;
              &:hover{
                color: $pure-white;
              }
            }
          }
        }

        $detail_icon_size: 18px;

        .fa {
          width: $detail_icon_size;
          font-size: rem-calc($detail_icon_size);
          color: $mckinsey-academy-blue-gray;
          text-align: center;
        }
        .field-group {
          @include font-spec(10, semibold);
          margin-left: $detail_icon_size + 5;
          margin-top: -1*$detail_icon_size;
          .fieldtitle{
            font-weight: bold;
            .editfield{
              color: $mckinsey-academy-alt-blue;
              @include font-spec(10, semibold);
              padding-left: 4px;
              border-left: 1px solid $border-line;
            }
          }
          .fieldcontent{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include font-spec(10, semibold, 14);
          }
        }
      }
      .user-image {
        width: 100%;
        height: 180px;
        img{
          margin: 10px 30px;
          @include square-size(160px);
        }
        #edit-user-image{
          background: $mckinsey-academy-alt-blue;
          color: $pure-white;
          padding: 5px;
          top: -35px;
          left: -20px;
          position: relative;
        }
        padding-bottom: 20px;
        border-bottom: 1px solid $border-line;
      }
    }
  }
  .login-action {
    float: right;

    .button {
      padding: 8px 15px;
      margin: 8px;
    }

    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 640px) {
      display: none;
    }

  }
  .application-name {
    display: inline-block;
    padding: 10px 10px;
  }
  #profile-container.open {
    // !important to override foundation dropdown positioning
    right: 0 !important;
    left: auto !important;
    z-index: 10;
  }

 @import './program-bar';
}
