.program-bar {
  height: $program-bar-height;
  position: relative;
  @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);

  .client-logo {
    position: absolute;
    top: 0;
    right: 50%;
    width: 300px;
    height: $program-bar-height;
    text-align: center;
    margin-right: -150px;

    img {
      max-height: 100%;
      width: auto;
    }
  }

  .program-name {
    padding-top: 10px;
  }

  .course-name {
    span {
      background: $mckinsey-orange;

      &.start-time {
        background: none;
        font-weight: normal;
      }
    }

    a {
      color: $pure-white;
      &:hover {
        color: $mckinsey-academy-blue-gray;
      }
    }
  }
  .course_info, .course_nav{
    width: 100%;
    @media only screen and (min-width: 768px){
      width: 42%;
    }
  }
  .course_info{
    .program-name, .course-name{
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .course_nav {
    @include clearfix;
    .course-tabs {
      float: none;
      margin: 0;
      list-style-type: none;
      text-align: center;
      @media only screen and (min-width: 768px){
        float: right;
      }

      li {
        display: inline-block;
        margin-right: 12px;
        position: relative;
        line-height: $program-bar-height;
        @media only screen and (min-width: 1024px){
          margin-right: 18px;
        }
        a, a:visited {
          color: $pure-white;
          text-decoration: none;
          padding: 10px 0;
          i {
            @include font-spec(22px);
          }

          .lesson-progress-bar {
            margin-top: 6px;
            height: 6px;
            .bar {
              height: 6px;
            }
          }

          &[disabled] {
            color: $mckinsey-academy-black !important;
            pointer-events: none;
          }
        }

        a:hover {
          color: $mckinsey-academy-blue-gray;
        }

        .course-tab-dropdown {
          display: none;
          padding: 0 10px;
          position: absolute;
          background: $pure-white;
          max-height: 350px;
          overflow: auto;
          box-shadow: rgba(51,51,51,0.2) -3px 3px 4px 0px;

          &.open {
            display: block;
            top: 100% !important;
          }

          .lesson-row-item {
            padding: 10px 0;
            width: 235px;
            border-bottom: 1px solid $almost-white;
            &:last-child {
              border-bottom: none;
            }
          }

          a, a:visited {
            color: $mckinsey-academy-alt-blue;
          }

          a.current {
            color: $mckinsey-orange;
          }

          a.done {
            color: $mckinsey-academy-black;
          }

          a:hover {
            color: $mckinsey-academy-blue-gray;
          }

          &#lessons-content {
            @media only screen and (max-width: 767px) {
              width: 255px !important;
              max-height: 60vh;
            }
            color: $mckinsey-academy-black;

            a, a:visited {
              i.fa {
                @include font-spec(16);
              }
            }
          }

          &#announcements-content {
            &.open {
              right: 0 !important;
              left: auto !important;
            }

            a, a:visited {
              white-space: nowrap;
              display: block;
            }
          }
        }
      }
    }
  }

  .program-menu {
    float: left;

    .fa {
      font-size: rem-calc($program-menu-size);
      margin: $program-bar-topbottom-margin 10px;
      cursor: pointer;
      color: $pure-white;
      &:hover {
        color: $mckinsey-academy-blue-gray;
      }
    }
    [data-tooltip]:after{
      right: auto;
    }
  }

  .program-menu-content {
    color: $mckinsey-blue;
    display: none;
    &.open {
      display: block;
      max-height: 95vh;
      overflow: auto;
      width: 95% !important;
      max-width: 300px !important;
      .indent{
        padding-left: 0;
        .courses{
          margin: 0;
        }
      }
    }

    // The next few items are marked as !important to prevent the foundation dropdown code from re-positioning the dropdown - it's goping where we want it to go
    position: absolute !important;
    left: 0 !important;
    top: $program-bar-height !important;
    left: auto !important;
    z-index: 10000;
    width: 275px;
    background-color: $pure-white;
    @include drop-shadow($mckinsey-academy-black, 0.2, -3px, 3px, 4px, 0px);

    .program-title {
      margin: 12px 20px 0;
      @include font-spec(12, bold);

      span {
        text-transform: uppercase;
      }
    }

    .courses {
      max-height: rem-calc(350);
      overflow: auto;
    }

    a.course-name, .course-name {
      @include font-spec(12, bold);
      padding: 5px 0;
      color: $pure-black;
      display: block;
      line-height: rem-calc(14);

      &.unavailable {
        color: $mckinsey-dark-grey;
      }

      &.current {
        color: $mckinsey-orange;
      }
    }

    a.course-name {
      &:hover {
        color: $mckinsey-academy-blue-gray;
      }
    }

    .status {
      @include font-spec(10, semibold);
      font-style: italic;
      color: $mckinsey-dark-grey;

      &.complete {
        color: $mckinsey-green;
      }
    }

    ul {
      margin: 0 12px;
      list-style: none;
      li {
        padding: 0 8px 8px;
        border-top: 1px solid $almost-white;
        &:first-child {
          border-top: none;
          margin-top: 0;
        }
      }
    }
  }

  .program-logo-img {
    height: 48px;
  }
  .indent {
    border-top: 1px solid;
    border-color: $mckinsey-grey;
    margin-top: 10px;
    padding-left: 15px;
  }
}
