.rotator {
  position: relative;

  .frame {
    overflow: hidden;

    .slides {
      visibility: hidden;
      white-space: nowrap;

      > * {
        position: relative;
        display: inline-block;
        vertical-align: top;
      }

      &.animate {
        visibility: visible;
        @include transition(margin 500ms ease-in-out);
      }
    }
  }
}
