.course-proficiency,
.course-progress,
.course-engagement {
  position: relative;
  text-align: center;

  .visualization {
    position: relative;

    .triangle {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 6px;
      border-color: transparent transparent $mckinsey-orange;
      width: 0;
      height: 0;
    }
  }
}

.course-proficiency {
  .visualization {
    border-radius: 50%;
    margin: 20px 0 15px;
    background: $mckinsey-academy-blue-gray;
    @include square-size(100px);

    .total {
      color: $pure-white;
      position: absolute;
      text-align: center;
      z-index: 10;
      top: 50%;
      width: 100%;
      margin-top: -17.5px;
      @include font-spec(35, bold);
    }

    .inner-circle {
      background: $pure-white;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      margin: -35px 0 0 -35px;
      z-index: 5;
      @include square-size(70px);
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I4ZDQzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODliNDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8d432', endColorstr='#389b46',GradientType=0 );
      @include linear-gradient(#b8d432, #389b46);

      &.failed {
        background: #fbac40;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiYWM0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjQzMjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbac40', endColorstr='#ef4326',GradientType=0 );
        @include linear-gradient(#fbac40, #ef4326);
      }
    }

    .triangle {
      top: 50%;
      left: 50%;
      margin: -6px;
      border-color: transparent $mckinsey-orange transparent transparent;
    }

    .progress-radial {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    $step: 5;
    $loops: round(100 / $step);
    $increment: 360 / $loops;
    $half: round($loops / 2);
    @for $i from 0 through $loops {

      &.cohort-progress-#{$i*$step} {
        .triangle {
          $deg: -90deg + ($increment * $i);
          @include transform(rotate($deg) translate(55px));
        }
      }

      &.progress-#{$i*$step} {
        @if $i < $half {
          $nextdeg: 90deg + ( $increment * $i );
          .progress-radial {
            @include background(linear-gradient(90deg, $mckinsey-academy-blue-gray 50%, transparent 50%, transparent), linear-gradient($nextdeg, $mckinsey-academy-black 50%, $mckinsey-academy-blue-gray 50%, $mckinsey-academy-blue-gray))
          }
        } @else {
          $nextdeg: -90deg + ( $increment * ( $i - $half ) );
          .progress-radial {
            @include background(linear-gradient($nextdeg, $mckinsey-academy-black 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, $mckinsey-academy-black 50%, $mckinsey-academy-blue-gray 50%, $mckinsey-academy-blue-gray));
          }
        }
      }
    }
  }
}

.course-progress {
  .visualization {
    background: $mckinsey-academy-blue-gray;
    border-radius: 50px;
    width: 308px;
    height: 17px;
    margin: 60px 0 58px;
    position: relative;

    .triangle {
      top: 15px;
      margin-left: -7px;
    }

    .total {
      position: absolute;
      top: -21px;
      min-width: 2em;
      text-align: right;
      @include transform(translate(-50%, 0));
      @include font-spec(15, bold);
    }

    .bar {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      max-width: 100%;
      background: #fff;
      border-radius: 50px;
      background: #389b46;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4OWI0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOGQ0MzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#389b46', endColorstr='#b8d432',GradientType=1 );
      @include linear-gradient(to right, #389b46, #b8d432);
      &.trailing {
        background: #ef4326;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmNDMyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmFjNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4326', endColorstr='#fbac40',GradientType=1 );
        @include linear-gradient(to right, #ef4326, #fbac40);
      }
    }
  }
}

.course-engagement {
  .visualization {
    background: #d8e1e6;
    border-radius: 50%;
    margin: 20px 0 15px;
    @include square-size(100px);
    &.filled { background: #3e9e45; }

    &.no-progress .total {
      color: $mckinsey-academy-black;
      background: $pure-white;
    }

    .band-1,
    .band-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
    }

    .band-1 {
      background: $mckinsey-academy-blue-gray;
      margin: -30px 0 0 -30px;
      z-index: 8;
      @include square-size(60px);
      &.filled { background: #b3d233; }
    }

    .band-2 {
      background: #bbcad2;
      margin: -39px 0 0 -39px;
      z-index: 5;
      @include square-size(78px);
      &.filled { background: #7cb93b; }
    }

    .total {
      color: $pure-white;
      position: absolute;
      background: $pure-black;
      text-align: center;
      z-index: 10;
      top: 50%;
      left: 50%;
      margin: -17.5px 0 0 -17.5px;
      border-radius: 50%;
      @include square-size(35px);
      @include font-spec(15, bold, 35);
    }
  }
}

.lesson-progress-bar {
  background: $mckinsey-academy-blue-gray;
  border-radius: 50px;
  width: 100%;
  height: 8px;
  position: relative;

  .bar {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    max-width: 100%;
    background: $mckinsey-green;
    border-radius: 50px;
  }
}
