@import 'lms/static/sass/discussion/lms-discussion-main';
@import '../base/variables';
@import '../base/buttons';





body {
  background-color: $mckinsey-academy-bright-gray;
}

footer[role=contentinfo] {
  nav {
    ul {
      li {
        a {
          color: $mckinsey-academy-alt-blue;
        }
      }
    }
  }
}

body.new-theme {
  @-webkit-keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }

  @keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }

  .wmd-panel {
    .wmd-button {
      span {
        background-image: url(/static/image/lesson-content/discussion/wmd-buttons-transparent.png);
      }
    }

    .wmd-preview-container {
      margin-top: -6px;

      .wmd-preview-label {
        font-size: 1rem;
        padding: 7px 10px;
        color: #000;
      }

      .wmd-preview {
        padding: 0px 20px;
      }
    }
  }

  /* desktop only  */
  @media (min-width: 767px) {


    .forum-nav {
      width: 34% !important;
      margin-right: 3% !important;
    }

    .discussion-column {
      width: 63% !important;
      border: 1px solid #EEEEEE;
    }

    .thread-main-wrapper {
      border-bottom: 1.21px solid #EBEBEB;
    }

    .forum-new-post-form,
    .edit-post-form {
      .post-field {
        .field-input {
          .post-topic {
            min-width: 400px;
          }

          &.js-post-title,
          &.edit-post-title {
            min-width: 400px;
          }
        }

      }

      .edit-comment-body {
        width: 100%;
      }
    }
  }

  /* mobile */
  @media (max-width: 767px) {
    #course-discussion {
      .wmd-panel {

        .wmd-preview-container {

          .wmd-preview-label {
            font-size: 12px !important;
          }

          .wmd-preview {
            padding: 0px 20px;
            font-size: 12px;
          }
        }
      }

      .post-cancel {
        margin-top: 10px !important;
      }

      .discussion-content {
        #discussion-container {

          #main.discussion-column .discussion-article.view-discussion-home,
          .ask-ta {
            display: none !important;
          }

          .page-header {
            .page-header-main {

              left: 0px;
              top: 0px;
            }

            .page-header-secondary {
              width: 100%;
              position: relative;
              top: 35px;

              .form-actions {
                width: 20%;

                button {
                  @include primary-button ( !important);
                  color: transparent !important;
                  min-width: 100%;
                  width: 100%;
                  height: 40px !important;
                  padding: 0 !important;
                  position: relative;

                  &:before {
                    font-size: 1.875rem;
                    color: #FFF;
                    font-family: "Material Icons";
                    content: "\e145";
                    position: absolute;
                    left: 32%;
                    top: -9px
                  }
                }
              }

              .forum-search {
                width: 78% !important;
                margin-top: 1px;
                max-width: unset;
                margin-left: 2px;

                .search-button {
                  &:after {
                    top: 4px;
                    right: 0px;
                  }
                }

                .search-input {
                  font-size: 12px;
                  padding: 0px 1% 0px 3%;
                  height: 38px !important;
                  width: 96% !important;
                }

                &:after {
                  top: 13px;
                  right: 13px;
                }
              }
            }
          }

          .forum-nav {
            margin-bottom: 10px;
            height: auto !important;
            max-height: none !important;

            .forum-nav-thread-list {
              height: auto !important;
            }
          }

          .forum-nav-browse-menu {
            height: auto !important;

            .forum-nav-browse-menu-item {
              .forum-nav-browse-title {
                font-weight: normal;
              }
            }
          }

          .edit-post-form {
            padding-top: 0 !important;
          }

          .forum-new-post-form,
          .edit-post-form {
            min-width: auto;
            padding: 30px 0 30px;


            .thread-title {
              display: block;
              font-size: 1.25rem;
            }

            .field-help,
            .forum-new-post-form-wrapper>.post-field .field-label-text {
              display: none;
            }

            .post-field {
              margin-bottom: 10px;

              .field-label {
                margin-bottom: 15px;
              }

              .field-label-text {
                color: $mckinsey-gray-text;
                font-size: 12px;
                position: absolute;
                top: 15px;
                margin: 0;
                left: 2px;
              }

              .post-topic {
                width: 100% !important;
                font-size: 12px;
                color: $mckinsey-gray-text;
              }

              .js-post-title {
                padding: 4px 5px 0 40px !important;
                width: 100% !important;
                border-left: 0;
                border-right: 0;
                color: $mckinsey-gray-text;
                font-size: 12px;
              }

              .field-input-label {
                padding: 10px !important;
                font-size: 0.875rem;
              }
            }

            .field-label-text {
              color: $mckinsey-gray-text;
              font-size: 12px;

              &:before {
                font-size: 13px;
              }
            }

            button.btn-brand {
              @include primary-button( !important);

              &:hover,
              &:active {
                @include primary-button-hover ( !important);
              }
            }

            .post-options {
              margin-bottom: 15px !important;

              label {
                margin-bottom: 10px;

                .input-checkbox {
                  width: 20px !important;
                }
              }

            }

            button.cancel,
            button.post-cancel {
              @include secondary-button ( !important);

              &:hover {
                @include secondary-button-hover ( !important);
              }
            }
          }

          .edit-post-form {
            min-width: auto !important;

            .forum-edit-post-form-wrapper {
              .post-field {
                margin-bottom: 20px;

                .field-label {
                  .field-label-text {
                    display: none;
                  }

                  .field-help {
                    display: none;
                  }

                  .post-type-label {
                    .fa {
                      display: none;
                    }
                  }
                }
              }
            }

            .post-field {
              .field-label {
                position: relative;
                margin-bottom: 10px;

                .field-label-text {
                  color: $mckinsey-gray-text;
                  font-size: 12px;
                  position: absolute;
                  top: 15px;
                  margin: 0;
                  left: 2px;
                }

                .field-help {
                  display: none;
                }

                .edit-post-title {
                  padding: 0px 5px 0 40px !important;
                  width: 100% !important;
                  border-left: 0;
                  border-right: 0;
                  color: $mckinsey-gray-text;
                }
              }

            }
          }

          .discussion-post {
            .post-header-actions {
              top: 65px;

              .btn-link {
                border: 0;
              }

              .action-icon {
                background: none
              }
            }

            .post-header-content {


              .posted-details {
                font-size: 12px;
                color: $mckinsey-gray-text;
                margin: 0;

                .username {
                  color: $mckinsey-default-link !important;
                  font-weight: 600;
                  font-size: 12px;
                }

                .user-label-staff {
                  width: auto;
                  font-weight: normal;

                  &:before {
                    color: #FFFFFF;
                    background: $mckinsey-gray-text;
                    font-size: 0.625rem;
                    padding: 0px 2px;
                    line-height: normal;
                    width: auto;
                  }
                }
              }

            }
          }

          .forum-content {
            padding-top: 0px;

            .post-extended-content {
              padding: 0;
            }

            .discussion-article {
              padding: 0 0px;

              &.view-discussion-home {
                display: none;
              }
            }

            .forum-response {
              .comments {
                .btn-brand {
                  @include primary-button( !important);

                  &:hover,
                  &:active {
                    @include primary-button-hover( !important);
                  }
                }
              }
            }

            .discussion-reply-new {
              .discussion-submit-post {
                @include primary-button( !important);

                &:hover,
                &:focus {
                  @include primary-button-hover( !important);
                }
              }
            }
          }
        }
      }
    }
  }

  /* desktop && mobile */
  #course-discussion {
    background: #FFF;
    position: relative;
    z-index: 9999;
    padding-top: 30px;

    .edit-post-form {

      .post-cancel,
      .post-update {
        margin-top: 10px !important;
        margin-left: 0 !important;
      }

      .loading-animation {
        display: none;
      }
    }

    .discussion-content {

      .discussion,
      .col {
        padding: 0;
      }

      .discussion-body {
        overflow: hidden;
        max-width: 100%;
      }

      .page-content {
        padding-top: 50px;
      }

      .post-label {
        color: $mckinsey-gray-text;

        &.post-label-pinned {
          color: $mckinsey-gray-text;
        }
      }

      select,
      input[type="text"],
      input[type="search"] {
        border-radius: 0px !important;
        -webkit-appearance: none !important;
        box-shadow: none;
        border: 1px solid #999999;
      }

      button.btn,
      button.btn-brand {
        @include primary-button;

        &:hover,
        &:active {
          @include primary-button-hover( !important);
        }
      }

      button {
        &.btn-link {
          .action-label {
            padding: 3px 5px 0;
          }

          .action-icon {
            border: 0;
            background: none;

            .icon {
              top: 0;
            }

            &:before {
              font-size: 1.125rem;
              color: $mckinsey-gray-text;
              font-family: "Material Icons";
            }
          }

          &:hover {
            .action-icon {
              background: none;
              border: 0;
            }
          }

          .icon {
            color: $mckinsey-gray-text;
          }

          &.is-checked {
            .icon {
              color: $mckinsey-default-link;
            }
          }
        }
      }

      button.submit:hover,
      button.submit:focus {
        @include primary-button-hover;
      }

      button.cancel,
      button.post-cancel {
        @include secondary-button( !important);
      }

      button.post-cancel:hover,
      button.post-cancel:focus {
        @include secondary-button-hover;
      }


      .icon {
        font-family: "Material Icons";
        font-size: 1.125rem;
        color: $mckinsey-default-link;

        &.fa-spinner {
          &:before {
            content: '\e5d5';
            -webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear;
          }
        }

        &.fa-plus {
          &:before {
            content: "\e8dc"
          }
        }

        &.fa-star {
          &:before {
            content: "\e838"
          }
        }

        &.fa-ellipsis-h {
          &:before {
            content: "\e5d3"
          }
        }

        &.fa-star {
          &:before {
            content: "\e838";
          }
        }

        &.fa-search,
        &.fa-filter {
          &:before {
            content: "\e8b6";
            color: $mckinsey-gray-text;
          }
        }

        &.fa-reorder {
          &:before {
            content: "\e8fe";
          }
        }

        &.fa-sort {
          &:before {
            content: "\e313";
          }
        }

        &.fa-flag {
          &:before {
            content: "\e160";
          }
        }

        &.fa-comments {
          &:before {
            content: "\e8af";
          }
        }

        &.fa-question {
          &:before {
            content: "\e887";
          }
        }

        &.fa-user {
          &:before {
            content: "\e7fd";
          }
        }

        &.fa-thumb-tack {
          &:before {
            content: "\e892";
          }
        }

        &.fa-pencil {
          &:before {
            content: "\e3c9";
          }
        }

        &.fa-remove {
          &:before {
            content: "\e14c";
          }
        }

        &.fa-lock {
          &:before {
            content: "\e897";
          }
        }

        &.fa-warning {
          &:before {
            content: "\e002";
          }
        }

        &.fa-check {
          &:before {
            content: "\e5ca";
          }
        }

        &.fa-check-square-o {
          :before {
            content: "\e834";
          }
        }
      }

      .forum-nav-browse-menu,
      .discussion-column,
      .forum-nav-thread-list {
        .icon {
          position: relative;
          top: 4px;
        }
      }

      .discussion-column {
        margin: 0;
      }



      .breadcrumbs {
        .btn-link {
          background: none;
          font-size: 12px;
          color: $mckinsey-gray-text;
          font-weight: normal;

          &:hover {
            color: $mckinsey-gray-text;
            text-decoration: none;
          }
        }

        .nav-item {
          font-size: 12px;
          font-weight: normal;
          color: $mckinsey-gray-text;

          &:not(:only-child):first-child {
            .btn-link {
              color: $mckinsey-default-link
            }
          }
        }

        .fa-bars {
          display: none;
        }

        .fa-angle-right {
          &:before {
            content: "/";
          }
        }
      }

      .page-header {
        width: 100%;
        text-align: right;
        border: 0;

        .page-header-main {
          position: absolute;
          top: 50px;
          width: 100%;
          left: 10px;
          text-align: left;
        }


        .page-header-secondary {
          width: 76%;

          .new-post-btn {
            margin-top: 0px;
            @include primary-button-large;

            &:hover {
              @include primary-button-hover-large;
            }
          }
        }

        .forum-search {
          width: 60%;
          margin-left: 12px;

          .search-input {
            width: 96%;
            padding: 13px 5px 13px;
            position: relative;
            max-width: none;
            height: auto;
          }

          .search-button {
            position: absolute;
            top: 2px;
            right: 14px;
            width: 40px;
            background-color: transparent !important;
            overflow: hidden;
            height: 50px !important;
            color: transparent !important;
            border: 0;

            &:after {
              font-family: "Material Icons";
              position: absolute;
              top: 5px;
              right: 10px;
              content: "\e8b6";
              color: $mckinsey-gray-text;
              font-size: 1.25rem;
            }
          }
        }
      }

      .forum-nav {
        margin: 0;
        border: 0;
        background: #F7F7F7;
        padding: 0;
        margin-bottom: 20px;
        height: auto !important;


        .ask-ta {
          background: none !important;
          padding: 20px 20px 0;


          .group-member {
            padding: 0 10px 20px 0;
            border-bottom: 1px solid #ded6d6;
            margin-bottom: 10px;

            .avatar {
              border-radius: 30px;
              width: 60px !important;
              height: 60px !important;
              float: left;
              margin: 0px 13px 0 0px;
            }

            .person-info {
              margin-left: 20px;

              .person-username {
                font-weight: bold;
              }

              .email-member {
                color: $mckinsey-default-link;
                text-transform: lowercase;
                font-size: 12px;
              }
            }
          }
        }

        .forum-nav-browse-menu-wrapper {
          padding: 15px 10px;
          background: none;

          .forum-nav-browse-filter {
            border-bottom: 0;



            .icon {
              margin-top: -9px;
            }

            label {
              width: 100%;

              #forum-nav-browse-filter-input {
                color: $mckinsey-gray-text;
                font-size: 1rem !important;
                padding: 10px 10px;
                text-transform: capitalize;
                width: 100%;
                max-width: none;
              }
            }
          }

          .forum-nav-browse-menu {
            .icon {
              top: 13px !important;
              color: $mckinsey-default-link;
            }

            .forum-nav-browse-menu-item {
              border-bottom: 1.21px solid #F1F3F6;

              .icon {
                top: 16px;
              }

              .forum-nav-browse-title {
                font-size: 1rem;
                color: $mckinsey-default-link;
                border-bottom: 0;

                &:active,
                &:hover {
                  background: none !important;
                }
              }

              .forum-nav-browse-submenu {
                .forum-nav-browse-title {
                  font-size: 12px;
                  color: $mckinsey-gray-text;
                  padding: 10px;
                }
              }
            }
          }
        }
      }

      .forum-new-post-form,
      .edit-post-form {
        padding: 31px;
        min-width: 425px;

        .edit-post-body {
          width: 100%
        }



        .thread-title {

          font-size: 1.5rem;
          font-weight: 400;

          color: #000;
        }

        button.btn-brand {
          @include primary-button;

          &:hover,
          &:active {
            @include primary-button-hover;
          }
        }

        button.cancel {
          @include secondary-button;

          &:hover,
          &:active {
            @include secondary-button-hover;
          }
        }

        .field-label-text {
          font-size: 1rem;
          font-weight: normal !important;
          color: #000;
        }


        .post-field {
          .post-type-label {
            margin-right: 10px;
            width: 100%;

            input[type='radio'] {
              width: auto;
              height: auto;
              margin-top: 5px;

            }

            .field-input-label {
              color: $mckinsey-default-link !important;

              &:hover {
                color: $mckinsey-primary-hover-button;
              }

              .icon {
                &:before {
                  color: $mckinsey-primary-hover-button !important
                }
              }

            }

            .input-radio:checked+.field-input-label {

              .icon:hover {
                &:before {
                  color: #000 !important
                }
              }

              &:hover {
                color: #000
              }
            }
          }

          .field-label {
            position: relative;
            margin-bottom: 34px;

            .field-label-text {
              margin-bottom: 8px;
            }
          }

          .field-help {
            color: transparent;

            &#field_help_topic_area {

              position: absolute;
              bottom: -27px;

              &:before {
                content: 'Add your post to a relevant topic to help others find it.';
                font-size: 12px;
                position: absolute;
                display: block;
                color: $mckinsey-gray-text;
                font-size: 12px;
              }
            }

            &#field_help_title {

              position: absolute;
              top: 64px;

              &:before {
                content: 'Add a clear and descriptive title to encourage participation.';
                font-size: 12px;
                position: absolute;
                display: block;
                color: $mckinsey-gray-text;
                font-size: 12px;
              }
            }
          }



          .field-input {
            width: 100%;

            .post-topic {
              width: 55% !important;
              background-image: url(../../images/expand-button.svg);
              -webkit-appearance: none !important;
              padding: 0 10px;
              border: 1px solid #999999 !important;
              background-repeat: no-repeat;
              background-position: 95%;
              background-size: 12px;
              color: $mckinsey-gray-text;
            }
          }

          #field_help_post_type {
            color: transparent;

            &:before {
              content: 'Questions raise issues that need answers. Discussions share ideas and start conversations.';
              font-size: 12px;
              color: $mckinsey-gray-text;
              position: absolute;
              display: block;
            }
          }

        }

        #new-post-editor-description {
          margin-top: 15px;
          display: inline-block;
          color: transparent !important;

          &:before {
            content: 'Your question or idea';
            font-size: 1rem;
            position: absolute;
            display: block;
            color: #000;
          }
        }



        .js-post-title,
        .edit-post-title {
          max-width: none;
          width: 55% !important;
          color: $mckinsey-gray-text;
        }



        button {
          &.submit {
            float: left;
            margin: 0 10px 0 0;

            &:hover {
              float: left;
            }
          }

          &.cancel {
            @include secondary-button;

            &:hover {
              @include secondary-button-hover;
            }
          }
        }

        .post-options {
          .field-label {
            .field-input-label {
              font-size: 0.875rem;

              .icon {
                &::before {
                  color: #000;
                }
              }
            }


            width: 100%;
            color: #000000;
            text-transform: capitalize;

            .field-input:checked+.field-input-label {
              color: $mckinsey-default-link;

              .icon {
                &::before {
                  color: $mckinsey-default-link;
                }
              }
            }
          }
        }
      }

      .discussion-thread-list-container {
        .forum-nav-refine-bar {
          background: none;
          margin: 0 auto 15px;
          padding-top: 15px;
          border: 0;
          width: 95%;

          select {
            color: $mckinsey-gray-text;
            border: 0;
            width: 100%;
            background-image: url(../../images/expand-button.svg);
            padding: 0 10px;
            background-repeat: no-repeat;
            background-position: 90%;
            background-size: 8px;
            width: 100%;
            padding: 7px 0 7px 10px;

            &.forum-nav-sort-control {
              &:after {
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid #f00;
                padding: 0 10px;
              }
            }
          }

          label {
            width: 49%;
            background: #FFF;
            border: 1px solid #999999;
            padding: 0;

            &.forum-nav-filter-main {
              border: 1px solid #999999;
              width: 49%;
              margin-left: 1%;
              float: right;
            }
          }
        }

        .forum-nav-thread-list {
          background: #FFF;
          border: 1px solid #D8D8D8;

          .forum-nav-thread {
            border: 0;
            background: none;
            padding: 0;



            .forum-nav-thread-link {
              border-left: 0;
              background-color: #F3F4F6;
              border-bottom: 1.21px solid #F1F3F6;
              padding: 14px 10px !important;

              .icon {
                color: #000000;
              }

              &.is-active {
                background-color: #E2EFF7 !important;

                .forum-nav-thread-title,
                .icon {
                  color: #0B0886;
                }
              }

              .forum-nav-thread-title {
                font-size: 1rem;
                color: #000;
                line-height: 22px;
                font-weight: 400;
              }

              .forum-nav-thread-comments-count {
                display: inline-block !important;
                background-color: $mckinsey-gray-text;
                color: #FFFFFF;
                font-size: 0.625rem;
                padding: 0px 0px;

                &:after {
                  border-width: 0;
                  bottom: -3px;
                  left: 0px;
                  border-top: 0px solid transparent;
                  border-bottom: 5px solid transparent;
                  border-left: 5px solid $mckinsey-gray-text;
                }
              }

              .posted-details,
              .thread-preview-body,
              .post-context,
              .forum-nav-thread-votes-count {
                display: none !important;
              }
            }

            &.never-read {
              .forum-nav-thread-link {
                border-left: 0;
                color: $mckinsey-default-link;
                background-color: transparent;

                .icon {
                  color: $mckinsey-default-link;
                }
              }
            }
          }
        }
      }

      .forum-content {
        padding-top: 20px;


        .discussion-article {
          padding: 0 20px;
        }

        .home-header {
          border: 0;

          .label {
            color: transparent;

            &:before {
              color: #000;
              font-weight: normal;
              font-size: 1.5rem;
              content: 'Discussion';
              position: absolute;
              display: block;
            }


          }

          .home-title {
            display: none;
          }
        }

        .label {
          &.label-settings {
            color: transparent;

            &:before {
              content: 'How to use discussions:';
              font-size: 0.875rem;
              color: black;
              position: absolute;
              display: block;
            }

          }
        }

        .home-helpgrid {
          box-shadow: none;
          border: 1px solid $mckinsey-light-border;

          .helpgrid-row {
            border-bottom: 1px solid $mckinsey-light-border;

            .row-title {
              background-color: transparent;
              font-size: 0.875rem;
              font-weight: bold;
            }

            .row-item {
              border: 1px solid $mckinsey-light-border;

              .icon {
                width: 100%;
                text-align: center;
                display: inline-block;
                padding: 0;
              }

              .row-description {
                display: block;
                text-transform: lowercase;
                text-align: center;
                padding-top: 10px;
              }
            }

            &.helpgrid-row-participation {
              background: #f9f9f9;
            }
          }

          .helpgrid-row-notification {
            .row-item-full {
              border: 1px solid #eee;

              &:before {
                content: "You can enable daily\0020(or weekly) notification digests which show discussion activity by accessing your profile dropdown.";
              }

              label,
              .row-description {
                display: none;
              }
            }

          }
        }

        .thread-wrapper {
          .thread-main-wrapper {
            box-shadow: none !important;
            padding-bottom: 15px;

            .discussion-post {
              padding: 0;

              .post-header {
                border: 0;

                .post-title {
                  color: #000000;
                  font-size: 1.5rem;
                  font-weight: normal;
                }

                .posted-details {
                  font-size: 12px;
                  color: $mckinsey-gray-text;
                  margin: 0;

                  .username {
                    color: $mckinsey-default-link;
                    font-weight: 600;
                    font-size: 12px;
                  }

                  .user-label-staff {
                    width: auto;
                    font-weight: normal;
                    line-height: normal;

                    &:before {
                      color: #FFFFFF;
                      background: $mckinsey-gray-text;
                      font-size: 0.5625rem;
                      padding: 0px 2px;
                      width: auto;
                    }
                  }
                }

                .post-actions-list {
                  .actions-item {
                    margin: 0 5px 0;
                    float: left;
                  }

                  .actions-item:last-child {
                    .more-wrapper {
                      button.btn-link .icon {
                        color: $mckinsey-default-link;
                      }
                    }
                  }

                  .actions-dropdown-list {
                    display: grid;

                    .btn-link {
                      .icon {
                        color: $mckinsey-gray-text;
                      }

                      &.is-checked {
                        &.action-pin {
                          color: $mckinsey-default-link;
                        }
                      }

                      &:hover {
                        .icon {
                          color: $mckinsey-default-link;
                        }
                      }
                    }

                  }
                }
              }

              .post-body {
                p {
                  font-size: 1rem;
                  color: #000000;
                }
              }

              .post-context {
                .related-to-label {
                  display: none;
                }

                .group-visibility-label {
                  color: $mckinsey-gray-text;
                  font-size: 12px;
                  font-style: italic;
                }
              }
            }
          }

          .post-extended-content {
            .response-btn-count-wrapper {
              display: none;
            }

            .response-pagination {
              display: none;
            }

            .js-response-list {
              padding: 0;

              .forum-response {
                border: 0;
                margin-top: 20px;

                .discussion-response {
                  .form-row {
                    margin-bottom: 20px;
                  }

                  button[type="submit"] {
                    margin-right: 10px !important;
                  }

                  background-color: #f9f9f9;

                  .response-header {
                    background: none;
                    border: 0;
                  }

                  .response-header-content {
                    .username {
                      color: $mckinsey-default-link;
                    }

                    .user-label-staff {
                      width: auto;
                      font-weight: normal;

                      &:before {
                        color: #FFFFFF;
                        background: $mckinsey-gray-text;
                        font-size: 0.625rem;
                        padding: 1px 2px;
                        width: auto;
                      }
                    }
                  }

                  .response-actions-list {
                    .actions-dropdown-list {
                      display: grid;
                    }

                    .actions-item {
                      margin: 0 5px 0;
                      float: left;

                      &:last-child {
                        .more-wrapper {
                          button.btn-link .icon {
                            color: $mckinsey-default-link;
                          }
                        }
                      }
                    }
                  }

                  .btn-brand {
                    @include primary-button;

                    &:hover,
                    &:active {
                      @include primary-button-hover;
                    }
                  }

                  .post-cancel {
                    @include secondary-button;

                    &:hover,
                    &:active {
                      @include secondary-button-hover;
                    }
                  }
                }

                .comments {
                  background-color: #f9f9f9;
                  box-shadow: none;

                  forum-new-post-form .edit-post-form,
                  .new-comment {
                    border-top: 1.21px solid #EBEBEB;

                    .wmd-preview-label {
                      font-size: 1rem;
                      padding: 7px 10px;
                    }

                    .wmd-input {
                      min-height: 80px;
                    }

                    .btn-brand {
                      @include primary-button;

                      &:hover,
                      &:active {
                        @include primary-button-hover;
                      }
                    }

                    .post-cancel {
                      @include secondary-button;

                      &:hover,
                      &:active {
                        @include secondary-button-hover;
                      }
                    }
                  }

                  .posted-details {
                    font-size: 12px;
                    color: $mckinsey-gray-text;
                    margin: 0;

                    .username {
                      color: $mckinsey-default-link;
                      font-weight: 600;
                      font-size: 12px;
                    }

                    .user-label-staff {
                      width: auto;
                      font-weight: normal;

                      &:before {
                        color: #FFFFFF;
                        background: $mckinsey-gray-text;
                        font-size: 0.625rem;
                        padding: 0px 2px;
                        line-height: normal;
                        width: auto;
                      }
                    }
                  }
                }
              }
            }

            .discussion-reply-new {
              .add-response {
                padding: 0 0px;
                margin-top: 0px;
              }

              .reply-body {
                .wmd-preview-container {
                  .wmd-preview-label {
                    font-size: 1rem;
                    padding: 7px 10px;
                  }
                }
              }

              .reply-post-control {
                margin-top: 15px;

                button {
                  &.btn {
                    float: left;
                    margin: 0 10px 20px 0;

                    &:hover {
                      float: left;
                      margin: 0 10px 20px 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .wmd-prompt-background {
    z-index: 9999 !important;
  }

  .wmd-prompt-dialog {
    z-index: 9999 !important;

    .form-actions {
      #new-link-image-ok {
        @include primary-button;

        &:hover,
        &:active {
          @include primary-button-hover();
        }

      }

      #new-link-image-cancel {
        @include secondary-button;

        &:hover,
        &:active {
          @include secondary-button-hover();
        }
      }
    }
  }
}