<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>About McKinsey Academy</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      if ( document.location.href.indexOf('#faq') > -1 ) {
        $('section#faq').show();
        $('#about-menu a.faq').addClass('active');
      } else if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">About</a>
    <a href="#faq" class="faq">Faq</a>
    <a href="#contact" class="contact">Contact</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/mckinseyacademy/images/about.jpg')}" alt="About" />
      </div>
      <article>
        <h2>About <span class="edx">McKinsey Academy</span></h2>
        
        <p>McKinsey Academy helps rising professionals advance their careers by providing distinctive learning experiences taught by distinguished practitioners on a global digital platform. McKinsey Academy empowers leaders and business professionals to build the skills, knowledge, and capabilities to enhance individual effectiveness for improved corporate performance.</p>

        <p><em>McKinsey Academy prepares rising professionals for the next step in their careers through practitioner-led learning immediately applicable in the workplace.</em></p>

        <h3>How we work</h3>

        <p>McKinsey Academy courses are developed by distinguished practitioners and industry experts who share their insights and experience across key business topics. We use emerging learning tools and digital collaboration techniques to improve individual effectiveness and corporate performance.</p>

        <ul>
          <li>Digital delivery using cutting-edge learning techniques</li>
          <li>Created and convened by McKinsey partners from a practitioner’s perspective</li>
          <li>Tailored for busy professionals</li>
          <li>Collaborative and adaptive learning mechanics</li>
          <li>Social learning with global, multi-industry cohorts</li>
          <li>McKinsey teaching assistant guidance</li>
          <li>Curated programs and individual courses</li>
        </ul>
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## FAQ Section ##
    <section class="message left" id="faq">
      <div class="photo">
        <img src="${static.url('themes/mckinseyacademy/images/faq.jpg')}" alt="FAQ" />
      </div>
      <article>
        <h2>FAQs</h2>
        <p><strong>What browsers are recommended for use with McKinsey Academy?</strong><br />
        The latest versions of <a href="http://chrome.google.com/">Google Chrome</a>, <a href="http://www.mozilla.org/firefox">Mozilla Firefox</a>, and <a href="http://www.apple.com/safari/">Apple Safari</a>. (The site is currently not optimized for mobile use.)</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/mckinseyacademy/images/contact.jpg')}" alt="Contact" />
      </div>
      <article id="mckinseyacademy-OpenEdX-contact">
        <h2>Contact Information</h2>
        <p><strong>For general information email us at:</strong><br />
        <a href="mailto:academy@mckinsey.com">academy@mckinsey.com</a></p>

        <p><strong>For technical issues email us at:</strong><br />
        <a href="mailto:mckinsey_academy@mckinsey.com">mckinsey_academy@mckinsey.com</a></p>
      </article>
      <script>
        $(function() {
          var ua = navigator.userAgent;
          
          $('#mckinseyacademy-OpenEdX-contact a').each(function() {
            var href = $(this).attr('href') + "?body=User Agent String: " + ua + " (Please do not delete, this text helps us help you.)";
            if (!$(this).hasClass('external')) {
              $(this).attr('href', href);
            }
          });
        });
      </script>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
