%article.course-discover
  .title DISCOVERED:
  %section.articles
    .sub-title ARTICLES
    %ul
      %li
        .article-title Are you solving the right problem?
        .attribution
          .when
            %time(datetime='2014-03-10T04:00:00.000Z') MAR 10, 2014
            %span.publication HARVARD BUSINESS REVIEW
          .author Dwayne Spradlin
      %li
        .article-title Performance from problem solving
        .attribution
          .when
            %time(datetime='2014-03-10T04:00:00.000Z') MAR 10, 2014
            %span.publication Mckinsey insights
      %li
        .article-title The 4 most effective ways leaders solve problems
        .attribution
          .when
            %time(datetime='2014-03-09T05:00:00.000Z') MAR 9, 2014
            %span.publication Forbes
          .author Glenn Llopis
  %section.infographic
    .sub-title INFOGRAPHIC
  %section.videos
    .sub-title VIDEOS
