%article.course-discover
  .title DISCOVERED:
  %section.articles
    .sub-title ARTICLES
    %ul
      %li
        .article-title Are you solving the right problem?
        .attribution
          .when
            %time(datetime='2014-03-10T04:00:00.000Z') MAR 10, 2014
            %span.publication HARVARD BUSINESS REVIEW
          .author Dwayne Spradlin
  %section.infographic
    .sub-title INFOGRAPHIC
  %section.videos
    .sub-title VIDEOS
