.course-menu
  .title LESSONS:
  %ul
    - for idx, lesson in enumerate(course.lessons, start=1):
      %li
        %a(href="/${lesson.url}")
          .index LESSON ${idx}:
          .name= lesson.name
