.lesson-pager
  %div
    %a(href='/course/1/lesson/4/module/6')
      .page-to.previous
        %i.fa.fa-chevron-left
    %a(href='/course/1/lesson/4/module/8')
      .page-to.next
        %i.fa.fa-chevron-right
