.lesson-menu
  Lesson:
  %ul
    - lesson_index = 0
    - for lesson in course.lessons:
      - lesson_index += 1
      %li.lesson
        - if lesson == course.current_lesson:
          %span.lesson-index.selected
            = lesson_index
        - elif lesson.is_released:
          %a.lesson-index(href=lesson.url,title=lesson.name)
            = lesson_index
        - else:
          %span.lesson-index
            = lesson_index
.lesson-progress
  - found_current = False
  - add_class = "complete"
  - for lesson_module in course.current_lesson.modules:
    - is_current = course.current_lesson.current_module == lesson_module
    - if is_current:
      - add_class = "current"
      - found_current = True
    - elif found_current:
      - add_class = "incomplete"
    .lesson-module-status(class_=add_class)

