- extends "layout.haml"
- load staticfiles

- block content
  #home-landing
    .wrapper
      .universal-hero
        .image
        .hero-text
          %h1
            %img.hidden-mobile{src: "/static/image/mckinsey-academy.png", srcset: "/static/image/mckinsey-academy@2x.png 2x"}
            %img.visible-mobile{src: "/static/image/mckinsey-academy-mobile.png", srcset: "/static/image/mckinsey-academy-mobile@2x.png 2x"}
            %span Unlocking Leadership Potential
    .header-cards
      .row.text-center
        .card.padding-low
          %h3 For Information:
          %p
            Learn more about how we accelerate transformations of individuals, organizations, and communities by unlocking the potential of people
          %a{:href => "http://www.mckinsey.com/business-functions/learning-programs-for-clients/overview/mckinsey-academy/how-we-help-clients", :target => "_blank"} Learn more
        .card
          %h3 For Participants:
          %p
            If you are an enrolled participant, please log in below to access your McKinsey Academy learning experience
          - if is_login_button_enabled
            %a.login-btn{:href => "/accounts/login"} Log in

  - include "marketing/app_link_popup.haml"

- block general_modal
  #generalModal.reveal-modal.small{'data-reveal': ''}
    %h2.title
      =popup.title
    %p{'class': "lead description"}
      =popup.description
    %a{'class': "close-reveal-modal fa fa-times-circle"}
    - if popup.title != ''
      %input.show-modal{'type': 'hidden', 'value': 'autoshow'}

- block js_snippets
  %script{src: "{% static 'js/app_link_popup.js' %}"}
