- load i18n
.course-progress.col.widget
  .holder
    .contenrArea
      .widgetTitle.clearfix
        %span {% trans "Progress" %}
      .title
        %span {% trans "Your course completion status" %}
      .averageTitle
        %span
          {% trans "Cohort Average:" %}
          %span
            #{average_progress}%
    .progressArea.bar
      #{course.user_progress}%
      %span
        .filler{"class": "{% if course.user_progress < average_progress %}trailing{% endif %}", "style": "width:#{course.user_progress}%;"}
  %span.viewDetailCourse   
    %a.ome.dome-c{:href => "/courses/#{active_course.id}/progress#course-progress-new"} 
      {% trans "View details" %}
