- load i18n
.course-engagement.widget.col
  .holder
    .progressArea
      .visualization
        .band-1{"class": "{% if social.points >= 60 %}filled{% endif %}"}
        .band-2{"class": "{% if social.points >= 90 %}filled{% endif %}"}
        .total{"class": "{% if social.points >= 30 %}filled{% endif %}"}= social.points
    .contenrArea
      .widgetTitle.clearfix
        %span {% trans "Engagement" %}
      .title
        %span
          {% trans "Your discussion activity points" %}
      .averageTitle
        %span
          {% trans "Cohort Average" %}: #{social.course_avg} {% trans "points" %}
  %span.viewDetailCourse   
    %a.ome.dome-c{:href => "/courses/#{active_course.id}/progress#engagement-block"} 
      {% trans "View details" %}
