- load i18n
.course-proficiency.col.widget
  .holder
    .contenrArea
      .widgetTitle.clearfix
        %span {% trans "Proficiency" %}
    .title
      %span {% trans "Your course knowledge" %}
    .progressArea
      #proficiencyScore.pie-title-center{:data-percent => "{{proficiency}}"}
        %span.pie-value
    .averageTitle
      %span {% trans "Cohort Average:" %} #{cohort_proficiency_average}
  %span.viewDetailCourse   
    %a{:href => "/courses/#{active_course.id}/progress#proficiency-block"} 
      {% trans "View details" %}
