- load i18n
.course-progress.col-xs-4.widget
  .holder
    .progressArea.bar
      #{course.user_progress}%
      %span
        .filler{"class": "{% if course.user_progress < average_progress %}trailing{% endif %}", "style": "width:#{course.user_progress}%;"}
    .contenrArea
      .widgetTitle.clearfix
        %span {% trans "Progress" %}
      .averageTitle
        %span
          {% trans "Average:" %}
          %span
            #{average_progress}%
