- extends "layout.haml"

- block content
  %article#about-page.row.collapse
    .large-10.large-centered.columns
      %section
        %h1 About McKinsey Academy
        %p Our goal at McKinsey Academy is to reinvent the way that companies build leadership and management capabilities among rising professionals and high performers.
      %hr
      %section
        .sub-1 What is McKinsey Academy?
        %p.what-is McKinsey Academy is the premium digital platform for professional education, and empowers business professionals to advance their careers by bringing the practitioner’s perspective to business education.
      %section
        %p McKinsey Academy was created with a vision to dramatically improve individual performance and organizational effectiveness
      %section
        %p.style-2 How we work
        %p We believe that distinctive leadership development platforms will: leverage the newest digital technologies; be built around the way that people really work and live (i.e., full and fragmented days with high levels of intensity, with full-time programs no longer realistic for most leaders); be scalable to develop more leaders and high-potential talent more quickly and with greater impact; and be constantly evolving, drawing in the best practical-minded faculty, new pedagogical approaches, evolving technologies, and insights from performance data. 
        %p With this in mind we plan to ensure the distinctiveness of our platform in six ways:
      %section
        %ul.info
          %li Bringing the practitioner’s perspective to leadership and management capability-building
          %li Creating a social learning experience, where learners benefit from engagement with peers and through group-based project work
          %li Offering in-course guidance from McKinsey teaching assistants
          %li Using adaptive learning techniques and game mechanics to advance each individual’s learning
          %li Providing immediate, response-contingent feedback to enable richer learning
          %li Curating programs and supporting content to be relevant to our partners.
      %section
        %p Education is moving fundamentally, rapidly, and inexorably to digital delivery, but business management and executive education programs have failed to adapt. In fact, many companies are reducing investment in training even as it becomes more critical. McKinsey Academy was created to help address the professional development needs of companies:
      %section
        %ul.info
          %li How to get value from employees starting on “day one”
          %li How to accelerate capability building for rising professionals and high performers
          %li How to provide continuous professional development to attract and retain the best employees
      %hr
      %section
        .sub-1 Our Board
        
      %section
        %ul.people
          %li
            %img{src: '/static/image/about/person_andredua.png'}
            %div
              %p.style-2 Andre Dua, Chairman
              %p Andre Dua is a Director in McKinsey & Company’s New York office. He is the co-leader of McKinsey’s US State and Local Government practice.  <a href='#'>learn more</a>
          %li
            %img{src: '/static/image/about/person_scottbeardsley.png'}
            %div
              %p.style-2 Scott Beardsley
              %p Scott Beardsley is a Director in McKinsey &amp; Company's Brussels office. <a href='#'>learn more</a>
          %li
            %img{src: '/static/image/about/person_johnhood.png'}
            %div
              %p.style-2 John Hood
              %p John Hood was vice chancellor of the University of Oxford from October 2004 until September 2009. <a href='#'>learn more</a>
          %li
            %img{src: '/static/image/about/person_robertsternfels.png'}
            %div
              %p.style-2 Robert Sternfels
              %p Bob Sternfels is a Director based in San Francisco.  He currently leads a firmwide effort to transform how McKinsey delivers value to its clients. <a href='#'>learn more</a>
          %li
            %img{src: '/static/image/about/person_vivekwadhwa.png'}
            %div
              %p.style-2 Vivek Wadhwa
              %p Vivek Wadhwa is a Partner who joined McKinsey in 1999 and currently coleads the McKinsey Solutions Office (MSO). <a href='#'>learn more</a>
      %hr
      %section
        .sub-1 ACADEMIC ADVISORY COUNCIL
        %p The Advisory Council will shape the research agenda for McKinsey Academy, offer perspectives on successful and emerging pedagogical methods, and suggest ideas for future experimentation.
      %section
        %ul.people
          %li
            %img{src: '/static/image/about/person_johnhood.png'}
            %div
              %p.style-2 John Hood, Chair
              %p.style-5 Former vice chancellor, Oxford University
              %p John Hood was vice chancellor of the University of Oxford from October 2004 until September 2009. Hood was the first vice chancellor to be elected from outside Oxford's academic body in 900 years and the first to have addressed the scholars' congregation via a webcast. In March 2007, New Zealand Prime Minister Helen Clark awarded him the World Class New Zealand supreme award to honor his contribution to profiling New Zealand and New Zealanders internationally.
          %li
            %img{src: '/static/image/about/person_robertlue.png'}
            %div
              %p.style-2 Robert Lue
              %p.style-5 Faculty director, HarvardX
              %p Richard Lue is the inaugural Richard L. Menschel Faculty Director of the Derek Bok Center for Teaching and Learning at Harvard University. Lue was formerly professor of the practice of molecular and cellular biology and the director of life sciences education at Harvard University. Since 2008, he has been the faculty director of the Harvard-Allston Education Portal.
          %li
            %img{src: '/static/image/about/person_johnmitchell.png'}
            %div
              %p.style-2 John Mitchell
              %p.style-5 Vice provost for online learning, Stanford University
              %p John Mitchell is professor of computer science and electrical engineering, and an affiliated faculty member at the Center for International Security and Cooperation. Mitchell has published in the area of programming language theory and computer security. In August of 2012, he Mitchell was appointed by Stanford President John L. Hennessy as the vice provost for online learning, a newly created position responsible for overseeing Stanford’s massive open online course program.
          %li
            %img{src: '/static/image/about/person_loribreslow.png'}
            %div
              %p.style-2 Lori Breslow
              %p.style-5 Director, MIT teaching and learning laboratory
              %p Lori Breslow is a senior lecturer in managerial communication at the MIT Sloan School of Management and the director of MIT Teaching and Learning Laboratory. Breslow’s research interests are in interdisciplinary education and peer learning. She assesses many of the new efforts in educational innovation going on at MIT and contributes to research in higher education, particularly in science and engineering.
      %hr
      %section
        .sub-1 OUR TEAM
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      %section
        %ul.team.flexible
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/000/fff&text=team'}
                .back.background-alt-blue
                  .label-1 Title
                  .label-2 brief bio here&hellip;
              %div Name
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/000/fff&text=team'}
                .back.background-alt-blue
                  .label-1 Title
                  .label-2 brief bio here&hellip;
              %div Name
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/000/fff&text=team'}
                .back.background-alt-blue
                  .label-1 Title
                  .label-2 brief bio here&hellip;
              %div Name
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/000/fff&text=team'}
                .back.background-alt-blue
                  .label-1 Title
                  .label-2 brief bio here&hellip;
              %div Name
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/000/fff&text=team'}
                .back.background-alt-blue
                  .label-1 Title
                  .label-2 brief bio here&hellip;
              %div Name
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/000/fff&text=team'}
                .back.background-alt-blue
                  .label-1 Title
                  .label-2 brief bio here&hellip;
              %div Name

          %li
            .team-list
              %p.style-2 Firstame Lastname
              %p.style-5 Position
          %li
            .team-list
              %p.style-2 Firstame Lastname
              %p.style-5 Position
          %li
            .team-list
              %p.style-2 Firstame Lastname
              %p.style-5 Position
          %li
            .team-list
              %p.style-2 Firstame Lastname
              %p.style-5 Position
          %li
            .team-list
              %p.style-2 Firstame Lastname
              %p.style-5 Position
          %li
            .team-list
              %p.style-2 Firstame Lastname
              %p.style-5 Position

          
