- extends "layout.haml"

- block page_title
  %title= _("About | McKinsey Academy")
  %meta{property: "og:title", content: "McKinsey Academy About"}

- block page_description
  %meta{name: "description", content: "McKinsey Academy is a dynamic business education platform built to help organizations thrive by accelerating their talent advantage."}
  %meta{property: "og:description", content: "McKinsey Academy is a dynamic business education platform built to help organizations thrive by accelerating their talent advantage."}

- block content
  %article#about-page
    %img.tileset{src: "/static/image/marketing/McKA_TopTiles_about.jpg", srcset: "/static/image/marketing/McKA_TopTiles_about@2x.jpg 2x", alt: "McKinsey Academy was created with a vision to dramatically improve individual performance and organizational effectiveness"}
    .row.collapse
      .large-10.large-centered.columns
        %section
          %h1 About McKinsey Academy
          %p Leading global institutions seek to drive their competitive advantage through their people. McKinsey Academy provides scalable business education that is rigorous, relevant, and applicable. McKinsey Academy helps professionals develop the skills required to address today’s business challenges so their organizations can thrive.
        %section
          %ul.info
            %li Immersive, scalable platform combining digital learning, group-based project work, and optional in-person components to reach large numbers of participants
            %li Developed and taught by McKinsey practitioners, incorporating insights from external business leaders
            %li Provides curated programs and courses targeted at different roles and development needs
            %li Designed based on how professionals learn through practical application, from interaction with each other, and with continual real-time feedback
            %li Continually evolving, drawing in top faculty, new pedagogical approaches, evolving technologies, and insights from performance data
        %hr
        %section
          .sub-1 Selected Faculty
        %section
          %ul.faculty
            %li
              %img{src: '/static/image/programs/faculty_bradley.png', srcset: '/static/image/programs/faculty_bradley@2x.png 2x', alt: "Chris Bradley"}
              %div
                .person-name Chris Bradley
                %p.person-title Principal; leader, Strategy, Asia Pacific
                %p.style-4.course Business Strategy
            %li
              %img{src: '/static/image/programs/faculty_susancolby.png', srcset: '/static/image/programs/faculty_susancolby@2x.png 2x', alt: "Susan Colby"}
              %div
                .person-name Susan Colby
                %p.person-title Partner
                %p.style-4.course Senior expert, Global Education <br> Women &amp; Leadership
            %li
              %img{src: '/static/image/programs/faculty_dewar.png', srcset: '/static/image/programs/faculty_dewar@2x.png 2x', alt: "Carolyn Dewar"}
              %div
                .person-name Carolyn Dewar
                %p.person-title Principal; leader, Organization, Americas
                %p.style-4.course Improving Organizational Performance
            %li
              %img{src: '/static/image/programs/faculty_dawson.png', srcset: '/static/image/programs/faculty_dawson@2x.png 2x', alt: "Angus Dawson"}
              %div
                .person-name Angus Dawson
                %p.person-title Director; leader, Strategy, Global
                %p.style-4.course Business Strategy
            %li
              %img{src: '/static/image/programs/faculty_edelman.png', srcset: '/static/image/programs/faculty_edelman@2x.png 2x', alt: "David Edelman"}
              %div
                .person-name David Edelman
                %p.person-title Expert Principal; leader, McKinsey Digital
                %p.style-4.course Marketing in the Digital Age
            %li
              %img{src: '/static/image/programs/faculty_herbig.png', srcset: '/static/image/programs/faculty_herbig@2x.png 2x', alt: "Thomas Herbig"}
              %div
                .person-name Thomas Herbig
                %p.person-title Leader, Center for the Advancement of Problem Solving
                %p.style-4.course McKinsey's Approach to Problem Solving
            %li
              %img{src: '/static/image/programs/faculty_jarrad.png', srcset: '/static/image/programs/faculty_jarrad@2x.png 2x', alt: "Michelle Jarrard"}
              %div
                .person-name Michelle Jarrard
                %p.person-title Director of personnel
                %p.style-4.course Mastering Challenging Conversations
            %li
              %img{src: '/static/image/programs/faculty_kendall.png', srcset: '/static/image/programs/faculty_kendall@2x.png 2x', alt: "Adam Kendall"}
              %div
                .person-name Adam Kendall
                %p.person-title Principal; leader, Electric Power &amp; Natural Gas, Africa
                %p.style-4.course McKinsey's Approach to Problem Solving
            %li
              %img{src: '/static/image/programs/faculty_keller.png', srcset: '/static/image/programs/faculty_keller@2x.png 2x', alt: "Scott Keller"}
              %div
                .person-name Scott Keller
                %p.person-title Director; leader, Organization, Americas
                %p.style-4.course Improving Organizational Performance
            %li
              %img{src: '/static/image/programs/faculty_koller.png', srcset: '/static/image/programs/faculty_koller@2x.png 2x', alt: "Tim Koller"}
              %div
                .person-name Tim Koller
                %p.person-title Expert Principal; leader, Corporate Finance
                %p.style-4.course Corporate Finance &amp; Valuation
            %li
              %img{src: '/static/image/programs/faculty_melwani.png', srcset: '/static/image/programs/faculty_melwani@2x.png 2x', alt: "Anish Melwani"}
              %div
                .person-name Anish Melwani
                %p.person-title Director; leader, Corporate Finance
                %p.style-4.course Corporate Finance &amp; Valuation
            %li
              %img{src: '/static/image/programs/faculty_relyea.png', srcset: '/static/image/programs/faculty_relyea@2x.png 2x', alt: "Charlotte Relyea"}
              %div
                .person-name Charlotte Relyea
                %p.person-title Principal; leader, Women's Initiative
                %p.style-4.course Structured Business Communications
            %li
              %img{src: '/static/image/programs/faculty_roth.png', srcset: '/static/image/programs/faculty_roth@2x.png 2x', alt: "Erik Roth"}
              %div
                .person-name Erik Roth
                %p.person-title Principal; leader, Asia Innovation service line
                %p.style-4.course Inspiring Innovation in Your Organization
            %li
              %img{src: '/static/image/programs/faculty_viguerie.png', srcset: '/static/image/programs/faculty_viguerie@2x.png 2x', alt: "Patrick Viguerie"}
              %div
                .person-name Patrick Viguerie
                %p.person-title Director; leader, Strategy, Americas
                %p.style-4.course Structured Business Communications
            %li
              %img{src: '/static/image/programs/faculty_yee.png', srcset: '/static/image/programs/faculty_yee@2x.png 2x', alt: "Lareina Yee"}
              %div
                .person-name Lareina Yee
                %p.person-title Principal; leader, Women in Business
                %p.style-4.course Women &amp; Leadership
        %hr
        %section
          .sub-1 OUR TEAM
        %section
          %ul.team.flexible
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_jennifergormley.jpg', srcset: '/static/image/about/team/team_jennifergormley@2x.jpg 2x', alt: "Jennifer Gormley"}
                .back.background-alt-blue
                  .label-6 Jennifer Gormley
                  %h4 Director of Product Design
              .hide-for-large-up
                .label-6 Jennifer Gormley
                %h4 Director of Product Design
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_karenhenke.jpg', srcset: '/static/image/about/team/team_karenhenke@2x.jpg 2x', alt: "Karen Henke"}
                .back.background-alt-blue
                  .label-6 Karen Henke
                  %h4 Instructional Designer
              .hide-for-large-up
                .label-6 Karen Henke
                %h4 Instructional Designer
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_michaelkeany.jpg', srcset: '/static/image/about/team/team_michaelkeany@2x.jpg 2x', alt: "Michael Keany"}
                .back.background-alt-blue
                  .label-6 Michael Keany
                  %h4 General Manager
              .hide-for-large-up
                .label-6 Michael Keany
                %h4 General Manager
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_sylviako.jpg', srcset: '/static/image/about/team/team_sylviako@2x.jpg 2x', alt: "Sylvia Ko"}
                .back.background-alt-blue
                  .label-6 Sylvia Ko
                  %h4 Business Analyst
              .hide-for-large-up
                .label-6 Sylvia Ko
                %h4 Business Analyst
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_katiekormanik.jpg', srcset: '/static/image/about/team/team_katiekormanik@2x.jpg 2x', alt: "Katie Kormanik"}
                .back.background-alt-blue
                  .label-6 Katie Kormanik
                  %h4 Instructional Designer
              .hide-for-large-up
                .label-6 Katie Kormanik
                %h4 Instructional Designer
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_jenkruper.jpg', srcset: '/static/image/about/team/team_jenkruper@2x.jpg 2x', alt: "Jen Kruper"}
                .back.background-alt-blue
                  .label-6 Jen Kruper
                  %h4 Director of Instructional Design
              .hide-for-large-up
                .label-6 Jen Kruper
                %h4 Director of Instructional Design
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_allisonkunz.jpg', srcset: '/static/image/about/team/team_allisonkunz@2x.jpg 2x', alt: "Allison Kunz"}
                .back.background-alt-blue
                  .label-6 Allison Kunz
                  %h4 Course Operations Manager
              .hide-for-large-up
                .label-6 Allison Kunz
                %h4 Course Operations Manager
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_stephaniemadner.jpg', srcset: '/static/image/about/team/team_stephaniemadner@2x.jpg 2x', alt: "Stephanie Madner"}
                .back.background-alt-blue
                  .label-6 Stephanie Madner
                  %h4 Business Analyst
              .hide-for-large-up
                .label-6 Stephanie Madner
                %h4 Business Analyst
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_marcmetakis.jpg', srcset: '/static/image/about/team/team_marcmetakis@2x.jpg 2x', alt: "Marc Metakis"}
                .back.background-alt-blue
                  .label-6 Marc Metakis
                  %h4 Director of Course Content &amp; Operations
              .hide-for-large-up
                .label-6 Marc Metakis
                %h4 Director of Course Content &amp; Operations
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_andyparsons.jpg', srcset: '/static/image/about/team/team_andyparsons@2x.jpg 2x', alt: "Andy Parsons"}
                .back.background-alt-blue
                  .label-6 Andy Parsons
                  %h4 Chief Technology Officer
              .hide-for-large-up
                .label-6 Andy Parsons
                %h4 Chief Technology Officer
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_charlotterelyea.jpg', srcset: '/static/image/about/team/team_charlotterelyea@2x.jpg 2x', alt: "Charlotte Relyea"}
                .back.background-alt-blue
                  .label-6 Charlotte Relyea
                  %h4 Principal, McKinsey and Company
              .hide-for-large-up
                .label-6 Charlotte Relyea
                %h4 Principal, McKinsey and Company
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_jennwynn.jpg', srcset: '/static/image/about/team/team_jennwynn@2x.jpg 2x', alt: "Jenn Wynn"}
                .back.background-alt-blue
                  .label-6 Jenn Wynn
                  %h4 Program Manager
              .hide-for-large-up
                .label-6 Jenn Wynn
                %h4 Program Manager
            %li
              .card-flip
                .front
                  %img{src: '/static/image/about/team/team_sashazolley.jpg', srcset: '/static/image/about/team/team_sashazolley@2x.jpg 2x', alt: "Sasha Zolley"}
                .back.background-alt-blue
                  .label-6 Sasha Zolley
                  %h4 Program Manager
              .hide-for-large-up
                .label-6 Sasha Zolley
                %h4 Program Manager
            %li.placeholder
            %li.placeholder
            %li.placeholder
        %hr
        %section
          .sub-1 ACADEMIC ADVISORY COUNCIL
          %p The Academic Advisory Council helps to shape the research agenda for McKinsey Academy, offers perspectives on successful and emerging pedagogical methods, and suggests ideas for future experimentation.
        %section
          %ul.people
            %li
              %img{src: '/static/image/about/person_johnhood.jpg', srcset: '/static/image/about/person_johnhood@2x.jpg 2x', alt: "John Hood, Chair"}
              %div
                %p.style-2 Sir John Hood, Chair
                %p.style-5 Former vice chancellor, Oxford University
                %p Sir John Hood was vice chancellor of the University of Oxford from October 2004 until September 2009. He was the first vice chancellor to be elected from outside Oxford's academic body in 900 years and the first to have addressed the scholars' congregation via a webcast. In March 2007, New Zealand Prime Minister Helen Clark awarded him the World Class New Zealand supreme award to honor his contribution to profiling New Zealand and New Zealanders internationally.
            %li
              %img{src: '/static/image/about/person_loribreslow.jpg', srcset: '/static/image/about/person_loribreslow@2x.jpg 2x', alt: "Lori Breslow"}
              %div
                %p.style-2 Lori Breslow
                %p.style-5 Director, MIT teaching and learning laboratory
                %p Lori Breslow is a senior lecturer in managerial communication at the MIT Sloan School of Management and the director of MIT Teaching and Learning Laboratory. Breslow’s research interests are in interdisciplinary education and peer learning. She assesses many of the new efforts in educational innovation going on at MIT and contributes to research in higher education, particularly in science and engineering.
            %li
              %img{src: '/static/image/about/person_robertlue.jpg', srcset: '/static/image/about/person_robertlue@2x.jpg 2x', alt: "Robert Lue"}
              %div
                %p.style-2 Robert Lue
                %p.style-5 Faculty director, HarvardX
                %p Robert Lue is the inaugural Richard L. Menschel Faculty Director of the Derek Bok Center for Teaching and Learning at Harvard University. Lue was formerly professor of the practice of molecular and cellular biology and the director of life sciences education at Harvard University. Since 2008, he has been the faculty director of the Harvard-Allston Education Portal.
            %li
              %img{src: '/static/image/about/person_johnmitchell.jpg', srcset: '/static/image/about/person_johnmitchell@2x.jpg 2x', alt: "John Mitchell"}
              %div
                %p.style-2 John Mitchell
                %p.style-5 Vice provost for online learning, Stanford University
                %p John Mitchell is professor of computer science and electrical engineering, and an affiliated faculty member at the Center for International Security and Cooperation. Mitchell has published in the area of programming language theory and computer security. In August of 2012, he Mitchell was appointed by Stanford President John L. Hennessy as the vice provost for online learning, a newly created position responsible for overseeing Stanford’s massive open online course program.
        %hr
        %section
          .sub-1 Our Board
        %section
          %ul.people
            %li
              %img{src: '/static/image/about/person_andredua.jpg', srcset: '/static/image/about/person_andredua@2x.jpg 2x', alt: "Andre Dua, Chairman"}
              %div
                %p.style-2 Andre Dua, Chairman
                %p Andre Dua is a Director in McKinsey &amp; Company’s New York office. He is the co-leader of McKinsey’s US State and Local Government practice.

            %li
              %img{src: '/static/image/about/person_scottbeardsley.jpg', srcset: '/static/image/about/person_scottbeardsley@2x.jpg 2x', alt: "Scott Beardsley"}
              %div
                %p.style-2 Scott Beardsley
                %p Scott Beardsley is a Director in McKinsey &amp; Company's Brussels office.

            %li
              %img{src: '/static/image/about/person_johnhood.jpg', srcset: '/static/image/about/person_johnhood@2x.jpg 2x', alt: "John Hood"}
              %div
                %p.style-2 Sir John Hood
                %p Sir John Hood was vice chancellor of the University of Oxford from October 2004 until September 2009.

            %li
              %img{src: '/static/image/about/person_robertsternfels.jpg', srcset: '/static/image/about/person_robertsternfels@2x.jpg 2x', alt: "Robert Sternfels"}
              %div
                %p.style-2 Robert Sternfels
                %p Bob Sternfels is a Director based in San Francisco. He is currently the leader of McKinsey’s New Client Delivery Models and formerly led McKinsey’s Operations Practice in the Americas.

            %li
              %img{src: '/static/image/about/person_vivekwadhwa.jpg', srcset: '/static/image/about/person_vivekwadhwa@2x.jpg 2x', alt: "Vivek Wadhwa"}
              %div
                %p.style-2 Vivek Wadhwa
                %p Vivek Wadhwa is a Partner who joined McKinsey in 1999 and currently coleads the McKinsey Solutions Office (MSO).

