- extends "layout.haml"
- load i18n

- block page_description
  %meta{name: "description", content: '{% trans "McKinsey Academy is a dynamic business education platform built to help organizations thrive by accelerating their talent advantage." %}'}
  %meta{property: "og:description", content: '{% trans "McKinsey Academy is a dynamic business education platform built to help organizations thrive by accelerating their talent advantage." %}'}

- block content
  %article#about-page
    %img.tileset{src: "/static/image/marketing/McKA_TopTiles_about.jpg", srcset: "/static/image/marketing/McKA_TopTiles_about@2x.jpg 2x", alt: '{% trans "McKinsey Academy was created with a vision to dramatically improve individual performance and organizational effectiveness" %}'}
    .row.collapse
      .large-10.large-centered.columns
        %section
          %h1
            {% trans "About McKinsey Academy" %}
          %p
            {% trans "Leading global institutions seek to drive their competitive advantage through their people. McKinsey Academy provides scalable business education that is rigorous, relevant, and applicable. McKinsey Academy helps professionals develop the skills required to address today’s business challenges so their organizations can thrive." %}
        %section
          %ul.info
            %li
              {% trans "Immersive, scalable platform combining digital learning, group-based project work, and optional in-person components to reach large numbers of participants" %}
            %li
              {% trans "Developed and taught by McKinsey practitioners, incorporating insights from external business leaders" %}
            %li
              {% trans "Provides curated programs and courses targeted at different roles and development needs" %}
            %li
              {% trans "Designed based on how professionals learn through practical application, from interaction with each other, and with continual real-time feedback" %}
            %li
              {% trans "Continually evolving, drawing in top faculty, new pedagogical approaches, evolving technologies, and insights from performance data" %}
