- extends "layout.haml"
- load i18n

- block page_description
  %meta{name: "description", content: '{% trans "Email us to find out more about McKinsey Academy." %}'}
  %meta{property: "og:description", content: '{% trans "Email us to find out more about McKinsey Academy." %}'}

- block content
  %article#contact-page
    %img.tileset{src: "/static/image/marketing/McKA_TopTiles_contact.jpg", srcset: "/static/image/marketing/McKA_TopTiles_contact@2x.jpg 2x"}
    .row.collapse
      .large-11.large-centered.columns
        %section
          %h1
            {% trans "Contact McKinsey Academy" %}
        %section
          %p
            {% trans "Thank you for your interest in McKinsey Academy. Please click the email button to contact us." %}
        %hr
        .large-6.columns
          .background-white
            .sub-1
              {% trans "CONTACT US" %}
            %p
              {% trans "Email us to find out more about McKinsey Academy. You can also share your comments and provide feedback at the same address." %}
            %a.mk-email.button.small.radius{href: 'mailto:academy_info@mckinsey.com'}
              {% trans "Email McKinsey Academy" %}
          .background-white
            .sub-1
              {% trans "STAY INFORMED" %}
            %p
              {% trans "To stay informed about McKinsey Academy, please enter your email address below." %}
            %form{action: '/subscribe/', method: 'POST'}
              - csrf_token
              %fieldset
                = subscribe_form
                %div
                  %input.button.small.radius{type: 'submit', value: '{% trans "Submit" %}'}
        .large-6.columns.background-white
          .sub-1
            {% trans "TECH SUPPORT" %}
          %p
            {% trans "Please tell us more and we will respond quickly." %}
          %form#tech-support{action: '/support/', method: 'POST'}
            - csrf_token
            %fieldset
              = #{support}
              %div
                %input.button.small.radius{type: 'submit', value: '{% trans "Submit" %}'}
        %section.trouble.label-2.hidden
          {% trans "Having trouble with the email button above?" %}
          %a{href: '#'}
            {% trans "Click here." %}
  - if messages
    #support_success.reveal-modal.small{'data-reveal': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      - for message in messages
        %p= message
