- extends "layout.haml"

- block page_title
  %title= _("Contact | McKinsey Academy")
  %meta{property: "og:title", content: "McKinsey Academy Contact"}

- block page_description
  %meta{name: "description", content: "Email us to find out more about McKinsey Academy."}
  %meta{property: "og:description", content: "Email us to find out more about McKinsey Academy."}

- block content
  %article#contact-page
    %img.tileset{src: "/static/image/marketing/McKA_TopTiles_contact.jpg", srcset: "/static/image/marketing/McKA_TopTiles_contact@2x.jpg 2x"}
    .row.collapse
      .large-11.large-centered.columns
        %section
          %h1 Contact McKinsey Academy
        %section
          %p
            Thank you for your interest in McKinsey Academy. Please click the email button to contact us.
        %hr
        .large-6.columns
          .background-white
            .sub-1 CONTACT US
            %p Email us to find out more about McKinsey Academy, or share comments and feedback.
            %a.mk-email.button.small.radius{href: 'mailto:info@mckinseyacademy.com'} Email McKinsey Academy
          .background-white.hidden
            .sub-1 STAY INFORMED
            %p To stay informed about McKinsey Academy, please enter your email address below.
            %form{action: '/', method: 'post'}
              %fieldset
                %div
                  %input{type: 'email', placeholder: 'Email'}
                %div
                  %input.button.small.radius{type: 'submit', value: 'Submit'}
        .large-6.columns.background-white
          .sub-1 TECH SUPPORT
          %p Please tell us more and we will get back to you as soon as possible.
          %form#tech-support{action: '/contact/', method: 'POST'}
            - csrf_token
            %fieldset
              = form
              %div
                %input.button.small.radius{type: 'submit', value: 'Submit'}
        %section.trouble.label-2.hidden
          Having trouble with the email button above?
          %a{href: '#'} Click here.
  - if form_submitted
    #support_success.reveal-modal.small{'data-reveal': None}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %p Thank you. We will get back to you as soon as possible.
