- extends "layout.haml"

- block page_title
  %title= _("Offer | McKinsey Academy")
  %meta{property: "og:title", content: "McKinsey Academy Offer"}

- block content
  #offer_confirmation.course-pop.reveal-modal.small{"data-reveal": "true"}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %p Thank you for your interest in McKinsey Academy. We will keep you updated.

  #structured_communications.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Structured Business Communications
    %hr
    %p Learn how to present your ideas effectively including how to deliver structured, concise, and compelling business communications.
    %ul
      %li Create the elements of a robust communications strategy including defining stakeholders, defining communications objectives, identifying key milestones, selecting communications mechanisms and developing a communications plan
      %li Utilize a stakeholder analysis worksheet to identify stakeholders and implement appropriate strategies for communicating with them
      %li Apply the right structures to support messages, including the “pyramid principle” for developing logical arguments by grouping concepts into a structured set of governing thoughts and supporting details
      %li Synthesize key messages into a tightly-crafted executive summary
      • Draft a storyline and translate the structure into a presentation storyboard
      %li Select the right chart forms for quantitative, conceptual and text-driven messages
      %li Gain an awareness of basic graphic design principles to help make content more credible to audiences
      %li Communicate more effectively in day-to-day interactions including writing more effective emails, delivering improved voicemails, and writing structured social media messages
      %li Effectively manage both in-person and remote meetings
      %li Improve verbal and nonverbal skills to project greater presence and confidence
    .close-reveal-modal
      %i.fa.fa-times-circle

  %article#edxoffer-page
    %img.tileset{src: ""}
    .row.collapse
      .large-11.large-centered.columns
        %section
          %h1 edX Offer
        %section
          %p McKinsey has set aside a number of places for qualified participants. We will offer priority placement to firms that propose well qualified candidates in groups of four. After reviewing applications, if we find sufficient suitable applicants we will launch the course in February 2015. If we do not find sufficient participants the course will be cancelled. Once the cohort has been declared viable, we will reach out to those who have been selected with course logistics, and will at that time secure course fees via invoice. Payment must be made in full before the course commences.
        %section
          .sub-1 Target Audience:
          %p Rising professionals looking to build leadership and management capabilities.
        %section
          .sub-1 Course:
          %a{'data-reveal-id': 'structured_communications'} Structured Business Communications
          %p Learn how to present your ideas effectively including how to deliver structured, concise, and compelling business communications.
        %section
          %p.style-5 Fee for course: $2,500
          %p.style-5 Applications must be received by January 20th, 2015.
        %hr
        .large-6.columns.background-white
          .sub-1 Application
          %p Please submit the information below and we will respond.
          %form#edxoffer{action: '', method: 'POST', 'data-key': '1BDYsSrfUY6cRzyfSx1lsv396i-EywuepL5qRwF574dg'}
            %fieldset
              = edx_offer_form
              %div
                %input.button.small.radius{type: 'submit', value: 'Submit', disabled: None}
