- extends "layout.haml"
- load i18n

- block content
  #offer_confirmation.course-pop.reveal-modal.small{"data-reveal": "true"}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %p
      {% trans "Thank you for your interest in McKinsey Academy. We will keep you updated." %}

  #structured_communications.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1
      {% trans "Business Strategy" %}
    %hr
    %p
      {% trans "Learn how to assess the robustness of a strategy and apply McKinsey’s Strategy Method to construct a strategic plan to gain a sustainable advantage in the market." %}
    %ul
      %li
        {% trans "Assess the robustness of a strategy by applying McKinsey’s Ten Timeless Tests" %}
      %li
        {% trans "Identify available strategic decisions and potential alternatives" %}
      %li
        {% trans "Develop insight into where and why a company does (or does not) create value, including its positional and proprietary advantages" %}
      %li
        {% trans "Interpret the outputs of a SCP (structure, conduct, and performance) diagnostic to assess competitive position" %}
      %li
        {% trans "Create scenarios to deal with uncertain futures, including identifying key drivers and strategic options for each scenario" %}
      %li
        {% trans "Develop and evaluate where- and how-to-compete sets of options" %}
      %li
        {% trans "Determine which strategy to pursue in order to beat the market" %}
      %li
        {% trans "Finish the strategy by translating the strategic choice into an executable plan of action" %}
      %li
        {% trans "Facilitate ongoing monitoring and refresh of the strategy as new information becomes available" %}
      %li
        {% trans "Understand the various portfolio moves available at the corporate level, and how to allocate resources to support a specific move" %}

    .close-reveal-modal
      %i.fa.fa-times-circle

  %article#edxoffer-page
    %img.tileset{src: "/static/image/marketing/McKA_TopTiles_contact.jpg", srcset: "/static/image/marketing/McKA_TopTiles_contact@2x.jpg 2x"}
    .row.collapse
      .large-11.large-centered.columns
        %section
          %h1
            {% trans "edX Offer" %}
        %section
          %p
            {% trans "McKinsey has set aside a number of places for qualified participants. We will offer priority placement to firms that propose well qualified candidates in groups of four. After reviewing applications, if we find sufficient suitable applicants we will launch the course in June 2015. If we do not find sufficient participants the course will be cancelled. Once the cohort has been declared viable, we will reach out to those who have been selected with course logistics, and will at that time secure course fees via invoice. Payment must be made in full before the course commences." %}
        %section
          .sub-1
            {% trans "Target Audience:" %}
          %p
            {% trans "Rising professionals looking to build leadership and management capabilities." %}
        %section
          .sub-1
            {% trans "Course:" %}
          %a{'data-reveal-id': 'structured_communications'}
            {% trans "Business Strategy" %}
          %p
            {% trans "Learn how to evaluate a strategy and apply McKinsey’s Strategy Method to develop a strategy to gain a sustainable advantage in the market." %}
        %section
          %p.style-5
            {% trans "Fee for course: $2,500 per place" %}
          %p.style-5
            {% trans "Applications must be received by May 15th, 2015." %}
        %hr
        .large-6.columns.background-white
          .sub-1
            {% trans "Application" %}
          %p
            {% trans "Please submit the information below and we will respond." %}
          %form#edxoffer{action: '', method: 'POST', 'data-key': '1BDYsSrfUY6cRzyfSx1lsv396i-EywuepL5qRwF574dg'}
            %fieldset
              = edx_offer_form
              %div
                %input.button.small.radius{type: 'submit', value: '{% trans "Submit" %}', disabled: 'disabled'}
