- extends "layout.haml"

- block content
  %article#experience-page.row.collapse
    .large-10.large-centered.columns
      %section
        %h1 Experience
      %section
        .sub-1 DISTINCTIVE FEATURES
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %section
        %ul.features.flexible
          %li
            %img{src: 'http://dummyimage.com/245x170/000/fff&text=feature'}
            %p.style-2 Curated programs
            %p.style-3 Courses are created, convened and curated to meaningfully advance business capabilities of McKinsey Academy's target audience.
          %li
            %img{src: 'http://dummyimage.com/245x170/000/fff&text=feature'}
            %p.style-2 Practitioner’s perspective
            %p.style-3 Courses leverage practical, real-world experiences, ensuring relevant capability building for each individual.
          %li
            %img{src: 'http://dummyimage.com/245x170/000/fff&text=feature'}
            %p.style-2 Adaptive Learning Mechanics
            %p.style-3 Rich learning experience incorporates ground-breaking techniques in adaptive learning and game mechanics.
          %li
            %img{src: 'http://dummyimage.com/245x170/000/fff&text=feature'}
            %p.style-2 Social learning with multi-industry teams
            %p.style-3 Collaborate with your peers across industries and geographies on group based projects and in community discussion forums.
          %li
            %img{src: 'http://dummyimage.com/245x170/000/fff&text=feature'}
            %p.style-2 Deep feedback
            %p.style-3 Immediate, response-contingent feedback enables richer learning.
          %li
            %img{src: 'http://dummyimage.com/245x170/000/fff&text=feature'}
            %p.style-2 McKinsey TA guidance
            %p.style-3 McKinsey consultants serve as teaching assistants, providing for distinctive engagement and guidance of each cohort.
      %hr
      %section
        .sub-1 LEARNER EXPERIENCE
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %section
        .course-sample.background-white
          %img{src: 'http://dummyimage.com/760x900/ccc/111&text=course list'}
      %hr
      %section
        .sub-1 PEDAGOGY
        %p McKinsey Academy Pedagogy is based on four core principals:
      %section
        %ol.pedagogy
          %li <span class='sub-1'>Learning by doing</span>
            %ul
              %li <i>Authentic practice:</i> Learning by doing is how we all naturally learn, so our learners perform the kinds of tasks they need to do on the job, not working on academic problem sets.
              %li <i>Learning from your mistakes:</i> We identify what is hard about the tasks one is learning to perform, provide opportunities to make mistakes, and then enable individuals to learn from them.
              %li <i>Cycles of action and reflection:</i> Repeated practice is the only proven method for acquiring the tacit knowledge that is fundamental to expertise; however, realizing the full learning benefits of practical experiences can only happen when you take time to pause and reflect.
          %li <span class='sub-1'>Focus on expert performance</span>
            %ul
              %li <i>"Able to do, not know":</i> Our courses focus on what professionals need to be able to do, not just what they need to know.
              %li <i>Expert stories:</i> Stories embody and communicate much of the tacit knowledge that is fundamental to expertise and provide guidance when basic principles “break” in novel situations.
          %li <span class='sub-1'>Deep Feedback</span>
            %ul
              %li <i>Response-contingent feedback:</i> Immediate feedback on nonassessment questions with explanations tailored to the individual’s specific responses accelerate the learning process
              %li <i>Self-directed learning:</i> Empowering professionals to take charge of their learning improves their ability to learn; adaptive learning enables busy professionals to skip content they already know and focus on the capabilities they need to build to demonstrate mastery
          %li <span class='sub-1'>Social Learning</span>
            %ul
              %li <i>Peer engagement:</i> Community discussion forums and group-based project work encourage professionals to interact with peers in their global, multi-industry cohorts; game mechanics like cohort leaderboards and influencer scores build community engagement.
              %li <i>Expert teaching assistants:</i> McKinsey consultants serve as teaching assistants to engage and guide the online community, supporting meaningful discussion and insight.
      %hr
      %section
        .sub-1 DESIGN
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      %section
        %p
          %i Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum:
      %section
        %ul.design.flexible.background-white
          %li
            %img{src: 'http://dummyimage.com/350x456/ccc/111&text=design'}
          %li
            %img{src: 'http://dummyimage.com/350x456/ccc/111&text=design'}
          %li
            %img{src: 'http://dummyimage.com/350x456/ccc/111&text=design'}
          %li
            %img{src: 'http://dummyimage.com/350x456/ccc/111&text=design'}
