- extends "layout.haml"

- block page_title
  %title= _("FBLF | McKinsey Academy")
  %meta{property: "og:title", content: "McKinsey Academy FBLF"}

- block page_description
  %meta{name: "description", content: "McKinsey Academy is a dynamic business education platform built to help organizations thrive by accelerating their talent advantage."}
  %meta{property: "og:description", content: "McKinsey Academy is a dynamic business education platform built to help organizations thrive by accelerating their talent advantage."}

- block content
  %article#fblf-page
    %img.tileset{src: "/static/image/marketing/McKA_TopTiles_FBLF.jpg", srcset: "/static/image/marketing/McKA_TopTiles_FBLF@2x.jpg 2x", alt: "McKinsey Academy was created with a vision to dramatically improve individual performance and organizational effectiveness"}
    .row.collapse
      .large-10.large-centered.columns
        %section
          %h1 Presented by McKinsey Academy, the Future Business Leaders Forum (FBLF), brings together next-generation leaders from across top global companies for a transformational learning journey to achieve peak performance as managers and leaders.
        %hr
        %section
          %p Over the course of six-months, participants will sharpen their core leadership skills around (a) critical thinking &amp; strategy; (b) innovation &amp; disruption; (c) leadership & influence through a series of distinctive digital courses, live webinars, and in-person sessions. Participants will move through a robust management curriculum, designed and delivered by McKinsey practioners and global business and thought leaders, with a cohort of learners from across McKinsey clientele. Graduates of the FBLF become part of an exclusive community of peers and thought leaders that continues to deliver value.
        %section
          %p To nominate your next-generation leaders and/or learn more about FBLF, please email <a href="mailto:FBLF@mckinseyacademy.com">FBLF@mckinseyacademy.com</a>.
        %hr
        %section
          .label-5 PROGRAM OVERVIEW &amp; LOGISTICS
          %ul
            %li 6-month-long management program for a global cohort of rising leaders (capped at 300 participants)
            %li 2.5 day kickoff conference n NYC (January 26 – 28, 2016) and 1 day end-of-program sessions held regionally (summer 2016), featuring:
          %ul.faculty
            %li
              %img{src: '/static/image/fblf/dom_barton.jpg', srcset: '/static/image/fblf/dom_barton@2x.jpg 2x', alt: "Dominic Barton"}
              %div
                .person-name Dominic Barton
                %p.person-title Global Managing Director, McKinsey
            %li
              %img{src: '/static/image/fblf/peter_grauer.jpg', srcset: '/static/image/fblf/peter_grauer@2x.jpg 2x', alt: "Peter Grauer"}
              %div
                .person-name Peter Grauer
                %p.person-title Chairman, Bloomberg; World Economic Forum (founding Chairman, Community of Chairmen and member, International Business Council)
            %li
              %img{src: '/static/image/fblf/sanjay_sharam.jpg', srcset: '/static/image/fblf/sanjay_sharam@2x.jpg 2x', alt: "Sanjay Sharma"}
              %div
                .person-name Sanjay Sharma
                %p.person-title Professor, MIT; Director of Digital Learning
            %li
              %img{src: '/static/image/fblf/erik_roth.jpg', srcset: '/static/image/fblf/erik_roth@2x.jpg 2x', alt: "Erik Roth"}
              %div
                .person-name Erik Roth
                %p.person-title Director, McKinsey; co-author of "Seeing What’s Next"
            %li
              %img{src: '/static/image/fblf/bharat_anand.jpg', srcset: '/static/image/fblf/bharat_anand@2x.jpg 2x', alt: "Bharat Anand"}
              %div
                .person-name Bharat Anand
                %p.person-title Professor, Harvard Business School;  Faculty Chair, HBX
            %li
              %img{src: '/static/image/fblf/chip_heath.jpg', srcset: '/static/image/fblf/chip_heath@2x.jpg 2x', alt: "Chip Heath"}
              %div
                .person-name Chip Heath
                %p.person-title Professor, Stanford Graduate School of Business; author of WSJ and NYT bestsellers, Decisive, Switch and Stick
          %ul
            %li Distinctive digital courses from McKinsey Academy and exclusive live webinars featuring global CEOs, leading business school faculty and McKinsey practioners
            %li View the <a href="/static/docs/Future_Business_Leaders_Forum_Brochure.pdf" target="_blank">FBLF overview brochure</a> for further information
        %section
          .label-5 WHO IS ELIGIBLE
          %ul
            %li Mid-tenured "rising stars"  (10-15 years of experience) identified as high performers by senior leadership
            %li At large companies:  includes top 50-100 high performers being groomed for business unit/functional leadership
            %li At smaller, fast-growing companies: may already be leading business units/functions
        %section
          .label-5 VALUE PROPOSITION
        %section
          .row.collapse
            .medium-5.columns
              %p.style-2 Value Prop For Clients
              %ul
                %li Invest in capabilities of rising leaders
                %li Leverage exclusive global network
                %li Deepen and broaden relationships with McKinsey staff
            .medium-5.columns
              %p.style-2 Value Prop For Participants
              %ul
                %li Improve individual and team performance
                %li Access a global network of peers that continues to build
                %li Elevate visibility within organization
