- extends "layout.haml"

- block page_title
  %title= _("Product Walkthrough | McKinsey Academy")
  %meta{property: "og:title", content: "McKinsey Academy Product Walkthrough"}

- block page_description
  %meta{name: "description", content: "McKinsey Academy is a dynamic business education platform built to help organizations thrive by accelerating their talent advantage."}
  %meta{property: "og:description", content: "McKinsey Academy is a dynamic business education platform built to help organizations thrive by accelerating their talent advantage."}

- block content
  %article#product-walkthrough
    .row.collapse
      .large-8.large-centered.columns
        #mk-productwalkthrough-video{'data-video-id': "gwa25sYTE6-r6IGq0tR3M-eeMPtqEKoZ"}
