- extends "layout.haml"

- block content
  %article#programs-page.row.collapse
    .large-10.large-centered.columns
      %section
        %h1 Programs
      %section
        .sub-1 PROGRAM OFFERING
        %p Individual McKinsey Academy courses are created and curated into programs that meaningfully build business capabilities for our participants. These program offerings are based on our experience delivering capability building programs for clients, as well as our extensive training and development efforts for our own consultants.
      %section
        .sub-1 Overview
        %p The initial focus for our team as we build McKinsey Academy is the development of the McKinsey Management Program (MMP), a curated set of courses targeted to build leadership and management capabilities for high performers and rising professionals. Additional programs and courses will be incorporated over time, integrating perspectives from McKinsey experts and non-McKinsey business leaders from around the globe.
      
      %section
        %p.style-2 McKinsey Management Program
        %p Our goal is to provide a broad and relevant curriculum for talented employees managing others for the first time, those whose management responsibilities have expanded, and those who have been identified as high-performing individuals with the potential to be future leaders. Typically, these will be employees who are 5 to 15 years into their careers.
        %p The McKinsey Management Program will include eight courses that will be completed over one year. Each course will require 1-2 hours of work per week over approximately 6 weeks. The first cohort of students will begin the McKinsey Management Program in Summer 2014.

      %section
        %ul.programs.flexible
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Learn how to assess the robustness of a strategy and apply McKinsey’s Strategy Method to construct a strategic plan to gain a sustainable advantage in the market 
              .title Business Strategy
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Learn techniques from the world-renowned leader in problem solving, including how to apply McKinsey’s proprietary approach to problem solving 
              .title McKinsey's Approach to Problem Solving
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Learn how to present your ideas effectively including how to deliver structured, concise, and compelling business communications 
              .title Structured Business Communications
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Learn how handle difficult conversations and situations including conflict resolution, performance-feedback reviews, and competitive negotiations 
              .title Mastering Difficult Conversations
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Learn how to manage a team and improve team dynamics, develop leadership capabilities, delegate tasks, and motivate and engage team members 
              .title Team Management, Coaching and Mentoring
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Learn how to reshape your organization to unlock the full potential of women, and identify effective individual leadership capabilities for women and men using the Centered Leadership approach 
              .title Women and Leadership
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Understand successful models of innovation used by organizations of different sizes and industries; learn the specific actions companies take to improve innovation performance over time 
              .title Inspiring Innovation in Your Organization
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Learn how to galvanize your own leadership strategies and passions by exploring what matters most to the world’s leading CEOs 
              .title Through the Eyes of a CEO
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Learn how to segment B2B customers and create a strong B2B brand; foster sustainable product innovation, ensure pricing excellence, and manage sales for growth 
              .title Marketing and Sales
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Learn how to drive superior change management in an organization and achieve performance aspirations by improving organizational health 
              .title Improving Organizational Performance
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: 'http://dummyimage.com/180x125/002a60/e37222&text=program'}
                .back.background-alt-blue
                  .label-2 Learn the fundamentals of how companies create value, including how to conduct financial analyses and how to develop a value creation strategy that aligns your organization’s operational metrics, financial indicators, and intrinsic/capital market valuation 
              .title Corporate Finance and Valuation
          
      %section
        %p.style-2 Business Boot Camp
        %p Our second program offering will be targeted toward new hires, including new employees who have been with their companies for up to 4 years who are looking to accelerate their ability to contribute productively in their new roles. The Business Boot Camp will include five courses that will be competed over 4 to 6 months, and will be offered beginning in Winter 2014.
      %hr
      %section
        .sub-1 Courses
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %hr
      %section
        .sub-1 SELECTED FACULTY
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %section
        %ul.faculty
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Scott Keller
              %p.style-4.title Director; leader, Organization, Americas
              %p.style-4.course Improving Organizational Performance
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
          %li
            %img{src: 'http://dummyimage.com/48x48/000/fff&text=faculty'}
            %div
              .person-name Name
              %p.style-4.title Title
              %p.style-4.course Course
