- extends "layout.haml"

- block content
  #corp_finance.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Corporate Finance and Valuation
    %hr
    %p Learn the fundamentals of how companies create value, including how to conduct financial analyses and how to develop a value creation strategy that aligns your organization’s operational metrics, financial indicators, and capital market valuation. 
    %ul
      %li Navigate the major financial statements (income statement, cash flow statement, balance sheet) to estimate the two main value drivers – return on invested capital (ROIC) and growth
      %li Analyze the historic operating performance of a company
      %li Evaluate the trade-offs between focusing on ROIC versus growth to drive future value creation
      %li Leverage financial information to develop value creation strategies
      %li Apply value creation principles across an organization in such areas as portfolio strategy, divestitures, and project decision-making
      %li Identify and explain how value is created in M&A
      %li Compare different valuation methodologies and identify the steps in a DCF valuation and multiples-based valuation analysis
      %li Determine and interpret a company's value, evaluating what it means in terms of performance and position in the industry
      %li Link a company’s valuation multiples to the core drivers of its performance
    .close-reveal-modal
      %i.fa.fa-times-circle

  #organizational_performance.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Improving Organizational Performance
    %hr
    %p Learn how to drive superior change management in an organization and achieve performance aspirations by improving organizational health. 
    %ul
      %li Set ambitious yet realistic aspirations for organizational performance and organizational health (measured along 9 dimensions)
      %li Uncover the existing mindsets within the organization in order to target the drivers of current behaviors and performance in an organization
      %li Architect a robust portfolio of initiatives to achieve performance aspirations and the mindsets and behaviors necessary to deliver upon them
      %li Employ practical methods for implementing the change program and energizing the organization, including project management, communication tools, and engaging with hidden influencers in the organization
      %li Create a culture of continuous improvement by developing change leaders at scale and creating a permanent change function within the organization
    .close-reveal-modal
      %i.fa.fa-times-circle

  #marketing_and_sales.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Marketing and Sales
    %hr
    %p Learn how to segment B2B customers and create a strong B2B brand; foster sustainable product innovation, ensure pricing excellence, and manage sales for growth. 
    %ul
      %li Build an actionable customer segmentation based on customer needs, behaviors, and demographics, identifying customer value, channel, mapping approach, and messaging 
      %li Enable a strong B2B brand and enforce a brand value proposition across the customer decision journey
      %li Optimize the marketing organization so that it is a true value creator and key influencer throughout the organization
      %li Foster sustainable B2B product innovation that responds to customer needs
      %li Develop a pricing market strategy that creates and extracts customer value
      %li Use transaction pricing to support value position and sustain pricing excellence through infrastructure and capability building 
      %li Find sales growth before competitors do with a granular focus
      %li Balance selling the way customers want with what they warrant 
      %li Use a creative, systematic approach to find growth using big data
      %li Leverage technology to enable sales
    .close-reveal-modal
      %i.fa.fa-times-circle

  #eyes_of_ceo.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Through the Eyes of the CEO
    %hr
    %p Learn how to galvanize your own leadership strategies and passions by exploring what matters most to the world’s leading CEOs. 
    %ul
      %li Define a personal leadership style and navigate the path to leadership
      %li Identify the hallmarks of a successful leader and recognize the challenges to becoming one
      %li Seek out mentors and supporters to accelerate your career development
      %li Embrace the challenges and opportunities inherent in leading during times of great change, and consider the new requirements for the future of leadership
      %li Appreciate the challenges inherent in managing under uncertainty and in times of crises
      %li Make sense of how to lead complex global organizations
      %li Develop strategies for leading across cultures
      %li Evaluate how remarkable women lead
      %li Discover the underpinnings of strong leadership in the public sector
      %li Explore ethical and entrepreneurial leadership in emerging markets
      %li Change your perspective to see business the same way the world’s leading CEOs do
    .close-reveal-modal
      %i.fa.fa-times-circle

  #inspiring_innovation.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Inspiring Innovation in Your Organization
    %hr
    %p Understand successful models of innovation used by organizations of different sizes and industries; learn the specific actions companies take to improve innovation performance over time. 
    %ul
      %li Identify disruptive changes (e.g., technology-enabled business model shifts, regulatory reform) as opportunities to innovate
      %li Align the innovation agenda to cascaded growth targets and business strategy
      %li Drive innovation at scale throughout products, services, processes, and business models and apply them to your organization
      %li Invest in a coherent, time-risk balanced portfolio of initiatives 
      %li Develop actionable and differentiated business, market and technology insights
      %li Learn the secret to developing and launching innovations quickly and cost efficiently, applying a “lean startup” mindset to rapidly iterate and improve the offering
      %li Create and capitalize on external networks to generate and test new ideas
      %li Attract, motivate, reward and organize your people around innovation
      %li Learn about effective design of next-generation work environments to improve work culture, improve employee productivity and realize significant cost savings
      %li Align and immerse top management around your innovation vision
    .close-reveal-modal
      %i.fa.fa-times-circle

  #women_and_leadership.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Women and Leadership 
    %hr
    %p Learn how to reshape your organization to unlock the full potential of women, and identify effective individual leadership capabilities for women and men using the Centered Leadership approach.
    %ul
      %li Examine the state of facts on women in business to gain insight into what has prevented progress in recent years 
      %li Shift the trajectory of your company to unlock the full potential of women and generate stronger business results: 
      %li Drive organizational change to build a more open, accepting, and inspiring leadership culture
      %li Recruit, develop, retain and advance women in the organization
      %li Address structural obstacles that hold women back and contribute to higher attrition rates
      %li Develop a roadmap to refine processes, including metrics, accountability and reporting, to reinforce lasting change and greater gender diversity
      %li Empower women to be outstanding leaders using the Centered Leadership approach – meaning, framing, connecting, engaging, and energizing 
      %li Identify effective feminine leadership traits used by women and men to inspire, align and motivate the whole organization towards high performance

    .close-reveal-modal
      %i.fa.fa-times-circle

  #team_management.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Team Management, Coaching and Mentoring
    %hr
    %p Learn how to manage a team and improve team dynamics, develop leadership capabilities, delegate tasks, and motivate and engage team members.
    %ul
      %li Manage and improve team dynamics by encouraging positive behavior to effectively motivate your team
      %li Promote collaboration and cooperation across your business by using teambuilding and communication techniques
      %li Develop an accurate, evolving perspective on team-member performance to ensure accountability
      %li Set clear priorities and goals and communicate them effectively with your team members
      %li Run effective virtual and in-person teams by incorporating lean-management tools including coaching, process confirmations, whiteboards, and daily huddles
      %li Implement a strengths-based development feedback approach with your team using actionable written and verbal development feedback
      %li Identify and use team resources and individual member strengths effectively
      %li Develop techniques to effectively mentor junior employees
      %li Build loyalty and reward employees using non-compensation incentives

    .close-reveal-modal
      %i.fa.fa-times-circle

  #difficult_conversations.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Mastering Difficult Conversations
    %hr
    %p Learn how handle difficult conversations and situations including conflict resolution, performance-feedback reviews, and competitive negotiations.
    %ul
      %li Understand any relevant root causes of stress, conflict and context and translate them into implications for your conversation
      %li Anticipate problem resolution space and the various approaches you can take towards reaching a successful outcome 
      %li Learn the pros and cons of communication techniques and practice each one to develop a set of tactics which work for you
      %li Provide a safe environment to ensure open forums for communication
      %li Improve individual and group negotiation outcomes by taking into account the importance of issues, stakeholder positions, interpersonal relationships and environmental factors
      %li Make effective trade-offs during discussions based on real-time reactions, emotions and perspectives
      %li Tailor your feedback approach to each individual team member to overcome communication barriers
    .close-reveal-modal
      %i.fa.fa-times-circle

  #structured_communications.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Structured Business Communications
    %hr
    %p Learn how to present your ideas effectively including how to deliver structured, concise, and compelling business communications.
    %ul
      %li Create the elements of a robust communications strategy including defining stakeholders, defining communications objectives, identifying key milestones, selecting communications mechanisms and developing a communications plan
      %li Utilize a stakeholder analysis worksheet to identify stakeholders and implement appropriate strategies for communicating with them
      %li Apply the right structures to support messages, including the “pyramid principle” for developing logical arguments by grouping concepts into a structured set of governing thoughts and supporting details
      %li Synthesize key messages into a tightly-crafted executive summary
      • Draft a storyline and translate the structure into a presentation storyboard
      %li Select the right chart forms for quantitative, conceptual and text-driven messages
      %li Gain an awareness of basic graphic design principles to help make content more credible to audiences
      %li Communicate more effectively in day-to-day interactions including writing more effective emails, delivering improved voicemails, and writing structured social media messages
      %li Effectively manage both in-person and remote meetings
      %li Improve verbal and nonverbal skills to project greater presence and confidence

    .close-reveal-modal
      %i.fa.fa-times-circle

  #problem_solving.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 McKinsey’s Approach to Problem Solving
    %hr
    %p Learn techniques from the world-renowned leader in problem solving, including how to apply McKinsey’s proprietary approach to problem solving.
    %ul
      %li Distill an ambiguous business situation with many confounding elements into the basic questions that need to be answered
      %li Disaggregate a complex problem into smaller, more manageable pieces and identify issues that are MECE (mutually exclusive, collectively exhaustive)
      %li Categorize and prioritize issues into actionable categories, by evaluating them on specific criteria such as impact and feasibility
      %li Set-up, plan, and structure appropriate analyses through several different types of workplans
      %li Extract the most relevant data by using a suite of creative data-collection and analysis techniques
      %li Step back and distinguish the most important aspects of work to be communicated to stakeholders through a top-down, structured storyline
      %li Create recommendations that are actionable and feasible for stakeholders, as well as appropriate for a senior-management audience
      %li Identify when the basic 7-step approach problem solving approach needs to be complemented with advanced problem-solving techniques
    .close-reveal-modal
      %i.fa.fa-times-circle

  #business_strategy.course-pop.reveal-modal.small{"data-reveal": "true"}
    %h1 Business Strategy
    %hr
    %p Learn how to assess the robustness of a strategy and apply McKinsey’s Strategy Method to construct a strategic plan to gain a sustainable advantage in the market.
    %ul
      %li Assess the robustness of a strategy by applying McKinsey’s Ten Timeless Tests
      %li Identify available strategic decisions and potential alternatives
      %li Develop insight into where and why a company does (or does not) create value, including its positional and proprietary advantages
      %li Interpret the outputs of a SCP (structure, conduct, and performance) diagnostic to assess competitive position
      %li Create scenarios to deal with uncertain futures, including identifying key drivers and strategic options for each scenario
      %li Develop and evaluate where- and how-to-compete sets of options
      %li Determine which strategy to pursue in order to beat the market
      %li Finish the strategy by translating the strategic choice into an executable plan of action
      %li Facilitate ongoing monitoring and refresh of the strategy as new information becomes available
      %li Understand the various portfolio moves available at the corporate level, and how to allocate resources to support a specific move
    .close-reveal-modal
      %i.fa.fa-times-circle
  
  %article#programs-page.row.collapse
    .large-10.large-centered.columns
      %section
        %h1 Programs
      %section
        .sub-1 PROGRAM OFFERING
        %p Individual McKinsey Academy courses are created and curated into programs that meaningfully build business capabilities for our participants. These program offerings are based on our experience delivering capability building programs for clients, as well as our extensive training and development efforts for our own consultants.
      %section
        .sub-1 Overview
        %p The initial focus for our team as we build McKinsey Academy is the development of the McKinsey Management Program (MMP), a curated set of courses targeted to build leadership and management capabilities for high performers and rising professionals. Additional programs and courses will be incorporated over time, integrating perspectives from McKinsey experts and non-McKinsey business leaders from around the globe.
      
      %section
        %p.style-2 McKinsey Management Program
        %p Our goal is to provide a broad and relevant curriculum for talented employees managing others for the first time, those whose management responsibilities have expanded, and those who have been identified as high-performing individuals with the potential to be future leaders. Typically, these will be employees who are 5 to 15 years into their careers.
        %p The McKinsey Management Program will include eight courses that will be completed over one year. Each course will require 1-2 hours of work per week over approximately 6 weeks. The first cohort of students will begin the McKinsey Management Program in Summer 2014.

      %section
        %ul.programs.flexible
          %li
            %a{href: '#', data-reveal-id: 'business_strategy'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_businessstrategy.png'}
                .back.background-alt-blue
                  .label-2 Learn how to assess the robustness of a strategy and apply McKinsey’s Strategy Method to construct a strategic plan to gain a sustainable advantage in the market 
              .title Business Strategy
          %li
            %a{href: '#', data-reveal-id: 'problem_solving'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_problemsolving.png'}
                .back.background-alt-blue
                  .label-2 Learn techniques from the world-renowned leader in problem solving, including how to apply McKinsey’s proprietary approach to problem solving 
              .title McKinsey's Approach to Problem Solving
          %li
            %a{href: '#', data-reveal-id: 'structured_communications'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_structuredcommunications.png'}
                .back.background-alt-blue
                  .label-2 Learn how to present your ideas effectively including how to deliver structured, concise, and compelling business communications 
              .title Structured Business Communications
          %li
            %a{href: '#', data-reveal-id: 'difficult_conversations'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_masteringdifficultconversations.png'}
                .back.background-alt-blue
                  .label-2 Learn how handle difficult conversations and situations including conflict resolution, performance-feedback reviews, and competitive negotiations 
              .title Mastering Difficult Conversations
          
          %li
            %a{href: '#', data-reveal-id: 'team_management'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_teammanagement.png'}
                .back.background-alt-blue
                  .label-2 Learn how to manage a team and improve team dynamics, develop leadership capabilities, delegate tasks, and motivate and engage team members 
              .title Team Management, Coaching and Mentoring
          %li
            %a{href: '#', data-reveal-id: 'women_and_leadership'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_womenandleadership.png'}
                .back.background-alt-blue
                  .label-2 Learn how to reshape your organization to unlock the full potential of women, and identify effective individual leadership capabilities for women and men using the Centered Leadership approach 
              .title Women and Leadership
          %li
            %a{href: '#', data-reveal-id: 'inspiring_innovation'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_inspiringinnovation.png'}
                .back.background-alt-blue
                  .label-2 Understand successful models of innovation used by organizations of different sizes and industries; learn the specific actions companies take to improve innovation performance over time 
              .title Inspiring Innovation in Your Organization
          %li
            %a{href: '#', data-reveal-id: 'eyes_of_ceo'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_througheyesofceo.png'}
                .back.background-alt-blue
                  .label-2 Learn how to galvanize your own leadership strategies and passions by exploring what matters most to the world’s leading CEOs 
              .title Through the Eyes of the CEO
          
          %li
            %a{href: '#', data-reveal-id: 'marketing_and_sales'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_marketingandsales.png'}
                .back.background-alt-blue
                  .label-2 Learn how to segment B2B customers and create a strong B2B brand; foster sustainable product innovation, ensure pricing excellence, and manage sales for growth 
              .title Marketing and Sales
          %li
            %a{href: '#', data-reveal-id: 'organizational_performance'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_improvingorganizationalperformance.png'}
                .back.background-alt-blue
                  .label-2 Learn how to drive superior change management in an organization and achieve performance aspirations by improving organizational health 
              .title Improving Organizational Performance
          %li
            %a{href: '#', data-reveal-id: 'corp_finance'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_corpfinance.png'}
                .back.background-alt-blue
                  .label-2 Learn the fundamentals of how companies create value, including how to conduct financial analyses and how to develop a value creation strategy that aligns your organization’s operational metrics, financial indicators, and capital market valuation 
              .title Corporate Finance and Valuation
          %li  
            .card-flip
      
      %hr
      %section
        .sub-1 COURSES
      .coursebubbles
        %img{src: '/static/image/programs/coursebubbles.png'}     
                
      %hr
      %section
        .sub-1 SELECTED FACULTY
      %section
        %ul.faculty
          %li
            %img{src: '/static/image/programs/faculty_bradley.png'}
            %div
              .person-name Chris Bradley
              %p.style-4.person-title Principal; leader, Strategy, Asia Pacific 
              %p.style-4.course Business Strategy
          %li
            %img{src: '/static/image/programs/faculty_dewar.png'}
            %div
              .person-name Carolyn Dewar
              %p.style-4.person-title Principal; leader, Organization, Americas 
              %p.style-4.course Improving Organizational Performance
          %li
            %img{src: '/static/image/programs/faculty_dawson.png'}
            %div
              .person-name Angus Dawson
              %p.style-4.person-title Director; leader, Strategy, Global 
              %p.style-4.course Business Strategy
          %li
            %img{src: '/static/image/programs/faculty_edelman.png'}
            %div
              .person-name David Edelman
              %p.style-4.person-title Expert Principal; leader, McKinsey Digital 
              %p.style-4.course Marketing in the Digital Age
          %li
            %img{src: '/static/image/programs/faculty_herbig.png'}
            %div
              .person-name Thomas Herbig
              %p.style-4.person-title Leader, Center for the Advancement of Problem Solving 
              %p.style-4.course McKinsey's Approach to Problem Solving
          %li
            %img{src: '/static/image/programs/faculty_jarrad.png'}
            %div
              .person-name Michelle Jarrard
              %p.style-4.person-title Director of personnel 
              %p.style-4.course Mastering Difficult Conversations
          %li
            %img{src: '/static/image/programs/faculty_kendall.png'}
            %div
              .person-name Adam Kendall
              %p.style-4.person-title Principal; leader, Electric Power & Natural Gas, Africa 
              %p.style-4.course McKinsey's Approach to Problem Solving
          %li
            %img{src: '/static/image/programs/faculty_keller.png'}
            %div
              .person-name Scott Keller
              %p.style-4.person-title Director; leader, Organization, Americas 
              %p.style-4.course Improving Organizational Performance
          %li
            %img{src: '/static/image/programs/faculty_koller.png'}
            %div
              .person-name Tim Koller
              %p.style-4.person-title Expert Principal; leader, Corporate Finance 
              %p.style-4.course Corporate Finance & Valuation
          %li
            %img{src: '/static/image/programs/faculty_melwani.png'}
            %div
              .person-name Anish Melwani
              %p.style-4.person-title Director; leader, Corporate Finance 
              %p.style-4.course Corporate Finance & Valuation
          %li
            %img{src: '/static/image/programs/faculty_relyea.png'}
            %div
              .person-name Charlotte Relyea
              %p.style-4.person-title Principal; leader, Women's Initiative 
              %p.style-4.course Structured Business Communications
          %li
            %img{src: '/static/image/programs/faculty_roth.png'}
            %div
              .person-name Erik Roth
              %p.style-4.person-title Principal; leader, Asia Innovation service line 
              %p.style-4.course Inspiring Innovation in Your Organization
          %li
            %img{src: '/static/image/programs/faculty_viguerie.png'}
            %div
              .person-name Patrick Viguerie
              %p.style-4.person-title Director; leader, Strategy, Americas 
              %p.style-4.course Structured Business Communications
          %li
            %img{src: '/static/image/programs/faculty_welsh.png'}
            %div
              .person-name Tim Welsh
              %p.style-4.person-title Director; Leader, NA Financial Services 
              %p.style-4.course Team Management, Coaching and Mentoring
          %li
            %img{src: '/static/image/programs/faculty_yee.png'}
            %div
              .person-name Lareina Yee
              %p.style-4.person-title Principal; leader, Women in Business 
              %p.style-4.course Women and Leadership
