- extends "layout.haml"

- block content
  %article#programs-page.row.collapse
    .large-10.large-centered.columns
      %section
        %h1 Programs
      %section
        .sub-1 PROGRAM OFFERING
        %p Individual McKinsey Academy courses are created and curated into programs that meaningfully build business capabilities for our participants. These program offerings are based on our experience delivering capability building programs for clients, as well as our extensive training and development efforts for our own consultants.
      %section
        .sub-1 Overview
        %p The initial focus for our team as we build McKinsey Academy is the development of the McKinsey Management Program (MMP), a curated set of courses targeted to build leadership and management capabilities for high performers and rising professionals. Additional programs and courses will be incorporated over time, integrating perspectives from McKinsey experts and non-McKinsey business leaders from around the globe.
      
      %section
        %p.style-2 McKinsey Management Program
        %p Our goal is to provide a broad and relevant curriculum for talented employees managing others for the first time, those whose management responsibilities have expanded, and those who have been identified as high-performing individuals with the potential to be future leaders. Typically, these will be employees who are 5 to 15 years into their careers.
        %p The McKinsey Management Program will include eight courses that will be completed over one year. Each course will require 1-2 hours of work per week over approximately 6 weeks. The first cohort of students will begin the McKinsey Management Program in Summer 2014.

      %section
        %ul.programs.flexible
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_businessstrategy.png'}
                .back.background-alt-blue
                  .label-2 Learn how to assess the robustness of a strategy and apply McKinsey’s Strategy Method to construct a strategic plan to gain a sustainable advantage in the market 
              .title Business Strategy
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_problemsolving.png'}
                .back.background-alt-blue
                  .label-2 Learn techniques from the world-renowned leader in problem solving, including how to apply McKinsey’s proprietary approach to problem solving 
              .title McKinsey's Approach to Problem Solving
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_structuredcommunications.png'}
                .back.background-alt-blue
                  .label-2 Learn how to present your ideas effectively including how to deliver structured, concise, and compelling business communications 
              .title Structured Business Communications
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_masteringdifficultconversations.png'}
                .back.background-alt-blue
                  .label-2 Learn how handle difficult conversations and situations including conflict resolution, performance-feedback reviews, and competitive negotiations 
              .title Mastering Difficult Conversations
          
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_teammanagement.png'}
                .back.background-alt-blue
                  .label-2 Learn how to manage a team and improve team dynamics, develop leadership capabilities, delegate tasks, and motivate and engage team members 
              .title Team Management, Coaching and Mentoring
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_womenandleadership.png'}
                .back.background-alt-blue
                  .label-2 Learn how to reshape your organization to unlock the full potential of women, and identify effective individual leadership capabilities for women and men using the Centered Leadership approach 
              .title Women and Leadership
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_inspiringinnovation.png'}
                .back.background-alt-blue
                  .label-2 Understand successful models of innovation used by organizations of different sizes and industries; learn the specific actions companies take to improve innovation performance over time 
              .title Inspiring Innovation in Your Organization
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_througheyesofceo.png'}
                .back.background-alt-blue
                  .label-2 Learn how to galvanize your own leadership strategies and passions by exploring what matters most to the world’s leading CEOs 
              .title Through the Eyes of a CEO
          
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_marketingandsales.png'}
                .back.background-alt-blue
                  .label-2 Learn how to segment B2B customers and create a strong B2B brand; foster sustainable product innovation, ensure pricing excellence, and manage sales for growth 
              .title Marketing and Sales
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_improvingorganizationalperformance.png'}
                .back.background-alt-blue
                  .label-2 Learn how to drive superior change management in an organization and achieve performance aspirations by improving organizational health 
              .title Improving Organizational Performance
          %li
            %a{href: '#'}
              .card-flip
                .front
                  %img{src: '/static/image/programs/course_corpfinance.png'}
                .back.background-alt-blue
                  .label-2 Learn the fundamentals of how companies create value, including how to conduct financial analyses and how to develop a value creation strategy that aligns your organization’s operational metrics, financial indicators, and intrinsic/capital market valuation 
              .title Corporate Finance and Valuation
          %li  
            .card-flip
                
                
      %hr
      %section
        .sub-1 SELECTED FACULTY

      %section
        %ul.faculty
          %li
            %img{src: '/static/image/programs/faculty_bradley.png'}
            %div
              .person-name Chris Bradley
              %p.style-4.title Principal; leader, Strategy, Asia Pacific 
              %p.style-4.course Business Strategy
          %li
            %img{src: '/static/image/programs/faculty_dewar.png'}
            %div
              .person-name Carolyn Dewar
              %p.style-4.title Principal; leader, Organization, Americas 
              %p.style-4.course Improving Organizational Performance
          %li
            %img{src: '/static/image/programs/faculty_dawson.png'}
            %div
              .person-name Angus Dawson
              %p.style-4.title Director; leader, Strategy, Global 
              %p.style-4.course Business Strategy
          %li
            %img{src: '/static/image/programs/faculty_edelman.png'}
            %div
              .person-name David Edelman
              %p.style-4.title Expert Principal; leader, McKinsey Digital 
              %p.style-4.course Marketing in the Digital Age
          %li
            %img{src: '/static/image/programs/faculty_herbig.png'}
            %div
              .person-name Thomas Herbig
              %p.style-4.title Leader, Center for the Advancement of Problem Solving 
              %p.style-4.course McKinsey's Approach to Problem Solving
          %li
            %img{src: '/static/image/programs/faculty_jarrad.png'}
            %div
              .person-name Michelle Jarrard
              %p.style-4.title Director of personnel 
              %p.style-4.course Mastering Difficult Conversations
          %li
            %img{src: '/static/image/programs/faculty_kendall.png'}
            %div
              .person-name Adam Kendall
              %p.style-4.title Principal; leader, Electric Power & Natural Gas, Africa 
              %p.style-4.course McKinsey's Approach to Problem Solving
          %li
            %img{src: '/static/image/programs/faculty_keller.png'}
            %div
              .person-name Scott Keller
              %p.style-4.title Director; leader, Organization, Americas 
              %p.style-4.course Improving Organizational Performance
          %li
            %img{src: '/static/image/programs/faculty_koller.png'}
            %div
              .person-name Tim Koller
              %p.style-4.title Expert Principal; leader, Corporate Finance 
              %p.style-4.course Corporate Finance & Valuation
          %li
            %img{src: '/static/image/programs/faculty_melwani.png'}
            %div
              .person-name Anish Melwani
              %p.style-4.title Director; leader, Corporate Finance 
              %p.style-4.course Corporate Finance & Valuation
          %li
            %img{src: '/static/image/programs/faculty_relyea.png'}
            %div
              .person-name Charlotte Relyea
              %p.style-4.title Principal; leader, Women's Initiative 
              %p.style-4.course Structured Business Communications
          %li
            %img{src: '/static/image/programs/faculty_roth.png'}
            %div
              .person-name Erik Roth
              %p.style-4.title Principal; leader, Asia Innovation service line 
              %p.style-4.course Inspiring Innovation in Your Organization
          %li
            %img{src: '/static/image/programs/faculty_viguerie.png'}
            %div
              .person-name Patrick Viguerie
              %p.style-4.title Director; leader, Strategy, Americas 
              %p.style-4.course Structured Business Communications
          %li
            %img{src: '/static/image/programs/faculty_welsh.png'}
            %div
              .person-name Tim Welsh
              %p.style-4.title Director; Leader, NA Financial Services 
              %p.style-4.course Team Management, Coaching and Mentoring
          %li
            %img{src: '/static/image/programs/faculty_yee.png'}
            %div
              .person-name Lareina Yee
              %p.style-4.title Principal; leader, Women in Business 
              %p.style-4.course Women and Leadership
