- extends "layout.haml"

- block content
  %article#styleguide-page.row.collapse
    .large-10.large-centered.columns
      .row
        %input#menu-typography{type: 'radio', name: 'styleguide-radio', checked: 'checked'}
        %input#menu-colors{type: 'radio', name: 'styleguide-radio'}
        %input#menu-icons{type: 'radio', name: 'styleguide-radio'}
        %input#menu-buttons{type: 'radio', name: 'styleguide-radio'}
        %aside.large-3.columns
          %ul
            %li
              %label{for: 'menu-typography'} Typography
            %li
              %label{for: 'menu-colors'} Colors
            %li
              %label{for: 'menu-icons'} Icons
            %li
              %label{for: 'menu-buttons'} Buttons
        %article.large-9.columns.background-white
          - include "marketing/styleguide/typography.haml"
          - include "marketing/styleguide/colors.haml"
          - include "marketing/styleguide/icons.haml"
          - include "marketing/styleguide/buttons.haml"
