@import 'base/variables';
@import 'xblocks/common';
@import 'xblocks/poll_survey';
@import 'xblocks/ooyala_videos';
@import 'xblocks/drag_and_drop';
@import 'xblocks/problem_builder';
@import 'xblocks/image_explorer';
@import 'xblocks/chat';
@import 'xblocks/assessment.scss';
@import 'xblocks/diagnostic.scss';
@import 'xblocks/scorm.scss';
@import 'xblocks/adventure.scss';
@import 'xblocks/simulated-chat.scss';
@import 'discussion/inline-discussion';
