### IDE artifacts
.idea/
*.esproj

### OS X artifacts
*.DS_Store

### Python artifacts
*.py[cod]
local_settings.py

### Testing artifacts
.coverage
coverage.xml
cover_html/

### Logging artifacts
tracking.log*

### Datastore artifacts
*.sqlite3

### Static Assets artifacts
/static/gen/
/static/scss/static/gen/
/static/image/learner_dashboard/
/static_cache
refresh_assets.sh

### Other artifacts
/util/djtemp/*

### pycharm helper folder
.pycharm_helpers/

# Export artifacts
csv_exports/
