%table.program-clients
  - for client in clients
    %tr.client
      %td.course-toggle
      %td.title
        = client.display_name
      %td.places
        = client.places_allocated
      %td.enrolled
        = client.places_assigned
