- extends 'admin/admin_layout.haml'
-load i18n

- block content
  .admin-detail.row
    .large-12.large.columns
      - include 'admin/program/detail_header.haml'
  .admin-detail.row
    .large-12.large.columns
      - block admin_detail
        %h1
          %span
            {% trans "Program: " %}
          %span
            = program.display_name
            (
            %span><
              = program.name
            )
        %hr
        %section
          %header Clients:
          - include 'admin/program/client_list.haml'
        %a.button.radius.small{href: "/admin/programs/#{program.id}/download_program_report", target: "_blank"}
          Download Report for Program
