-load i18n

%ul
  %li
    - if selected_program_tab == 'detail'
      %span.selected
        {% trans "Overview" %}
    - else
      %a{href:"/admin/programs/#{program.id}"}
        {% trans "Overview" %}
  %li
    - if selected_program_tab == 'courses'
      %span.selected
        {% trans "Assign Courses to Program" %}
    - else
      %a{href:"/admin/programs/#{program.id}/courses"}
        {% trans "Assign Courses to Program" %}
