- extends 'admin/admin_layout.haml'
- block content
  .admin-list.row
    .large-12.large-centered.columns
      .message
        %span= _("Program detail for ")
        %span= program.name
        %span= _(" will appear here")