- extends "admin/list_layout.haml"
- block principal_message
  %p= _("McKinsey Academy programs are a set of recommended courses, often tailored to specific clients")
- block principal_list_message
  %p= _("Here are the programs that we already have in the system")
