
%h1.modal-title Password Reset
.close-reveal-modal
  %i.fa.fa-times-circle
%p Please enter your email address below, and we will send you instructions for setting a new password.
%br
%br
%form{'action': "/accounts/password/reset/", 'method': "post"}
	= form.email.errors
	- csrf_token
	%p
		%label{'for': "id_email"}
			Your Email Address:
			= form.email
  %i
    This is the email address you used to register with McKinsey Academy
  %br
  %br
	%input.button.radius.small{'type': "submit", 'value': "Reset My Password"}
