%h1.modal-title Password reset successful
.close-reveal-modal
  %i.fa.fa-times-circle 
%p We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.