
%h1.modal-title Password reset
.close-reveal-modal
  %i.fa.fa-times-circle 
%p Please enter your e-mail address below, and we will send you instructions for setting a new password. 
%br 
%br
%form{'action': "/accounts/password/reset/", 'method': "post"}
	= form.email.errors
	- csrf_token
	%p
		%label{'for': "id_email"}
			Your E-mail address:
			= form.email 
	%br
    %i
    	This is the e-mail address you used to register with McKinsey Academy
	%input.button.radius.small{'type': "submit", 'value': "Reset My Password"}