- load i18n

%h1.modal-title {% trans "Password Reset" %}
.close-reveal-modal
  %i.fa.fa-times-circle
%p {% trans "Please enter your email address below, and we will send you instructions for setting a new password." %}
%br
%br
%form{'action': "/accounts/password/reset/", 'method': "post"}
	= form.email.errors
	- csrf_token
	%p
		%label{'for': "id_email"}
			{% trans "Your Email Address:" %}
			= form.email
  %i
    {% trans "This is the email address you used to register with McKinsey Academy" %}
  %br
  %br
    {% trans "Reset My Password" as submit_button_text %}
	%input.button.radius.small{'type': "submit", 'value': "#{submit_button_text}"}
