- extends "layout.haml"

- block header
  - include 'accounts/login_header.haml'
- block content
  .row
    .reset-password-form.large-10.medium-10.large-centered.medium-centered.columns
      .row
          %form.large-7.medium-7.columns{action: "", method: "post"}
            - csrf_token
            - if validlink
              %h1 Reset Your Password
              %p Please enter your new password twice so we can verify you typed it in correctly. Your password must be 8 or more characters and contain at least 2 of each of the following character categories: uppercase, lowercase, numeric, special characters like !, @, $. Required fields are noted by an asterisk (
                %span.required-field><
                %span ).
              %br
              %br
              = form.new_password1.errors
              %label{for: "id_new_password1"} Your New Password
                %span.required-field
                %span
              = form.new_password1
              %br
              = form.new_password2.errors
              %label{for: "id_new_password2"} Your New Password Again
                %span.required-field
                %span
              = form.new_password2
              %br
              %input.radius.small.button{type: "submit", value: "Change My Password"}
            - else
              %h1 Password Reset Unsuccessful
              %p The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
