- load i18n

%h1.modal-title {% trans "Password Reset Unsuccessful" %}
.close-reveal-modal
  %i.fa.fa-times-circle
%p.medium-font {% trans "We couldn't reset your password. Please check email and try again." %}
