You're receiving this e-mail because you requested a password reset for your user account at McKinsey Academy.

Please go to the following page and choose a new password:

#{protocol}://#{domain}#{url}

Your username, in case you've forgotten:
	= user.username

Thanks for using our site!

The McKinsey Academy team.
