%img{src: "cid:static/image/email_header.png"}
%p Dear #{username},
%p #{template_text}
%p
  %strong To access your courses on the Learn Portal, click the following link:

%p http://learn.intranet.mckinsey.com/learn

Please contact the
%strong Global Helpdesk
if you experience any technical issues.

%p
  Best,
  %br
  McKinsey Academy
