%p Dear #{username},
%p #{template_text}
%p
  %strong To access the course, click the following link:
%p
  #{link}
%p
  Note that you must be on the McKinsey Network or VPN to access the course. Please contact our team at support@mckinseyacademy.com if you experience any technical issues."

Please contact the
%strong Global Helpdesk
if you experience any technical issues.

%p
  Best,
  %br
  Digital Academy
