%p Dear #{username},
%p #{template_text}
%p
  %strong McKinsey Academy course access:
  You already have an account with McKinsey Academy associated with this email address.
  To access the course, click the following link and login with your credentials.
  %p
  #{link}
  %p
    If you've forgotten your credentials, please click the "Forgot Password?" link and follow the on-screen instructions.
%p Please contact our team at support@mckinseyacademy.com if you experience any technical issues.
%p
  Best,
  %br
  Digital Academy
