- load i18n

%p {% trans "Dear" %} #{username},
%p #{template_text}
%p
  %strong {% trans "Account activation:" %}
  {% trans "Please use the following" %}
  %strong {% trans "one-time activation link" %}
  {% trans "to create your username and password for the system. Personalized link:" %}
  %br
  #{link}
%p
  {% trans "After you have activated your account, log in directly from www.mckinseyacademy.com to access your course." %}
%p {% trans "Please contact our team at support@mckinseyacademy.com if you experience any technical issues." %}

%p
  {% trans "Best," %}
  %br
  McKinsey Academy
