You're receiving this email because you requested registration for #{course} at McKinsey Academy.

Please go to the following page to activate you account:

#{protocol}://#{domain}#{url}

Thanks for using our site!

The McKinsey Academy team.
