- load i18n

%p {% trans "Dear" %} #{username},
%p #{template_text}
%p
  {% trans "You already have an account with McKinsey Academy associated with this email address." %}
  {% trans "To access the course, click the following link and login with your credentials." %}
  %p
  #{link}
  %p
    {% trans "If you've forgotten your credentials, please click the 'Forgot Password?' link and follow the on-screen instructions." %}
%p {% trans "Please contact our team at #{support} if you experience any technical issues." %}
%p
  {% trans "Best," %}
  %br
  McKinsey Academy
