%img{src: "cid:static/image/email_header.png"}
%p Dear #{username},
%p #{template_text}
%p
  %strong McKinsey Academy course access:
  You already have an account with McKinsey Academy associated with this email address. Log in at www.mckinseyacademy.com to access your course. If you've forgotten your credentials, please click the "Forgot Password?" link and follow the on-screen instructions.
%p Please contact our team at support@mckinseyacademy.com if you experience any technical issues.
%p
  Best,
  %br
  McKinsey Academy
