- load i18n

%p {% blocktrans %}Dear {{username}}, {% endblocktrans %}
%p #{template_text}
%p
  %strong {% trans "Account activation:" %}
  {% trans "Please use the following" %}
  %strong {% trans "one-time activation link" %}
  {% trans "to create your username and password for the system. Personalized link:" %}
  %br
  #{link}
%p
  {% trans "After you have activated your account, log in directly from www.mckinseyacademy.com to access your course." %}
%p {% blocktrans %}Please contact our team at {{support}} if you experience any technical issues.{% endblocktrans %}

%p
  {% trans "Best," %}
  %br
  McKinsey Academy
