%img{src: "cid:static/image/email_header.png"}
%p Dear #{username},
%p #{template_text}
%p
  %strong Please use the following link to access Strategy Fundamentals on Learn:

%p #{link}

Please contact the Global Helpdesk if you experience any technical issues.

%p
  Best,
  %br
  McKinsey Academy
