%article.course-menu
  .title LESSONS:
  .rotator
    %ul
      - for lesson in course.chapters
        %li
          %a.card-flip{href: "/courses/#{course.id}/lessons/#{lesson.id}"}
            .front
              .index LESSON {{lesson.index}}
              .name
                = lesson.name
              .lesson-progress
                - for tick_mark in lesson.tick_marks
                  - if tick_mark
                    .tick.on
                  - else
                    .tick
            .back
              .description
                = lesson.description
