%article.course-menu
  .title LESSONS:
  .rotator
    %ul
      - for idx, lesson in enumerate(course.chapters, start=1):
        %li
          %a.card-flip(href="/courses/${course.course_id}/lessons/${lesson.chapter_id}")
            .front
              .index LESSON ${idx}:
              .name= lesson.chapter_name
              .lesson-progress
                - for i in range(1,6):
                  - if i * 20 <= 100:
                    .tick.on
                  - else:
                    .tick
            .back
              .description = lesson.description
