%article#course-menu
  .sub-2 LESSONS:
  .rotator
    .nav-left.disabled
      %i.fa.fa-chevron-left
    .nav-right
      %i.fa.fa-chevron-right

    .frame
      .slides
        %ul
          - for lesson in course.chapters
            %li>
              %a.card-flip{href: "#{lesson.navigation_url}"}
                .front.background-white
                  - if lesson.bookmark
                    .bookmark
                      %i.fa.fa-bookmark
                  .label-5.index LESSON {{lesson.index}}
                  %h2.name= lesson.name
                  .lesson-progress
                    - for tick_mark in lesson.tick_marks
                      .tick{class: "{% if tick_mark %}on{% endif %}"}
                .back.background-alt-blue
                  .label-2.description
                    = lesson.description
