%article#course-statistics
  - include "courses/visualizations/course_proficiency.haml"
  - include "courses/visualizations/course_progress.haml"
  - include "courses/visualizations/course_engagement.haml"
