%article#course-statistics
  %section.course-proficiency.no-progress
    .zero
      %div
        %span Once this feature is implemented, your proficiency will be displayed here. <a data-reveal-id='beta_visualizations'>Learn more</a>.
    .sub-2
      Proficiency:
      %a{href: '#'}
        %i.fa.fa-arrow-circle-right
    .visualization
      .total 80
      .inner-circle
      .progress-radial
    .label-4 cohort average = 45
    %a.info{href: '#'}
      %i.fa.fa-info-circle
  %section.course-progress
    .sub-2
      Progress:
      %a{href: '#'}
        %i.fa.fa-arrow-circle-right
    .visualization{data-cohort-percent: "#{percent_complete}%"}
      .total{style: "left:#{percent_complete}%;"}
        ={percent_complete}%
      .bar{class: "{% if cohort_percent_average > percent_complete %}trailing{% endif %}", style: "width:#{percent_complete}%;"}
    .label-4 cohort average = ={cohort_percent_average}%
    %a.info{href: '#'}
      %i.fa.fa-info-circle
  %section.course-engagement
    .zero
      %div
        %span Once this feature is implemented, your social engagement will be displayed here. <a data-reveal-id='beta_visualizations'>Learn more</a>.
    .sub-2
      Engagement:
      %a{href: '#'}
        %i.fa.fa-arrow-circle-right
    .visualization
      .band-1.filled
      .band-2
      .total 12
    .label-4 cohort average = 28 points
    %a.info{href: '#'}
      %i.fa.fa-info-circle
