
.course-tabs
  %ul
    %li
      Overview
    %li.selected
      Lessons
    %li
      News
    %li
      Discussion
    %li
      Progress
    %li
      Cohort
    %li
      Syllabus
    %li
      Materials
    %li
      Group Work

