%article#course-menu
  .sub-2 LESSONS:
  .rotator
    .nav-left.disabled
      %i.fa.fa-chevron-left
    .nav-right
      %i.fa.fa-chevron-right

    .frame
      .slides
        %ul
          - for lesson in course.chapters
            %li>
              %a.card-flip{href: "#{lesson.navigation_url}"}
                .front.background-white
                  - if lesson.bookmark
                    .bookmark
                      %i.fa.fa-bookmark
                  .label-5.index LESSON {{lesson.index}}:
                  %h2.name= lesson.name
                  - if lesson.progress > 0
                    - if lesson.progress == 100
                      .lesson-progress.complete Completed
                    - else
                      .lesson-progress ={lesson.progress}%
                .back.background-alt-blue
                  .label-2.description
                    - autoescape off
                      = lesson.description
