%article#course-statistics
  %section.course-proficiency
    .zero
      %div
        %span Once you&#39;ve begun the course, your course grade will be displayed here.
    .sub-2
      Proficiency:
      %a{href: '#'}
        %i.fa.fa-arrow-circle-right
    .visualization
      .total 0
      .inner-circle
    .label-4 cohort average = 0
    %a.info{href: '#'}
      %i.fa.fa-info-circle
  %section.course-progress
    .zero
      %div
        %span Once you&#39;ve begun the course, your progress will be displayed here.
    .sub-2
      Progress:
      %a{href: '#'}
        %i.fa.fa-arrow-circle-right
    .visualization
      .total 0%
    .label-4 cohort average = 0%
    %a.info{href: '#'}
      %i.fa.fa-info-circle
  %section.course-engagement
    .zero
      %div
        %span Once you&#39;ve begun the course, your social engagement score will be displayed here.
    .sub-2
      Engagement:
      %a{href: '#'}
        %i.fa.fa-arrow-circle-right
    .visualization
      .band-1
      .band-2
      .total 0
    .label-4 cohort average = 0 points
    %a.info{href: '#'}
      %i.fa.fa-info-circle
