%article#course-statistics{class: "{% if not feature_flags.discussions and graded_items_count > 0 %}no-social{% endif %}"}
  - if feature_flags.proficiency
    - if graded_items_count > 0 or course.has_group_work
      - include "courses/visualizations/course_proficiency.haml"
  - if feature_flags.progress
    - include "courses/visualizations/course_progress.haml"
  - if feature_flags.discussions
    - include "courses/visualizations/course_engagement.haml"
