%article#course-statistics{class: "{% if not feature_flags.discussions %}no-social{% endif %}"}
  - if graded_items_count > 0 or course.has_group_work
    - include "courses/visualizations/course_proficiency.haml"
  - if graded_items_count < 1 and not feature_flags.discussions
    %section.no-border &nbsp;
  - include "courses/visualizations/course_progress.haml"
  - if feature_flags.discussions
    - include "courses/visualizations/course_engagement.haml"
