%article#course-statistics{class: "{% if not feature_flags.discussions %}no-social{% endif %}"}
  - include "courses/visualizations/course_proficiency.haml"
  - include "courses/visualizations/course_progress.haml"
  - if feature_flags.discussions
    - include "courses/visualizations/course_engagement.haml"
