
.lesson-menu
  Lesson:
  %ul
    - for lesson in course.chapters
      %li.lesson
        - if lesson.chapter_id == current_chapter.chapter_id
          %span.lesson-index.selected
            = lesson.index
        - elif lesson.is_released
          %a.lesson-index{href: "{{ lesson.navigation_url }}", title: "{{ lesson.chapter_name }}"}
            = lesson.index
        - else
          %span.lesson-index
            = lesson.index
.lesson-progress
  - for lesson_module in current_chapter.pages
    %a.lesson-module-status{class: "{{ lesson_module.status_class }}", href: "{{ lesson_module.navigation_url }}"}

