- for lesson in course.chapters
  - if lesson.is_released and lesson.id != current_chapter.id
    %a.lesson-index{href: "#{lesson.navigation_url}", title: "#{lesson.name}"}
      Lesson ={lesson.index}: ={lesson.name}
  - else
    .not-released Lesson ={lesson.index}: ={lesson.name}
