.lesson-pager
  - if current_page.prev_url
    %a.page-to.previous{href: "#{current_page.prev_url}"}
      %i.fa.fa-chevron-left
  - else
    %a.page-to.previous
      %i.fa.fa-chevron-left
  - if current_page.next_url
    %a.page-to.next{href: "#{current_page.next_url}"}
      %i.fa.fa-chevron-right
  - else
    %a.page-to.next
      %i.fa.fa-chevron-right
