.program-title<
  = program.display_name
- include 'courses/content_page/courses_menu_list.haml' with courses=program.courses
- if program.outside_courses
  %hr
  .program-title.other-courses<
    = _("Other Enrolled Courses")
  - include 'courses/content_page/courses_menu_list.haml' with courses=program.outside_courses
