#course-cohort {
  // Override font that leaflet puts in its css file
  .leaflet-container{
    font-family: $body-font-family;
  }
  #map-cohort {
    height: rem-calc(355);
    background: $pure-white;
    svg {
      @include user-select();
      display: block;
      width:auto;
      height:auto;
    }
    .leaflet-marker-icon.ta_user{
      border: 2px solid $mckinsey-orange;
    }
    .leaflet-map-pane,
    .leaflet-objects-pane,
    .leaflet-overlay-pane{
      width:100%;
      height:100%;
    }
  }

  .student-data {
    margin-top: 20px;
    @include clearfix;

    ul.students {
      float: left;
      margin: 0;
      list-style-type: none;
      @include clearfix;

      li {
        float: left;
        padding: 0 5px;
        border-right: 1px solid $almost-white;

        &:first-child { padding: 0; }

        &:first-child,
        &:last-child {
          border-right: none;
        }
      }
    }

    a.hide-team {
      float: right;
      @include font-spec(12, bold, 14);

    }
  }

  .leaderboard-header {
    ul.select-board {
      margin: 15px 0;
      list-style-type: none;
      @include clearfix;

      li {
        float: left;
        border-right: 1px solid $almost-white;
        padding: 0 10px;
        line-height: rem-calc(10);
        &:first-child { padding-left: 0; }
        &:last-child { border-right: none; }

        a, a:visited {
          @include font-spec(12, bold, 14);
          &.selected { color: $mckinsey-academy-black; }
        }
      }
    }
  }

  .leaderboards {
    width:100%;

    table {
      width: 100%;
      padding: 0 0px;
      border: none;
      border-collapse: separate;

      tr:first-child {
        td {
          padding-top: 0;
        }
      }

      tr{
        vertical-align: top;
        td:first-child { padding-left: 0; }
        td:last-child { border-right: none; }

        .even, .alt, &:nth-of-type(even) {
          background: $pure-white;
        }

        td {
          border-right: 1px solid $almost-white;
          padding-bottom: 0px;
          .label-5 {
            position: relative;

            &:after {
              content: "\f05a";
              color: $almost-white;
              margin-left: 5px;
              font-family: FontAwesome;
            }

            a {
              position: absolute;
              bottom: 2px;
              left: 110px;
              text-transform: lowercase;
              @include font-spec(12, bold);
            }
          }

          .rank {
            text-align: center;
            margin: 20px 0;
            @include font-spec(18, normal, 24);
            span { @include font-spec(24, bold, 24); }
          }

          .user {
            padding: 10px 10px 0 10px;
            border-top: 1px solid $almost-white;
            @include clearfix;

            .avatar {
              width: 40px;
              height: 40px;
              float: left;
              margin-right: 10px;
            }

            .info {
              margin-left: 60px;

              .person-rank {
                color: $mckinsey-academy-blue-gray;
                white-space: nowrap;
                @include font-spec(18, bold, 24);

                span {
                  color: $mckinsey-academy-black;
                  @include font-spec(24, bold, 24);
                }
              }
            }

            &.dummy {
              color: $mckinsey-grey;
              .person-title,
              .person-username,
              .person-fullname,
              .person-rank,
              .person-rank span {
                color: $mckinsey-grey;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .leaderboards-list{
      margin: 10px 0;
      padding: 0;
      list-style: none;
      @media only screen and (min-width: 768px) {
        text-align: center;
      }
      li {
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        max-width: 33.33%;
        margin-left: -4px;
        width: 100%;
        border-right: 1px solid $almost-white;
        @media only screen and (max-width: 767px) {
          display: block;
          margin-left: 0;
          max-width: none;
          border-right: 0;
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid $almost-white;
        }
        &:first-child{padding-left: 5px}
        &:last-child{border-right: 0}
        .rank {
          text-align: center;
          margin: 20px 0 30px;
          @include font-spec(18, normal, 24);
          span {
            @include font-spec(24, bold, 0);
          }
        }

        .user {
          padding: 10px 10px 0 10px;
          border-top: 1px solid $almost-white;
          @include clearfix;

          .avatar {
            width: 40px;
            height: 40px;
            float: left;
            margin-right: 10px;
          }

          .info {
            margin-left: 60px;
            min-height: 75px;
            text-align: left;

            .person-rank {
              color: $mckinsey-academy-blue-gray;
              white-space: nowrap;
              @include font-spec(18, bold, 24);

              span {
                color: $mckinsey-academy-black;
                @include font-spec(24, bold, 24);
              }
            }
          }

          &.dummy {
            color: $mckinsey-grey;
            .person-title,
            .person-username,
            .person-fullname,
            .person-rank,
            .person-rank span {
              color: $mckinsey-grey;
              white-space: nowrap;
            }
          }
        }
        .header{
          text-align: left;
        }
      }
    }
  }

  .user-content {
    display: table-row;

    section {
      display: table-cell;
      width: percentage(1/2);
      padding: 0 20px;
      border-right: 1px solid $almost-white;
      &:first-child { padding-left: 0; }
      &:last-child { border-right: none; }

      blockquote {
        color: $mckinsey-academy-alt-blue;
        quotes: "\201C""\201D""\2018""\2019";
        @include font-spec(14, bold, 22);
        &:before { content: open-quote; }
        &:after { content: close-quote; }
      }

      &.recommendations {
        .person-username { margin: 15px 0; }
      }

      .attribution {
        img {
          float: left;
          margin-right: 10px;
          .person { margin-left: 60px; }
        }
      }

      .link {
        margin: 15px 0;

        a, a:visited {
          @include font-spec(12, bold, 14);
        }
      }

      .button { @include font-spec(14, bold); }
    }
  }
}
