#course-cohort {
  #map-cohort {
    height: rem-calc(355);
  }

  .student-data {
    margin-top: 20px;
    @include clearfix;

    ul.students {
      float: left;
      margin: 0;
      list-style-type: none;
      @include clearfix;

      li {
        float: left;
        padding: 0 5px;
        border-right: 1px solid $almost-white;

        &:first-child { padding: 0; }

        &:first-child,
        &:last-child {
          border-right: none;
        }
      }
    }

    a.hide-team {
      float: right;
      @include font-spec(12, bold, 14);
    }
  }
}
