#course-lessons .discussion-course,
#course-discussion .discussion-content {
  background: #fff !important;

  .discussion-column {
    box-shadow: none;
  }

  .wrap-instructor-info {
    display: none;
  }

  .loading-animation {
    position: relative;
  }

  .blank-slate {
    padding: 10px 10px 10px;
  }

  .discussion-article .label {
    background-color: transparent;
    color: #000;
    text-align: left;
  }

  .discussion-article {

    background-image: none;

    .label-settings {
      padding-top: 0px;
    }

  }

  /* Buttons *****************************************************************/

  .new-post-btn,
  .new-post-article .new-post-form .submit,
  .new-post-article .new-post-form .new-post-cancel,
  .discussion-submit-post,
  .add-response .add-response-btn,
  .comments .comment-form .discussion-submit-comment,
  .discussion-article .post-update,
  .discussion-article .post-cancel {
    @extend .button;
    @extend .small;
    @extend .radius;

    border-color: transparent;
    background-image: none;
    text-shadow: none;
    line-height: 1;
    height: 35px;
    width: auto;

    .new-post-icon {
      display: none;
    }
  }

  .discussion-article {

    .post-update {
      margin-top: 15px;

      &, &:hover {
        margin-top: 15px;
      }
    }

    .post-cancel {
      &, &:hover, &:visited {
        background-color: $mckinsey-academy-light-gray;
        margin-left: 15px;
        margin-top: 15px;
        color: $mckinsey-academy-black !important;
      }
    }
  }

  .new-post-article {

    margin-bottom: 10px;

    .left-column {
      width: 35%;
    }

    .right-column {
      width: 65%;
    }

    .new-post-form .new-post-cancel,
    .post-cancel {
      &, &:hover, &:visited {
        background-color: $mckinsey-academy-light-gray;
        margin-left: 15px;
        color: $mckinsey-academy-black !important;
      }
    }
  }

  .post-extended-content .add-response .add-response-btn {
    &, &:hover {
      padding-bottom: 25px;
    }
  }

  .vote-btn {
    &, &:hover {
      @include drop-shadow($opacity: 0);
      border-radius: 0px;
      background-image: none;
    }
  }

  .comments .comment-form .discussion-submit-comment {
    &, &:hover {
      margin-top: 15px;
    }
  }

  section.discussion .discussion-body .discussion-article {
    &, .responses > li {
      @include drop-shadow($opacity: 0);
      border-radius: 0;
    }

    .thread-wrapper {
      max-height: none;
    }
  }

  .responses {
    padding: 0px 40px 0px 20px;
  }

  .discussion-article h1 {
    font-size: 14px;
  }

  .response-count {
    float: right;
  }

/* Post editor *************************************************************/

  span[id*='wmd-code-button-'],
  span[id*='wmd-image-button-'] {
    display: none;
  }

  span[id*='wmd-olist-button-new-post-'],
  span[id*='wmd-ulist-button-new-post-'],
  span[id*='wmd-heading-button-new-post-'],
  span[id*='wmd-hr-button-new-post-'],
  span[id*='wmd-undo-button-new-post-'],
  span[id*='wmd-redo-button-new-post-'] {
    margin-left: -50px;
  }

  span[id*='wmd-spacer2-new-post-'],
  span[id*='wmd-spacer3-new-post-'] {
    margin-left: -39px;
  }

/* Sidebar ****************************************************************/

  .sidebar .browse-search {

    div {
      background-color: $mckinsey-academy-alt-blue;
      background-image: none;
      }

    .home {
      box-shadow: -1px 0px 0px #FFF inset;
    }

    .icon {
      color: #FFF;
    }

    .browse {
      box-shadow: -1px 0px 0px #FFF inset;

      .current-board {
        color: #FFF;
        text-shadow: none;
      }

    }

    .search .post-search-field {
      border: none;
      box-shadow: none;
    }

  }

  .sort-bar {
    background-color: $mckinsey-academy-bright-gray;
    background-image: none;

    a {
      color: #66A5B5;
    }

    a.active {
      background-image: none;
      box-shadow: none;
      background-color: $mckinsey-academy-bright-gray;
      color: #868685;
      text-shadow: none;
    }

  }

  .post-list  {
    .title {
      color: #000;
    }

    a.active {
      background-color: $mckinsey-academy-blue-gray;
      box-shadow: none;
      background-image: none;
    }

    .comments-count {
      background-image: none;
    }

    .votes-count {
      background-color: #D4D4D4;
    }

  }

  /* HOME */
  .home-header {

    border-bottom: none;

    .label {
      color: $mckinsey-academy-turquoise;
      @include font-spec(18, normal, 24);
      padding: 0px 0px 10px 0px;
    }

    .home-title {
      color: $mckinsey-dark-grey;
      padding: 0px 0px 10px 0px;
      @include font-spec(18, normal, 24)
    }
  }

  .notification-checkbox {
    border: none;
    padding: 0px;
    margin-top: 5px;

    .email-setting {
      margin: 0px;
    }
  }

  .home-helpgrid {
    box-shadow: none;
  }

  .helpgrid-row {
    td {
      border: 1px solid #B2B2B2;
    }

    .row-title {
      background-color: transparent;
      padding: 10px;
    }

    .row-item {
      padding: 10px;

      .row-description {
        display: block;
      }

      .icon {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 0px;
      }
    }
  }
}
