/* See ../lesson-content/discussion.scss for rules shared with lession discussion */


.forum-nav-sort {
    float: right;
    width:50%;
}

header .course-name {
  line-height: 14px !important;
  margin: 4px 0 !important;
}

header .course-tabs li {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#course-discussion {
  .discussion-content {
    margin-top: 10px;
  }
}

.inline-threads .forum-nav-thread-list-wrapper .forum-nav-refine-bar{
  display: none !important;
}

.wmd-prompt-background {
  background-color: $pure-white !important;
}

.wmd-prompt-dialog {
  padding: 10px 20px !important;
  background-color: #b1c2cc !important;
  border: none !important;
  font-family: "Open Sans",sans-serif !important;

  .form {
    width: auto !important;
    margin: 0 auto !important;

    .form-group-hd {
      display: none !important;
    }

    .field-group {
      margin: 0 !important;
      padding: 0 !important;
      border: none !important;
    }

    .input-text {
      width: 100% !important;
    }

    .form-actions {
      text-align: center !important;
    }
  }

  .form-btn {
    display: inline-block !important;
    margin: 10px !important;
    color: $pure-black !important;
    background-color: $mckinsey-grey;
    border: 1px solid $pure-black !important;
    border-radius: 3px !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
  }


}

#course-discussion .discussion-content {

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  .unit-title {
    display: none;
  }

  .page-content{
    clear: both;
  }

  fieldset { margin:0; padding: 0; border:0; }

  .forum-nav-thread-link:hover,
  .forum-nav-thread-link:active,
  .forum-nav-thread-link:focus,
  .forum-nav-thread-link.is_active {
      background-color: $forum-nav-link-active;
  }

  .forum-new-post-form .thread-title {
    display: block;
    margin-bottom: 20px;
    font-size: 1.3125rem;
    color: #373939;
  }


  .page-header-secondary {
    display: inline-block;
    vertical-align: text-bottom;

    @media only screen and (max-width: 767px){
      float: none;
      text-align: left;
      display: block;
    }

    .form-actions {
      display: inline-block;
      text-align: center;
      @media only screen and (max-width: 767px){
        display: block;
      }
      button{
        @media only screen and (max-width: 767px){
          width: 100%;
          float: none;
          max-width: 320px;
        }
      }
    }

    .form-actions > * {
      margin-left: 10px;
      vertical-align: middle;
      height: 34px;
    }

    .form-actions > button {
      height: 34px;
    }

    .form-actions > *:first-child {
      margin-left: 0;
    }

    .forum-search {
      display: inline-block;
      @media only screen and (max-width: 767px){
        display: block;
        margin-left: 0;
        max-width: 320px;
        margin: auto;
      }

      .field-input {
        display: inline-block;
        height: auto !important;
        @media only screen and (max-width: 767px){
          width: calc(100% - 82px);
        }
      }

      .search-button {
        padding: 8px;
        line-height: normal;
      }
    }
  }

  .forum-nav {
    select {
      margin: 0;
      padding: 0;
      height: auto;
      line-height: normal;

      &.forum-nav-filter-main-control {
        width: rem-calc(90);
      }
    }

    input {
      margin: 0;
      padding: 0;

      &.forum-nav-search-input {
        font-size: rem-calc(10) !important;
        @include placeholder {
          color: #a0a0a0;
        }
        &.placeholdersjs {
          color: #a0a0a0;
        }
      }
    }

    .forum-nav-browse-current {
      font-size: rem-calc(10);
    }

    .forum-nav-header {
      width: auto;
      background: $mckinsey-academy-alt-blue none;
      border-bottom: 1px solid $mckinsey-academy-alt-blue;

      .forum-nav-browse {
        // have to use !important to override other !important at
        // edx-platform/lms/static/sass/discussion/utilities/_shame.scss .forum-nav-browse rule
        color: $pure-white !important;
        padding: 5px;

        &:focus, &:hover, &.is-active {
          background-color: $mckinsey-academy-blue-gray !important;
        }
      }
    }

    .forum-nav-thread {
      border-bottom: 1px solid $comment-background-color;
      background-color: $forum-thread-background-color;
    }

    .forum-nav-thread.never-read {
      background-color: $pure-white;
    }

    .forum-nav-refine-bar {
      padding: 5px;
      background: $mckinsey-academy-alt-blue none;
      color: $pure-white;

      select {
        color: $pure-white;
        // same svg as static/scss/foundation/components/_forms.scss @mixin form-select, but white - keep in sync
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIiBzdHlsZT0iZmlsbDojZmZmZmZmIi8+PC9zdmc+);

        option {
          color: $pure-black;
          background: $pure-white;
        }
      }
    }

    .forum-nav-thread-list-wrapper {
      .search-alert.search-by-user {
          display: none;
      }
    }

    .forum-nav-thread-list {
      .posted-details, .thread-preview-body, .post-context  {
        display: none;
      }

      .forum-nav-thread-link {
        padding: 4px !important;
      }

      .forum-nav-thread-wrapper-0 {
        align-self: auto !important;
      }

      .forum-nav-thread-wrapper-1 {
        max-width: none !important;
        -ms-overflow-y: hidden;
      }

      .forum-nav-thread-wrapper-2 {
        min-width: inherit !important;
      }
    }
  }

  .new-post-article form.forum-new-post-form,
  .thread-content-wrapper form.edit-post-form {
    min-width: 500px;

    .field-label {
      width: 100%;
      line-height: inherit;
    }

    .field-help {
      display: block;
      padding-left: 0;
      width: 100%;
    }
  }

  .discussion-response, .comments {
    div.edit-post-form {
      background: none;
      padding: 0;
      min-width: 400px;
    }
  }

  .discussion-body {
    /* ask-ta is absolutely positioned so it calculates position and size against first absolute or relative positioned parent */
    position: relative;

    /* Ask a TA */
    .ask-ta {
      padding: 10px;
      background-color: $pure-white;
      margin-left: 7px;

      .group-member {

        .avatar {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          float: left;
        }

        .person-info {
          margin-left: 50px;
        }

        .person-title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

    }

    .thread-main-wrapper {
      box-shadow: 0 1px 3px $thread-main-wrapper-shadow-color;
    }

    .add-response {
      display: block;
      margin-top: 20px;
      padding: 0 30px;
    }

    .user-label-staff {
      font-weight: 700;
      margin-top: -2px;
    }

    h1 {
      color: $mckinsey-academy-turquoise;
      font-weight: 700;
    }

    .responses {
      margin-bottom: 1.42857rem;
    }
    #main{
      .discussion-article{
        padding: 15px;
        .home-helpgrid{
          margin-right: 0;
        }
      }
    }
  }

  .comments {
    .response-body {
      width: 80%;
    }

    .comment-actions-list {
      width: 19%;
    }
  }

  .comments > li {
    border-top: 1px solid $comment-list-border-color;
  }

  .response-pagination {
    padding: 10px 30px;
    background-color: $response-pagination-color;
    box-shadow: 0 1px 1px $comment-list-border-color inset, 0 -1px 1px $comment-list-border-color inset;
  }

  // Fix the spacing of the "Add a response" header
  .discussion-reply-new {
    padding: 20px 30px;

    h4 {
      clear: both;
      padding-top: 1.25rem;
    }
  }

  /* Buttons *****************************************************************/

  .new-post-btn,
  .new-post-article .new-post-form .submit,
  .discussion-submit-post,
  .add-response .add-response-btn,
  .comments .comment-form .discussion-submit-comment,
  .discussion-article .post-update,
  .discussion-article .post-cancel,
  .forum-new-post-form .submit,
  .forum-new-post-form .cancel {
    border-color: transparent;
    background-image: none;
    text-shadow: none;
    line-height: 1;
    height: 35px;
    width: auto;
    @include button($button-sml, $primary-color, true);

    &:hover {
      background-color: $mckinsey-academy-blue-gray;
    }
  }

  .add-response-btn::first-letter {
    text-transform: lowercase !important;
  }

  .post-type-input:checked+.post-type-label {
    background-color: $forum-nav-link-active;
    color: $post-input-label-checked-color;
  }

  // Hide the bookmark button
  .bookmark-button-wrapper {
    display: none;
  }

  // Remove all box shadows from buttons
  button, .button {
    box-shadow: none;
  }

  a.new-post-btn {
    &, &:hover, &:visited, &:active {
      margin-right: 2em;
    }
  }

  /* Discussion column */

  .discussion-column {
    border: 1px solid #ddd;
    box-shadow: none;
    padding-left: 0;

    .discussion-post {
      padding: 40px 40px 20px 40px;
    }

    .response-count {
      margin-top: 15px;
      padding: 0 30px;
      color: $response-count-color;
      font-size: 14px;
    }

    .field-input {
      select {
        width: 90%;
        -webkit-appearance: menulist !important;
      }
    }

    input.field-input {
      background: $pure-white;
    }

    button.cancel {
      &, &:hover, &:visited, &:active {
        float: left;
        margin: 0px !important;
      }
    }

    .new-post-article {
      margin-top: 0px;
    }
  }

  .wrap-instructor-info {
    display: none;
  }

  .loading-animation {
    position: relative;
  }

  .blank-slate {
    padding: 10px 10px 10px;
  }

  .discussion-article .label {
    background-color: transparent;
    color: #000;
    text-align: left;

    &.label-settings {
      color: transparent;
    }
    &.label-settings:before {
      content: 'How to use discussions:';
      font-size: 14px;
      color: black;
      position: absolute;
      display: block;
    }
  }

  .action-button,
  .action-list-item {
    &:hover, &:active, &:focus {
      background-color: $pure-white;
    }
  }

  .action-list-item {
    width: 100%;
  }

  .discussion-article {
    min-height: 500px;

    .label-settings {
      padding-top: 0px;
    }
  }

  .thread-wrapper {
    .response-btn-count-wrapper {
      margin: 0px;
    }
  }

  .forum-nav {
    position: relative !important;
    overflow: auto;
    height: 100% !important;

    @media only screen and (max-width: 767px){
      margin-bottom: 20px;
      height: auto !important;
      max-height: 300px;
    }
    .forum-nav-browse-menu{
      overflow: auto;
      @media only screen and (max-width: 767px){
        height: auto !important;
      }
    }
  }
}

.group-visibility-label{
  margin: 0 !important;
}

.discussion-reply-new .add-response {
  display: block !important;
}

.forum-new-post-form .thread-title {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #373939;
}

.post-type-label .field-input.input-radio{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.post-type-label .field-input-label{
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px 20px;
  display: block;
}

.post-type-label .field-input.input-radio:checked + .field-input-label{
  background: #dce9f2;
  border-color: #dce9f2;
}

.field-label .field-input-label{
  color: #000000 !important;
}

.wmd-panel .wmd-input{
  box-shadow: 0 2px #c7c7c7;
}

.discussion-module-title {
  color: $mckinsey-academy-turquoise;
  margin-bottom: 10px !important;
}

.inline-discussion {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  a, a:visited  {
    font-weight: normal;
    line-height: normal;
  }

  .forum-nav-thread-list  {
    min-height: inherit !important;

    .forum-nav-thread-wrapper-0 {
      align-self: auto !important;
      .icon-question, .icon-comments, .icon-ok {
        color: $mckinsey-academy-discussion-icon-gray;
      }
    }

    .forum-nav-thread-wrapper-1 {
      padding-left: 5px;
      -ms-overflow-y: hidden;
    }

    .post-label-by-staff {
      // need more than css to swap "Staff" for "McKinsey TA" there
      // TODO: get more power
      display: none;
    }

    .forum-nav-thread-title {
      color: $mckinsey-academy-turquoise;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 12px;
    }

    .posted-details {
      color: $mckinsey-dark-grey;

      .username {
        font-weight: 600;
        font-size: 1rem;
      }
    }

    .thread-preview-body {
      color: $mckinsey-academy-black;
      font-size: 1rem;
      margin-top: 16px;
    }

    .forum-nav-thread-labels {
      margin-top: 20px;
    }

    .group-visibility-label {
      font-size: 0.9rem;
      margin-top: 5px;
      font-style: italic;
      color: $mckinsey-academy-black !important;
    }

    .forum-nav-thread-comments-count {
      background-image: none;
      background-color: $comment-background-color;
      &:after {
        z-index: auto;
        background: none;
        border-color: transparent $comment-background-color transparent transparent
      }
    }

    .forum-nav-thread-votes-count {
      background-color: #D4D4D4;
    }
  }

  .discussion-article {
    .post-title {
      color: $mckinsey-academy-turquoise;
      font-weight: 700;
      line-height: 1.2em;
    }
  }
}

// Disable code and image buttons on Markdown Editor
.wmd-panel .wmd-button-row {
  .wmd-button:nth-child(6), .wmd-button:nth-child(7) {
    display: none;
  }

  .wmd-spacer2 {
    left: 125px !important;
  }

  .wmd-spacer3 {
    left: 250px !important;
  }

  $pos_left: 25;
  //move numbered, bullet list, heading, horizontal rule, undo and redo buttons
  $button-list: 9 10 11 12 14 15;
  @each $button_idx in $button-list {
    .wmd-button:nth-child(#{$button_idx}) {
      left: unquote(($pos_left * ($button_idx - 3)) + 'px ' + !important);
    }
  }
}

.wmd-panel .wmd-preview-container {
  margin: 0 !important;
}

.discussion-body .reply-post-control, .discussion-module .reply-post-control {
  margin-top: 20px;
}

#course-discussion[data-useragent*='MSIE 10.0'] {
  .forum-nav {
    float: left;
  }

  #main {
    float: right;
  }

  .forum-nav-thread-link {
    display: -ms-flexbox;
  }

  .forum-nav-thread-wrapper-1{
    -ms-flex-positive: 1;
    -ms-flex: 1;
    -ms-overflow-y: hidden;
  }

}

.lesson-content[data-useragent*='MSIE 10.0'] {
  .inline-discussion {

    .forum-nav-thread-link {
      display: -ms-flexbox;
    }

  }
}

.lesson-content[data-useragent*='MSIE 9.0'] {
  .inline-discussion {
    .forum-nav-thread-link {
      display: block !important;
      width: 100%;
    }
  }
}

.lesson-content[data-useragent*='MSIE 10.0'], .lesson-content[data-useragent*='MSIE 9.0'] {
  .inline-discussion {

    .forum-nav-thread-wrapper-1 {
      min-width: calc(100% - 125px);
    }

    .forum-nav-thread-wrapper-2 {
      min-width: 50px;
    }
  }
}

/* breadcrumbs */
.page-header {
  .page-header-main {
    max-width: 55% !important;
  }
}
