/* See ../lesson-content/discussion.scss for rules shared with lession discussion */
#course-discussion {
  .discussion-course {
    margin-top: 10px;
  }
}

#course-discussion .discussion-content {
  .new-post-article {
    padding-bottom: 50px;
  }

  fieldset { margin:0; padding: 0; border:0; }

  .forum-nav {
    select {
      margin: 0;
      padding: 0;
      height: auto;
      line-height: normal;

      &.forum-nav-filter-main-control {
        width: rem-calc(90);
      }
    }

    input {
      margin: 0;
      padding: 0;

      &.forum-nav-search-input {
        font-size: rem-calc(10) !important;
      }
    }

    .forum-nav-browse-current {
      font-size: rem-calc(10);
    }

    .forum-nav-thread-list  {
      .forum-nav-thread-wrapper-1 {
        padding-left: 5px;
      }

      .forum-nav-thread-title {
        color: #000;
      }

      .forum-nav-thread-comments-count {
        background-image: none;
      }

      .forum-nav-thread-votes-count {
        background-color: #D4D4D4;
      }
    }
  }

  .new-post-article form.forum-new-post-form, .thread-content-wrapper form.edit-post-form {
    min-width: 500px;

    .field-label {
      width: 100%
    }

    .field-help {
      display: block;
      padding-left: 0;
      width: 100%;
    }
  }

  .discussion-response, .comments {
    div.edit-post-form {
      background: none;
      padding: 0;
      min-width: 400px;
    }
  }

  .discussion-body {
    /* ask-ta is absolutely positioned so it calculates position and size against first absolute or relative positioned parent */
    position: relative;

    /* Ask a TA */
    .ask-ta {

      height: 80px;
      padding: 10px;
      background-color: #ffffff;
      border: 1px solid #aaa;
      border-bottom: none;
      position: absolute;
      top: -78px;
      width: 31%;

      .group-member {
        padding-bottom: 10px;
        height: 50px;

        .avatar {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          float: left;
        }

        .person-info {
          margin-left: 50px;
        }
      }

    }
  }

  .comments {
    .response-body {
      width: 80%;
    }

    .comment-actions-list {
      width: 19%;
    }
  }

  /* Buttons *****************************************************************/

  .new-post-btn,
  .new-post-article .new-post-form .submit,
  .discussion-submit-post,
  .add-response .add-response-btn,
  .comments .comment-form .discussion-submit-comment,
  .discussion-article .post-update,
  .discussion-article .post-cancel,
  .forum-new-post-form .submit,
  .forum-new-post-form .cancel {
    border-color: transparent;
    background-image: none;
    text-shadow: none;
    line-height: 1;
    height: 35px;
    width: auto;
    @include button($button-sml, $primary-color, true);

    &:hover {
      background-color: $mckinsey-academy-blue-gray;
    }
  }

  a.new-post-btn {
    &, &:hover, &:visited, &:active {
      margin-right: 2em;
    }
  }

  /* Discussion column */

  .discussion-column {
    border-color: #ddd;
    box-shadow: none;
  }

  .wrap-instructor-info {
    display: none;
  }

  .loading-animation {
    position: relative;
  }

  .blank-slate {
    padding: 10px 10px 10px;
  }

  .discussion-article .label {
    background-color: transparent;
    color: #000;
    text-align: left;

    &.label-settings {
      color: transparent;
    }
    &.label-settings:before {
      content: 'How to use discussions:';
      font-size: 14px;
      color: black;
      position: absolute;
      display: block;
    }
  }

  .discussion-article {
    min-height: 500px;

    .label-settings {
      padding-top: 0px;
    }
  }

  /* New Post Article */

  .new-post-article {
    margin-bottom: 10px;

    .left-column {
      width: 35%;
      padding-top: 0;
    }

    .right-column {
      width: 65%;
      padding-top: 0;
    }

    .topic-dropdown-label {
        color: $mckinsey-academy-black;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1em;
    }
  }

}
