#course-group-work {
  .lesson-menu {
    margin: 0 15px;

    li {
      &:first-child {
        border-right: 1px solid $mckinsey-grey;
        padding: 0 10px 0 0;
      }

      a.selected {
        color: $mckinsey-dark-grey;
      }
    }
  }

  .lesson-title {
    @include font-spec(10, semibold, 12);
    color: $mckinsey-dark-grey;
    padding-top: 15px;

    .lesson-index {
      font-weight: bold;
    }

    .page-name {
      border-left: 1px solid $mckinsey-grey;
      padding-left: 5px;
      margin-left: 3px;
    }
  }

  .lesson-pager { width: 750px; }

  .lesson-content {
    h1 { padding-bottom: 10px; }
  }

  h4 {
    text-transform: uppercase;
    margin-top: 15px;
  }

  .highlight {
    color: $mckinsey-orange;
  }

  nav { display: none; }

  .sidebar {
    margin-top: 20px;
    border-left: 1px solid $mckinsey-grey;
    .email-team {
      float: right;
      margin: 10px 0 10px 5px;
    }
  }

  .group-member {
    padding-bottom: 10px;
    height: 50px;
    .avatar {
      width: 40px;
      height: 40px;
      float: left;
    }

    .person-info { margin-left: 50px; }
  }

  .activity_section {
    min-height: 400px;
  }

  button{
    @include button($button-sml, $primary-color, true);
    &.submit { float: right; }
  }
}
