.course-page {
  padding: 20px;
  background-color: $pure-white;
  @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);

  .course-tabs {
    margin: 0;
    list-style-type: none;
    @include clearfix;

    + hr { margin: 15px 0; }

    li {
      float: left;
      margin-right: 10px;
    }
  }
}

@import './overview';
@import './lessons';
@import './news';
@import './resources';
