.course-page {
  margin-top: 30px;
  padding: 20px;
  background-color: $pure-white;
  z-index: 2;
  @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);

  .error{
    color: $mckinsey-red;
    text-align: center;
    width: 100%;
  }

  .lesson-menu {
    margin: 0 0 20px;
    padding-bottom: 10px;
    list-style-type: none;
    border-bottom: 1px solid $almost-white;
    @include clearfix;

    li {
      float: left;
      padding: 0 10px;
      border-right: 1px solid $almost-white;
      @include font-spec(10, bold, 12);
      &:first-child,
      &:last-child {
        border-right: none;
      }

      &:first-child { padding: 0; }
      &.selected { color: $mckinsey-orange; }

      a {
        @include font-spec(10, bold, 12);
      }
    }
  }
}

#course_discussion_modal,
#beta_visualizations {
  z-index: 9999999;

  .screencap {
    margin-top: 20px;
    text-align: center;
  }
}

#course-lessons,
#course-group-work,
#course-cohort,
#course-discussion,
#course-news,
#course-overview,
#course-progress,
#course-resources,
#course-syllabus{
  .global-help,
  .global-help:visited {
    z-index: 98;
    color: $mckinsey-academy-bright-gray;
    position: absolute;
    top: 10px;
    @include font-spec(20);
  }
}

@import './overview';
@import './lessons';
@import './news';
@import './resources';
@import './cohort';
@import './syllabus';
@import './progress';
@import './progress-v2';
@import './group-work';
@import './discussion';
@import './learner_dashboard';
