.dash-programs{
	background: white;
	height: 610px;
	width: 600px;
	padding-left: 10px;
	padding-right: 0;

	h3 {
		width: 565px;
		padding-top: 10px;
		font-weight: bold;
		font-size: 24px;
		border-bottom: 1px solid #e5ebee;
	}

	p {
		width: 565px;
		font-size: 14px;
		height: 100px
	}

	.row{
		height: 440px;
		width: 585px;
		margin: 0px;
		overflow: auto;

		.learner-program{
			width: 180px;
			height: 140px;
		    margin-bottom: 10px;
	    	margin-right: 10px;
		    padding: 0px;
		    position: relative;
		    float: left;

		    .panel-program{
				border: none;
				height: 140px;
				margin-bottom: 0px;
			}
		}
	}
}

.dash-widget{
	height: 535px;
	width: 300px;
	margin-top: 46px;
	border-top: 1px solid black;
	padding-left: 0px;
	
	.learner-info{
		margin: 15px 0;
		h5 {
			font-weight: bold;
			font-size: 10px;
			margin: 5px 0px;
			.reg {
				font-weight: normal;
			}
		}
		p{
			font-size: 18px;
		}
	}
}



