#learner-dashboard-header{
    background-color: white;
    .main-nav {
        background-color: white;
        background-image: none;
        .header-row{
            height: 91px;
            .header-logo {
                margin-top: 5px;
                height: 80px;
                width: 350px;
            }
            .header-padding{
                padding-right: 0px;
                z-index: inherit;
                .header-path {
                    padding: 12px 10px;
                    .header-link {
                        font-size: 22px;
                        margin-left: 18px;
                    }
                    .header-link:hover {
                        color: #b1c2cc;
                    }
                    a:visited{
                        color: #b1c2cc;
                    }
                    &.right{
                        .program-menu-content{
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

#home-courses{
    &.learner-dashboard-enabled{
        padding-top: 20px;
    }
}

footer.ld-footer-main{
    margin-top: -80px;
    margin-bottom: 20px;
}

body.learner-dashboard-view{
    background-attachment: fixed;
    min-width: 960px;
    [data-learner-dashboard-id="267"] {
        &.learner-dashboard-logo {
            display: none;
        }
        .large-4 {
            display: none !important;
        }
        .large-8.dash-programs {
            width: 940px;
            height: 762px;
            h3 {
                width: 100%;
            }
            p {
                width: 100%;
            }
            .row {
                width: 925px;
                height: 600px;
                .learner-program {
                    width: 217px;
                }
            }
        }
    }

}

.dash-programs{
    background: white;
    height: 632px;
    width: 600px;
    margin-left: 20px;

    h3 {
        width: 565px;
        padding-top: 10px;
        font-weight: bold;
        font-size: 22px;
        border-bottom: 1px solid $mckinsey-academy-bright-gray;
    }

    p {
        width: 587px;
        font-size: 14px;
        height: 100px;
        overflow: auto;
        margin-bottom: 10px;
    }

    .row{
        height: 450px;
        width: 587px;
        margin: 0px;
        overflow: auto;

        .learner-program{
            width: 180px;
            height: 140px;
            margin-bottom: 10px;
            margin-right: 10px;
            padding: 0px;
            position: relative;
            float: left;

            .bookmark{
                position: absolute;
                color: orange;
                margin-left: 150px;
                margin-top: -4px;
                z-index:1;
            }

            .panel-program{
                border: 1px solid $mckinsey-academy-bright-gray;
                padding: 10px;
                height: 140px;
                margin-bottom: 0px;

                .sub-1{
                    font-size: 12px;
                }

                blockquote{
                    word-wrap: break-word;
                    overflow: auto;
                    height: 70px;
                    margin: 15px 0px 0px;
                }
            }
            .panel-program:hover{
                opacity: 0.8 ;
                filter: alpha(opacity=80);
            }
        }
    }
}

.dash-widget{
    max-height: 535px;
    overflow: auto;
    width: 300px;
    margin-top: 46px;
    border-top: 1px solid $mckinsey-academy-bright-gray;
    border-bottom: 1px solid $mckinsey-academy-bright-gray;
    padding: 10px 0px;
    margin-right: 20px;

    .learner-info{
        margin: 15px 0;
        word-wrap: break-word;
        h5 {
            font-weight: bold;
            font-size: 10px;
            margin: 5px 0px;
            .reg {
                font-weight: normal;
            }
            .author-font{
                font-size: 10px;
            }
        }
        p{
            font-size: 18px;
        }
        p:hover{
            color: #b1c2cc !important;
        }
        .title-font{
            font-size: 18px;
        }
    }
}

.tile-input {
    margin-bottom: 16px;
}

.learner-dashboard-logo{
    background-image: url('/static/image/McKA_logo.png');
    position: fixed;
    width: 200px;
    height:21px;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}

#background-full-calendar{
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0,0,0,0.4);
}

#over-full-calendar{
    width: 100%;
    height: 290px;
    position: absolute;
    z-index: 4;

    .over-calendar{
        width: 80px;
        height: 290px;
        position: absolute;
        background-color: white;
        padding-top: 25px;
        background-color:white;
        z-index:221;

            .arrow-calendar {
                margin-top: 130px;
                font-size: 50px;
                font-weight: bold;
                color: #4789c4;
            }

            #previous-calendar {
                float: left;
                margin-left: 30px;
            }

            #next-calendar {
                float: right;
                margin-right: 30px;
            }
    }

    #over-calendar-right{
        margin-left: 1020px;
    }

    #row-full-calendar {
        height: 340px;
        background: white;

        .row {
            width: 1100px;
            max-width: 1100px;
            background: white;
        }

        #under-calendar{
            width: 945px;
            height: 340px;
            position: absolute;
            background-color: white;
            padding-top: 25px;
            margin-left: 80px;

            #close-calendar {
                float: right;
                margin-top: -20px;
                margin-right: 10px;
                color: #868685;
                font-size: 20px;
            }

            #close-calendar:hover {
                opacity: 0.6;
                filter: alpha(opacity=60); /* internet explorer */
                cursor: pointer;
            }

            .tab-month {
                width: 232px;
                float: left;
                margin: 0 4px 0 0;
                list-style: none;

                li {
                    width: 116px;
                    height: 52px;
                }

                .head-month {
                    display: table;
                    width: 100%;
                    height: 25px;
                    background-color: #f2f1f1;

                    span {
                        text-transform: uppercase;
                        font-family: "Open Sans", sans-serif;
                        font-weight: bold;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        border: 1px solid silver;
                        border-style: dotted;
                        font-size: 12px;
                    }
                }

                .active {
                    background-color: #e37222;
                    color: white;
                }

                .first {
                    border: 0 solid gainsboro;
                    border-width: 0 0 0 1px;
                    float: left;
                    border-style: dotted;
                    border-bottom-width: 1px;
                }

                .second {
                    float: right;
                    border: 0 solid gainsboro;
                    border-width: 0 1px 0 0;
                    border-style: dotted;
                    border-bottom-width: 1px;
                }
            }

            .legend-list {
                float: left;
                margin: 10px 15px 0 0;
                font-size: 10px;

                li {
                    font-family: 'Open Sans';
                    font-style: italic;
                    color: #cccccc;
                    display: inline;
                    margin-right: 15px;

                    .circle {
                        border-radius: 50%;
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                    }
                }

                .light-gray-legend {
                    i{
                        color: #e0e0e0;
                    }
                }

                .gray-legend {
                    i{
                        color: #cccccc;
                    }
                }

                .light-green-legend {
                    i{
                        color: #b6d332;
                    }
                }

                .green-legend {
                    i{
                        color: #629b2b;
                    }
                }

                .red-legend {
                    i{
                        color: #cd202c;
                    }
                }

                .teal-legend {
                    i{
                        color: #66a5b5;
                    }
                }
            }
        }
    }
}

.inter-row {
    border-bottom-width: 0 !important;
}

#highcharts-container {
    position: absolute;
    z-index: 200;
    margin-top: 40px;
    width: 1100px;
    height: 283px;

    .highcharts-tooltip {

        span {
            font-family: "Open Sans", sans-serif !important;
            width: 120px;
            height: 135px;
            background-color: white;
            overflow:auto;
            white-space: normal !important;
            z-index: 1;
        }
    }

    .highcharts-data-labels {
        span {
            font-family: FontAwesome, sans-serif !important;
            font-weight: normal !important;
        }
    }
}

svg text {
    font-family: FontAwesome, sans-serif;
}

.not-published {
    cursor: default;
    opacity: 0.4;
}

// Program menu on learner dashboard
.program-menu-content {
  color: $mckinsey-blue;
  display: none;
  &.open{
    display: block;
  }

  position: absolute !important;
  left: 0 !important;
  top: $program-bar-height !important;
  left: auto !important;
  z-index: 10000;
  width: 275px;
  background-color: $pure-white;
  @include drop-shadow($mckinsey-academy-black, 0.2, -3px, 3px, 4px, 0px);

  .program-title {
    margin: 12px 20px 0;
    @include font-spec(10, bold);

    span{
          text-transform: uppercase;
      }
  }

  .courses {
    max-height: rem-calc(350);
    overflow: auto;
  }

  a.course-name, .course-name {
    @include font-spec(12, bold);
    padding: 5px 0;
    color: $pure-black !important;
    display: block;
    line-height: rem-calc(14);

    &.unavailable {
      color: $mckinsey-dark-grey !important;
    }

    &.current {
      color: $mckinsey-orange !important;
    }
  }

  a.course-name {
    &:hover{
      color: $mckinsey-academy-blue-gray !important;
    }
  }

  .status {
    @include font-spec(10, semibold);
    font-style: italic;
    color: $mckinsey-dark-grey;

    &.complete{
      color: $mckinsey-green;
    }
  }

  ul {
    margin: 0 12px;
    list-style: none;
    li{
      padding: 0 8px 8px;
      border-top: 1px solid $almost-white;
      &:first-child{
        border-top: none;
        margin-top: 0;
      }
    }
  }
  .indent {
    border-top: 1px solid;
    border-color: $mckinsey-grey;
    margin-top: 10px;
    padding-left: 15px;
  }
}
