#course-lessons, #course-group-work {
  .lesson-menu { margin-bottom: 10px; }

  .lesson-progress {
    margin-bottom: 45px;
  }

  .lesson-module-status {
    color: $mckinsey-grey;
    display: inline-block;
    font-family: FontAwesome;
    @include font-spec(10);

    &:before { content: "\f10c"; }
    &.complete { color: $mckinsey-green; }

    &.complete,
    &.current {
      &:before { content: "\f111"; }
    }

    &:hover {
      color: $mckinsey-academy-alt-blue;
      &.current {
        color: $mckinsey-grey;
      }
    }
  }

  .lesson-name {
    padding-right: 8px;
  }

  .page-desc { padding-left: 8px; }

  .lesson-pager {
    text-align: center;
    padding: rem-calc(40) 0 rem-calc(60);

    .page-to {
      color: $pure-white;
      position: relative;
      margin: 0 10px;
      border-radius: 50%;
      display: inline-block;
      background-color: #dddddd;
      @include square-size(rem-calc(50));
      @include font-spec(30);
      @include square-size(50px);
      @include drop-shadow($mckinsey-academy-black, 0.2, 3px, 3px, 4px, 0px);
      &[href] {
        background-color: $mckinsey-academy-alt-blue;
        .go-to-next{
          @include font-spec(14,semibold,16);
          color: $mckinsey-academy-alt-blue;
          width: 200px;
          position: absolute;
          left: 55px;
          bottom: 15px;
          text-align: left;
          &:hover{
            color: $mckinsey-academy-blue-gray;
          }
        }
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -9.5px;
      }
    }
  }
}
