#course-lessons, #course-group-work {
  .lesson-menu { margin-bottom: 10px; }

  .lesson-progress {
    margin-bottom: 45px;
  }

  .lesson-module-status {
    color: $mckinsey-grey;
    display: inline-block;
    font-family: FontAwesome;
    @include font-spec(10);

    &:before { content: "\f10c"; }
    &.complete { color: $mckinsey-green; }

    &.complete,
    &.current {
      &:before { content: "\f111"; }
    }

    &:hover {
      color: $mckinsey-academy-alt-blue;
      &.current {
        color: $mckinsey-grey;
      }
    }
  }
 

  .lesson-name {
    padding-right: 8px;
  }

  .page-desc { padding-left: 8px; }

  .lesson-pager {
    text-align: center;
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(60);

    .page-to{
      margin: 0 10px;
      @include font-spec(30);
      @include square-size(50px);
      @include drop-shadow($mckinsey-academy-black, 0.2, 3px, 3px, 4px, 0px);
      border-radius: 50%;
      display: inline-block;
      background-color: $mckinsey-academy-alt-blue;
      color: $pure-white;
      padding: 10px 8px 8px;
      &.previous{ padding-right: 12px; }
      &.next{ padding-left: 10px; }
      &.disabled{
        background-color: #dddddd;
      }
    }
    .go-to-next{
      display:none;
      width:130px;
    }
    .go-to-prev{
      display:none;
      width:160px;
    }
    a.pager-link.next.show{
      .page-to.previous{
        margin-left:10px;
      }
      .page-to.next{
        left: 134px;
        margin-left: -124px;
        position: relative;
      }
      .go-to-next{
        display: inline-block; 
        left: 125px;
        position: relative;
      }
    }
    a.pager-link.prev.show{
      .go-to-prev{
        display: inline-block;
        margin-right: -164px;
        position: relative;
        right: 160px;
      }
    }
  }
}
