#course-progress-v2 {
  table {
    margin: rem-calc(20) 0;
    width: 100%;
    border: none;

    &.user-progress {
      margin-bottom: 0;

      + table {
        margin-top: 0;

        tbody {
          tr:last-child {
            td.empty {
              border-bottom: 1px solid $border-line;
            }
          }

          td {
            vertical-align: top;

            &.week {
              color: $mckinsey-dark-grey;
              font-style: italic;
              text-transform: uppercase;
              @include font-spec(12, 600);

              span {
                color: $mckinsey-academy-black;
                font-style: normal;
              }
            }

            &.empty {
              border: none;
            }

            .lesson-with-list {
              position: relative;
              margin-bottom: rem-calc(10);
              max-width: rem-calc(335);

              a[data-reveal-id] {
                position: absolute;
                top: 50%;
                margin-top: -6px;
              }

              span {
                color: $mckinsey-orange;
                font-weight: 600;
              }
            }
          }
        }
      }

      thead {
        th {
          &:last-child { width: 78%; }
        }
      }

      tbody {
        tr {
          td {
            &.visual { border-right: none; }
          }
        }
      }
    }

    thead {
      background: $mckinsey-academy-table-head;

      th {
        color: $mckinsey-dark-grey;
        padding: 0;
        text-indent: 12px;
        text-transform: uppercase;
        border-right: 1px solid $border-line;
        @include font-spec(12, 600, 20);
        &:first-child { width: 22% }

        &:last-child {
          width: 33%;
        }
      }

      &.col-2 {
        th:first-child { width: auto; }
      }

      &.no-group-work {
        th:last-child { width: auto; }
      }
    }

    tbody {
      tr {
        &:nth-of-type(even) {
          background: none;
        }

        td {
          color: $mckinsey-dark-grey;
          padding: rem-calc(18) rem-calc(12);
          border-bottom: 1px solid $border-line;
          @include font-spec(12, normal, 14);

          &.visual {
            text-indent: 0;
            text-align: center;
            vertical-align: top;

            section {
              display: inline-block;
            }
          }

          &.number {
            color: $mckinsey-academy-black;
            @include font-spec(18, 700);
            &.zero { color: $mckinsey-grey; }
          }

          span {
            color: $mckinsey-academy-black;
            font-weight: 600;
          }

          a, a:visited {
            @include font-spec(12, 700);
          }

          .course-proficiency,
          .course-engagement,
          .course-progress {
            .zero,
            .sub-2,
            .label-4,
            .info,
            .triangle {
              display: none;
            }
          }

          .course-progress {
            width: 100%;
            padding: 0 25px;

            .visualization {
              margin: 0;
              width: 92%;
            }

            .total {
              color: $pure-black;
              left: auto !important;
              top: 0;
              text-align: left;
              width: rem-calc(50);
              right: rem-calc(-85);
              @include font-spec(18, 700);
            }
          }
        }
      }
    }
    th , td{
      text-align: initial;
    }
  }

  .legend-status {
    margin-bottom: rem-calc(16);

    div {
      display: inline-block;
      vertical-align: top;
      margin-right: rem-calc(12);
    }
  }
  .course-page{
    min-width: 580px;
    overflow: auto;
    float: none;
  }
}
