#course-resources {
  .lesson-index {
    margin: 0 0 20px;
    padding-bottom: 10px;
    list-style-type: none;
    border-bottom: 1px solid $almost-white;
    @include clearfix;

    li {
      float: left;
      padding: 0 10px;
      border-right: 1px solid $almost-white;
      @include font-spec(10, bold, 12);
      &:first-child,
      &:last-child {
        border-right: none;
      }

      &:first-child { padding: 0; }

      a {
        @include font-spec(10, bold, 12);
      }
    }
  }

  h1 {
    margin-bottom: 25px;
  }

  .resource {
    margin-bottom: 25px;
    line-height: 25px;
    &:last-child { margin-bottom: 0; }
  }
}
