
@mixin primary-button ($isImportant:null) {
    color: $white $isImportant;
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    background-color: var(--primary) $isImportant;
    height: 40px !important;
    box-shadow: none;
}

@mixin primary-button-hover ($isImportant:null) {
    color: $white $isImportant;
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    background-color: $dark-blue !important;
    height: 40px !important;
    box-shadow: none;

}

@mixin primary-button-large ($isImportant:null) {
    @include primary-button($isImportant);
    height: 50px !important;
    font-size: 1rem !important;
    padding: 3px 30px !important;
    box-shadow: none;

}

@mixin primary-button-hover-large ($isImportant:null) {
    @include primary-button-hover($isImportant);
    height: 50px !important;
    padding: 3px 30px !important;
    font-size: 1rem !important;
    box-shadow: none;
}

@mixin secondary-button ($isImportant:null) {
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    border: solid 1px var(--primary) $isImportant;
    background-color: $white $isImportant;
    color: var(--primary) $isImportant;
    height: 40px !important;
}

@mixin secondary-button-hover ($isImportant:null) {
    color: $dark-blue !important;
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border: solid 1px $dark-blue;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    background-color: $white !important;
    height: 40px !important;
}

@mixin secondary-button-large ($isImportant:null) {
    @include secondary-button($isImportant);
    height: 50px !important;
    padding: 3px 30px $isImportant;
    font-size: 1rem $isImportant;
}

@mixin secondary-button-hover-large ($isImportant:null) {
    @include secondary-button-hover($isImportant);
    height: 50px !important;
    padding: 3px 30px $isImportant;
    font-size: 1rem $isImportant;
}