@mixin primary-button ($isImportant:null) {
    color: $white $isImportant;
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    height: 40px !important;
    box-shadow: none;
    border:0 $isImportant;
    @include primary-theme-background-color(!important);
}

@mixin primary-button-hover ($isImportant:null) {
    color: $white $isImportant;
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    background-color: $dark-blue !important;
    height: 40px !important;
    box-shadow: none;
    border:0 $isImportant;

}

@mixin primary-button-large ($isImportant:null) {
    @include primary-button($isImportant);
    height: 50px !important;
    font-size: 1rem !important;
    padding: 3px 30px !important;
    box-shadow: none;
    border:0 $isImportant;

}

@mixin primary-button-hover-large ($isImportant:null) {
    @include primary-button-hover($isImportant);
    height: 50px !important;
    padding: 3px 30px !important;
    font-size: 1rem !important;
    box-shadow: none;
    border:0 $isImportant;
}

@mixin secondary-button ($isImportant:null) {
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    background-color: $white $isImportant;
    height: 40px !important;
    @include primary-theme-border-color(!important);
    @include primary-theme-content-color(!important);
}

@mixin secondary-button-hover ($isImportant:null) {
    color: $dark-blue !important;
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border: solid 1px $dark-blue $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    background-color: $white !important;
    height: 40px !important;
}

@mixin secondary-button-large ($isImportant:null) {
    @include secondary-button($isImportant);
    height: 50px !important;
    padding: 3px 30px $isImportant;
    font-size: 1rem $isImportant;
}

@mixin secondary-button-hover-large ($isImportant:null) {
    @include secondary-button-hover($isImportant);
    height: 50px !important;
    padding: 3px 30px $isImportant;
    font-size: 1rem $isImportant;
}

//tertiary button .btn-tertiary
@mixin tertiary-button ($isImportant:null) {
    background: transparent !important;
    border: 0 !important;
    @include primary-theme-content-color(!important);
}

@mixin tertiary-button-hover ($isImportant:null) {
    background-color: $ash-hard  !important;
    color: $dark-blue !important;
    border: 0 !important;
}