@mixin primary-button ($isImportant:null) {
    color: $white $isImportant;
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    height: 40px !important;
    border:0 $isImportant;
    @include primary-theme-background-color(!important);
    text-decoration: none;
}

@mixin primary-button-hover ($isImportant:null) {
    color: $white $isImportant;
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    @include primary-theme-background-color-hover(!important);
    height: 40px !important;
    border:0 $isImportant;
    text-decoration: none;
}

@mixin primary-button-large ($isImportant:null) {
    @include primary-button($isImportant);
    height: 50px !important;
    font-size: 1rem !important;
    padding: 3px 30px !important;
}

@mixin primary-button-hover-large ($isImportant:null) {
    @include primary-button-hover($isImportant);
    height: 50px !important;
    padding: 3px 30px !important;
    font-size: 1rem !important;
}

@mixin secondary-button ($isImportant:null) {
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    background-color: $white $isImportant;
    height: 40px !important;
    border: 1px solid;
    @include primary-theme-border-color(!important);
    @include primary-theme-content-color(!important);
    text-decoration: none;
    box-shadow: none;
}

@mixin secondary-button-hover ($isImportant:null) {
    border: 1px solid;
    @include primary-theme-border-color-hover(!important);
    @include primary-theme-content-color-hover(!important);
    font-size: 12px $isImportant;
    text-transform: uppercase $isImportant;
    border-radius: 2px $isImportant;
    padding: 3px 15px $isImportant;
    font-weight: normal $isImportant;
    background-color: $white !important;
    height: 40px !important;
    text-decoration: none;
    box-shadow: none $isImportant;
}

@mixin secondary-button-large ($isImportant:null) {
    @include secondary-button($isImportant);
    height: 50px !important;
    padding: 3px 30px $isImportant;
    font-size: 1rem $isImportant;
}

@mixin secondary-button-hover-large ($isImportant:null) {
    @include secondary-button-hover($isImportant);
    height: 50px !important;
    padding: 3px 30px $isImportant;
    font-size: 1rem $isImportant;
}

//tertiary button .btn-tertiary
@mixin tertiary-button ($isImportant:null) {
    background: transparent !important;
    border: 0 !important;
    @include primary-theme-content-color(!important);
    text-decoration: none;
}

@mixin tertiary-button-hover ($isImportant:null) {
    background-color: $ash-hard  !important;
    @include primary-theme-content-color-hover(!important);
    border: 0 !important;
    text-decoration: none;
}