- load i18n
- load staticfiles

- for course in courses
  .col-sm-12.col-md-6.col-lg-4
    %a.d-block{:href => "#{course.nav_url}"}
      .card{"class": "{% if course.ended %}archived{% else %}ome{% endif %}"}
        .overlay-img
          %img.card-img-top{:alt => "Card image cap", :src => "{{course.course_image_url}}"}
        .card-body.dome-bc
          - if course and current_course
            - if course.id == current_course.id
              %span.bookmark
          %h3.card-title
            = course.name
          .course-detail
            %span.lesson-count
              = course.total_lessons
              {% trans "Lessons" %}
            %span.course-progress
              {{course.percent_complete}}%
              %span.bar
                %span{:style => "width: {{course.percent_complete}}%"}


%script
  $('.card-img-top').on('error', function(e){
    $(e.target).attr('src', '/static/image/default-course-image.png');
  });
