- load i18n
- load staticfiles

- for course in courses
  .col-sm-12.col-md-6.col-lg-4.course-card{"class": "{% if not courseended and not course.started %}future-course{% endif %}", 'data-course_id': '#{course.id}'}
    %a.d-block#course-navigation{:href => "#{course.nav_url}", 'data-numdays': '#{course.days_till_start}'}
      .card.ome{"class": "{% if course.ended %}archived{% endif %}"}
        .overlay-img
          %img.card-img-top{:alt => "Card image cap", :src => "{{course.course_image_urls.small}}"}
        .card-body.dome-bc
          .future-course-text
            {% trans "Coming Soon" %}
          - if course and current_course
            - if course.id == current_course.id
              %span.current-bookmark-text.dome-bc
                {% trans "resume course" %}
          %h3.card-title{"dir": "ltr"}
            = course.name
          .course-detail
            - if course.effort
              %span.course-effort
                %i.material-icons
                  access_time
                {% trans "est. time" %} {{course.effort}}
            - else
              %span.lesson-count
                %span
                  %span.spinner-border.spinner-border-sm{"aria-hidden": "true", 'role': "status"}

                {% trans "Lessons" %}
            %span.course-progress
              {{course.percent_complete}}%
              %span.bar
                %span{:style => "width: {{course.percent_complete}}%"}
- empty
  .col
    #courses.contentCard.text-center
      {% trans "You aren't enrolled in any courses." %}

%script
  $('.card-img-top').on('error', function(e){
    $(e.target).attr('src', '/static/image/default-course-image.png');
  });

  $(function() {
    var course_ids = [];
    $('.course-card').each(function() {
        course_ids.push($(this).data('course_id'));
    });
    for (var i = 0; i < course_ids.length;) {
      var data = {
        'course_ids': course_ids.slice(i, i+=100).join(',')
      };
      $.ajax({
        url: '/courses/lessons_count/',
        method: 'GET',
        data: data,
        success: function(response) {
          $.each(response, function(course_id, lessons_count) {
            $('.course-card[data-course_id="'+ course_id +'"] .lesson-count span').html(lessons_count);
          });
        }
      });
    }
  });

/ Modal
#future-modal.middleSize.modal.fade{:aria-hidden => "true", :aria-labelledby => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.text-center{:role => "document"}
    .modal-content
      .modal-header
        %h4.modal-title
          {% trans "Welcome to McKinsey Academy" %}
      .modal-body
        {% blocktrans %}Your course begins in <b><span class="numdays"></span></b> days. Before the course begins, you can explore this site to learn more about what to expect.{% endblocktrans %} <br />
        %button.ok-close.btn.btn-primary.btn-lg{:aria-label => "Close", :data-dismiss => "modal", :type => "button"}
          %span{:aria-hidden => "true"} {% trans "OK" %}
