- extends "layout.haml"

- block page_title
  %title= _("Access | McKinsey Academy")

- block content
  .row
    .login-form.large-10.medium-10.large-centered.medium-centered.columns
      .row
        .large-7.medium-7.columns
          <i class="fa fa-spinner fa-spin"></i>
          = _("You will be redirected to your login provider.")

- block js_snippets
  :javascript
    setTimeout(function redirect() {
      window.location = '{{ redirect_to|safe }}'
    }, 2000)
