- extends "layout.haml"

- block content
  #error_404.error-page
    .row
      .large-10.large-centered.columns
        %h1 Incorrect Activation Code
        %hr
        .sub-1 Sorry!
        %p The activation link is either incorrect or has been used.
        %p Please go back to <a href='https://www.mckinseyacademy.com'>www.mckinseyacademy.com</a>, or contact us at <a href:'mailto:support@mckinseyacademy.com'>support@mckinseyacademy.com</a>.
        %img{src: "/static/image/errors/McKA_errors_1404illus.png", srcset: "/static/image/errors/McKA_errors_1404illus@2x.png 2x"}
