- extends "layout.haml"

- block header
  - include 'accounts/login_header.haml'

- block content
  .row
    .login-form.large-10.medium-10.large-centered.medium-centered.columns
      .row
        .large-7.medium-7.columns
          %h1 Please Log In
          .description
            %span Required fields are noted by an asterisk (
            %span.required-field><
            %span )
          %form{action: "/accounts/login/", method: "POST"}
            .error
              - if error
                = error
            - csrf_token
            = form
            %input.button.radius.small{type: "submit", value: "#{login_label}"}
        .large-3.medium-3.columns
          %h4 Need Help?
          .sidebar
            %a{href: "/faq"} View our FAQ for answers to commonly asked questions.

- block js_snippets
  :javascript
    $('form input[type="text"]').on('keypress', function(){
      $('.error').text('');
    });
