- extends "layout.haml"

- block header
  - include 'accounts/login_header.haml'
- load staticfiles
- block content
  .row
    .login-form.large-10.medium-10.large-centered.medium-centered.columns
      .row
        .large-7.medium-7.columns
          %h1 Please Log In
          .description
            %span Required fields are noted by an asterisk (
            %span.required-field><
            %span )
          %form{action: "/accounts/login/", method: "POST"}
            .error
              - if error
                = error
            - csrf_token
            = form           
            %a{"data-reveal-id": "reset-password", "data-reveal-ajax": "true", href: "/accounts/password/reset/"}
              Forgot Password
            %input.button.radius.small{type: "submit", value: "#{login_label}"}
        .large-3.medium-3.columns
          %h4 Need Help?
          .sidebar
            %a{href: "/faq"} View our FAQ for answers to commonly asked questions.

  #reset-password.reveal-modal.small{"data-reveal": "true"}

  - block general_modal
    %a.revel-general-modal{'href': "#", 'data-reveal-id': "generalModal"}      
    .reveal-modal.small{'id': "generalModal", 'data-reveal': ''} 
      - if form.reset
        - include 'registration/password_reset_done.haml'
        %input.show-modal{'type': 'hidden', 'value': 'autoshow'}


- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  :javascript
    ajaxify_overlay_form($('#reset-password'), 'form');
    $('form input[type="text"]').on('keypress', function(){
      $('.error').text('');
    });
    $(function(){
      $(document).ready(function(){
        if($('#generalModal input.show-modal').length > 0){
          $('a.revel-general-modal').trigger('click');
        }
      }) 
    })
