
- extends "layout.html.haml"

- block header
  - include 'accounts/login_header.html.haml'

- block content
  .row
    .large-4.medium-4.columns
      &nbsp;
    .registration-form.large-4.medium-4.columns
      %form{action: "/accounts/register/", method: "POST"}
        .error
          - if error
            = error
        - csrf_token
        = form
        %input.button.radius.small{type: "submit", value: "#{register_label}"}
      %a.other{href: "/accounts/login"}
        = _("Log In")
    .large-4.medium-4.columns
      &nbsp;

- block js_snippets
  :javascript
    $('form input[type="text"]').on('keypress', function(){
      $('.error').text('');
    });
