- block upload_profile_image
%h1.title
  Profile photo
.close-reveal-modal
  %i.fa.fa-times-circle
%form#upload-profile-image-form{action: "/accounts/user/#{user.id}/upload_profile_image/", method: "POST", enctype: "multipart/form-data"}
  - csrf_token
  = form
  .error.warning
    - if error
      = error
  %a#user-image-submit{'href': '#'}
    Upload Image
  %br
  %hr
