- block upload_profile_image
.upload-profile-image
  %form#upload-profile-image-form{action: "/accounts/user/#{user.id}/upload_profile_image/", method: "POST", enctype: "multipart/form-data"}
    %label.label-10
      %span.label-5
        STEP 1:
      SELECT NEW PROFILE IMAGE
    %hr
    - csrf_token
    = form
    %br
    %br
    %br
    %br
    %label.label-10
      %span.label-5
        STEP 2:
      UPLOAD SELECTED IMAGE
    %hr
    %input#user-image-submit.button.small.radius.disabled{'type': 'submit', 'value': 'Upload', 'disabled': 'disabled'}
    %br
    .error.warning
      - if error
        = error
