#course-menu {
  position: relative;

  .rotator {
    width: 770px;
    margin: 0 auto;

    .nav-left, .nav-right {
      cursor: pointer;
      color: $mckinsey-academy-alt-blue;
      position: absolute;
      top: 50%;
      margin-top: rem-calc(-35/2);
      z-index: 2;
      @include font-spec(35);
      &.nav-left {
        left: -45px;
        @include mobile{
          left: -36px;
        }
      }
      &.nav-right {
        right: -45px;
        @include mobile{
          right: -36px;
        }
      }

      &.disabled {
        color: $almost-white;
        cursor: default;
      }
    }

    .frame { padding: 10px 0; }

    ul {
      margin: 0;
      white-space: nowrap;

      @include mobile{
        display: block;
      }

      li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-right: 17px;
        white-space: normal;
        @include mobile{
          width: 230px;
        }

        &:last-child { margin-right: none; }

        a {
          display: block;
          width: 140px;
          height: 180px;
          @include mobile{
            width: 100%;
          }
        }

        .bookmark {
          color: $mckinsey-orange;
          position: absolute;
          top: rem-calc(-5);
          right: rem-calc(5);
          @include font-spec(25);
        }

        .front, .back {
          width: 140px;
          height: 180px;
          padding: 10px;
          @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);
          @include mobile{
            width: 100%;
          }
        }

        .front .name {
          font-size: rem-calc(17);
          word-break: break-word;
        }

        .index { margin-bottom: 20px; }

        .estimated-time {
          position: absolute;
          bottom: 25px;
          left: 7px;
          @include font-spec(12, 600);
        }

        .lesson-progress {
          color: $mckinsey-dark-grey;
          position: absolute;
          bottom: 7px;
          left: 7px;
          font-style: italic;
          @include font-spec(12, 600);
          &.complete { color: $mckinsey-green; }
        }
      }
    }

    @include mobile{
      width: 230px !important;
    }

    @media #{$screen} and (max-width: #{upper-bound($medium-range)}) {
      width: 460px;
    }
  }
}
