#course-statistics {
  @include clearfix;

  section {
    padding: 0 10px;
    float: left;
    width: 25%;
    border-right: 1px solid $almost-white;
    &:last-child { border-right: none; }

    &.course-progress { width: 50%; }

    &:hover .zero {
      display: block;
    }

    .zero {
      display: none;
      background: rgba(229, 235, 238, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 15;
      padding: 10px;
      @include square-size(100%);

      div {
        display: table;
        @include square-size(100%);

        span {
          display: table-cell;
          vertical-align: middle;
          @include font-spec(14, 600, 22);
        }
      }
    }

    .info {
      color: $almost-white;
      position: absolute;
      bottom: 0;
      right: 10px;
      z-index: 25;
    }

    .visualization {
      display: inline-block;
      max-width: 100%;
    }
  }
}
