#home-discover {
  @include clearfix;

  .sub-2:first-child { margin-bottom: 10px; }

  .wrapper {
    display: table-row;

    section {
      display: table-cell;
      padding: 0 10px;
      width: percentage(1/3);
      border-right: 1px solid $almost-white;
      &:first-of-type { padding-left: 0; }

      &:last-of-type {
        padding-right: 0;
        border-right: none;
      }

      &.videos {
        .fa { margin-top: 10px; }
      }

      .label-6 {
        margin-bottom: 20px;
      }

      ul {
        margin: 0;
        list-style-type: none;

        li {
          margin-bottom: 20px;

          .article-title {
            @include font-spec(18, normal, 20);
          }

          time {
            margin-right: 1px;
            border-right: 1px solid $mckinsey-academy-black;
            padding-right: 5px;
          }

          .fa {
            @include font-spec(18);
          }
        }
      }

      .tweet {
        @include clearfix;

        img {
          float: left;
          margin-right: 10px;
        }

        .content {
          float: left;
          width: 170px;

          .twitter-handle {
            &:before { content: '@'; }
          }

          a.tweet-body,
          a.tweet-body:visited {
            color: $mckinsey-academy-black;
            @include font-spec(10, bold, 12);

          }
        }
      }
    }
  }
}
