#home-landing {
  margin: 0 auto;
  @include clearfix;

  a.cell, a.cell:visited {
    display: block;
    @include transition(all 200ms);
    .title,
    .content,
    .label-2 {
      color: $mckinsey-academy-black;
    }

    &:hover {
      @include transform(scale(1.05));
    }
  }

  .cell {
    float: left;
    position: relative;
    text-align: center;
    background: $pure-white;
    @include square-size(300px);
    &:hover { z-index: 2; }

    i.fa {
      @include font-spec(18);

      &.fa-play-circle:after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        background: $pure-white;
        z-index: -1;
        border-radius: 50%;
        @include square-size(35px);
      }
    }

    .icon-circled {
      color: $pure-white;
      background: #000;
      text-align: center;
      margin: 0 auto 20px;
      border-radius: 50%;
      box-shadow: 0px 3px 4px 0px rgba(153, 153, 153, 0.3);
      @include square-size(53px);
      &.blue-gray { background: $mckinsey-academy-blue-gray; }
      &.turquoise { background: $mckinsey-academy-turquoise; }
      &.green { background: $mckinsey-green; }
      &.warm-gray { background: $mckinsey-academy-warm-gray; }

      i {
        margin-left: 3px;
        @include font-spec(34, normal, 52);

        &.mk-icon-faculty {
          margin-left: 0;
          @include font-spec(34, normal, 45);
        }

        &.mk-icon-advisors {
          margin-left: 1px;
          line-height: rem-calc(48);
        }

        &.mk-icon-book { line-height: rem-calc(45); }
        &.mk-icon-people { margin-left: 1px; }
        &.mk-icon-lightbulb { margin-left: 0; }
      }
    }

    &.col-2 { width: 600px; }

    &.quote {
      color: $pure-white;
      padding: 30px;
      background: $mckinsey-orange;

      blockquote {
        color: $pure-white;
        margin-top: 50px;
        quotes: "\201C""\201D""\2018""\2019";
        @include font-spec(16, semibold, 20);

        &:before {
          content: open-quote;
          display: block;
          font-family: Georgia;
          @include font-spec(120, normal, 0.1);
        }

        &:after {
          content: close-quote;
        }
      }

      .headshot {
        text-align: center;
        margin-bottom: 10px;
        img { @include square-size(50px); }
      }

      .title {
        font-style: italic;
        margin-top: 2px;
        @include font-spec(10, semibold, 12);
      }
    }

    &.stock-image { overflow: hidden; }

    &.tagline {
      color: $pure-white;
      padding: 45px;
      display: table;
      background: $mckinsey-academy-alt-blue;
      @include font-spec(30, normal, 36);

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &.distinctive-feature {
      text-align: left;
      padding: 20px;

      .nav-1 { margin-bottom: 18px; }

      .title {
        text-transform: uppercase;
        @include font-spec(20, bold, 22);

        &.large {
          @include font-spec(30, bold, 32);
        }
      }

      .content {
        @include font-spec(18, normal, 24);
      }

      i.fa { margin-top: 25px; }

      &.bg-al {
        @include retina-image('/static/image/home-grid/McKA_home_tiles_df_al', 300px 300px, 'jpg', null, '@2x');
      }

      &.bg-cp {
        @include retina-image('/static/image/home-grid/McKA_home_tiles_df_cp', 300px 300px, 'jpg', null, '@2x');
      }

      &.bg-df {
        @include retina-image('/static/image/home-grid/McKA_home_tiles_df_df', 300px 300px, 'jpg', null, '@2x');
      }

      &.bg-pp {
        @include retina-image('/static/image/home-grid/McKA_home_tiles_df_pp', 300px 300px, 'jpg', null, '@2x');
      }

      &.bg-sl {
        @include retina-image('/static/image/home-grid/McKA_home_tiles_df_sl', 300px 300px, 'jpg', null, '@2x');
      }

      &.bg-ta {
        @include retina-image('/static/image/home-grid/McKA_home_tiles_df_ta', 300px 300px, 'jpg', null, '@2x');
      }
    }

    &.entry-point {
      padding: 20px 15px;

      .nav-1 {
        color: $mckinsey-blue;
      }

      .subtitle {
        margin-bottom: 20px;
        color: $mckinsey-academy-black;
        @include font-spec(18, normal, 22);
      }

      .label-2 {
        @include font-spec(10, bold, 18);
      }

      i.fa { margin-top: 15px; }
    }

    &.video {
      @include retina-image('/static/image/home-grid/McKA_home_tiles_video', 300px 300px, 'jpg', null, '@2x');

      .fa-play-circle {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        margin: rem-calc(-27) 0 0 rem-calc(-23.5);
        @include font-spec(55);
      }
    }
  }
  .wrapper {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
  }

/*Hero*/
.universal-hero {
    margin: 0;
    width: 100%;
    .image{
        width: 100%;
        @include retina-image('/static/image/home-grid/hero-img-small', cover, 'jpg', null, '@2x');
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 51.5%;
    }
    .hero-text{
        text-align: center;
        padding: 40px 15px;
        h1{
            color: $mckinsey-academy-black;
            @include font-spec(28, 400);
            span{
                display: block;
                color: $hero-subheading-color;
                font-size: 54%;
                line-height: 1.5;
            }
            img{
                width: 36%;
                min-width: 215px;
                max-width: 366px;
            }
        }
    }
}


/*Card*/
.card{
    background-color: $mckinsey-blue-bar;
    text-align: center;
    margin: 0 5% 40px;
    display: block;
    padding: 1px 20px 25px;
    vertical-align: top;
    box-sizing: border-box;
    &.padding-low{
        padding: 1px 20px 25px;
    }
    h3{
        @include font-spec(22 , normal);
        margin-bottom: 8px;
        color: $pure-white;
        margin-top: 15px;
    }
    p{
        margin-top: 0;
        color: $pure-white;
        @include font-spec(15, normal);
        line-height: 1.6;
        margin-bottom: 15px;
    }
    a{
        color: $pure-white;
        background-color: $light-blue;
        padding: 7px 10px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        @include font-spec(16, 600);
        min-width: 100px;
        box-sizing: border-box;
        &.login-btn {
          display: none;
        }
    }
}


/*Misc*/

.row{
    display: table;
    max-width: 1440px;
    content: "";
    clear: both;
    margin: auto;
}
.text-center{
    text-align: center;
}

/*Media Queries*/


/*Tablet & small desktop*/
@media only screen and (min-width: 768px){
    .universal-hero{
        position: relative;
        height: 410px;
        display: table;
        .image{
            @include retina-image('/static/image/home-grid/hero-img', cover, 'jpg', null, '@2x');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 68% 0%;
            position: absolute;
            padding-top: 0;
            height: 100%;
        }
        .hero-text{
            position: relative;
            @include retina-image('/static/image/home-grid/shadow', cover, 'png', null, '@2x');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            padding: 12% 0 0;
            height: 410px;
            h1{
                @include font-spec(42);
                color: $pure-white;
                span{
                    @include font-spec(22);
                }
              img{
                width: auto;
              }
            }
        }
    }
    .card{
        width: 42%;
        margin: -35px 20px 0;
        z-index: 5;
        position: relative;
        max-width: 400px;
        display: inline-block;
        padding: 1px 65px 25px;
      &.padding-low{
        padding: 1px 45px 25px;
      }
      a{
        &.login-btn {
          display: inline-block;
        }
      }
    }
}


/*Large Desktop*/
@media only screen and (min-width: 1180px){
    .universal-hero{
        width: 85.27473%;
        margin: 0 7.36264%;
        .image{
            background-position: right center;
            background-size: cover;
        }
      .hero-text{
        padding: 9% 0 0;
      }
    }
}
}

#mckinsey_video {
  position: fixed;

  @media only screen and
  (max-width: 767px){
    top: 5vh !important;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    margin: 0;
  }

  .player-wrapper {
    width: 100%;
    height: 425px;
    max-width: 745px;
    margin: 0 auto;
    @media only screen and
    (max-width: 767px){
      height: 100% !important;
    }
  }

  @media only screen and (min-device-width: 768px) {
    top: 50% !important;
    margin-top: -243.5px;
  }
}
