- load i18n

%ul
  %li
    - if selected_client_tab == 'edit_groups'
      %span.selected
        {% trans "Create & Edit Groups" %}
    - else
      %a{href:"/admin/workgroup/course/#{course.id}"}
        {% trans "Create & Edit Groups" %}
  - if user.is_mcka_admin or user.is_mcka_ta or user.is_client_ta or user.is_internal_admin or user.is_mcka_subadmin
    %li
      - if selected_client_tab == 'group_work_status'
        %span.selected
          {% trans "Group Work Status" %}
      - else
        %a{href:"/admin/workgroup/course/#{course.id}/group_work_status"}
          {% trans "Group Work Status" %}
  %li
    - if selected_client_tab == 'assignments'
      %span.selected
        {% trans "Assignment Info" %}
    - else
      %a{href:"/admin/workgroup/course/#{course.id}/assignments"}
        {% trans "Assignment Info" %}
