%table.student-list
  %thead
    %th Name
    %th Email
    %th Company
  %tbody
    - for student in students
      %tr.student{id: "#{student.id}"}
        %td= student.username
        %td= student.email
        %td{style: "color: red;"}= student.client_id