%section.course-progress
  .sub-2.progress-link
    Progress:
    %a{href: '#'}
      %i.fa.fa-arrow-circle-right
  .visualization
    .total{style: "left:#{course.user_completion_percent}%;"}
      ={course.user_completion_percent}%
    .bar{class: "{% if course.is_user_trailing_completions %}trailing{% endif %}", style: "width:#{course.user_completion_percent}%;"}
    .triangle{style: "left:#{course.avg_completion_percent}%"}
  .label-4 cohort average = ={course.avg_completion_percent}%
  %a.info{href: '#'}
    %i.fa.fa-info-circle
