%section.course-engagement
  - if social.points == 0
    .zero
      %div
        %span= _("Your social engagement will be displayed here.")
  .sub-2
    Engagement:
    %a{href: "/courses/#{course.id}/cohort"}
      %i.fa.fa-arrow-circle-right
  .visualization{class: "{% if social.points >= 90 %}filled{% endif %}"}
    .band-1{class: "{% if social.points >= 30 %}filled{% endif %}"}
    .band-2{class: "{% if social.points >= 60 %}filled{% endif %}"}
    .total= social.points
  .label-4 {% if social.course_avg %}cohort average = ={social.course_avg} points{% endif %}
  %a.info{'data-reveal-id': 'mckinsey_social_help'}
    %i.fa.fa-info-circle
  #mckinsey_social_help.reveal-modal.small{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %p This visualization displays your social engagement within the course. The average engagement of your cohort is displayed as well. You accrue engagement points for interactions on discussion forums.
