%section.course-progress
  .sub-2.progress-link
    Progress:
    %a{href: '#'}
      %i.fa.fa-arrow-circle-right
  .visualization
    .total{style: "left:#{course.user_progress}%;"}
      ={course.user_progress}%
    .bar{class: "{% if course.user_progress < average_progress %}trailing{% endif %}", style: "width:#{course.user_progress}%;"}
    .triangle{style: "left:#{average_progress}%"}
  .label-4 cohort average = ={average_progress}%
  %a.info{href: '#'}
    %i.fa.fa-info-circle
