- extends "admin/admin_layout.haml"

- block content
  #mainParticipantsWrapper
    #participantsAddWrapper
      %input.button.small.radius.menuButton{:type => "button", :value => "Add New Participant"}
      %input.button.small.radius.menuButton{:type => "button", :value => "Import from CSV"}
      %input.button.small.radius.secondary.menuButton{:type => "button", :value => "CSV Template"}
    %hr
    #participantsSearchWrapper
      .row
        .large-3.columns
          %input{:placeholder => "Company", :type => "text"}/
        .large-3.columns
          %input{:placeholder => "Course", :type => "text"}/
        .large-3.columns
          %input{:placeholder => "Name", :type => "text"}/
        .large-3.columns
          %input{:placeholder => "Email", :type => "text"}/
    #participantsListViewGridBlock