- extends "admin/admin_layout.haml"

- block content
  #mainParticipantsWrapper
    #participantsAddWrapper
      %input.button.small.radius.menuButton.participantAddButton{:type => "button", :value => "Add New Participant"}
      %input.button.small.radius.menuButton{:type => "button", :value => "Import from CSV", 'data-reveal-id': 'import_from_csv'}
      %input.button.small.radius.secondary.menuButton{:type => "button", :value => "CSV Template", 'data-reveal-id': 'download_csv_template'}
    %hr
    #participantsSearchWrapper
      .row
        .large-4.columns
          %input{:placeholder => 'Company', :type => 'text', :name => 'company', :onkeyup => 'searchParticipantList()', :class => 'clearableParticipantsList'}
        .large-4.columns
          %input{:placeholder => 'Name', :type => 'text', :name => 'name', :onkeyup => 'searchParticipantList()', :class => 'clearableParticipantsList'}
        .large-4.columns
          %input{:placeholder => 'Email', :type => 'text', :name => 'custom_email', :onkeyup => 'searchParticipantList()', :class => 'clearableParticipantsList'}
    #participantsListViewGridBlock

    #add_a_participant.reveal-modal.small{'data-reveal': None}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2 Add a Participant
      %p
        Want to add more than one participant at a time?
        %a
          Import a list
      %hr
      .errorContainer
      %form.participantDetailsEditForm
        - csrf_token
        .row
          .large-6.columns.participantFirstName
            .participantFirstNameLabel.labelUniversal
              First Name<sup>*</sup>
            .participantFirstNameValue
              %input.cleanable{:type => "text",  :name => "first_name", :maxlength => "30"}
          .large-6.columns.participantLastName
            .participantLastNameLabel.labelUniversal
              Last Name<sup>*</sup>
            .participantLastNameValue
              %input.cleanable{:type => "text",  :name => "last_name", :maxlength => "30"}
        .row
          .large-6.columns.participantEmail
            .participantEmailLabelContainer.labelUniversal
              .participantEmailLabel.inlineBlock
                Email<sup>*</sup>
            .participantEmailValue
              %input.cleanable{:type => "email", :name => "email", :maxlength => "60", :onkeyup => 'validateParticipantEmail()', :class => 'participantEmailInput', :required => 'true'}
              %i.fa.fa-check-circle-o.correctInput.checkMark
          .large-6.columns.participantCompany
            .participantCompanyLabel.labelUniversal
              Company<sup>*</sup>
            .participantCompanyValue
              %input.cleanable{:type => "text", :name => "company", :maxlength => "60"}
              %i.fa.fa-check-circle-o.correctInput
        .row
          .large-6.columns.participantCountry
            .participantCountryLabel.labelUniversal
              Country Abbreviation
            .participantCountryValue
              %input{:type => "text", :id =>'country_edit', :name => "country_fullname", :readonly => '', :maxlength => "2"}
              %input{:type => "hidden", :id =>'country_edit_code', :name => "country", :maxlength => "2"}
          .large-6.columns.participantCity
            .participantCityLabel.labelUniversal
              City
            .participantCityValue
              %input.cleanable{:type => "text", :name => "city", :maxlength => "60"}
        .row        
          .large-6.columns.participantGender
            .participantGenderLabel.labelUniversal
              Gender
            .participantGenderValue
              %select{:name => "gender"}
                  %option{:value => "N/A"} N/A
                  %option{:value => "M"} Male
                  %option{:value => "F"} Female
          .large-6.columns.participantPermissions
            .participantPermissionsLabel.labelUniversal
              Permissions
            .participantPermissionsValue
              %select{:name => "company_permissions"}
                %option{:value => "none"} None
                %option{:value => "uber_admin"} Uber admin
                %option{:value => "course_ops_admin"} Course ops admin
                %option{:value => "company_admin"} Company admin
                %option{:value => "internal_admin"} Internal Admin
        %hr
        .adminAnotherCompanyAllWrapper
        .addAnotherCompanyWrapper.row
          %a.large-12.columns
            + Add another company to administer
        %hr
        .adminCourseAllWrapper
        .addAnotherCourseWrapper.row
          %a.large-12.columns
            + Add another course
        %hr
        .emailActivationWrapper.row
          .large-12.columns
            .emailActivationLinkCheckboxWrapper
              %input.emailActivationCheckbox{:type => 'checkbox'}
              .emailActivation
                Email activation link now
      .button-wrapper
        %a.button.small.radius.menuButton.addSingleParticipantButton{:type => "button", :value => "Add Participant"}
          Add Participant 
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
          Cancel
    
    #download_csv_template.reveal-modal.small{'data-reveal': None}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2 CSV Template and Formatting
      %p Download the CSV template below to import users. All fields in the template are required. Note that you must add users to preexisting companies and courses.
      .button-wrapper
        %a.button.small.radius.menuButton{:type => "button", :value => "Download Template", :href => '/static/docs/participant-onboarding-template.csv', :target => '_blank'}
          Download Template
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
          Cancel

    #import_from_csv.reveal-modal.big{'data-reveal': None}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2 Import Participants from CSV
      %hr
      .bottomPadding
        %p Optional explanatory text. Lorem ipsum dolor sit amet, consectetur adipis. 
          %a.modalLinks{:href => "#", 'data-reveal-id': 'download_csv_template'} CSV Template
      .admin-form

        %form{action: "/admin/api/participants/import_participants", method: "POST", enctype: "multipart/form-data", :class => "dropzone", :id => 'participantsCsvUpload'}

        %form{action: "/admin/api/participants/import_participants", method: "POST", enctype: "multipart/form-data"}
          - csrf_token
          = form

          .error
            - if error
              = error

          .upload_stats
          #enroll-error-list
          
          .button-wrapper.topPadding
            %input.button.radius.small{type: "submit", value: "Add Participants", disabled: "disabled", id: ''}
            %a.modalLinks.leftPadding.close-reveal-modal.close-modal-inline{:href => '#'} Cancel

    #confirmation_screen.reveal-modal.big{'data-reveal': None, 'data-task-key': None, 'data-uploaded': None}   
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2.upload_message
      %hr

      %p You can download the activation links now, or from the participant profiles at any time.
      %br
      %a.download_activation{:href => '/admin/api/participants/import_participants/download_activation_links/?task_key=', :target => '_self'}> Download Activation Links

      .button-wrapper.topPadding
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "I'm Done"} 
          I'm Done

    #confirmation_screen_single_participant.reveal-modal.big{'data-reveal': None}   
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2.upload_message
        Successfully added new user!
      %hr

      %p You can download the activation link now, or from the participant profiles at any time.
      %br
      %br
      %a.download_activation{:data-url => '/admin/api/participants/import_participants/download_activation_links/?user_id=', :target => '_self'}> Download Activation Link
      %br
      %a.go_to_user_profile{:data-url => '/admin/participants/', :target => '_self'}> Go To User Profile

      .button-wrapper.topPadding
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "I'm Done"} 
          I'm Done
