- extends "admin/admin_layout.haml"

- block content
  #mainParticipantsWrapper
    #participantsAddWrapper
      %input.button.small.radius.menuButton{:type => "button", :value => "Add New Participant"}
      %input.button.small.radius.menuButton{:type => "button", :value => "Import from CSV"}
      %input.button.small.radius.secondary.menuButton{:type => "button", :value => "CSV Template", 'data-reveal-id': 'download_csv_template'}
    %hr
    #participantsSearchWrapper
      .row
        .large-3.columns
          %input{:placeholder => 'Company', :type => 'text', :name => 'company', :onkeyup => 'searchParticipantList()', :class => 'clearableParticipantsList'}
        .large-3.columns
          %input{:placeholder => 'Course', :type => 'text', :name => 'course', :class => 'clearable'}
        .large-3.columns
          %input{:placeholder => 'Name', :type => 'text', :name => 'name', :onkeyup => 'searchParticipantList()', :class => 'clearableParticipantsList'}
        .large-3.columns
          %input{:placeholder => 'Email', :type => 'text', :name => 'custom_email', :onkeyup => 'searchParticipantList()', :class => 'clearableParticipantsList'}
    #participantsListViewGridBlock

    #download_csv_template.reveal-modal.small{'data-reveal': None}
      .close-reveal-modal
        %i.fa.fa-times-circle
      %h2 CSV Template and Formatting
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      .button-wrapper
        %a.button.small.radius.menuButton{:type => "button", :value => "Download Template", :href => '/static/docs/participant-onboarding-template.csv', :target => '_blank'}
          Download Template
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
          Cancel
