#course-lessons .discussion-module,
#course-group-work .discussion-module {
  border: 1px solid $mckinsey-grey;
  border-radius: 5px;

  *:focus {
    outline: 0;
  }

  a.new-post-btn {
    &, &:visited, &:hover, &:focus {
      margin-bottom: 0;
    }
  }
}

#course-lessons .discussion-module {
  width: 100%;

  form.edit-post-form {
    // We don't want topics displayed in the edit form.
    .topic-wrapper {
      display: none;
    }
  }

  .forum-new-post-form {
    .field-label {
      width: 55%;
    }
    .field-help {
      width: 45%;
    }
  }
}

#course-group-work .discussion-module {
  // Calculated ratio of group work width to course page width
  width: 760px / 511.65625px * 100%;

  // Remove option to post anonymously from the group work discussions
  .discussion-anonymous,
  label[for="new-post-anonymous"] {
    display: none;
  }
  .discussion .new-post-article .new-post-form .options::after {
    content: "";
  }
}

.bookmark-button-wrapper {
  display: none;
}

/* Rules shared with course discussion. */
/* Course discussion specific rules can be found in ../course/discusssion.scss */

#course-lessons .discussion-module,
#course-group-work .discussion-module,
#course-discussion .discussion-content {
  background: #fff !important;

  .field-input .post-type-label {
      margin: 0px;
  }

  .wmd-input {
    background-color: $pure-white;
  }

  .thread-content-wrapper, .new-post-article {
    h1.post-title {
      color: #66a5b5;
      font-weight: 700;
    }

    .forum-new-post-form, .edit-post-form {
      min-width: 700px;

      input.field-input {
        margin-bottom: 0px;
        &::-ms-clear {
          display: none;
        }
      }

      .field-label {
        margin-bottom: 8px;
      }

      .post-field {
        .field-label {
          .field-label-text {
            font-family: "Open Sans",sans-serif;
            font-weight: 600;
          }
        }
      }

      .js-group-select {
        padding-right: rem-calc(15);
      }

      .post-option {
        margin-right: 10px;

        span.js-anon-label,
        span.js-anon-peers-label,
        {
          width: 165px;
          display: inline-block;
          vertical-align: top;

          &::after {
            content: "Posting anonymously will not add engagement points.";
            color: $mckinsey-orange;
            cursor: default;
            display: block;
            font-size: 14px;
            line-height: 18px;
            width: 190px;
            float: right;
            margin-top: 4px;
          }
        }
      }
    }
  }

  .discussion-response, .comments {
    .edit-post-form {
      min-width: 600px;
      background: none;
      padding: 0;
    }
  }

  .action-button {
    .action-label {
      padding: 0 5px;
    }
  }

  .discussion-post {
    .post-context { display: none; }
  }

  .discussion-article {
    background-image: none;

    .dogear {
      background-image: url('/static/image/lesson-content/discussion/follow-dog-ear.png');
    }

    .flagged * {
      color: $mckinsey-red;
    }

    .posted-details .username,
    .discussion-response .posted-by {
      pointer-events: none;
      color: $mckinsey-dark-grey;

      &:hover {
        text-decoration: none;
        cursor: default;
      }
    }
  }

  section.discussion .discussion-article {
    &, .responses > li {
      @include drop-shadow($opacity: 0);
      border-radius: 0;
    }

    .thread-wrapper {
      max-height: none;
      width: 100%;
      background-color: $pure-white;

      .thread-main-wrapper {
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
      }
    }
  }

  .js-response-list, .comments {
    list-style: none;
  }

  .responses {
    padding: 0px 40px 0px 20px;
    clear: both;

    .discussion-response {
      background-color: #fafafa;
      padding: 20px;

      .response-header-actions {
        right: 0;
        top: 0;
      }
    }

    header {
      position: relative;
    }
  }

  .discussion-article h1 {
    font-size: 14px;
  }

  .response-count {
    float: left;
    margin-top: 20px;
    padding: 0 30px;
    color: #767676;
    font-size: 14px;
  }

  .forum-nav-thread {
    border-bottom: 1px solid #c8c8c8;
    background-color: #f1f1f1;
  }

  .forum-nav-thread.never-read {
    background-color: $pure-white;
  }

  .forum-nav-thread-link:hover,
  .forum-nav-thread-link:active,
  .forum-nav-thread-link:focus,
  .forum-nav-thread-link.is-active {
      background-color: #d8eaf3;
  }

  /* Standard Buttons */

  .new-post-btn,
  .new-post-article .new-post-form .submit,
  .discussion-submit-post,
  .add-response .add-response-btn,
  .comments .comment-form .discussion-submit-comment,
  .discussion a.post-cancel,
  .discussion-article .post-update,
  .forum-new-post-form .submit,
  .forum-new-post-form .cancel {
    &, &:hover {
      border-color: transparent;
      background-image: none;
      text-shadow: none;
      line-height: 1;
      height: 35px;
      width: auto;
      float: right;
      @include button($button-sml, $primary-color, true);
      margin-left: $button-margin;
      padding: 10px 28px;

      &:hover {
        background-color: $mckinsey-academy-blue-gray;
      }
    }
  }

  a.new-post-btn {
    text-transform: lowercase;
    &:first-letter {
      text-transform: capitalize;
    }

    .new-post-icon {
      display: none;
    }
  }

  .post-extended-content {
    ol.responses.js-response-list {
      margin-left: 0;
      li.forum-response {
        margin: 0;
        box-shadow: 3px 3px 0 0 rgba(51,51,51,0);
        background-color: #fafafa;
        border: 1px solid #a7a4a4;
      }
    }
  }

  .discussion-article, .new-post-article {
    .post-update, .submit,
    a.post-cancel, a.cancel {
      &, &:visited, &:hover, &:focus {
        margin: 15px 0px;
      }
    }

    a.post-cancel, a.cancel {
      &, &:visited, &:hover, &:focus {
        float: left;
      }
    }
  }

  .add-response .add-response-btn {
    &, &:hover, &:focus {
      padding-bottom: 25px;
    }

    .icon-reply {
      display: none;
    }

    text-transform: lowercase;
  }

  .vote-btn {
    &, &:hover {
      @include drop-shadow($opacity: 0);
      border-radius: 0px;
      background-image: none;
      z-index: 98; // to appear below modal dialog overlay
    }

    &.is-cast {
      background-color: $mckinsey-academy-bright-gray;
      background-image: none;
      color: $mckinsey-academy-black;
      text-shadow: none;
      box-shadow: none;
      border-color: #b2b2b2;

      .plus-icon {
        background-position: 0 0;
      }
    }
  }

  .comments .comment-form .discussion-submit-comment {
    &, &:hover {
      margin-top: 15px;
    }
  }

  .comments {
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.5) inset;
    border-radius: 0 0 3px 3px;
    padding: 0;
    margin: 0;

    >li {
      border-top: 1px solid #e3e3e3;
      padding: 10px 20px;
    }

    .comment-form::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  /* Text Edit Form */

  .wmd-panel .wmd-button span {
    background-image: url("/static/image/lesson-content/discussion/wmd-buttons-transparent.png");
  }

  .wmd-panel {
    min-width: 340px;
  }

  span[id*='wmd-code-button-'],
  span[id*='wmd-image-button-'] {
    display: none;
  }

  span[id*='wmd-olist-button-new-post-'],
  span[id*='wmd-ulist-button-new-post-'],
  span[id*='wmd-heading-button-new-post-'],
  span[id*='wmd-hr-button-new-post-'],
  span[id*='wmd-undo-button-new-post-'],
  span[id*='wmd-redo-button-new-post-'] {
    margin-left: -50px;
  }

  span[id*='wmd-spacer2-new-post-'],
  span[id*='wmd-spacer3-new-post-'] {
    margin-left: -39px;
  }

  /* Course discussion banners */
  .username-wrapper {
    white-space: nowrap;
  }

  .user-label-staff, .user-label-community-ta {
    position: relative;
    padding: 0;
    margin: 0;
    width: 70px;
    display: inline-block;

    &:before {
      width: 70px;
      content: "McKinsey TA";
      text-transform: uppercase;
      color: white;
      background-color: $mckinsey-academy-alt-blue;
      text-align: center;
      white-space: nowrap;
      position: absolute;
    }
  }

  /* Home */

  .home-header {

    border-bottom: none;

    .label {
      @include font-spec(22px, normal, 24);
      padding: 0px 0px 10px 0px;
      color: transparent;

      &:before {
        content: 'Discussion';
        color: $mckinsey-academy-turquoise;
        position: absolute;
        display: block;
      }
    }


    .home-title {
      color: $mckinsey-dark-grey;
      padding: 0px 0px 10px 0px;
      @include font-spec(18, normal, 24)
    }
  }

  .notification-checkbox {
    display: none;
  }

  .home-helpgrid {
    box-shadow: none;
  }

  .helpgrid-row {
    td {
      border: 1px solid #B2B2B2;
    }

    .row-title {
      background-color: transparent;
      padding: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    .row-item {
      padding: 10px;

      .row-description {
        display: block;
        text-transform: lowercase;
        &:first-letter {
          text-transform: capitalize;
        }
      }

      .icon {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 0px;
      }
    }
  }

  .helpgrid-row-notification {
    .row-item-full {
      &::before {
        content: "You can enable daily\0020(or weekly) notification digests which show discussion activity by accessing your profile dropdown.";
      }
      .row-description {
        display: none;
      }
    }
  }

  .forum-thread-expand,
  .forum-thread-collapse {
    margin: 0;
    background-color: transparent;
    color: #065683;
    box-shadow: none;
  }

  .action-button,
  .action-list-item {
    margin: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .action-button {
    padding: 1px;
    &:hover, &:active, &:focus {
      background-color: $pure-white;
    }
  }

  .action-list-item {
    width: 100%;
  }

  .actions-dropdown-list {
    background-color: $pure-white;
  }

  button.cancel {
    &, &:hover, &:visited, &:active {
      float: left !important;
      margin: 15px 0 !important;
    }
  }

  .post-type-input:checked+.post-type-label {
    background-color: #d8eaf3;
    color: #434242;
  }
}

/* Alert messages */

#discussion-alert-message {
  color: $mckinsey-academy-black;
}

.modal .discussion-alert-wrapper button {
  &, &:hover, &:focus {
    border-radius: 5px;
    color: white;
    text-shadow: none;
  }
}

.wmd-prompt-dialog {
  background-color: $mckinsey-academy-blue-gray;
  border-radius: 5px;
}

/* Discussion tooltip gets added by JS to the <body> :/ */
body > .tooltip {
  width: 100px;
  margin-top: -110px;
  text-align: center;
}

/* Special Close button for modals and New Post */
#course-discussion .discussion-content a.new-post-cancel,
#course-lessons .discussion-module .discussion a.new-post-cancel,
#course-group-work .discussion-module .discussion a.new-post-cancel,
.modal .inner-wrapper .close-modal.dismiss {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    background-image: url("/static/image/lesson-content/discussion/close_button.png");
    background-size: 100%;
    opacity: 0.5;
    color: transparent;
    overflow: hidden;
    text-indent: 3em;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;

    &:hover {
      background-image: url("/static/image/lesson-content/discussion/close_button.png");
      opacity: 0.7;
    }
}
