/* TODO: Move this to a proper theme once XBlocks support them */

.lesson-content .discussion-module {
  background: #fff !important;

  *:focus {
    outline: 0;
  }

  .discussion-column {
    box-shadow: none;
  }

  .discussion-article {
    background-image: none;
  }

  /* Buttons *****************************************************************/

  .new-post-btn,
  .new-post-article .new-post-form .submit,
  .new-post-article .new-post-form .new-post-cancel,
  .discussion-submit-post,
  .add-response .add-response-btn,
  .comments .comment-form .discussion-submit-comment,
  .discussion-article .post-update {
    &, &:hover {
      @extend .button;
      @extend .small;
      @extend .radius;

      border-color: transparent;
      background-image: none;
      text-shadow: none;
      line-height: 1;
      height: 35px;
      width: auto;
    }

    .new-post-icon {
      display: none;
    }
  }

  .discussion-article {

    .post-update {
      margin-top: 15px;

      &, &:hover {
        margin-top: 15px;
      }
    }

    .post-cancel {
      &, &:hover, &:visited {
        background-color: $mckinsey-academy-light-gray;
        margin-left: 15px;
        margin-top: 15px;
        color: $mckinsey-academy-black !important;
      }
    }
  }

  .discussion .new-post-article .new-post-form .new-post-cancel {
    &, &:hover, &:visited {
      background-color: $mckinsey-academy-light-gray;
      margin-left: 15px;
      color: $mckinsey-academy-black;
    }
  }

  .new-post-btn {
    &, &:hover {
      position: absolute;
      right: 20px;
    }
  }

  .post-extended-content .add-response .add-response-btn {
    &, &:hover {
      padding-bottom: 25px;
    }
  }

  .vote-btn {
    &, &:hover {
      @include drop-shadow($opacity: 0);
      border-radius: 0px;
      background-image: none;
    }
  }

  .comments .comment-form .discussion-submit-comment {
    &, &:hover {
      margin-top: 15px;
    }
  }

  /* Layout ******************************************************************/

  section.discussion .discussion-thread .discussion-article {
    &, .responses > li {
      @include drop-shadow($opacity: 0);
      border-radius: 0;
    }

    .thread-wrapper {
      max-height: none;
    }
  }

  .new-post-article .new-post-form, .discussion-user-threads .new-post-article .new-post-form {
    width: 719px;
  }

  .responses {
    padding: 0px 40px 0px 20px;

    .discussion-response {
      background-color: #fafafa;
    }
  }

  .discussion-article h1 {
    font-size: 14px;
  }

  .response-count {
    float: right;
  }

  /* Post editor *************************************************************/

  span[id*='wmd-code-button-'],
  span[id*='wmd-image-button-'] {
    display: none;
  }

  span[id*='wmd-olist-button-new-post-'],
  span[id*='wmd-ulist-button-new-post-'],
  span[id*='wmd-heading-button-new-post-'],
  span[id*='wmd-hr-button-new-post-'],
  span[id*='wmd-undo-button-new-post-'],
  span[id*='wmd-redo-button-new-post-'] {
    margin-left: -50px;
  }

  span[id*='wmd-spacer2-new-post-'],
  span[id*='wmd-spacer3-new-post-'] {
    margin-left: -39px;
  }
}

/* Discussion tooltip gets added by JS to the <body> :/ */
body > .tooltip {
  width: 100px;
  margin-top: -110px;
  text-align: center;
}
