.lesson-content .xblock--drag-and-drop .popup {
    background-color: #66a5b5;
}

.lesson-content .xblock--drag-and-drop .popup.popup-incorrect {
    background-color: #66a5b5;
}

.lesson-content .xblock--drag-and-drop .problem-progress {
    display: none;
}

.lesson-content .xblock--drag-and-drop .feedback p {
    border: none;
}

.lesson-content .xblock--drag-and-drop button:disabled {
    background-color: transparent;
}

.xblock--drag-and-drop{
    .target-img{
        @include mobile{
            max-width: 100% !important;
        }
    }
}

/* Styles for mobile */
@media screen and (max-width: 480px) {

    .lesson-content .xblock--drag-and-drop .popup {
        background-color: #fff;
        max-height: calc(100vh - 210px);
        top: 150px;
        transform: translateX(-50%);
    }

    .lesson-content .xblock--drag-and-drop .popup.popup-incorrect {
        background-color: #fff;
    }

}
