.lesson-content {
  .wrap-instructor-info {
    display: none;
  }

  .feedback { z-index: 1; }

  input[type="button"],
  button {
    @include button($button-sml, $primary-color, true);

    &:hover {
      background-color: $mckinsey-academy-blue-gray;
    }

    &:disabled {
      cursor: default;
      background-color: #cccccc;
    }
  }

  .title {
    .main {
      color: #66a5b5;
    }
    .weight {
      color: #777;
    }
  }

  .unit-title {
    display: none;
  }

  h2 {
    color: #333333;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  p {
    line-height: 1.6;
    margin-bottom: 10px;
  }

  label {
    line-height: 1;
  }

  fieldset {
    border-style: none;
    padding: 0;
    margin: 0;
  }

}
