#styleguide-buttons
  %section
    .sub-1.intro Buttons
    %ul
      %li
        %button.radius Button
        .class-name .button.radius
      %li
        %button.radius.disabled Button Disabled
        .class-name .button.radius.disabled
      %li
        %button.radius.small Button Small
        .class-name .button.radius.small
      %li
        %button.radius.tiny Button Tiny
        .class-name .button.radius.tiny
