#styleguide-colors
  %section
    .sub-1.intro Colors
    .color-block.dark.mckinsey-blue $mckinsey-blue
    .color-block.dark.mckinsey-academy-alt-blue $mckinsey-academy-alt-blue
    .color-block.dark.mckinsey-academy-black $mckinsey-academy-black
    .color-block.dark.mckinsey-grey $mckinsey-grey
    .color-block.dark.mckinsey-dark-grey $mckinsey-dark-grey
    .color-block.mckinsey-academy-turquoise $mckinsey-academy-turquoise
    .color-block.mckinsey-orange $mckinsey-orange
    .color-block.mckinsey-green $mckinsey-green
    .color-block.mckinsey-red $mckinsey-red
    .color-block.mckinsey-academy-blue-gray $mckinsey-academy-blue-gray
    .color-block.mckinsey-academy-warm-gray $mckinsey-academy-warm-gray
    .color-block.mckinsey-academy-bright-gray $mckinsey-academy-bright-gray
    .color-block.mckinsey-academy-light-gray $mckinsey-academy-light-gray
