#styleguide-icons
  %section
    .sub-1.intro Icons
    %ul
      %li
        %i.fa.fa-check
        .class-name .fa.fa-check
      %li
        %i.fa.fa-exclamation
        .class-name .fa.fa-exclamation
      %li
        %i.fa.fa-linkedin-square
        .class-name .fa.fa-linkedin-square
      %li
        %i.fa.fa-user
        .class-name .fa.fa-user
      %li
        %i.fa.fa-info
        .class-name .fa.fa-info
      %li
        %i.fa.fa-envelope
        .class-name .fa.fa-envelope
      %li
        %i.fa.fa-circle
        .class-name .fa.fa-circle
      %li
        %i.fa.fa-circle-o
        .class-name .fa.fa-circle-o
      %li
        %i.fa.fa-search
        .class-name .fa.fa-search
      %li
        %i.fa.fa-exclamation-circle
        .class-name .fa.fa-exclamation-circle
      %li
        %i.fa.fa-bars
        .class-name .fa.fa-bars
      %li
        %i.fa.fa-comment
        .class-name .fa.fa-comment
      %li
        %i.fa.fa-play-circle
        .class-name .fa.fa-play-circle
      %li
        %i.fa.fa-plus-circle
        .class-name .fa.fa-plus-circle
      %li
        %i.fa.fa-arrow-circle-right
        .class-name .fa.fa-arrow-circle-right
      %li
        %i.fa.fa-times-circle
        .class-name .fa.fa-times-circle
      %li
        %i.fa.fa-chevron-left
        .class-name .fa.fa-chevron-left
      %li
        %i.fa.fa-chevron-right
        .class-name .fa.fa-chevron-right
      %li
        %i.fa.fa-lock
        .class-name .fa.fa-lock
      %li
        %i.fa.fa-unlock
        .class-name .fa.fa-unlock
      %li
        %i.fa.fa-sort-asc
        .class-name .fa.fa-sort-asc
      %li
        %i.fa.fa-sort-desc
        .class-name .fa.fa-sort-desc
      %li
        %i.fa.fa-bookmark
        .class-name .fa.fa-bookmark
      %li
        %i.fa.fa-star
        .class-name .fa.fa-star
      %li
        %i.fa.fa-flag
        .class-name .fa.fa-flag
      %li
        %i.fa.fa-plus
        .class-name .fa.fa-plus
      %li
        %i.fa.fa-home
        .class-name .fa.fa-home
      %li
        %i.fa.fa-sort
        .class-name .fa.fa-sort
