#styleguide-typography
  %section
    .sub-1.intro Headers
    %h1 Header Level 1
    %h2 Header Level 2
    %h3 Header Level 3
    %h4 Header Level 4
    %h5 Header Level 5
    %h6 Header Level 6
  %section
    .sub-1.intro Sub Headers
    %ul
      %li
        .sub-1 Sub Header Level 1
        .class-name .sub-1
      %li
        .sub-2 Sub Header Level 2
        .class-name .sub-2
  %section
    .sub-1.intro Anchors
    %ul
      %li
        %a Anchor
  %section
    .sub-1.intro Blockquotes
    %ul
      %li
        %blockquote Blockquote
      %li
        %blockquote.user-quote User Blockquote
        .class-name blockquote.user-quote
  %section
    .sub-1.intro Navigation Items
    %ul
      %li
        .nav-1 Navigation Level 1
        .class-name .nav-1
      %li
        .nav-1.selected Navigation Level 1 Selected
        .class-name .nav-1.selected
      %li
        .nav-2 Navigation Level 2
        .class-name .nav-2
      %li
        .nav-2.selected Navigation Level 2 Selected
        .class-name .nav-2.selected
      %li
        .nav-2.completed Navigation Level 2 Completed
        .class-name .nav-2.completed
  %section
    .sub-1.intro Paragraphs
    %ul
      %li
        %p Paragraph
      %li
        %p.style-2 Paragraph Style 2
        .class-name p.style-2
      %li
        %p.style-3 Paragraph Style 3
        .class-name p.style-3
      %li
        %p.style-4 Paragraph Style 4
        .class-name p.style-4
      %li
        %p.style-5 Paragraph Style 5
        .class-name p.style-5
      %li
        %p.style-6 Paragraph Style 6
        .class-name p.style-6
  %section
    .sub-1.intro Labels
    %ul
      %li
        .label-1 Label Style 1
        .class-name .label-1
      %li
        .label-2 Label Style 2
        .class-name .label-2
      %li
        .label-3 Label Style 3
        .class-name .label-3
      %li
        .label-4 Label Style 4
        .class-name .label-4
      %li
        .label-5 Label Style 5
        .class-name .label-5
      %li
        .label-6 Label Style 6
        .class-name .label-6
      %li
        .label-7 Label Style 7
        .class-name .label-7
      %li
        .label-8 Label Style 8
        .class-name .label-8
      %li
        .label-9 Label Style 9
        .class-name .label-9
  %section
    .sub-1.intro Person
    %ul
      %li
        .person-name Person Name
        .class-name .person-name
      %li
        .person-title Person Title
        .class-name .person-title
  %section.background-blue
    .sub-1.intro Background Blue
    %ul
      %li
        %div Text
        .class-name .background-blue
      %li
        %a Anchor
      %li
        .person-name Person Name
        .class-name .person-name
  %section.background-alt-blue
    .sub-1.intro Background Alt Blue
    %ul
      %li
        %div Text
        .class-name .background-alt-blue
      %li
        %h4 Header Level 4
      %li
        %h5 Header Level 5
      %li
        .label-4 Label Style 4
        .class-name .label-4
