// Reusing form spacing as defined by foundation. Update if default is changed.
$form-spacing: rem-calc(16);

.admin_client_sso {
  .identity-provider {
    label {
      padding: $form-spacing/2 $form-spacing;
    }
    p.message {
      padding: $form-spacing;
    }
  }

  .access-key-search-create .button {
    margin-bottom: $form-spacing;
  }

  .dataTables_empty {
    text-align: center;
    color: gray;
  }

  .idp-buttons a {
    display: none;
    margin: 0 0.5rem;
  }

  .idp-setup {
    margin: 2rem 0;
  }

  .idp-setup.edit-mode .idp-buttons #edit-idp {
    display: inline-block;
  }

  .idp-setup.add-mode {
    .idp-buttons #add-idp {
      display: inline-block;
    }
    .read-only-idp {
      font-style: italic;
    }
  }

  .idp-setup.save-mode .idp-buttons {
    #save-idp, #reset-idp {
      display: inline-block;
    }
  }

  .idp-setup.save-mode .identity-provider-input {
    #identity_provider {
      display: block;
    }
    .read-only-idp {
      display: none;
    }
  }

  .identity-provider-input {
    position: relative;
    #identity_provider {
      display: none;
      margin-bottom: 0;
      &.save-failed {
        border-color: red;
      }
    }
    .read-only-idp {
      padding: $form-spacing/2 $form-spacing;
      line-height: 21px;
    }
    .status-icon {
      position: absolute;
      top: $form-spacing * 3 / 4;
      right: $form-spacing * 3 / 4;
      .fa-exclamation-circle {
        color: red;
      }
      .fa-check-circle {
        color: green;
      }
    }
  }
}
