// Reusing form spacing as defined by foundation. Update if default is changed.
$form-spacing: rem-calc(16);

.admin_client_sso , .course_custom_terminology{
  .identity-provider , .lesson-label, .module-label{
    label {
      padding: $form-spacing/2 $form-spacing;
    }
    p.message {
      padding: $form-spacing;
    }
  }

  .access-key-search-create .button {
    margin-bottom: $form-spacing;
  }

  .dataTables_empty {
    text-align: center;
    color: gray;
  }

  .idp-buttons , .ll-buttons, .ml-buttons{
    a{
      display: none;
      margin: 0 0.5rem;
    }
  }

  .idp-setup , .ll-setup, .ml-setup{
    margin: 2rem 0;
    &.edit-mode .idp-buttons #edit-idp,
    &.edit-mode-ll .ll-buttons #edit-ll,
    &.edit-mode-ml .ml-buttons #edit-ml{
      display: inline-block;
    }
    &.add-mode , &.add-mode-ll , &.add-mode-ml {
      .idp-buttons #add-idp, .ll-buttons #add-ll , .ml-buttons #add-ml{
        display: inline-block;
      }
      .read-only-idp , .read-only-ll, .read-only-ml{
        font-style: italic;
      }
    }
    &.save-mode , &.save-mode-ll , &.save-mode-ml{
      .idp-buttons, .ll-buttons , .ml-buttons{
        #save-idp, #reset-idp , #save-ll , #reset-ll, #save-ml, #reset-ml{
          display: inline-block;
        }
      }
      .identity-provider-input, .custom-lesson-label-input, .custom-module-label-input{
        #identity_provider, #custom_lesson_label, #custom_module_label{
          display: block;
        }
        .read-only-idp, .read-only-ll , .read-only-ml{
          display: none;
        }
      }
    }
  }

  .identity-provider-input, .custom-lesson-label-input, .custom-module-label-input {
    position: relative;
    #identity_provider , #custom_lesson_label, #custom_module_label{
      display: none;
      margin-bottom: 0;
      &.save-failed {
        border-color: red;
      }
    }
    .read-only-idp, .read-only-ll, .read-only-ml {
      padding: $form-spacing/2 $form-spacing;
      line-height: 21px;
    }
    .status-icon , .status-icon-ll, .status-icon-ml{
      position: absolute;
      top: $form-spacing * 3 / 4;
      right: $form-spacing * 3 / 4;
      .fa-exclamation-circle {
        color: red;
      }
      .fa-check-circle {
        color: green;
      }
    }
  }
}
