.desc-text{
	 resize: none;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }
.ui-state-default{
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
  }