#mainParticipantsWrapper, #mainParticipantsDetailsWrapper{
	margin-left: auto;
	margin-right: auto;
	display:table;
	min-width: 760px;
}

#mainParticipantsWrapper
{
	width: 100%;
	max-width: 68.57143rem;
}

#mainParticipantsDetailsWrapper
{
	max-width: 80%;
}
#participantsAddWrapper{
  text-align: center;
}
#participantsSearchWrapper{
	.columns{
		padding-left: 0;
	}
}
#participantsAddWrapper, .participantDetailsNavigationButton{
	margin-bottom: 10px;
}

#participantsListViewGridBlock{
	max-height: 120em;
	position: relative;

	.bbGrid-container
	{
		max-height: 120em;
		overflow-y: auto;
	}
}

#mainParticipantsWrapper{
	.menuButton{
		display:inline-block;
		display: inline-block;
		padding: 8px 10px;
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 5px;
	}
}

#import-participants-progress {
	max-width: 68.57143rem;
	.scroll-container {
		max-width: 68.57143rem;
		overflow: auto;
		table {
			margin-bottom: 0;
			th, td {
				white-space: nowrap;
			}
			td {
				position: relative;
				color: lighten($pure-black, 15%);
				a {
					display: block;
				}
				[class*="file"] {
					text-align: center;
					font-size: 18px;
					&.error-file {
						color: $mckinsey-orange;
					}
					&.activation-file {
						color: $mckinsey-academy-alt-blue;
					}
				}
				&.status {
					position: relative;
					.import-pending {
						.task-progress{
							&:before {
							content: "";
							position: absolute;
							left: 0;
							width: inherit;
							top: 0;
							bottom: 0;
							background-color: $mckinsey-dark-blue;
						}
						}
						> div {
							color: $mckinsey-bubble-gray;
						}
						.task-status{
							position: relative;
						}
					}
					> div {
						&.import-success {
							.fa {
								color: $mckinsey-green;
							}
						}
						&.import-warning {
							.fa {
								color: $mckinsey-orange;
							}
						}
						.fa {
							font-size: 10px;
							position: relative;
							top: -1px;
						}
					}
				}
				.in-progress {
					color: $mckinsey-bubble-gray;
				}
			}
		}
	}
	> a {
		display: inline-block;
		margin-bottom: 30px;
	}
	h1 {
		color: lighten($pure-black, 15%);
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 20px;
	}
}



// Import progress Modal
#import_participants_popup_message{
	text-align: center;
	h2{
		text-align: left;
		font-size: 18px;
		font-weight: bold;
		color: lighten($pure-black, 15%);
	}
	p{
		text-align: left;
		color: lighten($pure-black, 15%);
		font-size: 14px;
		span{
			font-weight: bold;
			color: $mckinsey-academy-alt-blue;
		}
	}
	.close-reveal-modal{
		&.button{
			position: relative;
			padding: 10px 85px;
			border-radius: 4px;
			color: $ash-white;
			font-size: 12px;
			margin: 10px 0;
		}
	}
}

#import-participants-progress {
	max-width: 68.57143rem;
	.scroll-container {
		max-width: 68.57143rem;
		overflow: auto;
		table {
			margin-bottom: 0;
			th, td {
				white-space: nowrap;
			}
			td {
				position: relative;
				color: lighten($pure-black, 15%);
				a {
					display: block;
				}
				.csv-name{
					max-width: 300px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				[class*="file"] {
					text-align: center;
					font-size: 18px;
					&.error-file {
						color: $mckinsey-orange;
					}
					&.activation-file {
						color: $mckinsey-academy-alt-blue;
					}
				}
				&.import-progress {
					position: relative;
					&.import-pending {
						&:before {
							content: "";
							position: absolute;
							left: 0;
							right: 70px;
							top: 0;
							bottom: 0;
							background-color: $mckinsey-dark-blue;
						}
						> div {
							color: $mckinsey-bubble-gray;
						}
					}
					> div {
						position: relative;
						&.import-success {
							.fa {
								color: $mckinsey-green;
							}
						}
						&.import-warning {
							.fa {
								color: $mckinsey-orange;
							}
						}
						.fa {
							font-size: 10px;
							position: relative;
							top: -1px;
						}
					}
				}
				&.in-progress {
					color: $mckinsey-bubble-gray;
				}
			}
		}
	}
	> a {
		display: inline-block;
		margin-bottom: 30px;
	}
	h1 {
		color: lighten($pure-black, 15%);
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 20px;
	}
}


#participantsListViewGridBlock{ 
	
	width: auto;
	display: table;
	margin-left: auto;
	margin-right: auto;
	min-width: 100%;

	.bbGrid-grid{
		min-width: 100%;
	}
}

#activation-link-modal{
	overflow-x: auto; 
}

#participantDetailsWrapper div[title]:hover:after {
	content: attr(title);
	position: absolute;
	right: 100%;
	bottom: 0px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px;
	white-space: nowrap;
	background: white;
}
#participantsDetailsDataWrapper{
	margin-top: 50px;
}
#participantsTopDetailsContainer{
	margin-bottom: 50px;

	.row{
		height: 100px;

		.columns{
			height: 100%;
		}

		.participantEnrollInCourse{
			margin-top: 20px;
		}

		.participantImage{
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		.participantNameAndLogin{
			margin-top: 10px;
		}

		.participantNameAndLogin{

			.participantFullName{
				font-size: x-large;
				margin-bottom: 10px;
			}
		}
	}
}
#participantDetailsWrapper{

	.participantDetailsContent{
		min-height:500px;
		border:1px solid black;
		background-color: white;
		padding: 20px;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;

		.row{
			margin-bottom: 20px;
		}

		.participantDetailsEditText{
			font-size: x-large;
		}
	}

	.participantActivation{
		float: left;
	}
}
.labelUniversal{
	margin-bottom: 20px;
	font-weight: bold;
}
#participantDetailsActiveCoursesViewGrid
{
	max-height: 25em;
	overflow-y: scroll;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;

	.bbGrid-grid.table{
		margin-left: auto;
		margin-right: auto;
	}
}

.participantDetailsActiveCourses #activeCoursesExportStatsButton
{
	display:table;
	min-width: 760px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#participantDetailsCourseHistoryViewGrid
{
	max-height: 25em;
	overflow-y: scroll;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;

	.bbGrid-grid.table, .bbGrid-grid-nav{
		margin-left: auto;
		margin-right: auto;
	}
}

.participantDetailsCourseHistory #courseHistoryExportStatsButton
{
	display:table;
	min-width: 760px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.participantEmailLabel{
	display: inline-block;
}

#participantDetailsWrapper{

	.disabledATag
	{
		pointer-events: none;
   		cursor: default;
   		color: #333333;
		font-family: "Open Sans",sans-serif;
		font-weight: normal;
		font-style: normal;
		line-height: 1;
   	}

	.participantDetailsContent .participantEmailReset{
		float: right;
	}

	.participantDetailsEditForm{

		.cancelParticipantEdit{
			margin-left: 15px;
			text-decoration: underline;
		}

		.participantCountryValue > .country-select{
			width: 100%;
		}

		#country_edit{
			background-color: white!important;
		}

		.participantCourseValue, .participantAdminCompanyValue, .participantCompanyValue, .participantEmailValue{
			position:relative;
		}

		.newCompanyCreationPopup
		{
			display: none;
			position: absolute;
			right: 100%;
			top: 50%;
			transform: translate(-20px,-50%);
			background-color: white;
			border: 1px solid black;
			border-radius: 5px;
			min-width: 200px;
			padding: 5px;

			&:after, &:before{
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after{
				border-color: rgba(255, 255, 255, 0);
				border-left-color: #ffffff;
				border-width: 9px;
				margin-top: -9px;
			}

			&:before{
				border-color: rgba(0, 0, 0, 0);
				border-left-color: #000000;
				border-width: 10px;
				margin-top: -10px;
			}
		}

		.companyAdminRolesContainer
		{
			.participantPermissionsValue
			{
				display: inline-block
			}

			.removeItem
			{
				float: right;
				text-align: center;
				position: relative;
				bottom: 50%;
				transform: translateY(80%);
			}
		}

		.companyAdminControles
		{
			margin-bottom: 5px;

			&.addAnotherCompanyToAdminister
			{
				float:left;
			}

			&.refreshCompanyToAdminister
			{
				float:right;
			}
		}
	}
}

.checkMark
{
	color: #629B2B;
	display: none;
}

.participantDetailsEditForm .warningText
{
	color: #CD202C;
	display: none;
	position: absolute;
	bottom: -10px;
}

.participantDetailsEditForm .errorMessage
{
	color: red;
}

#add_a_participant{

	.participantCountryValue > .country-select{
		width: 100%;
	}

	.addAnotherCompanyWrapper, .addAnotherCourseWrapper{
		text-align: left;
	}

	.adminAnotherCompanyAllWrapper{
		width: 100%;
	}

	.removeItem{
		text-align: center;
	}

	.permissionSelect, .emailActivationCheckbox, .emailActivation{
		display: inline-block;
	}

	.participantCourseValue, .participantAdminCompanyValue, .participantCompanyValue, .participantEmailValue{
		position:relative;
	}

	.errorContainer
	{
		color:red;
		text-align: center;
		padding-bottom:10px;
		max-height: 300px;
		overflow: auto;
	}

	.newCompanyCreationPopup {
		display: none;
		position: absolute;
		left: 100%;
		top: 50%;
		transform: translate(20px,-50%);
		background-color: white;
		border: 1px solid black;
		border-radius: 5px;
		min-width: 200px;
		padding: 5px;

		&:after, &:before{
			right: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after{
			border-color: rgba(255, 255, 255, 0);
			border-right-color: #ffffff;
			border-width: 9px;
			margin-top: -9px;
		}

		&:before{
			border-color: rgba(0, 0, 0, 0);
			border-right-color: #000000;
			border-width: 10px;
			margin-top: -10px;
		}
	}
}
#import_from_csv, #enroll_to_course_from_csv{

	.admin-form
	{
		position: relative;
		padding-bottom: 75px;
	}

	.button-wrapper
	{
		position: absolute;
		bottom: 0;

		a
		{
			bottom: 15%;
			position: relative!important;
		}
	}

	label, .helptext
	{
		display: none;
	}
	
	.emailActivationWrapper
	{
		padding-top: 20px;
	}

	.emailActivation
	{
		display: inline-block;
	}
}

#delete_user_modal, #delete_user_success{
	.titleContainer, .contentContainer
	{
		text-align: center;
	}

	.boldText
	{
		font-weight: bold;
	}

	.deletionWarning {
	    color: red;
			font-weight: bold;
	}

	.errorContainer
	{
		color:red;
		text-align: center;
		padding-top: 10px;
		padding-bottom:10px;
		max-height: 300px;
		overflow: auto;
	}

	.menuButton{
		border-radius: 4px;
		font-size: 14px;
		margin: 10px 0;
	}

	.button-wrapper
	{
		text-align: center;
	}

	.confirm-deletion-box
	{
		margin-bottom: 15px;

		input[type="checkbox"] {
		  margin:0;
		}
	}
}

.actionButtonIcon
{
	cursor: pointer;
}
