#mainCoursesListContainer
{
	width: 100%;
	min-width: 60%;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#mainCoursesDetailContainer
{
	margin-left: auto;
	margin-right: auto;
	max-width: 68.57143rem;
	padding: 0 10px;
}

#coursesListTitle p
{
	font-size: xx-large;
	margin-bottom: 20px;
}

#mainCoursesWrapper
{
	margin-left: auto;
	margin-right: auto;
	display:table;
	width: 100%;
	max-width: 68.57143rem;
}

#managerDashboardWrapper{
  margin: 0 auto;
  max-width: 80rem;
  .navigation{
    padding: 0 1.07143rem;
    ul{
      border-bottom: 1px solid lighten($mckinsey-bubble-gray, 20%);
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        vertical-align: bottom;
        .hashPageButton{
          display: block;
          margin-top: 10px;
          margin-right: 20px;
          text-transform: uppercase;
          border-bottom: 3px solid transparent;
          &.active{
            border-bottom: 3px solid $mckinsey-light-blue;
            font-weight: bold;
          }
        }
      }
	}
  }
  .note{
	  padding: 0 25px 20px;
	  background-color: #dce4e8;
	  margin: 0 1.07143rem;
	  font-size: 13px;
	  color: $mckinsey-dark-grey;
	  font-weight: 400;
	  font-style: italic;
  }
  .bbGrid-search-bar{
    padding: 0 1.07143rem;
    margin-top: 15px;
    input{
      float: left !important;
    }
  }
	table{
      min-width: 68.57143rem;
      td, th{
        white-space: nowrap;
      }
	  td{
        position: relative;
        z-index: 0;
        padding: 0.64286rem 0.5rem;
		&.progress{
          color: $mckinsey-dark-grey;
          text-align: left;
          span{
            vertical-align: middle;
            &:before{
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              background-color: $manager-progress-green;
              z-index: -1;
              width: inherit;
            }
          }
		}
        &.status{
          padding-left: 24px;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            left: 10px;
            top: 12px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
          }
          &.yes{
            &:before{
              background-color: $manager-green;
            }
          }
          &.no{
            &:before{
              background-color: $manager-orange;
            }
          }
        }
	  }
	}
	.manager-progress-cards{
		padding: 20px 20px 0;
		background-color: darken($mckinsey-academy-bright-gray , 3%);
		ul{
			border-bottom: 0;
			li{
				width: 250px;
				vertical-align: top;
				display: inline-block;
				box-sizing: border-box;
				margin: 0 2% 2% 0;
				text-align: center;
				color: lighten($mckinsey-academy-black , 15%);
				> div:nth-child(odd){
					font-size: 21px;
					padding: 15px 5px 0;
					line-height: 24px;
					border-bottom: 1px solid $mckinsey-academy-bright-gray;
					background-color: $pure-white;
					span{
						color: $mckinsey-academy-alt-blue;
						&.inherit-color{
							color: lighten($mckinsey-academy-black , 15%);
						}
					}
					large{
						font-size: 50px;
						display: block;
						line-height: 80px;
						margin-top: 10px;
					}
					small{
						font-size: 22px;
						line-height: normal;
					}
				}
				> div:nth-child(even){
					background-color: $ash-white;
					padding: 10px 7px;
					font-size: 15px;
					line-height: normal;
				}
				> div{
					span{
						line-height: normal;
                        &.green{
                          color: $mckinsey-green;
                        }
                        &.red{
                          color:$mckinsey-red;
                        }
					}
					.avgProgress{
						font-size: 0;
						background-color: $pure-white;
						border: 0;
						//background-color: $ash-white;
						//font-size: 1.1rem;
						//margin: 10px -5px 0;
						//padding: 10px;
						//line-height: normal;
						//font-weight: 600;
						//border-top: 1px solid lighten($mckinsey-grey, 10%);
					}
				}
			}
		}
	}
	#managerDashboardContainer{
		overflow: hidden;
		margin: 0 1.07143rem;
		background-color: darken($mckinsey-academy-bright-gray , 3%);
		padding-bottom: 10px;
		.bbGrid-container{
			max-width: 100%;
			overflow-x: auto;
			table{
				min-width: 100%;
				tr{
					td{
						&:last-child{
							width: 134px;
							position: relative;
							display: table-cell;
						}
						.toggle-subgrid{
							position: absolute;
							right: 5px;
							top: 9px;
							background: transparent;
							color: $mckinsey-academy-alt-blue;
							padding: 0;
							box-shadow: none;
							font-weight: normal;
							font-size: 13px;
						}
					}
					&[class*="subgrid"]{
						td{
							&:last-child{
								width: auto;
								position: static;
								display: table-cell;
							}
						}
					}
				}
			}
		}
	}
}

#coursesListViewGridBlock
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	max-height: 28em;
	position: relative;
	display: table;
	min-width: 60%;
	width: 100%;
	max-width: 68.57143rem;

	.bbGrid-container
	{
		max-height: 28em;
		overflow-y: auto;
	}

	.bbGrid-grid.table
	{
		min-width: 100%;
	}
}

#mainCoursesListBlockContainer
{
	margin-left: auto;
	margin-right: auto;

	.bbGrid-search-bar
	{
		float: none!important;
		display: table;
		min-width: 60%;

		.bbGrid-pager
		{
			float: left!important;
		}
	}
}

#mainCourseDetailsWrapper
{
	margin-left: auto;
	margin-right: auto;
	max-width: 68.57143rem;
	padding: 0 10px;

	.courseDetailsNavigationButton
	{
		margin-right: auto;
		margin-left: auto;
	}

	#courseDetailsDataWrapper
	{
		margin-top: 25px;

		#courseDetailsTopContainer
		{
			margin-left: auto;
			margin-right: auto;
		}

		.courseDetailsHeader
		{

			.courseDetailsNameAndId{
				color: #3384CA;
				font-size: medium;
				font-weight: bold;
				float: left;
				margin-bottom: 10px;
			}

			.courseDetailsTags{
				float: right;
				margin-bottom: 10px;

				.courseDetailsTagsList
				{
					font-size: small;
					padding: 5px;

					.courseTagsDeleteIcon
					{
						display: none;
					}
				}

				.courseDetailsTagsListCompAdmin
				{
					font-size: small;
					padding: 5px;
				}
			}
		}
		.courseDetailsBlocks{

			.courseDetailsLeftBlock{
				padding-left: 0 !important;
			}

			.courseDetailsCenterBlock{
				border-left: 1px solid #ccc;
				border-right: 1px solid #ccc;
				padding-left: 80px!important;
			}

			.courseDetailsRightBlock{
				padding-left: 80px!important;
			}
		}
	}
}

#courseMainDetailsContainerView
{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;

	.courseParticipantsButton
	{
		padding-left: 0 !important;
	}

	hr
	{
		margin-top: 40px;
	}
}

.courseDetailsViewGrid
{
	padding-left: 0 !important;

	.bbGrid-grid
	{
		width: 100%;
		th , td{
			text-align: left;
			&:last-child{
				text-align: left;
			}
		}
	}
}

#courseDetailsStatsViewGrid
{
	.bbGrid-grid
	{
		width: auto;
		th, td{
			max-width: 215px;
			width: 39%;
		}
	}
}



#courseDetailsParticipantsGridWrapper{
	margin-left: auto;
	margin-right: auto;

	#courseDetailsParticipantsGrid{
		margin: 0;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
		max-height: 120em;
		position: relative;
		float: none !important;

		.bbGrid-container
		{
			max-height: 120em;
			overflow: auto;
		    margin-left: auto;
		    margin-right: auto;
		}

		.bbGrid-grid.table
		{
			margin-left: auto;
		    margin-right: auto;
			min-width: 100%;
			td{
				word-break: normal;
			}
		}
	}
}
#courseDetailsMainContainer{

	.courseParticipants
	{
		max-width: 100% !important;
	}

	.bbGrid-search-bar{
		position: relative;
		float: none!important;
		display: inline-block;
		input{
			width: 200px;
		}
	}

	.courseDetailsTopic{
		float: left;
		display: none;
		font-size: xx-large;
		margin-bottom: 20px;
	}
}

#coursesDownloadStatsButton
{
	float: right;
	display: none;
}

#courseBulkActionsMainContainer{

	&.bulkActionsButtonContainer
	{
		float: right;
		z-index: 1000;
		position: relative;
	}

	.bulkButtonWrapper{
		position: relative;

		.bulkEmailSelectedParticipants{
			z-index: 3;
			position: relative;

			&.disabled{
				background-color: #ccc;
				outline: none;
				color: white;
			}
		}

		.hiddenButtonSplitModifier{
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
		}

		.bulkDropdownIcon{
			z-index: 1;
			position: relative;
		}
	}

	#dropBulkCourse{
		width: 100%;
		position: absolute;

		.submenuButtons{
			width: 100%;
			border-top: 3px solid white!important;
			text-align: left!important;
		}
	}
}


#courseDetailsMainModal{
	.courseModalTitle{
		float: left;
	}

	.courseModalStatus{
		float: right;
		margin-top: 5px;
	}

	.courseModalDescription{
		margin-bottom: 20px;
	}

	.courseModalContent
	{
		padding: 10px;
	}

	.courseModalControl .cancelChanges
	{
		margin-left: 15px;
	}
}

.loadingIcon
{
	float: right;
    margin-top: 5px;
    margin-left: 5px;

    &.hidden
	{
		display:none;
	}
}

#courseDetailsBulkEmail{

	.templateNameLabel{
		display: inline-block;
	}
	
	.templateControlButtons{
		float: right;

		i{
			font-size: 24px;
		    margin-right: 5px;
		}
	}

	.emailModalControl{
		padding: 15px;

		a{
			display: block;
			margin-top: 7px;
		}
	}

	.courseModalDescription{
		margin-bottom: 15px;
	}

	.leftEmailButtonsContainer{
		float: left;
	}

	.rightEmailButtonsContainer{
		float: right;
	}

	.buttonBlock{
		display:inline-block;
		float: right;
	}

}

#courseTagsModal
{
	.errorMessage
	{
		color: red;
		padding-bottom: 10px;
	}
	
	.newTagCreationPopup {
		display: none;
		position: absolute;
		left: 100%;
		top: 50%;
		transform: translate(20px,-50%);
		background-color: white;
		border: 1px solid black;
		border-radius: 5px;
		min-width: 200px;
		padding: 5px;

		&:after, &:before{
			right: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after{
			border-color: rgba(255, 255, 255, 0);
			border-right-color: #ffffff;
			border-width: 9px;
			margin-top: -9px;
		}

		&:before{
			border-color: rgba(0, 0, 0, 0);
			border-right-color: #000000;
			border-width: 10px;
			margin-top: -10px;
		}
	}
}

#tagCoursesListModal
{
	width: auto!important;
}

#courseDetailsEngagementViewGrid,
#courseDetailsStatsViewGrid
{
	margin-bottom: 20px;
}

#courseDetailsEngagementViewGrid{
	padding-right: 0;
}

#managerDashboardReportGrid
{
    opacity: 0.4;
    margin-top: 50px;
	height: 300px;
}

.noDirectReport
{
	font-style: italic;
    color: #333;
    font-weight: 600;
    font-size: initial;
    text-align: center;
    display: block;
    opacity: 1;
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

.managerDashboardCourse
{
	overflow: hidden;
	position: relative;
}
