.dataTables_wrapper {
  margin-bottom: 1.25em;

  div.dataTables_length label,
  div.dataTables_filter label,
  div.dataTables_info {
    color: #999;
    font-weight: normal;
  }

  div.dataTables_length label {
    float: left;
    text-align: left;
    margin-bottom: 0;

    select {
      width: 75px;
      margin-bottom: 0;
    }
    label {
      float: right;
      margin-bottom: 0;
    }
    input {
      display: inline-block !important;
      width: auto !important;
      margin-bottom: 0;
    }
  }

  div.dataTables_info {
    padding-top: 2px;
    font-size: 0.875em;
  }

  div.dataTables_paginate {
    float: right;
    margin: 0;
  }

  table{
    .dataTable {
      clear: both;
      margin: 0.5em 0 !important;
      max-width: none !important;
      width: 100%;

      thead .sorting,
      thead .sorting_asc,
      thead .sorting_desc,
      thead .sorting_asc_disabled,
      thead .sorting_desc_disabled {
        cursor: pointer;
        *cursor: hand;
      }
      thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
      thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
      thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

      thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
      thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

      th:active {
        outline: none;
      }
      /* Sort arrows default to transparent grey. When active, turn black */
      th .asc, th .desc {
        color: rgba(127, 127, 127, 0.3);
        float: right;
      }
      .sorting_desc .asc, .sorting_asc .desc {
        color: rgba(0,0,0,1);
      }
    }
  }

  /* Scrolling */
  div.dataTables_scrollHead table {
    margin-bottom: 0 !important;
  }

  div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  div.dataTables_scrollBody tbody tr:first-child th,
  div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
  }

  div.dataTables_scrollFoot table {
    margin-top: 0 !important;
    border-top: none;
  }




  /*
   * TableTools styles
   */
  .table tbody tr.active td,
  .table tbody tr.active th {
    background-color: #08C;
    color: white;
  }

  .table tbody tr.active:hover td,
  .table tbody tr.active:hover th {
    background-color: #0075b0 !important;
  }

  .table-striped tbody tr.active:nth-child(odd) td,
  .table-striped tbody tr.active:nth-child(odd) th {
    background-color: #017ebc;
  }

  table.DTTT_selectable tbody tr {
    cursor: pointer;
    *cursor: hand;
  }

  div.DTTT {
    float: left;
    margin-bottom: 0;
  }

  div.DTTT .button:hover {
    text-decoration: none !important;
  }

  ul.DTTT_dropdown.dropdown-menu li {
    position: relative;
  }

  ul.DTTT_dropdown.dropdown-menu li:hover a {
    background-color: #0088cc;
    color: white !important;
  }

  /* TableTools information display */
  .DTTT_print_info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    margin-left: -200px;
    margin-top: -75px;
    text-align: center;
    color: #333;
    padding: 10px 30px;
    @include top-bottom-gradient(#ffffff, #f9f9f9);
    opacity: 0.95;
    @include rounded(6px);
    @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);
  }

  div.DTTT_print_info h6 {
    @include font-spec(28, normal, 28);
    margin: 1em;
  }

  div.DTTT_print_info p {
    @include font-spec(14, normal, 20);
  }



  /*
   * FixedColumns styles
   */
  div.DTFC_LeftHeadWrapper table,
  div.DTFC_LeftFootWrapper table,
  table.DTFC_Cloned tr.even {
    background-color: white;
  }

  div.DTFC_LeftHeadWrapper table {
    margin-bottom: 0 !important;
  }

  div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin-bottom: 0 !important;
  }

  div.DTFC_LeftBodyWrapper tbody tr:first-child th,
  div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
  }

  div.DTFC_LeftFootWrapper table {
    border-top: none;
  }

  th .asc, th .desc {
    color: rgba(127, 127, 127, 0.3);
    float: right;
  }
  .sorting_desc .asc, .sorting_asc .desc {
    color: rgba(0,0,0,1);
  }
}
