#feature-flags {
  margin-top: rem-calc(35);

  ul {
    margin-top: rem-calc(10);
    list-style-type: none;

    li {
      p {
        max-width: rem-calc(345);
        padding-bottom: rem-calc(20);
      }
    }
  }
}
