#admin-body {

  button,
  .button {
    margin-bottom: 0;
  }

  .admin-detail{
    ul{
      list-style: none;
      padding: 0;
      li{
        text-transform: uppercase;
        display: inline-block;
        padding: 20px 5px;
      }
    }
  }

  @import './admin-list';
  @import './principal-overlay';
}
