#admin-body {

  button,
  .button {
    margin-bottom: 0;
  }

  .admin-detail{
    ul{
      list-style: none;
      padding: 0;
      li{
        text-transform: uppercase;
        display: inline-block;
        padding: 20px 5px;
      }
    }
  }

  input[type=submit]{
    &[disabled]{
      cursor: not-allowed;
    }
  }

  #upload_error_list{
    li{
      @include font-spec(12);
      color: $mckinsey-red;
      text-transform: none;
      padding: 10px;
      width: auto;
    }
  }

  @import './admin-list';
  @import './principal-overlay';
}
