#admin-body {

  margin-top: 0px;
  padding-top: $header-bar-height;

  &.with-program {
    padding-top: $header-bar-height + $program-bar-height;
  }
  .admin-form {
    .required-field {
      color: $mckinsey-orange;
      @include font-spec(14, semibold);
      &::after{
        content: '*';
      }
    }
  }
  header{
    .row{
      max-width: 80rem;
    }
  }
  main[role=main] {
    padding-top: 40px;
  }

  button,
  .button {
    margin-bottom: 0;
  }

  .no-participants {
    cursor: default;

    &:hover {
      .mcka-tooltip { display: block; }
    }
  }

  .mcka-tooltip {
    color: $mckinsey-dark-grey;
    position: absolute;
    background: $pure-white;
    border-radius: 5px;
    border: 1px solid $border-line;
    white-space: nowrap;
    padding: 5px;
    right: 100%;
    margin-top: -20px;
    display: none;
    @include font-spec(12);

    &.lesson-page { margin-top: -13px; }

    .vertical-index {
      color: $mckinsey-academy-alt-blue;
      font-weight: 600;
      margin-bottom: 3px;
    }

    &:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 6px;
      top: 50%;
      margin-top: -6px;
      right: -12px;
      border-color: transparent transparent transparent $pure-white;
    }
  }

  .admin-detail{
    ul{
      list-style: none;
      padding: 0;
      li{
        text-transform: uppercase;
        display: inline-block;
        padding: 20px 5px;
      }
    }
  }

  .contact-title,
  .contact-info{
    display: inline-block;
  }

  .contact-title{
    position: relative;
    vertical-align: top;
  }

  #upload_error_list{
    li{
      @include font-spec(12);
      color: $mckinsey-red;
      text-transform: none;
      padding: 10px;
      width: auto;
    }
  }

  .client-programs{
    .courses{
      display: none;
    }
  }
  .course-list .course,
  .student-list .student{
    &:hover{
      background-color: $admin-table-row-hover-color;
    }
    &.selected{
      background-color: $admin-table-row-select-color;
    }
    a.invite-user:hover{
      color:$mckinsey-academy-alt-blue;
    }
  }

  .ready-for-collapse{
    cursor: auto;
    tr a,
    tr .sorting-column{
      cursor: pointer;
    }
  }

  .collapse-in-progress{
    cursor: progress;
    tr,
    tr a,
    tr sorting-column {
      cursor: progress;
    }
  }

  .participants-message {
    @include font-spec(14, normal, 22);
  }

  #course-participants{

    .student a {
      width: auto;
      overflow: visible;
      display: inline-block;
    }

    caption{
      text-align: left; margin-bottom: 10px;

      .add-message {
        @include font-spec(12, normal);
        font-style: italic;
      }
    }

    thead{
      background-color: $mckinsey-academy-warm-gray;

      th,
      th span{
        @include font-spec(10, bold);
      }
    }

    tbody {
      td, td p {
        @include font-spec(10);
      }
      tr {
        .even {
          background: #F9;
        }
        .odd {
          background: $pure-white;
        }
      }
      .fa {
        @include font-spec(16);
      }
      ta, a {
        @include font-spec(10, 600);
      }
      .actions {
        text-align: right;
      }
      .divider {
        display: inline-block;
        width: 1px;
        height: 1.25em;
        background-color: $mckinsey-grey;
        margin-left: 1em;
        margin-right: 1em;
      }
      .course-progress-link {
        text-align: right;
      }
    }
  }

  #student-list.columns {
    padding-left: 0;
    .dataTable .student td:last-child{
      max-width:rem-calc(75);
    }
  }

  .program-selection .select-program-box{
    cursor: pointer;
    margin: 10px 0;
    border: 1px solid $border-line;
    padding:10px;
    &:hover{
      background-color: $mckinsey-academy-blue-gray;
    }
    .name{
      margin: 5px 0 10px 0;
      padding-bottom: 5px;
      border-bottom: 1px solid;
    }
    .course-box{
      display: none;
    }
    &.selected{
      background-color: $mckinsey-academy-alt-blue;
      .course-box{
        display: block;
      }
    }
  }
  ul.courses-tiles{
    float:left;
    display: inline;
    width: 100%;

    li.course-tile{
      display:inline-block;
      width: 190px;
      height: 190px;
      background: $pure-white;
      margin-right: 20px;
      margin-bottom: 20px;
      vertical-align: bottom;
      position: relative;
      @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);
      .label-11, .label-12{
        height: 70px;
        overflow: hidden;
      }
      .label-11, .label-12, .course-stats{
        padding: 0 10px 0 10px;
      }
      .course-stats{
        .course-stat-label{
          color: #666666;
          @include font-spec(10, semibold, 12);
        }
        .course-stat-value{
          color: #666666;
          @include font-spec(10, normal, 12);
        }
      }
      a.course-link{
        float:right;
        padding: 0px 15px 5px 0;
        width:20px;
        height:20px;
        i{
          width:20px;
          height:20px;
          font-size:20px;
        }
      }
      .not-started{
        color: #868685;
        cursor: initial;
      }
      .course-image{
        width:100%;
        height: 25px;
        max-height:25px;
        margin-bottom: 10px;
      }
      .go-to-link{
        position: absolute;
        top: 160px;
        left:170px;
      }
    }
  }

  ul.contact-tiles{
    float:left;
    display: inline;
    width: 100%;

    li.contact-tile{
      display:inline-block;
      width: 190px;
      height: 90px;
      background: $pure-white;
      margin-right: 20px;
      margin-bottom: 20px;
      vertical-align: top;
      position: relative;
      text-transform:none;
      @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);
      .contact-infos{
        max-width:120px;
        width:120px;
        display: inline-block;
        overflow:hidden;
        word-wrap: break-word;
        .contact-info-value{
          color: #666666;
          @include font-spec(10, normal, 12);
        }
        .contact-name{
          @include font-spec(12, semibold, 13);
        }
      }
      .profile-image{
        height:45px;
        width:45px;
        float:left;
        margin:0 7px;
      }
      .fa.fa-times-circle{
        float: right;
        margin-bottom: -15px;
        position: relative;
        top: -15px;
        vertical-align: top;
        color: $mckinsey-grey;
        cursor: pointer;
      }
    }
    li.contact-tile.add-new-contact{
      text-align:center;
      vertical-align: center;
      color: $mckinsey-grey;
      cursor: pointer;
      i.fa-plus-square-o{
        font-size:45px;
        line-height: 45px;
      }
    }
  }
  .user-list-form{
    .user-list{
      display:none;
    }
    tr.selected{
      background: $mckinsey-academy-warm-gray;
    }
  }

  .company-image img{
    width:175px;
    height:50px;
  }

  #id_logo_url, label[for="id_logo_url"]{
    display:none;
  }

  .student-progress-list{
    .empty-cell{
      background: $pure-white;
    }
    tbody {
      tr.even {background: #F9};
      tr.odd {background: $pure-white};
    }
  }
  .student-list .user-image img{
    max-width:40px;
    max-height: 40px;
  }

  .dataTable .expanded-group.group-item-expander{
    background:$mckinsey-academy-warm-gray;
  }

  .dataTable td.course-progress{
    float:left;
  }

  #course-status-chart-wrapper {
    margin: 0 auto;
    width: 860px;
    height: 400px;
    max-width: 100%;

    svg{
      .grid .tick {
        stroke: $mckinsey-dark-grey;
        opacity: 0.7;
      }
      .grid path {
        stroke-width: 0;
      }
    }
  }

  .status-chart-legend {
    width:100%;

    @media only screen and (min-width : 1224px) {
      margin-left:10%;
    }

    ul.inline-list {
      display:inline;
      float:left;
      list-style: none;
      li{
        display:inline-block;
        line-height: 1rem;
        .color {
          width: rem-calc(12px);
          height: rem-calc(12px);
          float: left;
          margin-right: 5px;
        }
        .warm-gray{
          background: $mckinsey-academy-warm-gray;
        }
        .turquoise{
                  background: $mckinsey-academy-turquoise;
        }
        .orange{
                  background: $mckinsey-orange;
        }
      }
    }
  }

  .admin-analytics-progress-wrapper, #course-details-timeline-wrapper{
    height:360px;
    width:775px;
    float: left;

    #admin-analytics-progress, #course-details-timeline{
      overflow: visible;
      padding-left: 10px;

      .nv-axis text, .tick.major text {
        @include font-spec(12, bold);
      }

      rect.nv-indexLine {
        display:none;
      }
    }
  }
  .admin-analytics-participant-activity-wrapper{
    height:360px;
    width:100%;
    float: left;

    #admin-analytics-participant-activity {
      .nv-axisMaxMin text, .tick.major text {
        @include font-spec(12, bold);
      }
    }
  }
  .nvd3 .nv-legend .nv-series {
    cursor: default;
  }

  .progress_stats{
    float:left;
    ul{
      li{
        display:block;
        padding: 5px 0;
        .progress-stat.company{
            @include font-spec(20, bold);
            color: $mckinsey-academy-turquoise;

          }
        .progress-stat.cohort{
            @include font-spec(20, bold);
            color: $mckinsey-academy-blue-gray;
          }
        }
      }
    }

  .proficiency-engagement{
    .course-proficiency{
      margin:0 10%;
      text-align: left;
      .visualization {
        border-radius: 50%;
        background: $mckinsey-academy-warm-gray;
        @include square-size(100px);
        margin: 20px auto 15px;
        @include circle-chart($mckinsey-academy-warm-gray, $mckinsey-academy-black);
      }
      .inner-circle {
        background: $mckinsey-academy-turquoise;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        margin: -35px 0 0 -35px;
        z-index: 5;
        @include square-size(70px);
      }
    }
    .course-engagement {
      padding: 0 10%;
      text-align: left;
      border-left: 1px solid $almost-white;
      .visualization {
        margin: 20px auto 15px;
      }
    }
    .cohort-average{
      margin: 0 auto;
      text-align:center;
    }
  }

  #program_course_list {
    background: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    tr {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
    tbody tr:nth-child(odd) {
      background: #fff;
    }
    tbody tr:last-child {
      border-left: none;
      border-right: none;
      border-top: 1px solid #ddd;
      background: $mckinsey-academy-bright-gray;
      td {
        background: $mckinsey-academy-bright-gray;
        font-style: italic;
        color: $mckinsey-dark-grey;
        b {
          font-style: normal;
          color: $mckinsey-orange;
        }
      }
    }
  }

  #edit_field_modal{
    .submit-area {
      text-align: right;
    }
  }

  .email-edit-form {
    label[for="id_email"] {
      display: none;
    }
    margin-top: 2em;
  }

  .alternative-action {
    color: $mckinsey-academy-alt-blue;
    background-color: $pure-white;
    margin-right: 0;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    /* Not sure why this is needed. Padding remains, auto is insufficient. */
    width: 8em;
  }
  .close-modal-inline {
    position: inherit;
    top: inherit;
    right: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .access-key-disabled td {
    text-decoration: line-through;
    color: $mckinsey-dark-grey;
  }

  #download_csv_template {
    a {
      &.button.close-reveal-modal {
        color: $pure-white;
      }
    }
  }

  .cancelbutton {
    color: $pure-white;
    line-height: 1rem;
    margin-left: 10px;
  }

  @import './admin-list';
  @import './admin-sso';
  @import './principal-overlay';
  @import './workgroup-detail';
  @import './dataTable';
  @import './permissions';
  @import './unenroll';
  @import './feature-flags';
  @import './nav-links';
  @import './workgroup-dashboard';
  @import './admin-participants';
  @import './admin-courses';
  @import './admin-cohorts';
  @import './admin-companies';
  @import './admin-common';
  @import './admin-learner-dashboard';
  @import './admin-certificates';
}
