#nav-links {
  header {
    padding-left: rem-calc(20);
    margin-bottom: rem-calc(15);

    div {
      display: inline-block;
      vertical-align: top;
      &:first-child {
        width: 27%;
        margin-right: 2%;
      }
      &:last-child { width: 70%; }
    }
  }

  form {
    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }

    div:last-child {
      text-align: right;

      input {
        margin-right: rem-calc(10);
        &:last-child { margin-right: 0; }

        &[type=reset] {
          color: $mckinsey-academy-alt-blue;
          border: none;
          background: none;
        }
      }
    }
  }

  ol {
    li {
      input {
        display: inline-block;
        vertical-align: top;

        &[type=text] {
          width: 27%;
          margin-right: 2%;
        }
        &:last-child { width: 70%; }
      }
    }
  }
}

#custom-branding {
  form {
    fieldset {
      border: none;
      padding: 0;
      margin: 0;

      ul {
        padding: 0;
        margin: 20px 0 0;
        @include clearfix;

        li {
          float: left;
          width: 50%;
          height: 55px;
          padding: 0;
          position: relative;

          input[name='client_logo'],
          input[name='client_mobile_logo'],
          input[name='client_background'],
          input[name='global_client_logo'] {
            position: absolute;
            top: 0;
            right: 35px;
            width: 120px;
            height: 37px;
            z-index: 2;
            opacity: 0;
          }

          &:nth-child(odd) {
            padding-right: 35px;
          }

          &:nth-chid(even) {
            padding-left: 35px;
          }

          label {
            color: $mckinsey-dark-grey;
            display: inline-block;
            text-transform: none;
            line-height: 37px;
          }

          .upload_logo {
            float: right;
          }

          input[type='text'] {
            width: 35%;
            float: right;
          }
        }
      }
    }

    div:last-child {
      text-align: right;

      input {
        margin-right: rem-calc(10);
        &:last-child { margin-right: 0; }

        &[type=reset] {
          color: $mckinsey-academy-alt-blue;
          border: none;
          background: none;
        }
      }
    }
  }
}
