#nav-links {
  header {
    padding-left: rem-calc(20);
    margin-bottom: rem-calc(15);

    div {
      display: inline-block;
      vertical-align: top;
      &:first-child {
        width: 27%;
        margin-right: 2%;
      }
      &:last-child { width: 70%; }
    }
  }

  form {
    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }

    div:last-child {
      text-align: right;

      input {
        margin-right: rem-calc(10);
        &:last-child { margin-right: 0; }

        &[type=reset] {
          color: $mckinsey-academy-alt-blue;
          border: none;
          background: none;
        }
      }
    }
  }

  ol {
    li {
      input {
        display: inline-block;
        vertical-align: top;

        &[type=text] {
          width: 27%;
          margin-right: 2%;
        }
        &:last-child { width: 70%; }
      }
    }
  }
}

#custom-branding {
  form {
    fieldset {
      border: none;
      padding: 0;
      margin: 0;

      ul {
        padding: 0;
        margin: 20px -17px 0;
        @include clearfix;

        li {
          float: left;
          width: 50%;
          padding: 0 17px;
          min-height: 55px;
          position: relative;

          input[name='client_logo'],
          input[name='client_mobile_logo'],
          input[name='client_background'],
          input[name='global_client_logo'] {
            position: absolute;
            top: 0;
            right: 35px;
            width: 120px;
            height: 37px;
            z-index: 2;
            opacity: 0;
          }

          label {
            color: $mckinsey-dark-grey;
            display: inline-block;
            text-transform: none;
            line-height: 37px;
          }

          .upload_logo {
            float: right;
          }

          input[type='text'] {
            width: 35%;
            float: right;
          }
          .display_image{
            position: relative;
            margin-top: 4px;
            margin-bottom: 4px;
            a{
              position: absolute;
              right: 5px;
              top: 5px;
              display: none;
              .fa{
                font-size: 20px;
                color: $pure-white;
                text-shadow: 0 0 3px $pure-black;
              }
            }
            img{
              width: 120px;
              height: auto;
            }
            &:hover{
              a{
                display: inline-block;
              }
            }
          }
        }
      }
    }

    div:last-child {
      text-align: right;

      input {
        margin-right: rem-calc(10);
        &:last-child { margin-right: 0; }

        &[type=reset] {
          color: $mckinsey-academy-alt-blue;
          border: none;
          background: none;
        }
      }
    }
  }
}
