#new-principal, #edit-principal {
  padding: rem-calc(20);

  header {
    margin-bottom: rem-calc(25);

    > * {
      margin-bottom: 10px;
      &:last-child { margin-bottom: 0; }
    }
  }

  .admin-form {

    fieldset {
      border: none;
      margin: 0;

      label {
        font-weight: 600;
      }

      select {
        width: 32%;
        float: left;
        margin-right: 2%;
        &:last-child {
          margin-right: 0;
        }
      }

      .errorlist{
        margin: 0;
        clear: both;
      }
    }

    .submit-area {
      text-align: right;
      padding-right: rem-calc(32);
    }
  }
}
