.select-group-box {
  display: none;
  padding: 8px;
  border: 1px dashed $mckinsey-academy-alt-blue;
  margin: 3px 0;

  .group-data {
    position: relative;

    i {
      position: absolute;
      top: 0;
      right: 0;
      color: $mckinsey-academy-alt-blue;
    }
    .detail-link{
      @include font-spec(10, semibold, 12);
    }
  }

  .group-info.students {
    display: none;
    padding: 10px 15px 5px 15px;
    i.remove-icon {
      float:right;
    }
    a:hover {
      color: $mckinsey-academy-alt-blue;
    }
  }

  .students-list {
    margin-top: 5px;
    margin-top: 10px;

    .student {
      position: relative;
      .remove {
        position: absolute;
        top: 0;
        right: 0;
        i { color: $mckinsey-orange; }
      }
    }
  }
}

.student-list .student {
  a {
    display: block;
    width: 118px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.select-group-box.private {
  background: $mckinsey-academy-warm-gray;
}

.companies-filter-wrapper {
  .companies-filter {
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    margin: 1em 0;
    @include clearfix;

    li.company-filter {
      float: left;
      padding: 0 7px;
      border-right: 1px solid $mckinsey-academy-black;
      &:last-child {
        border-right: none;
      }
    }
  }
}

.workgroup-detail{
  section{
    margin: 20px 0;
    ul{
      list-style: none;
      &.users{
        li{
          padding: 5px 0;
          img{
            @include square-size($header-bar-height);
            margin-right: 10px;
            background-size: 100% 100%;
            background-image: url('/static/image/empty_avatar.png');
          }
        }
      }
    }
  }
}

.project_activities_detail{
  display: none;
}

.activity{
  .name{
    @include font-spec(14, semibold);
    padding-bottom: 15px;
    .assignment_message{
      font-style: italic;
      &::before{
        content: '(';
      }
      &::after{
        content: ')';
      }
    }
  }
  .generation-submission{
    display: none;
  }
}

.workgroup-report{
  .dataTables_info{
    display: none;
  }
  .nav-links{
    list-style: none;
    margin: 0;
    li{
      display: inline;
      padding-right: 10px;
    }
    li + li{
      border-left: 1px solid #333;
      padding-left: 10px;
    }
  }
  table{
    width: 100%;
    &.group-list{
      th{
        background: #DDDDDD;
        &[colspan="1"]{
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(8),
          &:nth-of-type(9),
          &:nth-of-type(10){
            background: #CCCCCC;
          }
        }
        &[colspan="3"]{
          &:nth-of-type(2),&:nth-of-type(4){
            background: #CCCCCC;
          }
          &:nth-of-type(3){
            background: #DDDDDD;
          }
        }
      }
      td{
        &[colspan="1"]{
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(8),
          &:nth-of-type(9),
          &:nth-of-type(10){
            background: #EEEEEE;
          }
        }
      }
    }
    &.group-detail{
      th{
        background: #DDDDDD;
        &[colspan="1"]{
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(10),
          &:nth-of-type(11),
          &:nth-of-type(12),
          &:nth-of-type(13){
            background: #CCCCCC;
          }
        }
        &[colspan="4"]{
          &:nth-of-type(2),&:nth-of-type(4){
            background: #CCCCCC;
          }
          &:nth-of-type(3){
            background: #DDDDDD;
          }
        }
      }
      td{
        &[colspan="1"]{
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(10),
          &:nth-of-type(11),
          &:nth-of-type(12),
          &:nth-of-type(13){
            background: #EEEEEE;
          }
        }
      }
    }
  }
  th,td{
    text-align: center;
    white-space: nowrap;
  }
  tr.group-status{
    border-bottom: 1px solid #CCCCCC;
    td{
      &:first-child{
        text-align: left;
      }
    }
  }
  td{
    @include font-spec(12);
    a{
      @include font-spec(12);
    }
    &.group-user-info{
      max-width: 200px;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 20px;
    }
  }
  .activity-name{
    .grade-type{
      text-transform: uppercase;
      &::before{
        content: '-';
      }
    }
  }
  .status{
    &.complete{
      color: $mckinsey-green;
      &::before{
        content: 'complete';
      }
    }
    &.incomplete{
      &::before{
        content: 'incomplete';
      }
    }
    &.irrelevant{
      &::before{
        content: '--';
      }
    }
  }
  .overdue{
    color: $mckinsey-red;
  }
  a.incomplete{
    &::after{
      content: '*';
    }
    &:hover{
      color: $mckinsey-academy-blue-gray;
    }
  }
}
