.select-group-box {
  border: 1px solid $mckinsey-academy-black;
  margin: 3px 0;

  .name {
    padding: 10px 10px;
    i.caret {
      float: right;
    }
  }

  .group-info.students {
    display: none;
    padding: 10px 15px 5px 15px;
    i.remove-icon {
      float:right;
    }
    a:hover {
      color: $mckinsey-academy-alt-blue;
    }
  }

  .group-info.students.expanded {
    border-top: 1px solid $mckinsey-academy-black;
  }

  .students-list {
    margin-top: 5px;
    margin-top: 10px;

    .student {
      position: relative;
      .remove {
        position: absolute;
        top: 0;
        right: 0;
        i { color: $mckinsey-orange; }
      }
    }
  }
}

.select-group-box.private {
  background: $mckinsey-academy-warm-gray;
}

.companies-filter-wrapper {
  .companies-filter {
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    margin: 1em 0;
    @include clearfix;

    li.company-filter {
      float: left;
      padding: 0 7px;
      border-right: 1px solid $mckinsey-academy-black;
      &:last-child {
        border-right: none;
      }
    }
  }
}
