.select-group-box {
  padding: 8px;
  border: 1px dashed $mckinsey-academy-alt-blue;
  margin: 3px 0;

  .group-data {
    position: relative;

    i {
      position: absolute;
      top: 0;
      right: 0;
      color: $mckinsey-academy-alt-blue;
    }
    .detail-link{
      @include font-spec(10, semibold, 12);
    }
  }

  .group-info.students {
    display: none;
    padding: 10px 15px 5px 15px;
    i.remove-icon {
      float:right;
    }
    a:hover {
      color: $mckinsey-academy-alt-blue;
    }
  }

  .students-list {
    margin-top: 5px;
    margin-top: 10px;

    .student {
      position: relative;
      .remove {
        position: absolute;
        top: 0;
        right: 0;
        i { color: $mckinsey-orange; }
      }
    }
  }
}

.student-list .student {
  a {
    display: block;
    width: 118px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.select-group-box.private {
  background: $mckinsey-academy-warm-gray;
}

.companies-filter-wrapper {
  .companies-filter {
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    margin: 1em 0;
    @include clearfix;

    li.company-filter {
      float: left;
      padding: 0 7px;
      border-right: 1px solid $mckinsey-academy-black;
      &:last-child {
        border-right: none;
      }
    }
  }
}

.workgroup-detail{
  section{
    margin: 20px 0;
    ul{
      list-style: none;
    }
  }
}