.admin-dashboard {
  .columns:first-child {
    padding-left: 0;
  }
  .columns:last-child {
    padding-right: 0;
  }

  .run-report {
    text-align: right;
  }

  .detail-message {
    margin-top: 10px;
  }

  .dashboard_filters {
    margin-top: 10px;
    select {
      border-color: $mckinsey-academy-alt-blue;
      color: $mckinsey-academy-alt-blue;
      font-weight: 600;
    }
  }
}