- extends "layout.haml"
- load i18n

- block content
 .container.my-courses
   %h1
    {% trans "My Courses" %}
  .row
    - include 'courses/content_page/courses_menu_list.haml' with courses=courses
