- extends "courses/course_base_ld.haml"
- load staticfiles
- load i18n

- block content
  #learner-dashboard
    #replace-calendar{:data-learner-dashboard-id =>'#{learner_dashboard.id}'}
  .container
    .row
      .col
        #course-resources.contentCard.courseResourse
          %h1 {% trans "Resources" %}
          - autoescape off
            = resources_content

  %script
    if ($('.courseResourse table:first td:first').find('img').length > 0){
      $('.courseResourse table:first td:first').remove();
    }
