- extends "layout.haml"
- load i18n

- block help_context

- block header
  - include 'header.haml'
  - include 'courses/course_learner_dashboard_header.haml'
  - include 'courses/course_learner_dashboard_branding.haml'
