- extends "courses/course_main.haml"
- load i18n

- block page_title
  %title
    = course.current_lesson.name
    - if lessons_custom_label
      {% trans " | " %} #{lessons_custom_label}{% trans " | McKinsey Academy" %}
    - else
      {% trans " | Lessons | McKinsey Academy" %}

- block help_context

- block content
  .container.my-courses
    %h1
      {% trans "My Courses" %}
    %script
      if (!window.window.location.href.endsWith('/courses/')){
        $('.container.my-courses > h1').css("display", "none");
      }
    .row
      - block current_content
