- extends "layout.haml"
- load i18n

- block page_title
  %title
    = course.current_lesson.name
    - if lessons_custom_label
      {% trans " | " %} #{lessons_custom_label}{% trans " | McKinsey Academy" %}
    - else
      {% trans " | Lessons | McKinsey Academy" %}

- block help_context

- block navigation_content
 - include "courses/course_navigation.haml"


  %script
    $(function(){
      $(".headerNav li#mycoursestab").addClass('active');
    });