- extends "layout.haml"
- load i18n

- block content
  %script
    $(document).ready(function () {
      $('body').addClass("myCourses");
    });
 .container.my-courses.skeleton-loading
   %h1
    {% trans "My Courses" %}
  .row
    - include 'courses/content_page/courses_menu_list.haml' with courses=courses
