- extends "courses/course_base.haml"
- load i18n

- block content
  .container.loader.donut-loader
    .row
      .col
        .contentCard.coursenews
          #course-news
            %h1 {% trans "Announcements" %}
            - if news
              - for entry in news
                %section
                  .sub-1= entry.date
                  %p
                    - autoescape off
                      = entry.content
                %hr
            - else
              .no-news
                {% trans "No announcements have been posted yet." %}

  %script
    $('#course-news a').addClass('ome').addClass('dome-c');
    $('#course-news a i').addClass('ome').addClass('dome-c');

