- extends "courses/course_base.haml"
- load i18n

- block page_title
  %title
    = program.display_name
    {% trans " | Resources | Courses | McKinsey Academy" %}

- block content
  .container.loader.donut-loader
    .row
      .col
        #course-resources.contentCard.courseResourse
          %h1 {% trans "Resources" %}
          - autoescape off
            = resources_content

  %script
    if ($('.courseResourse table:first td:first').find('img').length > 0){
      $('.courseResourse table:first td:first').remove();
    }

    $('#course-resources a').addClass('ome').addClass('dome-c');
    $('#course-resources a i').addClass('ome').addClass('dome-c');
