- extends "courses/course_base_ld.haml"
- load staticfiles
- load i18n

- block content
  #learner-dashboard
    #replace-calendar{:data-learner-dashboard-id =>'#{learner_dashboard.id}'}
  .container.loader.donut-loader
    .row
      .col
        .contentCard
          #course-group-work
            - if not group_project or not project_group
              .error.text-center
                %h3 {% trans "Group work has not yet begun for this course." %}
                %p {% trans "You will receive a message with information once it begins." %}
            - else
              - if not group_project.is_v2
                %div
                  - include "courses/group_work/activity_menu.haml"
              %div
                - if group_project.is_v2
                  .splitpiece.left
                    .lesson-title
                      %span {% trans "Group Project:" %}
                      %span= group_project.name
                    .lesson-content
                - else
                  .splitpiece.left
                    .lesson-title
                      %span {% trans "Group Project:" %}
                      %span= group_project.name
                    .lesson-content
                  #group-project-users.splitpiece.right
                    .group-members
                      %h4 {% trans "Group Members" %}
                      - for member in project_group.members
                        - include "courses/group_work/group_member.haml" with group_member=member data_reveal_id="email-member"
                      - if project_group.id
                        %a.email-team{"href": "#", 'data-reveal-id': 'email-team'}
                          {% trans "Email your group" %}
                    %hr
                    - if ta_user.id and not course.ended
                      .ask-ta
                        %h4 {% trans "Ask a TA" %}
                        -# Temporarily use mailto: for ta link as well (add data_reveal_id back in for when dialog should be introduced
                        - include "courses/group_work/group_member.haml" with group_member=ta_user data_reveal_id="contact-ta"
                        -# include "courses/group_work/group_member.haml" with group_member=project_group.teaching_assistant
                    - include "courses/contact_ta.haml" with contact_from="group-work"




- block js_snippets
  -# Ooyala source file to play any embedded video content
  %script{src: "{% static 'js/vendor/ooyala/4.33.25-combined.js' %}"}
  - include "courses/group_work/js_snippets.haml"
