- extends "layout.haml"
- load i18n

- block content
  %script
    $(document).ready(function () {
      $('body').addClass("myCourses");
    });
    function removeCardLoader(image) {
      $(image).parents('.course-card').removeClass('skeleton-loading')
    }
 .container.my-courses
   %h1
    {% trans "My Courses" %}
  .row
    - include 'courses/content_page/courses_menu_list.haml' with courses=courses
