- extends "courses/course_base.haml"
- load staticfiles
- load i18n

- block content
  .container.courseLanding.skeleton
    .row
      .col
        %div
          - if course.ended
            - include "courses/content_page/course_final_grade.haml"

          - if feature_flags.proficiency or feature_flags.progress or feature_flags.discussions
            .contentCard.progressWidgets.clearfix
              #course-statistics
                - include "courses/content_page/course_statistics.haml"
          - include "courses/content_page/course_menu.haml"

          - if discover_flag
            - include "courses/content_page/course_discover.haml"

          - if quote.body
            %blockquote.courseLanding.text-center
              %p
                - if quote.body
                  = quote.body
              %span.author
                - if quote.byline
                  = quote.byline

          - include "marketing/app_link_popup.haml"

      - block js_snippets
        %script{src: "{% static 'js/app_link_popup.js' %}"}
        %script
          $(document).ready(function(){
            var stats_selector = '.courseLanding #course-statistics'
            if ($(stats_selector + ' div.widget').length === 1) {
              if (!$(stats_selector + ' div.course-progress').length){
                $(stats_selector + ' div.widget').css('max-width', '30%')
              }
            }
          })

      - block heap_events
        %script
          if ('{{user.id}}') {
            heap.identify('{{user.id}}');
          }
          if ('{{client_id}}') {
            heap.addUserProperties({CLIENT_ID: '{{client_id}}'});
          }
          if ('{{course.id}}' && '{{course.name}}') {
            heap.track('COURSE_VISITED', {COURSE_ID: '{{course.id}}', COURSE_NAME: '{{course.name}}', USER_ID: '{{user.id}}'});
          }
