- extends "courses/course_base.haml"
- load i18n

- block page_title
  %title
    = program.display_name
    {% trans " | Resources | Courses | McKinsey Academy" %}

- block content
  .container
    .row
      .col
        #course-resources.contentCard.courseResourse
          %h1 {% trans "Resources" %}
          - autoescape off
            = resources_content

  %script
    $('#course-resources a').addClass('ome').addClass('dome-c');
    $('#course-resources a i').addClass('ome').addClass('dome-c');
