- extends "layout.haml"
- load assets
- load i18n

- block help_context

- block navigation_content
  - include "courses/course_navigation.haml"

- block custom_js
  %script
    $(function(){
      $(".headerNav li#mycoursestab").addClass('active');
    });