.login-form{
  .button[type="submit"]{
    white-space: pre-line;
  }
  input:not([type="submit"]), select{
    max-width: 430px;
  }
  .help {
    @media only screen and (max-width: 548px) {
      border-left: 0 !important;
      min-height: 0 !important;
    }
  }
}

.login-form {
  margin-top: rem-calc(48);
  padding: rem-calc(20);
  background-color: $pure-white;

  h1 {
    padding-bottom: rem-calc(20);
  }

  h4 {
    text-transform: uppercase;
  }

  .description{
    @include font-spec(14, normal, 24);
    height: rem-calc(40);
  }

  .tip{
    @include font-spec(14, normal, 24);
    height: rem-calc(20);
    font-style: italic;
  }

  .sidebar {
    @include font-spec(14, normal, 22);

    a {
      font-size: rem-calc(12);
    }

    span {
      color: $mckinsey-orange;
    }
  }

  span.login-mode-label {
    // hide them both until JS code decides which one to show
    display: none;
  }

  span.login-mode-selector {
    .sso-login, .normal-login {
      // hide them both until JS code decides which one to show
      display: none;
    }
  }

  form {
    &.sso-login, &.normal-login {
      // hide them both until JS code decides which one to show
      display: none;
    }

    .errorlist{
      margin-bottom: 0px;
      padding-top: 0px;
    }

    #id_current_role + .errorlist{
      display: none;
    }

    #id_current_role{
      margin-bottom: 0px;
      list-style-type: none;
    }

    #id_current_role_other{
      margin-left: 1.1rem;
      width: calc(100% - 1.1rem);
    }

    #id_company_email{
      margin-bottom: 0px;
    }

    .company_email_helptext + label{
      padding-bottom:0px!important;
    }

    .company_email_helptext, .current_role_helptext{
      font-style: italic;
      color:#888;
      padding-bottom: 10px;
    }
  }

  form label {
    @include font-spec(14, semibold);
    padding-bottom: rem-calc(10);
  }

  .columns + .columns {
    display: block;
    min-height: 500px;
  }

  .required-field {
    color: $mckinsey-orange;
    @include font-spec(14, semibold);
    &::after{
      content: '*';
    }
  }

  input[readonly], select[disabled]{
    border: none;
    box-shadow: none;
    padding: 0;
    color: $mckinsey-academy-blue-gray;
    margin-top: -10px;
    background-color: transparent;
  }

  .errorlist + #id_accept_terms{
    top: -54px!important;
  }

  #id_accept_terms {
    position: relative;
    margin: 0;
    top: -24px;
    @media only screen and
    (max-width: 400px){
      top: -40px;
    }
  }

  label[for=id_accept_terms] {
    @media #{$screen} and (min-width: #{upper-bound($small-range)}) {
      white-space: nowrap;
    }
  }

  input[submit] {
    padding-top: 20px;
  }

  .outdated_browser {
    color: $mckinsey-orange;
    margin-bottom: 30px;
  }

  .terms-of-service {
    height: 300px;
    margin-bottom: 20px;
    overflow-y: scroll;
  }
}

