body {
  background-color: #e5ebee;
  font-family: "Open Sans", sans-serif; }

.header {
  background-color: #002960;
  color: white;
  height: 40px;
  max-height: 40px;
  font-size: 20px; }
  .header .columns {
    padding: 0; }
  .header ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 0.5rem; }
  .header ul, .header li {
    display: inline; }
  .header > div {
    height: 100%; }
  .header .user-info {
    cursor: pointer;
    float: right;
    color: #009aa6;
    font-size: 12px;
    text-align: right; }
    .header .user-info div {
      display: inline; }
    .header .user-info .user-image img {
      width: 40px;
      height: 40px; }
    .header .user-info .user-profile {
      color: white;
      height: auto;
      display: block;
      border-left: 1px solid #868685;
      border-right: 1px solid #868685;
      background-color: #002960; }
      .header .user-info .user-profile div {
        display: block; }
      .header .user-info .user-profile .user-detail {
        width: 100%; }
        .header .user-info .user-profile .user-detail > div {
          padding-top: 3px;
          padding-left: 10px;
          text-align: left;
          border-bottom: 1px solid #868685;
          height: 30px;
          vertical-align: middle; }
          .header .user-info .user-profile .user-detail > div.username {
            text-align: center;
            font-size: 20px; }
          .header .user-info .user-profile .user-detail > div.logout {
            padding-top: 8px; }
            .header .user-info .user-profile .user-detail > div.logout:hover {
              opacity: 0.8; }
        .header .user-info .user-profile .user-detail .fieldtitle {
          font-size: 10px; }
        .header .user-info .user-profile .user-detail .fieldcontent {
          font-size: 12px; }
      .header .user-info .user-profile .user-image img {
        width: 160px;
        height: 160px; }
  .header .login-action {
    float: right; }
    .header .login-action #login {
      padding: 5px 15px;
      margin: 5px; }
  .header .application-name {
    display: inline-block;
    padding: 10px 10px; }

.footer {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  background-color: #e5ebee;
  color: #3384ca;
  padding: 0; }
  .footer ul {
    margin: 0; }
    .footer ul li {
      list-style: none;
      padding-right: 9px;
      font-size: 10px; }
    .footer ul li + li {
      border-left: 1px solid #868685;
      padding-left: 10px; }
  .footer ul, .footer li {
    display: inline; }

.login-form {
  margin-top: 50px; }
  .login-form .error {
    color: #cd202c; }

.user-profile {
  width: 160px; }
  .user-profile div {
    display: block; }
