/* Companies List*/
#mainCompaniesListDetailsContainer
{
	margin-left: auto;
	margin-right: auto;
	min-width: 760px;
	max-width: 60%;
}

#companiesListTitle p
{
	font-size: xx-large;
	margin-bottom: 20px;
}

#mainCompaniesListGridContainer
{
	margin-left: auto;
	margin-right: auto;
	min-width: 760px;
	max-width: 60%;
}

#mainCompaniesListGridWrapper
{
	margin-left: auto;
	margin-right: auto;
	display: table;
	width: 100%;
}

#companiesListViewGridBlock
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	position: relative;
}

#companiesListViewGridBlock .bbGrid-container
{
	max-height: 28.8em;
	overflow-y: scroll;
}

#companiesListViewGridBlock .bbGrid-grid.table
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
}

#companiesListViewGridBlock .bbGrid-grid.table td, .clonedHeaderContainer th
{
	text-align: center;
}

#mainCompaniesListGridWrapper .bbGrid-search-bar
{
	float: none!important;
	display: inline-block;
}

/*Company Details*/

#mainCompanyDetailsContainer
{
	margin-left: auto;
	margin-right: auto;
	min-width: 760px;
	max-width: 80%;
}

#companyDetailsNavigation
{
	margin-left: auto;
	margin-right: auto;
	min-width: 760px;
	max-width: 90%;
}

#mainCompanyDetailsDataContainer
{
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	min-width: 760px;
	max-width: 80%;
}

#companyDetailsTopDataWrapper
{
	min-width: 760px;
	max-width: 80%;
}

.companyDetailsCompanyName
{
	font-size: xx-large;
	padding-bottom: 20px;
}

#companyDetailsTopDataWrapper
{
	padding-bottom: 30px;
}

#companyDetailsNavigationButtonsContainer
{
	min-width: 760px;
	max-width: 80%;
}

/*Company Info*/
#companyDetailsDataWrapper
{
	min-width: 760px;
	max-width: 80%;
}

#companyCompanyInfo
{
	min-width: 760px;
	max-width: 80%;
}

#companyInfoInvoicingDetails, #companyInfoContacts
{
	min-width: 760px;
	max-width: 100%;
	padding: 50px 70px 30px 70px;
	border: 1px solid #CCCCCC;
	background-color: #F2F9FC;
	margin-bottom: 10px;
}

.companyInvoicingDetailsHead, .companyContactsHead
{
	font-size: x-large;
	float: left;
}

.companyInvoicingDetailsEditButton, .companyContactsEditButton
{
	float: right;
}

.companyCompanyInfo .row
{
	margin-bottom: 20px!important;
}

.companyCompanyInfo label
{
	margin-bottom: 5px!important;
	color: grey!important;
	cursor: none!important;
}

.contactTypeRow
{
	width: 100%;
	background-color: #FFFFFF;
	padding: 10px;
}

.contactTypeRow p, .contactTypeRow .fa
{
	font-size: large!important;
	float: left!important;
	padding-left: 10px!important;
}

#companyInfoContacts .columns
{
	padding-left: 20px!important;
}

.companyInfoTopic
{
	margin-top: 20px!important;
	display: none;
}