#mainParticipantsWrapper, #mainParticipantsDetailsWrapper{
	margin-left: auto;
	margin-right: auto;
	display:table;
	min-width: 760px;
	max-width: 80%;
}
#participantsAddWrapper, .participantDetailsNavigationButton{
	margin-bottom: 10px;
}
#participantsListViewGridBlock{
	max-height: 120em;
	position: relative;
}

#participantsListViewGridBlock .bbGrid-container
{
	max-height: 120em;
	overflow-y: scroll;
}

#mainParticipantsWrapper .menuButton{
	display:inline-block;
}
#participantsListViewGridBlock .bbGrid-grid
{
	min-width: 100%;
}

#participantsDetailsDataWrapper{
	margin-top: 50px;
}
#participantsTopDetailsContainer{
	margin-bottom: 50px;
}
#participantsTopDetailsContainer .row{
	height: 100px;
}
#participantsTopDetailsContainer .row .columns{
	height: 100%;
}
#participantsTopDetailsContainer .row .participantEnrollInCourse{
	margin-top: 20px;
}
#participantsTopDetailsContainer .row .participantImage{
	height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#participantsTopDetailsContainer .row .participantNameAndLogin{
	margin-top: 10px;
}
#participantsTopDetailsContainer .row .participantNameAndLogin .participantFullName{
	font-size: x-large;
	margin-bottom: 10px;
}
#participantDetailsWrapper .participantDetailsContent{
	min-height:500px;
	border:1px solid black;
	background-color: white;
	padding: 20px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
#participantDetailsWrapper .participantActivation
{
	float: right;
}
#participantDetailsWrapper .participantDetailsContent .row{
	margin-bottom: 20px;
}
#participantDetailsWrapper .participantDetailsContent .participantDetailsEditText{
	font-size: x-large;
}
#participantDetailsWrapper .participantDetailsContent 
.labelUniversal{
	margin-bottom: 20px;
	font-weight: bold;
}
#participantDetailsActiveCoursesViewGrid
{
	max-height: 25em;
	overflow-y: scroll;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}
#participantDetailsActiveCoursesViewGrid .bbGrid-grid.table
{
	margin-left: auto;
	margin-right: auto;
}

.participantDetailsActiveCourses #activeCoursesExportStatsButton
{
	display:table;
	min-width: 760px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#participantDetailsCourseHistoryViewGrid
{
	max-height: 25em;
	overflow-y: scroll;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}
#participantDetailsCourseHistoryViewGrid .bbGrid-grid.table, #participantDetailsCourseHistoryViewGrid .bbGrid-grid-nav 
{
	margin-left: auto;
	margin-right: auto;
}

.participantDetailsCourseHistory #courseHistoryExportStatsButton
{
	display:table;
	min-width: 760px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#participantDetailsWrapper .participantDetailsContent 
.participantEmailLabel{
	display: inline-block;
}
#participantDetailsWrapper .participantDetailsContent .participantEmailReset{
	float: right;
}

#participantDetailsWrapper .participantDetailsEditForm .cancelParticipantEdit{
	margin-left: 15px;
    text-decoration: underline;
}
#participantDetailsWrapper .participantDetailsEditForm .participantCountryValue > .country-select{
	width: 100%;
}
#participantDetailsWrapper .participantDetailsEditForm #country_edit{
	background-color: white!important;
}

.participantDetailsEditForm .checkMark
{
	color: #629B2B;
	display: none;
}

.participantDetailsEditForm .warningText
{
	color: #CD202C;
	display: none;
	position: absolute;
	bottom: -10px;
}

#add_a_participant .participantCountryValue > .country-select{
	width: 100%;
}
#add_a_participant .addAnotherCompanyWrapper, #add_a_participant .addAnotherCourseWrapper{
	text-align: left;
}
#add_a_participant .adminAnotherCompanyAllWrapper{
	width: 100%;
}
#add_a_participant .removeItem{
	text-align: center;
}
#add_a_participant .permissionSelect, #add_a_participant .emailActivationCheckbox, #add_a_participant .emailActivation{
	display: inline-block;
}
#add_a_participant .participantCourseValue, #add_a_participant .participantAdminCompanyValue, #add_a_participant .participantCompanyValue, #add_a_participant .participantEmailValue
{
	position:relative;
}
#add_a_participant .errorContainer
{
	color:red;
	text-align: center;
	padding-bottom:10px;
	max-height: 300px;
	overflow: auto;
}




