#mainParticipantsWrapper, #mainParticipantsDetailsWrapper{
	margin-left: auto;
	margin-right: auto;
	display:table;
	min-width: 760px;
	max-width: 80%;
}
#participantsAddWrapper, .participantDetailsNavigationButton{
	margin-bottom: 10px;
}
#participantsListViewGridBlock{
	height: 120em;
	overflow-y: scroll;
}
#mainParticipantsWrapper .menuButton{
	display:inline-block;
}

#participantsDetailsDataWrapper{
	margin-top: 50px;
}
#participantsTopDetailsContainer{
	margin-bottom: 50px;
}
#participantsTopDetailsContainer .row{
	height: 100px;
}
#participantsTopDetailsContainer .row .columns{
	height: 100%;
}
#participantsTopDetailsContainer .row .participantEnrollInCourse{
	margin-top: 20px;
}
#participantsTopDetailsContainer .row .participantImage{
	height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#participantsTopDetailsContainer .row .participantNameAndLogin{
	margin-top: 10px;
}
#participantsTopDetailsContainer .row .participantNameAndLogin .participantFullName{
	font-size: x-large;
	margin-bottom: 10px;
}
#participantsMainDetailsContainerView .participantDetailsContent{
	min-height:500px;
	border:1px solid black;
	background-color: white;
	padding: 20px;
}
#participantsMainDetailsContainerView .participantDetailsContent .row{
	margin-bottom: 20px;
}
#participantsMainDetailsContainerView .participantDetailsContent .participantDetailsEditText{
	font-size: x-large;
}
#participantsMainDetailsContainerView .participantDetailsContent 
.labelUniversal{
	margin-bottom: 20px;
	font-weight: bold;
}
#participantsMainDetailsContainerView .participantDetailsContent 
.participantEmailLabel{
	display: inline-block;
}
#participantsMainDetailsContainerView .participantDetailsContent 
.participantEmailReset{
	float: right;
}
