#mainParticipantsWrapper
{
	margin-left: auto;
	margin-right: auto;
	display:table;
	min-width: 700px;
	max-width: 80%;
}
#participantsAddWrapper
{
	margin-bottom: 10px;
}
#participantsListViewGridBlock
{
	height: 120em;
	overflow-y: scroll;
}
#mainParticipantsWrapper .menuButton
{
	display:inline-block;
}
