- extends "admin/admin_layout.haml"

- block content 
    #mainCourseDetailsWrapper
        .courseDetailsNavigationButton
            %a{:href => '/admin/courses/', :target => '_self'}> < Back to All Courses
        #courseDetailsDataWrapper
            #courseDetailsTopContainer
                .row.courseDetailsHeader
                    .courseDetailsNameAndId
                      ={name}  
                      ={id}
                    .courseDetailsTags
                .row.courseDetailsBlocks
                    .large-4.columns.courseDetailsLeftBlock
                      %p ={start} - ={end}
                      %p Parcipiants: 
                    .large-4.columns.courseDetailsCenterBlock
                      %p Avg Progress:
                      %p Avg Proficiency:
                    .large-4.columns.courseDetailsRightBlock
                      %p Completed:
                      %p Passed:
            %hr
    