- extends "admin/admin_layout.haml"

- block content 
  #mainCoursesListContainer
    #mainCoursesDetailContainer
      #coursesListTitle
        %p Courses
      #coursesListText
        %hr
    #mainCoursesWrapper
      #mainCoursesListBlockContainer
      	#coursesListViewGridBlock
