- extends "admin/admin_layout.haml"

- block content 
    #mainCourseDetailsWrapper
        .courseDetailsNavigationButton
            %a{:href => '/admin/courses/', :target => '_self'}> < Back to All Courses
        #courseDetailsDataWrapper{:data-id => '#{id}'}
            #courseDetailsTopContainer
                .row.courseDetailsHeader
                    .courseDetailsNameAndId
                      ={name}  
                      ={id}
                    .courseDetailsTags
                .row.courseDetailsBlocks
                    .large-4.columns.courseDetailsLeftBlock
                      - if start == '-' or end == '-'
                        %p Evergreen
                      - else
                        %p ={start} - ={end}
                      %p Participants: ={users_enrolled}
                    .large-4.columns.courseDetailsCenterBlock
                      %p Avg Progress: ={average_progress}%
                      %p Avg Proficiency: ={proficiency}
                    .large-4.columns.courseDetailsRightBlock
                      %p Completed: ={completed}%
                      %p Passed: ={passed}%
            #courseMainDetailsContainerView
              .courseDetailsMenuButtons.row
                .courseParticipantsButton.large-2.columns
                  %a{:href => '/admin/courses/#{id}/#participants', :target => '_self', :class => 'hashSinglePageButton', :data-target => 'courseParticipants'}> PARTICIPANTS
                .courseStatsButton.large-2.columns
                  %a{:href => '/admin/courses/#{id}/#stats', :target => '_self', :class => 'hashSinglePageButton', :data-target => 'courseStats'}> STATS
                .courseDiscoverContentButton.large-3.columns
                  %p DISCOVER CONTENT
                .courseFeatureFlaggingButton.large-3.columns
                  %p FEATURE FLAGGING  
                .courseCommunicationsButton.large-2.columns
                  %p COMMUNICATIONS 
            %hr
            #courseDetailsMainContainer
              .row.courseParticipants.courseContentContainer
                #courseDetailsParticipantsGrid.large-12.columns
              .row.courseStats.courseContentContainer
                #courseDetailsEngagementTopic.courseDetailsTopic
                  Engagement Summary
                #courseDetailsEngagementViewGrid.courseDetailsViewGrid.large-12.columns
                #courseDetailsPerformanceTopic.courseDetailsTopic
                  Participant Performance
                #courseDetailsPerformanceViewGrid.courseDetailsViewGrid.large-12.columns
                #courseDetailsStatsTopic.courseDetailsTopic
                  Social Engagement
                #courseDetailsStatsViewGrid.courseDetailsViewGrid.large-12.columns
