- load i18n

#password-reset-complete.modal.middleSize.reset-password.noTopBorder.fade{:role => "dialog"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        .col
          %h4.modal-title.title {% trans "Password Reset Complete" %}
        %button.close{:aria-label => "Close", :data-dismiss => "modal", :type => "button"}
          %span{:aria-hidden => "true"} ×
      .modal-body
        %p {% trans "Your password has been set.  You may go ahead and log in now." %}
