- load i18n

#password-reset-done.modal.middleSize.reset-password.noTopBorder.fade{:role => "dialog"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        .col
          %h4.modal-title.title {% trans "Password Reset Successful" %}
        %button.close{:aria-label => "Close", :data-dismiss => "modal", :type => "button"}
          %span{:aria-hidden => "true"} ×
      .modal-body
        %p {% trans "We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly." %}
