- load i18n

#password-reset-modal.modal.middleSize.reset-password.noTopBorder.fade{:aria-hidden => "true", :aria-labelledby => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        .col
          %h4.modal-title {% trans "Reset Password" %}
          %p {% trans "Please enter your email address below, and we will send you instructions for setting a new password." %}
        %button.close{:aria-label => "Close", :data-dismiss => "modal", :type => "button"}
          %span{:aria-hidden => "true"} ×
      .modal-body#reset-password
        %form.white.clearfix{'action': "/accounts/password/reset/", 'method': "post"}
          - csrf_token
          .form-group.email-field{class: "{% if form.email.errors %}error{% endif %}"}
            %label.form-label{'for': "id_email"}
              {% trans "Your Email Address:" %}
            %input#id_email.form-control.form-input{:maxlength => "254", :name => "email", :required => "", :type => "email"}/
            = form.email.errors

          %small {% trans "This is the email address you used to register with McKinsey Academy" %}

          .form-group.submit-button
            %button#reset-password-submit.btn.btn-primary.btn-lg.mt-20{'type': "submit", :disabled} {% trans "Reset My Password" %}


  :javascript
    window.onload = function(){
      setTimeout(loadAfterTime, 1000)
    };
    function loadAfterTime() {
    if ($('input:-webkit-autofill')) {
         $('input:-webkit-autofill').each(function () {
           $(this).parents('.form-group').addClass('focused');
         });
       }
    }

    $('#id_email').on('blur input', function() {
       $(this).parents('.form-group').addClass('focused');
       $('#reset-password-submit').attr("disabled", false)
    });