- load i18n

{% trans "You're receiving this email because you requested a password reset for your user account at McKinsey Academy." %}

{% trans "Please go to the following page and choose a new password:" %}

#{protocol}://#{domain}#{url}

{% trans "Your username, in case you've forgotten:" %}
	= user.username

{% trans "Thanks for using our site!" %}

{% trans "The McKinsey Academy team." %}
