- extends "header.haml"
- load i18n

- block header_home
  - if user.is_mcka_admin or user.is_internal_admin or user.is_mcka_subadmin
    %a.admin-logo{href: '/admin'}
  - elif user.is_client_admin
    %a.admin-logo{href: '/admin/client-admin'}
  - elif user.is_company_admin
    %a.admin-logo{href: '/admin/company_dashboard'}

- block header_menu
  %nav{role: 'navigation'}
    %ul
      - if user.is_mcka_admin or user.is_internal_admin or user.is_mcka_subadmin
        %li
          %a{href: '/admin/courses/'}
            {% trans "Courses" %}

      - if user.is_mcka_admin or user.is_mcka_subadmin or user.is_internal_admin
        %li
          %a{href: '/admin/participants'}
            {% trans "Participants" %}

      - if user.is_mcka_admin or user.is_client_admin or user.is_mcka_subadmin
        %li
          %a{href: '/admin/companies'}
            {% trans "Companies" %}
      - elif user.is_company_admin
        %li
          %a{href: '/admin/company_dashboard'}
            {% trans "Companies" %}

      - if user.is_mcka_admin or user.is_mcka_ta or user.is_internal_admin or user.is_mcka_subadmin
        %li
          %a{href: '/admin/workgroup'}
            {% trans "Group Work" %}

      - if user.is_mcka_admin or user.is_mcka_subadmin or user.is_internal_admin
        %li
          %a{href: '/admin/course-meta-content'}
            {% trans "Course Content" %}

      - if user.is_mcka_admin or user.is_mcka_subadmin or user.is_internal_admin
        %li
          %a{href: '{% url "certificate_templates" %}'}
            {% trans "Certificates" %}

      - if user.is_internal_admin
        %li
          %a{href: '/admin'}
            {% trans "Customization" %}
      - if user.is_client_admin
        %li
          %a{href: '/admin/client-admin/courses'}
            {% trans "Courses" %}
        %li
          %a{href: '/admin/client-admin/programs'}
            {% trans "Programs" %}
        %li
          %a{href: '/admin/client-admin/contact'}
            {% trans "Contact" %}
