- extends "header.haml"
- block header_menu
  %span.header-menu
    %ul
      %li
        %a{href: '/admin/programs'}= _("Programs")
      %li
        %a{href: '/admin/clients'}= _("Clients")
      %li
        %a{href: '/admin/groupwork'}= _("Group Work")