- extends "base_email_template.haml"
- load i18n

- block logo
  %img{:alt => "MCKA-logo", :src => "{{mcka_logo_url}}", :style => "max-width: 185px;", :width => "185"}

- block greetings
  #{first_name},

- block body
  %p{:style => "line-height: 22px;font-size: 15px;color: #333333;"}
  -if success
    {% blocktrans %} The problem response report requested is ready. You can download it by clicking on or copy/pasting the following address: {% endblocktrans %} {{file_url}}
  -else
    {% blocktrans %} The problem response report requested  failed. Please, try again. {% endblocktrans %}
    {% blocktrans %} Error message: {% endblocktrans %}{{output}}

- block closing
  %p{:style => "line-height: 22px;color: #333333;"}
    {% trans "Best Regards," %}
    %br
    McKinsey Academy Team

- block footer
  %p{:style => "line-height: 22px;margin-bottom: 0;color: #333333;"}
    {% trans "Contact" %}
      %a{:href => "mailto:{{support_email}}", :style => "text-decoration: none;color: #004fa4;"}
        #{support_email}
    {% trans "if you have any questions" %}
