- extends "layout.haml"

- block content
  #error_503.error-page
    .row
      .large-10.large-centered.columns
        %h1 Success!
        %hr
        .sub-1 Hi!
        %p This message will be defined by McKA Team
        %img{src: "/static/image/errors/McKA_errors_1maintenanceillus.png", srcset: "/static/image/errors/McKA_errors_1maintenanceillus@2x.png 2x"}

- block js_snippets
  :javascript
    $(document).ready(function() {
      $('#reveal-modal').foundation('reveal', 'open');
    });
