- extends "layout.haml"
- load i18n

- block content
  #error_500.error-page
    .container
      .row
        .col
          .contentCard.progressWidgets.text-center
            .errorContWrap
              .icon
                %i.material-icons
                  warning
              .errorText
                %h4
                  {% trans "Something has gone wrong." %}
              .content
                %p
                  {% blocktrans %}
                  Our team has been notified of the problem. Refresh this page.
                  {% endblocktrans %}
                %p
                  {% blocktrans %}
                  If you continue to have issues, please visit our
                  %a{:href => "/faq"} FAQ page
                  or
                  %a{:href => "#{support}"} email support.
                  {% endblocktrans %}
