- extends "layout.haml"
- load i18n

- block header
  - if not react_native_app
    - include 'header.haml'

- block content
  .container
    .row.justify-content-center
      .col-lg-8.col-md-12.border-top-main.bg-white.p-5.static-page
        %h4
          {% trans "Participant FAQs" %}
        %p.style-2 {% trans "Access Related:" %}
        #accordionFAQ.accordion
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#one", :data-toggle => "collapse"}
              {% trans "Which browsers are recommended for use with McKinsey Academy?" %}
          #one.collapse.show{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans "We optimize for the latest versions of Google Chrome, Mozilla Firefox, and Apple Safari for an optimal experience." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#two", :data-toggle => "collapse"}
              {% trans "What if I have technical trouble with registration, login, or course access?" %}
          #two.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "Many problems with registration, login, or access to courses are caused by browser issues. Here are some things to try:" %}
            %ul
              %li {% trans "Switch to a current version of Chrome or Firefox" %}
              %li {% trans "Check your browser settings to ensure both JavaScript and cookies are enabled" %}
              %li {% trans "Clear your browser's cache" %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#three", :data-toggle => "collapse"}
              {% trans "Which devices are recommended for use with McKinsey Academy?" %}
          #three.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "McKinsey Academy content is accessible from all  desktop, tablet, and mobile devices." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#four", :data-toggle => "collapse"}
              {% trans "How can I sign-up for a McKinsey Academy course or program?" %}
          #four.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% blocktrans %}If you are interested in inquiring further, please <a href='mailto:McKinsey_Acclerate_First_Alerts@mckinsey.com' style="display: inline;">contact us.</a> {% endblocktrans %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#six", :data-toggle => "collapse"}
              {% trans "What if I forgot my password?" %}
          #six.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% blocktrans %} If you've forgotten your password, please try resetting it by clicking 'Forgot password?' on the <a href='https://www.mckinseyacademy.com' style='display: inline;' target='_blank'>log in screen.</a> You'll receive an automated email with instructions on how to reset your password. {% endblocktrans %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#seven", :data-toggle => "collapse"}
              {% trans "What if I lost my activation link?" %}
          #seven.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans "If you have not already activated your account and are unable to locate your activation link, enter your company email address on the McKinsey Academy login page and your activation link will be emailed to you." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#eight", :data-toggle => "collapse"}
              {% trans "What if I forgot my username?" %}
          #eight.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% blocktrans %} You are able to enter the email address that was used when you registered your account. You may also retrieve your username by clicking 'Forgot Password?' on the <a href='https://www.mckinseyacademy.com' style="display: inline;" target='_blank'>log in screen</a>.  You'll receive an automated email with instructions on how to reset your password. {% endblocktrans %}
          %p.style-2 {% trans "Courses Related:" %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#nine", :data-toggle => "collapse"}
              {% trans "When can I take my course(s)?" %}
          #nine.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% blocktrans %} You can find the start date and duration of each course on its overview page. Much of the course content may be taken at your own pace, but some courses contain group work activities with specific and required deadlines. Please see the "My Progress" page in your course for specific guidance on deadlines. {% endblocktrans %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#ten", :data-toggle => "collapse"}
              {% trans "What are passing requirements for courses?" %}
          #ten.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "For more detailed information on how your grade is calculated, see the My Progress page in your course." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twelve", :data-toggle => "collapse"}
              {% trans "How much time should I expect to devote to each course?" %}
          #twelve.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "Time to complete each course may vary widely from person to person. Estimated time to complete each lesson is show in the overview page for each course. If applicable, additional time is needed to complete group work activities." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#fifteen", :data-toggle => "collapse"}
              {% trans "If I miss a week, how does this affect my performance?" %}
          #fifteen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "It is certainly possible to finish a McKinsey Academy course if you miss a week; however you should certainly review content you may have missed. If you know you will be unavailable for some time during the duration of the course, be sure to connect with the other members of your group. Check your group work and course overview for important dates and times, so you don't miss a submission deadline while you are away." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#sixteen", :data-toggle => "collapse"}
              {% trans "I missed a deadline; can I get an extension?" %}
          #sixteen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "We are not able to offer individual extensions as course schedules are fixed and there is no way to change the dates of assignments or exams for one participant." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#seventeen", :data-toggle => "collapse"}
              {% trans "My course deadlines are in UTC, what’s that?" %}
          #seventeen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "UTC refers to Universal Coordinated Time. To find the current time in UTC and convert it to your local time, check World Time Server or other Internet time services." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#eighteen", :data-toggle => "collapse"}
              {% trans "What if I have a question or concern regarding course grading?" %}
          #eighteen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% blocktrans with support_url=support %} If you have any questions about the grade you received for your course, please contact the <a href={{support_url}} style="display: inline;" target='_blank'>support team</a>.
              If you have any questions about your Group Work grade, please contact your TA directly via email. {% endblocktrans %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twenty", :data-toggle => "collapse"}
              {% trans "How can I get in touch with my teaching assistant?" %}
          #twenty.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% blocktrans with support_url=support %} If a teaching assistant is assigned to your course, he or she will send an email at the start of your course and you may continue to engage using email. If you need help connecting with your TA, please contact our <a href={{support_url}} style="display: inline;" target='_blank'>support team</a>.{% endblocktrans %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentyTwo", :data-toggle => "collapse"}
              {% trans "Can I re-take a course?" %}
          #twentyTwo.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "McKinsey Academy courses cannot be re-taken, but exercises and materials remain available for 12 months after the course ends." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentyThree", :data-toggle => "collapse"}
              {% trans "Can I access the course content after my course ends?" %}
          #twentyThree.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "You still have access to all course content and materials 12 months after the course ends. Your proficiency, progress, and engagement will not change in closed courses." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentyFour", :data-toggle => "collapse"}
              {% trans "How am I being measured in my course?" %}
          #twentyFour.collapse{:aria-labelledby => "headingOne  ", :data-parent => "#accordionFAQ"}
            %ul
              %li
                %span {% trans "Proficiency:" %}
                {% trans "Your proficiency is based on performance on all graded assessments in the course and group work (if applicable)." %}
              %li
                %span {% trans "Progress:" %}
                {% trans "Your progress through course content is displayed as you move through all items in the course (including videos, exercises, assessments, and readings)." %}
              %li
                %span {% trans "Engagement:" %}
                {% trans " Your engagement increases through your social interactions with other participants in your cohort (through engagement on the discussion forums)." %}
          %p.style-2 {% trans "TECHNICAL ISSUES:" %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#thirty", :data-toggle => "collapse"}
              {% trans "What should I do if I am  experiencing issues with resetting my password?" %}
          #thirty.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "If you've forgotten your password, please try resetting it by clicking 'Forgot password?' on the <a href='https://www.mckinseyacademy.com' style='display: inline;' target='_blank'>log in screen.</a> You'll receive an automated email with instructions on how to reset your password." %}
            %p {% trans "If you did not receive an automated email please check:" %}
            %ul
              %li {% trans "your Spam folder." %}
              %li {% trans "your email address is entered in correctly." %}

            %p {% blocktrans %} If you received a "Password Reset Unsuccessful" popup message: {% endblocktrans %}
            %ul
              %li {% trans "You should check that you entered in the email address that your McKinsey Academy account is registered to, which should be your work email address." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#thirtyOne", :data-toggle => "collapse"}
              {% trans "I'm unable to view videos or images in my course. What should I do?" %}
          #thirtyOne.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans " Try the following:" %}
            %ul
              %li {% trans "Switch to using Chrome as your browser." %}
              %li {% trans "Ensure you are not connected to your company's VPN." %}
              %li {% trans "Clear the cache in your browser." %}

            %p {% blocktrans with support_url=support %} If you are still experiencing issues, please contact the <a href={{support_url}} style="display: inline;" target='_blank'>support team</a>. {% endblocktrans %}

          %p.style-2 {% blocktrans with support_url=support %} If your question wasn't answered in any of these FAQs, please reach out to our <a href={{support_url}} style="display: inline;" target='_blank'>support team.</a> {% endblocktrans %}

  %script
    let login_flow = 'new_flow';
  :javascript
    $("a[href='#{support}']").click(function(){
      let data = { dimension4: login_flow };
      if(window.hashedUserId) {
        data['dimension1'] = window.hashedUserId;
      }
      ga('send', 'event', 'FAQ', 'click_email_support', data);
    });
