- extends "layout.haml"
- load i18n

- block content
  .container
    .row.justify-content-center
      .col-lg-8.col-md-12.border-top-main.bg-white.p-5.static-page
        %h4
          {% trans "Participant FAQs" %}
        %p.style-2 {% trans "Access Related:" %}
        #accordionFAQ.accordion
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#one", :data-toggle => "collapse"}
              {% trans "Which browsers are recommended for use with McKinsey Academy?" %}
          #one.collapse.show{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans "We recommend the latest versions of Google Chrome, Mozilla Firefox, and Apple Safari for an optimal experience. McKinsey Academy is not accessible with some older versions of browsers (such as Internet Explorer 8)." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#two", :data-toggle => "collapse"}
              {% trans "What if I have technical trouble with registration, login, or course access?" %}
          #two.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "Many problems with registration, login, or access to courses are caused by browser issues. Here are some things to try:" %}
            %ul
              %li {% trans "Switch to a current version of Chrome or Firefox" %}
              %li {% trans "Check your browser settings to ensure both JavaScript and cookies are enabled" %}
              %li {% trans "Clear your browser's cache" %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#three", :data-toggle => "collapse"}
              {% trans "Which devices are recommended for use with McKinsey Academy?" %}
          #three.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "The platform is accessible on all computer and tablet devices. The site is currently not optimized for mobile device use, and you will not currently be able to access course content on mobile phones." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#four", :data-toggle => "collapse"}
              {% trans "How can I sign-up for a McKinsey Academy course or program?" %}
          #four.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "At this time, McKinsey Academy courses are only available to companies. If you are interested in inquiring further, please contact us." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#five", :data-toggle => "collapse"}
              {% trans "How can I change the name or email address on my account?" %}
          #five.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans 'To change your name, log in, and find your profile in the upper right-hand corner of your screen. Click the down arrow and select "Edit" next to your name.' %}
            %p
              {% trans "To change your email address, please email" %}
                %a{:href => "mailto:support@mckinseyacademy.com"} support@mckinseyacademy.com
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#six", :data-toggle => "collapse"}
              {% trans "My account login isn't working." %}
          #six.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans "If you've forgotten your password, please try resetting it by clicking 'Forgot my password' on the log in screen. If that does not work, please email" %}
                %a{:href => "mailto:support@mckinseyacademy.com"} support@mckinseyacademy.com
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#seven", :data-toggle => "collapse"}
              {% trans "I can't access a course I'm enrolled in." %}
          #seven.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans "The drop down for moving between multiple courses is on the far left of the second (lighter blue) navigation bar. If the course you are supposed to be enrolled in does not appear in that drop down menu, please email" %}
                %a{:href => "mailto:support@mckinseyacademy.com"} support@mckinseyacademy.com
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#eight", :data-toggle => "collapse"}
              {% trans "How can I stop or start receiving emails from my courses?" %}
          #eight.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans "We try to keep our email communication at an optimal level to ensure all participants know what is happening in the course without cluttering your inbox. Our emails contain important information about what's expected each week and additional curated content suggestions. If you no longer wish to receive emails, please email" %}
              %a{:href => "mailto:support@mckinseyacademy.com"} support@mckinseyacademy.com
              {% trans '(or click unsubscribe at the bottom of any email you receive from us). Be sure to check the "Announcements" page frequently to stay up to date!' %}
          %p.style-2 {% trans "Courses Related:" %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#nine", :data-toggle => "collapse"}
              {% trans "When does my course start and/or finish?" %}
          #nine.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "You can find the start date and course duration for each course on its course overview page.  You will receive a welcome email when the course is open." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#ten", :data-toggle => "collapse"}
              {% trans "What are passing requirements for courses?" %}
          #ten.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "You need to complete all group work and feedback activities and earn a combined course grade of at least 70% to work towards a program certificate of completion. Your course grade is calculated as follows:" %}
            %ol
              %li
                {% trans "End of lesson (EOL) assessments" %}
                %em {% trans "Note that EOL assessments vary based on number of lessons and may not be included in some lessons" %}
              %li
                {% trans "Group Work" %}
                %em {% trans "Note that Group Work may be made up of one or more activities which are graded throughout the duration of a course" %}
              %li {% trans "Final Assessment" %}
            %p {% trans "There is no minimum amount of course content that must be completed, but participants must complete the Final Assessment." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#eleven", :data-toggle => "collapse"}
              {% trans "How do I log in to take a McKinsey Academy course?" %}
          #eleven.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans 'Once you activate your account, click on the "Log in" button on the McKinsey Academy home page and type in your username and password. This will take you to your current course page.' %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twelve", :data-toggle => "collapse"}
              {% trans "How much time should I expect to devote to each course?" %}
          #twelve.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "The projected time commitment required for each course is included on the course overview page. We typically find that dedicating 60-120 minutes per week is sufficient to complete all course requirements, including group work." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#thirteen", :data-toggle => "collapse"}
              {% trans "Can I take more than one course at a time?" %}
          #thirteen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "McKinsey Academy programs are a collection of courses taken one at a time." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#fourteen", :data-toggle => "collapse"}
              {% trans "What time is the class?" %}
          #fourteen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "McKinsey Academy courses take place at your convenience. Videos and assignments are available 24 hours a day, which means you can watch videos and complete work whenever you have time. Simply log in to your course and work through the course material. While group work activities have deadlines, these are designed to offer enough lead time that you can easily schedule your work." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#fifteen", :data-toggle => "collapse"}
              {% trans "If I miss a week, how does this affect my performance?" %}
          #fifteen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "It is certainly possible to finish a McKinsey Academy course if you miss a week; however you should certainly review content you may have missed. If you know you will be unavailable for some time during the duration of the course, be sure to connect with the other members of your group. Check your group work and course overview for important dates and times, so you don't miss a submission deadline while you are away." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#sixteen", :data-toggle => "collapse"}
              {% trans "I missed a deadline; can I get an extension?" %}
          #sixteen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "We are not able to offer individual extensions as course schedules are fixed and there is no way to change the dates of assignments or exams for one participant." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#seventeen", :data-toggle => "collapse"}
              {% trans "My course deadlines are in UTC, what’s that?" %}
          #seventeen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "UTC refers to Universal Coordinated Time. To find the current time in UTC and convert it to your local time, check World Time Server or other Internet time services." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#eighteen", :data-toggle => "collapse"}
              {% trans "What if I have a question or concern regarding course grading?" %}
          #eighteen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans "If you have any questions about a grade you received, please email" %}
                %a{:href => "mailto:tas@mckinseyacademy.com"} TAs@mckinseyacademy.com
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#nineteen", :data-toggle => "collapse"}
              {% trans "How can I meet/find other participants?" %}
          #nineteen.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "All McKinsey Academy courses have discussion forums where you can chat with and help other participants." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twenty", :data-toggle => "collapse"}
              {% trans "How can I talk to McKinsey practitioners teaching my courses and teaching assistants?" %}
          #twenty.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "The discussion forum is the best place to reach out to the McKinsey Academy course team for your cohort; just post your questions or email the TA. We do our best to respond as promptly as possible." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentyOne", :data-toggle => "collapse"}
              {% trans "How do I get help and support regarding my course?" %}
          #twentyOne.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans "You are part of a cohort of participants you can engage with questions as well as support from the TAs who monitor the course. Take a look at the course's discussion forum where you can review questions, answers and comments from fellow participants, as well as post a question. You can also reach out to the McKinsey teaching assistants by" %}
              %a{:href => "mailto:tas@mckinseyacademy.com"} {% trans "emailing them" %}
              {% trans "and they will get back to you as soon as possible." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentyTwo", :data-toggle => "collapse"}
              {% trans "Can I re-take a course?" %}
          #twentyTwo.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "McKinsey Academy courses cannot be re-taken, but exercises and materials remain available for 12 months after the course ends." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentyThree", :data-toggle => "collapse"}
              {% trans "Can I access the course content after my course ends?" %}
          #twentyThree.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "McKinsey Academy past courses are available as archives for 12 months after the course ends. These courses can only be audited and some features, such as the discussion forums, may not be available." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentyFour", :data-toggle => "collapse"}
              {% trans "What information is displayed in visualizations on the course home page?" %}
          #twentyFour.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %ul
              %li
                %span {% trans "Proficiency:" %}
                {% trans "Your proficiency is based on performance on all graded items in the course (including end of lesson assessments, group work, and final assessment)" %}
              %li
                %span {% trans "Progress:" %}
                {% trans "Your progress through course content is displayed as you move through all items in the course (including videos, exercises, assessments, and readings)" %}
              %li
                %span {% trans "Engagement:" %}
                {% trans "Your engagement increases through your social interactions with other participants in your cohort (through engagement on the discussion forums)" %}
          %p.style-2 {% trans "Certificates Related:" %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentyFive", :data-toggle => "collapse"}
              {% trans "Will my certificate include an overall program grade?" %}
          #twentyFive.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "Your certificate will not include final grades." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentySix", :data-toggle => "collapse"}
              {% trans "Can I get a paper copy of my certificate?" %}
          #twentySix.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "McKinsey Academy certificates are digital files which you can print on standard size paper." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentySeven", :data-toggle => "collapse"}
              {% trans "How are certificates determined?" %}
          #twentySeven.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "To be eligible for the MMP certificate of completion, participants need to achieve a score of 70% or above across the program’s 4 core courses." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentyEight", :data-toggle => "collapse"}
              {% trans "How are McKinsey Academy certificates delivered?" %}
          #twentyEight.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "McKinsey Academy certificates are delivered via email following successful completion of a program." %}
          %p.style-2 {% trans "TECHNICAL ISSUES:" %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#twentyNine", :data-toggle => "collapse"}
              {% trans "How can I get technical support?" %}
          #twentyNine.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "If you are having technical issues, please contact us here so we can resolve your problem. and we will get back to you by the next business day (likely earlier)." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#thirty", :data-toggle => "collapse"}
              {% trans "What if I did not receive my password reset email?" %}
          #thirty.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "If you did not receive an automated email it may be because:" %}
            %ul
              %li {% trans "There was a typo in your email address" %}
              %li {% trans "Your spam filter may have caught the email; please check your spam folder" %}
              %li {% trans "You may be using an older browser; we recommend downloading the current version of Chrome or Firefox" %}
              %li {% trans "JavaScript is disabled in your browser; please check your browser settings and confirm that JavaScript is enabled" %}
              %li {% trans "You have not successfully registered an account with McKinsey Academy' please try registering again with the same email address (if an account already exists, you'll see an error regarding a duplicate email address)" %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#thirtyOne", :data-toggle => "collapse"}
              {% trans "What if I have problems with the display (e.g., there are tools missing from the course display, or I am unable to view video)?" %}
          #thirtyOne.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p {% trans "Please check your browser and settings - JavaScript must be enabled. We recommend downloading and using the current version of either Chrome or Firefox." %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#thirtyTwo", :data-toggle => "collapse"}
              {% trans "How can I sign up for a McKinsey Academy course or program?" %}
          #thirtyTwo.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans "Please" %}
              %a{:href => "mailto:academy_info@mckinsey.com"} {% trans "contact us!" %}
          %h5.mb-0
            %a{:aria-controls => "collapseOne", :aria-expanded => "true", :data-target => "#thirtyThree", :data-toggle => "collapse"}
              {% trans "What if my question isn’t answered here?" %}
          #thirtyThree.collapse{:aria-labelledby => "headingOne", :data-parent => "#accordionFAQ"}
            %p
              {% trans "Please" %}
              %a{:href => "mailto:academy_info@mckinsey.com"} {% trans "contact us!" %}
              {% trans "We’ll do our best to help." %}

  %script
    let login_flow = 'new_flow';
  :javascript
    $("a[href='mailto:support@mckinseyacademy.com']").click(function(){
      let data = { dimension4: login_flow };
      if(window.hashedUserId) {
        data['dimension1'] = window.hashedUserId;
      }
      ga('send', 'event', 'FAQ', 'click_email_support', data);
    });
