- load i18n
%footer.fadeIn.animated.delay-1s
  .container
    .row
      .col-md-6.copyright
        {% trans "&#9400; 2019 McKinsey & Company. All Rights Reserved." %}
      .col-md-6
        %ul.nav.justify-content-end
          %li.nav-item
            %a.nav-link{:href => "https://www.mckinsey.com/" , :target => "_blank"} McKinsey.com
          %li.nav-item
            %a.nav-link{:href => "https://www.mckinsey.com/business-functions/learning-programs-for-clients/overview/mckinsey-academy/how-we-help-clients" , :target=> "_blank"}
              {% trans "About" %}
          %li.nav-item
            %a.nav-link{:href => "/terms" , :target => "_blank"}
              {% trans "Terms of Service" %}
          %li.nav-item
            %a.nav-link{:href => "/privacy" , :target => "_blank"}
              {% trans "Privacy Policy" %}
