- extends "layout.haml"
- load i18n

- block header
  - if not react_native_app
    - include 'header.haml'

- block content
  .container
    .row.justify-content-center
      .col-lg-8.col-md-12.border-top-main.bg-white.p-5.static-page
        %h1 {% trans "Privacy Policy" %}
        %p
          {% trans "This Privacy Policy was last updated on November 11, 2019" %}
        %p
          %a{href: 'https://www.mckinsey.com/locations', :target => "_blank"}
            {% trans "McKinsey & Company and its subsidiaries and affiliates" %}
          {% blocktrans %} (collectively, “McKinsey”, “us” or “we”) understand that your privacy is important to you. We are committed to respecting your privacy and protecting your personal data, which is any information that is capable of identifying you as an individual person. This Privacy Policy describes how we handle and protect your personal data in connection with McKinsey Academy where we are a data controller.{% endblocktrans %}
        %p
          {% blocktrans %}McKinsey Academy delivers on-line training on behalf of Sponsoring Organizations.  When you access McKinsey Academy, information is collected about your progress and performance for your Sponsoring Organization (as such term is defined in the {% endblocktrans %}
          %a{href: '/terms'}
            {% trans "Terms of Use" %}
          {% blocktrans %} (the “Terms”)), which may include grades, evaluation, performance, critiques, usage and engagement data, any User Content which you submit, including bulletin boards, discussion forums and surveys.  Your Sponsoring Organization will be the data controller of this information.  If you want to know more about how such information may be used, you should consult the privacy policies of your Sponsoring Organization.  Please see our Terms for more information about our online terms and policies that apply to your use of McKinsey Academy.{% endblocktrans %}
        %p.style-2 {% trans "Information we collect" %}
        %p
          {% trans "McKinsey collects personal data about you when you enter your user account information and participate in course content, including in user posting areas (such as bulletin boards, discussion forums and surveys).  We may also automatically collect information about the devices you use to interact with McKinsey Academy, including the location of these devices such as time zone, and iOS. The information we automatically collect may include IP address, device identifier, web browser, and browsing information collected through cookies, web beacons, pixels, clear gifs, and other similar technologies (collectively “Cookies and Other Tracking Technologies”) on the site. We also automatically collect information about how you use the McKinsey Academy site, such as what you have bookmarked, searched for and viewed.  Further, we collect information about your academic performance and behavior related to test and poll taking, like progress, score, time spent, and your answers to these tests and polls. The information automatically collected will be associated with any other personal data you have provided." %}
        %p.style-2 {% trans "Use of information" %}
        %p
          {% trans "McKinsey uses your personal data to enable you to access courses and McKinsey Academy content.  McKinsey also uses your personal data to evaluate and improve our services, distribute newsletters and alerts to you, analyze McKinsey Academy performance and functioning, compare the use of McKinsey Academy content among different audiences.  We also use your personal data to identify other courses, services or offerings provided by us that may be of interest to you." %}
        %p
          {% trans "McKinsey and its service providers may use first and third party Cookies and Other Tracking Technologies, including web beacons, to manage our Sites and our services and collect analytics about how you use them. McKinsey and its service providers may collect information about whether you open or click any links in the knowledge, research or event communications that we send to you. The information provided throughout this Privacy Policy about cookies also applies to these other tracking technologies. Please refer to our" %}
          %a{'href': 'https://www.mckinsey.com/cookie-policy', 'target': '_blank'}
            {% trans "Cookie Policy" %}
          {% blocktrans %} for more details regarding our use of Cookies and Other Tracking Technologies.{% endblocktrans %}
        %p
          {% trans "McKinsey Academy does not collect personal data about your online activities over time and across third party websites or online services. Accordingly, we do not alter our data collection and use practices in response to “do not track” signals transmitted from web browsers." %}
        %p.style-2 {% trans "Sharing information with your Sponsoring Organization" %}
        %p
          {% trans "From time to time we may provide your Sponsoring Organization with user progress and proficiency data with respect to particular McKinsey Academy courses or courses, some of which may constitute your personal data (collectively, “Participation Data”).  McKinsey shall not be responsible or liable for the use of such information by your Sponsoring Organization, and such use shall be subject to your Sponsoring Organization’s policies (including privacy policies) applicable to you." %}
        %p.style-2 {% trans "The legal basis by which we process your personal data" %}
        %p
          {% trans "Our processing of your personal data for the purposes mentioned above is based" %}
          %ul.info
            %li
              {% trans "on our legitimate interests in promoting and protecting McKinsey, building and maintaining relationships, and providing our services, for example where we analyze usage data to see how the Academy is functioning;" %}
            %li
              {% trans "on your consent, for example if you register for our newsletters or alerts;" %}
            %li
              {% trans "to comply with the law, when certain information is necessary to satisfy our legal or regulatory obligations." %}
        %p.style-2 {% trans "Data recipients and international data transfers" %}
        %p
          {% trans "Personal data collected or processed by McKinsey Academy may be transferred from time to time to McKinsey subsidiaries and affiliates and their personnel (including employees and contractors) across our global organization, as well as to third party service providers located throughout the world, including in countries where the local law may grant you fewer rights than you have in your own country. Additionally, McKinsey Academy Content may be viewed and hosted by McKinsey and our third party service providers anywhere in the world. Where required by law, we have put in place legal mechanisms designed to ensure adequate data protection of your personal data that is processed by McKinsey subsidiaries, affiliates, and third party service providers, including the transfer of your personal data to countries other than the one in which you reside. If you would like more information about these legal mechanisms, which may include the EU’s Standard Contractual Clauses, please contact us at the address below." %}
        %p
          {% trans "McKinsey shall not intentionally disclose or transfer (and shall take reasonable steps to prevent the unauthorized or accidental disclosure of) your personal data to third parties without your consent unless otherwise permitted by law, whether for such third parties’ own marketing purposes or otherwise, except as follows. McKinsey may provide access to your personal data to third party service providers engaged by McKinsey to provide services related to McKinsey Academy, including, for example, administering surveys or communicating with you.  We maintain processes designed to ensure that any processing of personal data by third party service providers is consistent with this Privacy Policy and protects the confidentiality, availability, and integrity of your personal data." %}
        %p
          {% trans "In addition, we may disclose information about you:" %}
        %ul.info
          %li
            {% trans "If we are required to do so by law or legal process;" %}
          %li
            {% trans "To law enforcement authorities or other government officials;" %}
          %li
            {% blocktrans %}When we believe disclosure is necessary or appropriate to prevent physical harm or financial loss or in connection with an investigation of suspected or actual illegal activity;{% endblocktrans %}
          %li
            {% trans "If disclosure is necessary to protect the vital interests of a person;" %}
          %li
            {% trans "To enforce our Terms;" %}
          %li
            {% trans "To protect our property, services and legal rights;" %}
          %li
            {% trans "To prevent fraud against McKinsey, our subsidiaries and affiliates and business partners;" %}
         %li
            {% trans "To support auditing, compliance, and corporate governance functions; or" %}
          %li
            {% trans "To comply with any and all applicable laws." %}
        %p
          {% trans "In addition, we may disclose or transfer your personal data in the event of a re-organization, merger, sale, joint venture, assignment, or other transfer or disposition of all or any portion of our business." %}
        %p.style-2 {% trans "Surveys" %}
        %p
          {% trans "If you participate in a survey in connection with McKinsey Academy, our research results may be reported as totals or in other aggregated form and no information about you as an individual respondent made public unless you otherwise agree in advance. However, we may be able to identify individual respondents by their email address, and may follow-up with individuals for additional information to improve the overall McKinsey Academy experience. If you prefer that we not follow up with you on your survey responses, please contact us at the address listed below in the Contact Us section of this Privacy Policy." %}
        %p.style-2 {% trans "User forums" %}
        %p
          {% trans "You should be aware that whenever you publicly disclose information, even to a limited group of recipients (for example, other users who are enrolled in the same McKinsey Academy course as you), that information could be collected and used by others. McKinsey is not responsible for any action or policies of any third parties, including other McKinsey Academy users, who collect information that users disclose to such third parties." %}
        %p.style-2 {% trans "Third-party websites and platforms" %}
        %p
          {% trans "McKinsey may provide links or directions to third party websites or information as a service to our users. If you use these links, you will leave McKinsey Academy. Such links do not constitute or imply an endorsement, sponsorship, or recommendation by McKinsey of the third party, the third party website, or the information contained therein, and McKinsey shall not be responsible or liable for your use thereof. Such use shall be subject to the terms of use and privacy policies applicable to those sites." %}
        %p
          {% trans "In addition, certain Mobile Offerings may be made available to you through a website, application or platform operated by a Mobile Platform Provider (as such term is defined in the Terms).   When you share data with a Mobile Platform Provider, for example to create user credentials allowing you to use their platform to access the Mobile Offering, that personal data is stored outside of McKinsey’s control and will be subject to the relevant Mobile Platform Provider’s own terms and privacy policies." %}
        %p.style-2 {% trans "Security" %}
        %p
          {% trans "McKinsey has implemented generally accepted standards of technology and operational security to protect personal data from loss, misuse, alteration, or destruction. Only authorized McKinsey personnel and third party service providers are provided access to personal data, and these personnel and service providers are required to treat this information as confidential. Despite these precautions, McKinsey, however, cannot guarantee that unauthorized persons will not obtain access to your personal data." %}
        %p.style-2 {% trans "Data retention policy" %}
        %p
          {% trans "McKinsey retains your personal data for as long as we are providing services to your Sponsoring Organization.  We may retain your personal data for up to one year after we have stopped providing services to your Sponsoring Organization, unless we need to retain it to protect ourselves against legal claims. If you request that we delete your personal data, McKinsey will make reasonable attempts to delete all instances of the information in their entirety unless we have a legitimate reason to retain it. For requests for access, corrections, or deletion, please refer to the “YOUR RIGHTS” section of this Privacy Policy." %}
        %p.style-2 {% trans "Your rights" %}
        %p
          {% trans "Where granted by local law, you may have the right to request access to the personal data that we have hold about you for the purposes of reviewing, modifying, or requesting deletion of the data. You may also have the right to request a copy of the personal data that we hold about you and to have any inaccuracies in that data corrected. In certain circumstances, you may also request that we cease processing your personal data." %}
        %p
          {% blocktrans with support_url=support%}If you would like to make a request to access, review, or correct the personal data we have collected about you, or to discuss how we process your personal data, please contact our <a href="{{support_url}}", target="_blank" >support team.</a>{% endblocktrans %}
        %p
          {% trans "To help protect your privacy and security, we will take reasonable steps to verify your identity, such as requiring you to provide or confirm your identity, including your User Account Information, before granting access to your personal data. We will make reasonable attempts to promptly investigate, comply with, or otherwise respond to your requests as may be required by applicable law. Different laws or circumstances may prevent us from providing access to your personal data or otherwise fully complying with your request depending upon the circumstances and the request; such as for example, where producing your information may reveal the identity of someone. We may, including where required by applicable law or contract, notify your Sponsoring Organization of your request and coordinate with your Sponsoring Organization in responding to your request. We reserve the right to charge an appropriate fee for complying with your request where allowed by applicable law, and/or deny your requests where they may be manifestly unfounded, and/or excessive, or otherwise objectionable or unwarranted under applicable law." %}
        %p
          {% blocktrans with support_url=support%}Where the processing of your personal data is based on consent (for example if we send you newsletters), you may withdraw your consent at any time, by contacting our <a href="{{support_url}}", target="_blank" >support team.</a>{% endblocktrans %}
        %p
          {% trans "In addition, and where granted by local law, you have the legal right to lodge a complaint with a competent data protection authority." %}
        %p.style-2 {% trans "Your California privacy rights" %}
        %p
          {% blocktrans %}Pursuant to California Civil Code Section 1798.83(c)(2), McKinsey does not share your personal data with third parties for those third parties’ direct marketing use. {% endblocktrans %}
        %p
          {% blocktrans with support_url=support%}If you are a California resident under the age of 18, and a registered user of McKinsey Academy subject to this Privacy Policy, California Business and Professions Code Section 22581 permits you to request and obtain removal of content or information you have publicly posted. To make such a request, please send a detailed description of the specific content or information to our <a href="{{support_url}}", target="_blank">support team.</a>{% endblocktrans %}
          {% trans "Please be aware that such a request does not ensure complete or comprehensive removal of the content or information you have posted and that there may be circumstances in which the law does not require or allow removal even if requested." %}
        %p.style-2 {% trans "Consent; changes to privacy policy" %}
        %p
          {% trans "By using McKinsey Academy, including the Site or any Mobile Offering, you acknowledge that we collect, use, and store your information, including your personal data, by us in the manner described in this Privacy Policy, the Terms and as otherwise agreed with you. We reserve the right to make changes to this Privacy Policy from time to time. We will alert you to any such changes by updating this Privacy Policy as made available at " %}
          %a{href: 'http://www.mckinseyacademy.com/privacy'}
            http://www.mckinseyacademy.com/privacy.
          {% trans "If we make material changes to this Privacy Policy that increase our rights to use personal data that we have previously collected about you, we will obtain your consent either through an email to your registered email address or by prominently posting information about the changes in a manner accessible to McKinsey Academy users." %}
        %p.style-2 {% trans "Contact our privacy department" %}
        %p
          {% trans "For questions or concerns about our Privacy Policy, or if you would like to communicate with our EU Data Protection Officer or the Data Privacy Team, please contact us at:" %}
        %ul.list-unstyled.address
          %li {% trans "McKinsey & Company" %}
          %li {% trans "Legal Department" %}
          %li {% trans "711 Third Avenue" %}
          %li {% trans "New York, NY 10017" %}
          %li {% trans "+1 212 446 7000" %}
          %li {% trans "privacy@mckinsey.com" %}
