- extends "layout.haml"

- block header
  - if not react_native_app
    - include 'header.haml'

- block content
  .container
    .row.justify-content-center
      .col-lg-8.col-md-12.border-top-main.bg-white.p-5.static-page
        - include "terms_of_service.haml"
