.my-courses {
  h1 {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 24px;
    font-weight: 300;
    font-family: $body-font-family;
  }
  .card {
    margin-bottom: 30px;
    border: 0;
    overflow: hidden;
    .overlay-img {
      position: relative;
      height: 190px;
      overflow: hidden;
      &:after {
        position: absolute;
        content: "";
        opacity: 0.3;
        @include absolute-100;
        @include border-top-radius(4px);
        background: linear-gradient(180deg, var(--primary) 0%, $black 100%);
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      }

      .card-img-top {
        object-fit: cover;
        height: 100%;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          height: auto;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .card-body {
      min-height: 125px;
      overflow: hidden;
      @include border-bottom-radius(4px);
      padding: 20px 30px 16px;
      background-color: var(--primary);
      color: $white;
      position: relative;
      h3 {
        font-size: 1.5rem;
        height: 3.7rem;
        overflow: hidden;
        font-weight: 300;
      }
      .course-detail {
        display: table;
        width: 100%;
        > span {
          font-size: 0.75rem;
          display: inline-block;
          vertical-align: middle;
          &.lesson-count {
            width: 75px;
            max-width: 80px;
          }
          &.course-effort {
            margin-right: 20px;
          }
          &.course-status {
            width: 33%;
            max-width: 100px;
          }

          &.course-progress {
            width: 142px;
            .bar {
              border: 1px solid white;
              height: 13px;
              margin-top: 2px;
              position: relative;
              width: 68%;
              vertical-align: top;
              display: inline-block;
            }
            > span {
              span {
                position: relative;
                height: 11px;
                display: block;
                background-color: $white;
                &:before {
                  @include absolute-100;
                  right: auto;
                  content: '';
                  position: absolute;
                  width: inherit;
                }
              }
            }
          }
          .material-icons {
            font-size: 1rem;
            vertical-align: sub;
            margin-right: 2px;
            max-width: 16px;
          }
        }
      }
    }
    &.archived {
      .overlay-img {
        &:after {
          background: linear-gradient(180deg, $dark-gray 0%, $black 100%);
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        }
      }
      .card-body {
        background-color: $dark-gray;
      }
    }
  }
  a.d-block {
    &:hover {
      text-decoration: none;
      .card {
        box-shadow: 0 0 30px lighten($gray, 30%);
        h3 {
          text-decoration: underline;
        }
      }
      .archived {
        .card-body {
          background-color: $dark-gray;
        }
      }
    }
  }
  .bookmark {
    background-size: cover;
    width: 20px;
    background-position-x: right;
  }
}

// Media Queries
@include media-breakpoint-between(md, lg) {
  .my-courses {
    [class*="col"] {
      padding: 0 10px;
      .card {
        margin-bottom: 20px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .my-courses {
    h1 {
      display: none;
    }
    [class*="col"] {
      padding: 0;
      h1 {
        display: none;
      }
      .card {
        margin-bottom: 10px;
        .overlay-img {
          height: auto;
          .card-img-top {
            height: 120px;
            object-fit: cover;
          }
        }
        .card-body {
          padding: 10px 20px 8px 25px;
          min-height: 0;
          h3 {
            font-size: 1.12rem;
            height: 2.65rem;
            overflow: hidden;
          }
          span {
            &.course-progress {
              float: none;
              text-align: left;
              .bar {
                float: none;
              }
            }
          }
          .course-status {
            display: none;
          }
        }
      }
    }
  }
  body {
    &.myCourses {
      .appHeader {
        margin-bottom: 40px;
      }
    }
  }
}
