// Course Landing Page Styles

//generic card
.contentCard {
  background-color: $white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 30px 20px;
}

.contentCardWrap {
  margin-top: 36px;
  > .head {
    margin-bottom: 5px;
    padding: 0 15px;
  }
  h5 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    margin-top: 15px;
    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
}

.progressWidgets {
  padding: 30px 40px;
  .widget {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
    padding: 0 28px;
    min-height: 112px;
    &:first-child {
      > .holder {
        display: table;
        width: 100%;
        .contenrArea {
          display: table-header-group;
        }
        .progressArea {
          display: table-footer-group;
        }
      }
    }

    .contenrArea {
      //width: 236px;
    }

    .widgetTitle {
      text-transform: uppercase;
      color: $black;
      font-size: 12px;
      line-height: 17px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    .title {
      color: $black;
      font-size: 1rem;
      line-height: 22px;
      margin-bottom: 3px;
    }
    .averageTitle {
      color: $gray;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 15px;
    }

    // Progress Area
    .progressArea {
      width: 88px;
      height: 88px;
      border-radius: 100%;
      position: relative;
      margin-top: 10px;
      &.bar {
        display: block;
        float: none;
        width: 100%;
        height: 16px;
        clear: both;
        margin-top: 15px;
        border-radius: inherit;
      }
      span {
        width: calc(100% - 50px);
        display: inline-block;
        height: 16px;
        background-color: #ededed;
        position: relative;
        vertical-align: sub;
        .filler {
          height: 100%;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            background-color: $tertiary;
            width: inherit;
          }
        }
      }
    }

    .contenrArea {
      overflow: hidden;
    }
  }
}

// List of All Courses
.allCoursesList {
  padding: 0;
  margin: 0;
  list-style: none;
  > .courseRow {
    padding: 0 30px;
    margin: 0 -30px;
    position: relative;
    overflow: hidden;

    > .holder {
      display: block;
      overflow: hidden;
      border-top: 1px solid #F1F3F6;
      clear: both;
    }
    .description {
      transition: all ease 0.3s;
      position: absolute;
      content: '';
      z-index: 9;
      width: 100%;
      max-width: calc(100% - 60px);
      text-decoration: none;
      padding: 18px 92px;
      top: 100%;
      bottom: auto;
      height: 100%;
      text-align: left;
      background: #DFEEF7;
      font-style: italic;
      color: #191561;
      opacity: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      p {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .bookmark {
      position: absolute;
      top: 0;
      height: 100%;
      width: 20px;
    }
    &:last-child {
      .holder {
        border-bottom: 1px solid #F1F3F6;
      }
    }
    &:hover {
      .description {
        top: 0;
        opacity: 1;
        visibility: visible;
      }
    }
    &.complete {
      .data {
        &.status {
          color: $bg-white-green;
        }
      }
    }
    &.locked {
      &:hover {
        cursor: pointer;
      }
      .description {
        display: none;
      }
      .title {
        > span {
          padding: 0 25px 0 0;
          position: relative;
          display: block;
          color: $gray;
          .locked {
            position: absolute;
            width: 18px;
            height: 18px;
            content: '';
            right: 0;
            top: 50%;
            z-index: 999;
            font-size: 18px;
            color: $secondary;
          }
        }
        i {
          font-size: 18px;
          vertical-align: middle;
        }
      }
    }
  }
  .holder {
    justify-content: space-between;
    .data {
      display: inline-block;
      vertical-align: middle;
      padding: 17px 10px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &.serial, &.title, &.status {
        text-transform: capitalize;
      }
      &.serial {
        color: $dark-gray;
        font-size: 12px;
        line-height: 17px;
        width: 7%;
      }
      &.title {
        color: $secondary;
        font-size: 16px;
        line-height: 22px;
        width: 38%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.time,
      &.status {
        color: $dark-gray;
        font-size: 12px;
        line-height: 17px;
        width: 14%;
        i {
          font-size: 18px;
          display: inline-block;
          vertical-align: top;
        }
      }

      .figure {
        font-size: 12px;
        color: $dark-gray;
        width: 35px;
      }
      .figure,
      .statusBar {
        display: inline-block;
        vertical-align: middle;
      }
      .statusBar {
        position: relative;
        height: 12px;
        width: 70%;
        background: #ededed;
        .progress-counter {
          width: auto;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: $tertiary;
            width: inherit;
          }
        }
      }

      &.progressBar {
        width: 23%;
      }
    }
  }
}

// Social Widgets

.socialWidgets {
  .widget {
    padding: 0;
    > .holder {
      padding: 15px 30px;
      > img {
        width: 100%;
      }
    }
  }
  .articlesArea {
    .holder {
      max-height: 400px;
      overflow-y: auto;
      padding: 15px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 10px 0 0;
        padding: 15px 0;
        box-sizing: border-box;
        border: 1px solid #EBEBEB;
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
        &:first-child {
          margin: 0;
        }
      }
    }
    .articleTitle {
      color: $secondary;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 22px;
    }
    .label {
      display: block;
      margin: 10px 0 0;
      color: #696969;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      line-height: 17px;

    }
  }

  .socialArea {
    //.holder {
    //  height: 420px;
    //  overflow-y: auto;
    //}
    .tweet {
      > a {
        width: 38px;
        height: 38px;
        overflow: hidden;
        border-radius: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
      > .content {
        overflow: hidden;
        .head {
          margin: 0 0 5px;
          span,
          a {
            display: inline-block;
            vertical-align: middle;
          }
          .name {
            color: $black;
            font-size: 14px;
            font-weight: 600;
            line-height: 19px;
            margin: 0 6px 0 0;
          }
          .name-link {
            color: $secondary;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            line-height: 19px;

          }
        }

        .tweet-body {
          color: $black;
          font-size: 16px;
          line-height: 22px;
          > a {
            color: $secondary;
          }
        }
      }
    }
  }
}

.videosWidget {
  h5 {
    margin-left: 0 !important;
  }
  margin-top: 16px;
  ul {
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
    li {
      overflow: hidden;
      margin: 20px 0 0;
      &:first-child {
        margin: 0;
      }
    }
  }
  .videoWrap {
    width: 115px;
    height: auto;
    > a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .content {
    overflow: hidden;
    .title {
      color: $secondary;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 22px;
      display: block;
      margin-bottom: 16px;

    }
    .name {
      color: $gray;
      font-size: 12px;
      line-height: 17px;

    }
  }
}

// quote

blockquote {
  &.courseLanding {
    padding: 53px 90px;
    p {
      color: $gray;
      font-size: 24px;
      font-style: italic;
      font-weight: 300;
      line-height: 33px;
      margin: 0 0 8px;
      text-align: center;
    }
    .author {
      color: $black;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;

    }
  }
}

// Media Queries

//Tablet
@media screen and (max-width: 992px) {

  .container {
    &.courseLanding {
      max-width: 100%;
      .row {
        .col {
          padding: 0;
        }
      }
    }
  }

  .progressWidgets {
    .widget {
      padding: 0 15px;
      .contenrArea {
        width: auto;
      }
      .title {
        display: none;
      }
      .progressArea {
        float: right;
        &.bar {
          margin-top: 30px;
        }
      }
    }
  }

  .allCoursesList {
    .holder {
      padding: 16px 0;
      display: block;
      .data {
        padding: 4px 3px;
        &.serial {
          width: 70px;
        }
        &.title {
          width: calc(100% - 96px);
        }
        &.time {
          width: 80px;
          margin: 0 0 0 -3px;
        }
        &.status {
          width: 130px;
          margin: 0 0 0 -3px;
        }
        &.progressBar {
          width: 200px;
        }
      }
    }
  }

  .contentCard {
    > .row {
      margin: 0;
    }
  }

  .socialWidgets {
    .widget {
      margin-top: 30px;
      border-top: 1px solid #ccc;
      padding: 30px 0 0;
      &:first-child {
        margin-top: 0;
        padding: 0;
        border: 0;
      }

      > .holder {
        border: 0 !important;
        padding: 0;
      }
    }
    .contentCard {
      [class*="col"] {
        h5 {
          margin-left: 0;
          margin-bottom: 20px;
        }
        &:first-child {
          h5 {
            margin-left: 0;
          }
        }
      }
    }
  }

  .videosWidget {
    margin-top: 26px;
    padding-top: 26px;
    border-top: 1px solid #ccc;
  }

  .allCoursesList {
    > .courseRow:hover {
      text-decoration: none;
      .description {
        opacity: 0;
      }
    }
  }
}

//Mobile
@media screen and (max-width: 767px) {

  .progressWidgets {
    .widget {
      padding: 0 4px;
      border-left: 0;
      vertical-align: bottom;
      min-height: inherit;

      .progressArea {
        float: none;
        display: block;
        position: relative;
        margin: 0 auto;
        span {
          width: 100%;
          margin-left: 0 !important;
        }

      }

      .contenrArea {
        display: block;
        margin: 20px 0 0;
        width: 100%;
      }

      &:first-child {
        > .holder {
          display: block;
          .progressArea {
            float: none;
            display: block;
            width: 100%;
            position: relative;
            margin: 0 auto;
          }

          .contenrArea {
            display: block;
            margin-top: 40px;
          }

        }
      }
    }
  }

  .contentCard {
    padding: 20px;
  }

  .socialWidgets {
    .widget {
      h5 {
        margin-left: 10px;
      }
    }
  }

  .allCoursesList {
    .courseRow {
      padding: 0 20px;
      margin: 0 -20px;
      .description {
        left: 0;
      }
    }
    .holder {
      .data {
        &.serial {
          width: 70px;
        }
        &.status {
          width: 110px;
        }
        &.progressBar {
          width: 140px;
        }
        .figure {
          margin-right: 0;
        }
      }
    }
  }

  blockquote.courseLanding {
    padding: 53px 30px;
  }
}

#profile-container {
  position: absolute;
  background: #ccc;
  width: 300px;
  right: 0;
  #profileDropdown.block-view {
    display: block !important;
  }
}
