// Course Landing Page Styles

//generic card
.contentCard {
  background-color: $white;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.04);
  padding: 30px;
  width: 100%;
  position: relative;
  z-index: 99;
}
.viewDetailCourse {
  display: none;
}
.bookmark {
  svg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
  }
  &.primary {
    background: none;
    svg {
      path {
        fill: var(--primary);
      }
    }
  }
  &.secondary {
    background: none;
    svg {
      path {
        fill: var(--secondary);
      }
    }
  }
}
.courseLanding {
  .donut-loader {
    max-height: 600px;
    overflow: hidden;
    .contentCard {
      visibility: hidden;
    }
  }
  #course-final-grade {
    @extend .mb-4;
    text-align: center;
    font-size: 1rem;
    > div {
      color: $gray;
      line-height: 28px;
    }
    .final-grade {
      color: $black;
      @include font-spec(24, 400, 32px);
      margin-bottom: 8px;
    }
  }
  .widget {
    .holder {
      min-height: 140px;
      overflow: hidden;
      @include media-breakpoint-down(xs) {
        min-height: 195px;
      }
    }
  }
  .viewDetailCourse {
    display: block;
    margin: 0 0 -15px;
    a {
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      color: var(--primary);
      font-size: 12px;
      &:after {
        font-family: 'Material Icons';
        content: "\e409";
        border: 0;
        font-size: 15px;
        margin: 0 0 0 1px;
        vertical-align: top;
        line-height: 17px;
      }
    }
  }
}

.contentCardWrap {
  margin-top: 36px;

  > .head {
    margin-bottom: 5px;
    padding: 0 15px;
    h5 {
      margin: 15px;
    }
  }

  h5 {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 17px;
    margin-top: 15px;

    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
}

.progressWidgets {
  padding: 30px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  .row {
    margin: 0;
  }

  .widget {
    display: inline-block;
    vertical-align: middle;
    padding: 0 28px;
    max-width: 50%;
    min-height: 112px;
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }

    &:first-child {
      > .holder {
        width: 100%;
      }
    }

    .widgetTitle {
      text-transform: uppercase;
      color: $black;
      font-size: 0.75rem;
      line-height: 17px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    .title {
      color: $black;
      font-size: 1rem;
      line-height: 22px;
      margin-bottom: 3px;
    }

    .averageTitle {
      color: $gray;
      font-family: "Open Sans", sans-serif;
      font-size: 0.75rem;
      line-height: 17px;
      margin-bottom: 15px;
    }

    // Progress Area
    .progressArea {
      width: 94px;
      height: 94px;
      border-radius: 100%;
      position: relative;
      margin-top: 10px;

      &.bar {
        display: block;
        float: none;
        width: 100%;
        height: 16px;
        clear: both;
        margin-top: 5px;
        border-radius: inherit;
      }

      span {
        width: calc(100% - 50px);
        display: inline-block;
        height: 16px;
        background-color: #ededed;
        position: relative;
        vertical-align: sub;

        .filler {
          height: 100%;

          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            top: 0;
            background-color: var(--secondary);
            width: inherit;
          }
        }
      }
    }

    .contenrArea {
      overflow: hidden;
    }
  }

  .course-engagement {
    .progressArea {
      width: 94px;
    }
  }

}

// List of All Courses
.allCoursesList {
  padding: 0;
  margin: 0;
  list-style: none;
  &.onPage {
    > .courseRow {
      overflow: hidden;
    }
  }

  > .courseRow {
    position: relative;
    z-index: 1;
    padding: 0 30px;
    margin: 0 -30px;
    position: relative;
    border-top: 1px solid #F1F3F6;
    overflow: hidden;

    > .holder {
      display: block;
      overflow: hidden;
      clear: both;
      position: relative;
      z-index: 1;
    }
    .bookmark {
      z-index: 2;
      width: 20px;
      pointer-events: none;
    }

    > a {
      &:hover {
        text-decoration: none;
      }
    }

    .description {
      transition: all ease 0.05s;
      position: absolute;
      content: '';
      z-index: 1;
      width: 100%;
      text-decoration: none;
      padding: 18px 30px;
      top: 0;
      bottom: auto;
      height: 100%;
      text-align: left;
      background-color: lighten($secondary, 50);
      font-style: italic;
      color: #191561;
      opacity: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      left: 0;

      p {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &:last-child {
      border-bottom: 1px solid #F1F3F6;
    }

    &:hover {
      .description {
        opacity: 1;
        visibility: visible;

        &.no-data {
          z-index: 0;
        }
      }
    }

    &.complete {
      .data {
        &.status {
          color: $bg-white-green;
        }
      }
    }

    &.locked {
      &:hover {
        cursor: pointer;
      }

      .description {
        display: none;
      }

      .title {
        > span {
          color: $gray;
          .locked {
            position: absolute;
            content: '';
            z-index: 999;
            font-size: 1rem;
            color: inherit;
            margin: 0 4px;
            line-height: 1.5;
          }
        }

        i {
          font-size: 1.125rem;
          vertical-align: middle;
        }
      }
    }
  }

  .holder {
    justify-content: space-between;

    .data {
      display: inline-block;
      vertical-align: middle;
      padding: 17px 10px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.serial,
      &.title,
      &.status {
        text-transform: capitalize;
      }

      &.serial {
        color: $dark-gray;
        font-size: 0.75rem;
        line-height: 17px;
        width: auto;
        max-width: 250px;
        position: relative;
        @include text-ellipsis;
        span {
          width: 21px;
          display: inline-block;
          line-height: 1.55;
        }
      }

      &.title {
        padding: 17px 0;
        font-size: 1rem;
        line-height: 22px;
        width: 44%;

        > span {
          display: inline-block;
          vertical-align: middle;
          @include text-ellipsis;
          position: relative;
          max-width: calc(100% - 18px);
          box-sizing: border-box;
        }
      }

      &.time {
        color: $dark-gray;
        font-size: 0.75rem;
        line-height: 17px;
        width: 180px;

        i {
          font-size: 1.125rem;
          display: inline-block;
          vertical-align: middle;
          margin: 0 4px;
        }
      }

      &.status {
        color: $dark-gray;
        font-size: 0.75rem;
        line-height: 17px;
        width: 14%;

        i {
          vertical-align: middle;
          display: inline-block;
          font-size: 1.125rem
        }
      }

      .figure {
        font-size: 0.75rem;
        color: $dark-gray;
        min-width: 35px;
      }

      .figure,
      .statusBar {
        display: inline-block;
        vertical-align: middle;
      }

      .statusBar {
        position: relative;
        height: 12px;
        width: 70%;
        background: #ededed;

        .progress-counter {
          width: auto;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: var(--secondary);
            width: inherit;
          }
        }
      }

      &.progressBar {
        width: 23%;
      }
    }
  }
}

// Social Widgets

.socialWidgets {
  .widget {
    padding: 0;
    position: relative;

    > .holder {
      padding: 15px 30px;

      > img {
        width: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        top: 40px;
        bottom: 0;
        background-color: $hard-gray;
      }
    }
    &:last-child {
      > .holder {
        &::after {
          display: none;
        }
      }
    }
  }

  .articlesArea {
    .holder {
      max-height: 400px;
      overflow-y: auto;
      padding: 15px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 10px 0 0;
        padding: 15px 0;
        box-sizing: border-box;
        border: 1px solid #EBEBEB;
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);

        &:first-child {
          margin: 0;
        }
      }
    }

    .articleTitle {
      color: var(--primary);
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      line-height: 22px;
    }

    .label {
      display: block;
      margin: 10px 0 0;
      color: #696969;
      font-family: "Open Sans", sans-serif;
      font-size: 0.75rem;
      line-height: 17px;
    }
  }

  .socialArea {
    .tweet {
      > a {
        width: 38px;
        height: 38px;
        overflow: hidden;
        border-radius: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }

      > .content {
        overflow: hidden;

        .head {
          margin: 0 0 5px;

          span,
          a {
            display: inline-block;
            vertical-align: middle;
          }

          .name {
            color: $black;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 19px;
            margin: 0 6px 0 0;
          }

          .name-link {
            color: var(--primary);
            font-family: "Open Sans", sans-serif;
            font-size: 0.875rem;
            line-height: 19px;

          }
        }

        .tweet-body {
          color: $black;
          font-size: 1rem;
          line-height: 22px;

          > a {
            color: var(--primary);
          }
        }
      }
    }
  }
  .no-data {
    display: none;
    visibility: hidden;
  }
}

.videosWidget {
  h5 {
    margin-left: 0 !important;
  }

  margin-top: 16px;

  ul {
    max-height: 200px;
    overflow-y: auto;
    margin: 0;

    li {
      overflow: hidden;
      margin: 20px 0 0;

      &:first-child {
        margin: 0;
      }
    }
  }

  .videoWrap {
    width: 115px;
    height: auto;

    > a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .content {
    overflow: hidden;

    .title {
      color: var(--primary);
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      line-height: 22px;
      display: block;
      margin-bottom: 16px;

    }

    .name {
      color: $gray;
      font-size: 0.75rem;
      line-height: 17px;

    }
  }
}

// quote

blockquote {
  &.courseLanding {
    text-align: center;
    padding: 53px 90px 0;

    p {
      color: $gray;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 300;
      line-height: 33px;
      margin: 0 0 8px;
      text-align: center;
    }

    .author {
      color: $black;
      font-size: 1.125rem;
      line-height: 24px;
      font-weight: 600;

    }
  }
}
.lesson-dropdown-frame {
  padding: 0 0 10px;
  .dropdown-menu.allLessons .allCoursesList .holder {
      @include media-breakpoint-down(sm) {
      .data.title {
          width: calc(100% - 110px);
          >span {
            padding-left: 0;
          }
        }
        .data.status {
          width: 24px !important;
          font-size: 0;
          float: right;
        }
      }
    }
  .lesson-dropdown-holder {
    position: relative;
    display: inline-block;
    vertical-align: top;
    @include media-breakpoint-down(sm) {
      display: block;
    }
    >a {
      display: inline-block;
      padding: 4px 10px;
      border: 1px solid var(--primary);
      border-radius: 2px;
      font-size: 12px;
      line-height: 20px;
    }
    .dropdown-menu {
      top: 100%!important;
      left: 0!important;
      min-width: 430px;
      width: 100%;
      max-width: 100%;
      @include media-breakpoint-down(sm) {
        min-width: 270px;
      }
      &:after {
        display: none;
      }
    }
  }
}

// Media Queries

//Tablet
@include media-breakpoint-down(md) {
  .container {
    &.courseLanding {
      max-width: 100%;

      .row {
        .col {
          padding: 0;
        }
      }
    }
  }

  .progressWidgets {
    .widget {
      padding: 10px !important;

      .contenrArea {
        width: auto;
      }

      .title {
        display: none;
      }

      .progressArea {
        float: right;

        &.bar {
          margin-top: 30px;
        }
      }
      > .holder {
        &::after {
          display: none;
        }
      }
    }
  }

  .allCoursesList {
    .holder {
      display: block;

      .data {
        padding: 4px 3px;

        &.title {
          width: 35%;
        }

        &.time {
          width: 180px;
          margin: 0 0 0 -3px;
        }

        &.status {
          width: 130px;
          margin: 0 0 0 -3px;
        }

        &.progressBar {
          width: 200px;
        }
      }
    }
  }

  .contentCard {
    > .row {
      margin: 0;
    }
  }

  .socialWidgets {
    .widget {
      margin-top: 30px;
      border-top: 1px solid #ccc;
      padding: 30px 0 0;

      &:first-child {
        margin-top: 0;
        padding: 0;
        border: 0;
      }

      > .holder {
        border: 0 !important;
        padding: 0;
      }
    }

    .contentCard {
      [class*="col"] {
        h5 {
          margin-left: 0;
          margin-bottom: 20px;
        }

        &:first-child {
          h5 {
            margin-left: 0;
          }
        }
      }
    }
  }

  .videosWidget {
    margin-top: 26px;
    padding-top: 26px;
    border-top: 1px solid #ccc;
  }

  .allCoursesList {
    > .courseRow {
      padding-top: 15px;
      padding-bottom: 10px;

      &:hover {
        text-decoration: none;

        .description {
          opacity: 0;
        }
      }
    }
  }
}

//Mobile

@include media-breakpoint-down(sm) {

  .progressWidgets {
    .widget {
      border: 0 !important;
      vertical-align: bottom;
      min-height: inherit;

      .progressArea {
        float: none;
        display: block;
        position: relative;
        margin: 0 auto;

        span {
          width: 100%;
          margin-left: 0 !important;
        }

      }

      .contenrArea {
        display: block;
        margin: 20px 0 0;
        width: 100%;
      }

      &:first-child {
        > .holder {
          display: block;

          .progressArea.bar {
            float: none;
            display: block;
            width: 100%;
            position: relative;
            margin: 0 auto;
          }

          .contenrArea {
            display: block;
          }

        }
      }
    }

    .course-progress {
      .holder {
        position: relative;

        .contenrArea {
          margin-top: 114px !important;
        }

        .bar {
          position: absolute !important;
          bottom: 105px;
        }
      }
    }
  }
  @include media-breakpoint-down(xs) {
    .progressWidgets .course-progress .holder .bar {
      bottom: 135px;
    }
  }
  .contentCard {
    padding: 20px;
  }

  .socialWidgets {
    .articlesArea {
      .holder {
        margin: 0;
      }
    }
    .widget {
      h5 {
        margin-left: 10px;
      }
    }
  }

  .allCoursesList {
    .courseRow {
      padding: 0 20px;
      margin: 0 -20px;

      .description {
        left: 0;
      }
    }

    .holder {
      padding: 10px 0 10px;
      .data {

        &.status {
          width: 110px;
        }

        &.progressBar {
          width: 140px;
        }

        .figure {
          margin-right: 0;
        }

        &.title {
          width: 100%;
          display: block;
          padding: 10px 0;
        }
      }
    }
  }

  blockquote.courseLanding {
    padding: 53px 30px;
  }
}

#profile-container {
  position: absolute;
  background: #ccc;
  width: 300px;
  right: 0;

  #profileDropdown.block-view {
    display: block !important;
  }
}
