.new-theme {
    #course-group-work {

        .mckinsey_help {
            display: none;
        }


        // layout

        .group-project-navigator {
            width: 363px;
            margin: -16px 0 0;
        }

        .group-project-content {
            width: calc(100% - 373px);
            display: inline-block;
            padding-right: 15px;
        }

        // Media Query
        @include media-breakpoint-down(sm) {
            .group-project-navigator {
                width: 100%;
                margin: 10px 0 0;
                max-height: 50px;
                overflow: hidden;
                position: relative;
                transition: .35s;


                .group-project-navigator-header {
                    background: var(--primary) !important;
                    transition: .35s;
                }

                &:before {
                    font-family: 'Material Icons';
                    content: '\e315';
                    position: absolute;
                    top: 7px;
                    right: 10px;
                    color: white;
                    @include font-size(24);

                }

                &.open {
                    max-height: 1000px;

                    .group-project-navigator-header {
                        background: $smoke-gray !important;
                    }

                    &:before {

                        content: '\e313';
                    }
                }



            }

            .group-project-content {
                width: 100%;

                p {
                    font-size: .875rem !important;
                }

            }
        }

        // Contents

        .lesson-title {
            @include font-size(12);
            color: $gray;
        }

        .group-project-content {

            h1 {
                margin-bottom: 20px;

                .stage_title{
                    @include font-size(28);
                    font-weight: 300;
                }
                .highlight
                {
                    color:$bg-white-red;
                    @include font-size(16);
                    font-weight: normal;
                    &::before
                    {
                        content:" - ";
                    }
                }
            }

            p {
                @include font-size(16);

                >b {
                    &:only-child {
                        @include font-size(12);
                        font-weight: 600;
                    }
                }
            }

            ul {
                margin: 0;
                padding: 10px 0;
                list-style-position: inside;
            }

            .fa {
                color: var(--primary);
            }
        }

        &:after
        {
            content:'';
            display:table;
            clear: both;
        }

    }

    // Navigator side navigation

    .group-project-navigator-wrapper {
        width: 100%;
        float: right;


        .group-project-navigator-header {
            height: 50px;
            line-height: 50px;
            box-sizing: border-box;
            color: $white;
            background: $black;
            font-weight: 300;
            letter-spacing: 1px;
            @include font-size(16);
            padding: 0 20px;
        }

        .group-project-activity-header {
            background: $ash-white;
            padding: 0 0 0 20px;
            height: 30px;
            line-height: 30px;
            font-weight: 600;
            color: $black;
        }

        .group-project-navigator-views {
            height: auto;


            .group-project-activity-stages {
                padding: 0 !important;
                margin: 0 !important;

                li {
                    position: relative;
                    padding-left: 15px;
                    border-bottom: none;


                    .group-project-stage {
                        color: var(--primary);
                        font-size: 0.75rem;
                        line-height: 17px;
                        background: inherit;
                        border-top: 1px solid #EBEBEB;
                        padding: 12px 0;
                        display: block;
                        margin: 0;
                        position: relative;

                        .group-project-stage-state {
                            float: left;
                            width: 16px;
                            height: 16px;
                            box-sizing: border-box;
                            text-align: center;
                            border-radius: 16px;
                            margin: 0 10px 0 0;
                            padding: 0;
                            display: inline-block;
                            vertical-align: middle;
                            @include font-size(18);

                            &::before {
                                font-family: 'Material Icons';
                                content: '\e836';
                                color: $gray;
                            }



                            &.completed {
                                &::before {
                                    font-family: 'Material Icons';
                                    content: '\e86c';
                                    color: #0A8100;
                                }
                            }
                        }

                        .group-project-stage-dates {
                            display: block;
                            font-weight: normal;
                            padding-left: 25px;
                            color: $bg-white-red;
                            @include font-size(12);

                        }

                        a {
                            font-weight: normal;
                            display: inline-block;
                            vertical-align: middle;
                            @include font-size(16);
                        }

                        &.current {
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                height: 100%;
                                background: url("/static/image/bookmark.svg") no-repeat;
                                background-size: 20px 100%;
                                width: 100%;
                                bottom: 0;
                                left: -25px;
                            }
                        }
                    }

                    &:first-child {
                        .group-project-stage {

                            border-top: none;
                        }
                    }

                    .group-project-stage-type {
                        float: left;
                        margin-right: 5px;
                    }

                    .group-project-stage-title {
                        overflow: hidden;
                        display: block;
                    }
                }
            }
        }

        // footer

        .group-project-navigator-view-selector {
            padding: 0;
            margin: 0;
            background: $ash-white;
            height: 80px;
            line-height: 80px;

            li {
                vertical-align: middle;
                width: auto;
                height: auto;
                margin-right: 6px;

                .view-selector-item {
                    background: var(--primary);
                    width: 48px;
                    height: 40px;
                    padding: 0;
                    box-sizing: border-box;
                    color: white !important;
                    line-height: 40px;
                    transition: .35s;
                    box-shadow: inset 0 0 0 30px rgba(0,0,0,0);

                    &:hover {
                        box-shadow: inset 0 0 0 30px rgba(0,0,0,0.3);
                    }

                    &::before {
                        font-family: 'Material Icons';
                        @include font-size(18);
                    }

                    &.fa-upload {
                        &::before {
                            content: '\e2c6';
                            color: $white;
                        }
                    }

                    &.fa-files-o {
                        &::before {
                            content: '\e14d';
                            font-weight: normal;
                            color: $white;
                        }
                    }

                    &.fa-comment {
                        &::before {
                            content: '\e0ca';
                            color: $white;
                        }
                    }

                    &.active {
                        background: $smoke-gray;
                    }


                }
            }
        }
    }


    // Team Page

    .group-project-team-wrapper {
        border-bottom: 1px solid $gray-border;
        padding-bottom: 5px;

        .group-project-team-email-group {
            font-weight: normal;
            @include font-size(14);
        }

        .group-project-team-member {
            border-top: 1px solid $gray-border;

            //Avatar
            .group-project-team-member-avatar {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 40px;

                img {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                }
            }

            // Member Data

            .group-project-team-member-data {
                .group-project-team-member-info {
                    height: auto;

                    .group-project-team-member-name {
                        font-weight: normal;
                        margin-bottom: 0;
                        @include font-size(16);
                    }

                    .group-project-team-member-organization {
                        font-weight: normal;
                        @include font-size(12);
                    }
                }

                .group-project-team-member-email {
                    margin-top: 9px;

                    a {
                        font-weight: normal;
                        @include font-size(12);
                    }
                }
            }

        }
    }



    // Static Content Block

    .group-project-static-content-block {
        color: $bg-white-red !important;
        font-weight: normal;
        @include font-size(12);
    }


    // Upload Tab


    .group-project-navigator-view-header {
        padding: 11px 10px;

        .group-project-navigator-view-title {
            color: $black;
            @include font-size(24);
        }

        .group-project-navigator-view-close {
            margin-top: 12px;

            &.fa-times {
                &::before {
                    font-family: 'Material Icons';
                    content: '\e5cd';
                    color: $gray;

                }
            }
        }
    }



    .group-project-activity-content {
        padding: 10px !important;
        margin: 0 !important;

        li {
            .uploader {
                .uploader-upload-controls-wrapper {
                    min-width: auto;
                    padding: 0;



                    .upload_title {
                        @include font-size(12);
                    }

                    .upload_item_wrapper {
                        width: calc(100% - 60px);

                        input[type=text] {
                            height: 50px;
                            padding: 10px;
                            max-width: none;
                        }
                    }

                    label {
                        width: 50px;
                        float: right;
                        margin-right: 0;

                        .button {
                            width: 50px;
                            height: 50px;
                            background: var(--primary);
                            border-radius: 2px;
                            text-align: center;
                            line-height: 48px;
                            background-color: var(--primary);
                            color: $white;
                            transition: .35s;
                            border:0;
                            box-shadow: inset 0 0 0 30px rgba(0,0,0,0);

                            &:hover {
                                box-shadow: inset 0 0 0 30px rgba(0,0,0,0.3);
                            }

                            &:disabled {
                                background: $gray;
                                opacity: 1;
                                border-color: $gray;
                                cursor: not-allowed;
                                color: $white;
                                box-shadow: inset 0 0 0 30px rgba(0,0,0,0);

                                &:hover {
                                    background: $gray;
                                    opacity: 1;
                                    border-color: $gray;
                                    cursor: not-allowed;
                                    color: $white;
                                    box-shadow: inset 0 0 0 30px rgba(0,0,0,0);
                                }
                            }

                            &::before {
                                content: '\e2bc';
                                font-family: 'Material Icons';
                                font-size: 24px;
                                font-weight: normal
                            }
                        }
                    }

                }


            }
        }
    }



    // Email Modal Window

    .group-project-xblock-wrapper {
        .xblock-reveal {
            &.reveal-modal {
                background: white;
                z-index: 999;
                padding: 50px 50px 30px !important;

                @include media-breakpoint-down(sm) {
                    padding: 30px !important;
                }

                &.open {
                    width: 100%;
                    max-width: 600px;
                }

                .close-box {
                    margin-top: 15px;
                    color: $gray;
                    @include font-size(18);

                    .fa-times-circle {
                        &::before {
                            font-family: 'Material Icons';
                            content: '\e5cd'
                        }
                    }
                }

                .group-project-team-email-modal-title {
                    font-weight: 500;
                    margin-bottom: 0;
                    @include font-size(24);
                }

                .group-project-team-email-modal-subtitle {
                    color: $gray;
                    @include font-size(12);
                }

                hr {
                    display: none;
                }

                .email-member-form {
                    textarea {
                        width: 100%;
                        border: 1px solid $gray;
                        padding: 15px;
                        height: auto;
                        min-height: 100px;
                        box-sizing: border-box;

                    }

                    .button {
                        font-weight: 600;
                        font-size: 12px;
                        height: 40px;
                        border-radius: 2px;
                        text-transform: uppercase;
                        line-height: 1.83;
                        letter-spacing: 0.5px;
                        text-align: center;
                        padding: 0 20px;
                        background-color: var(--primary);
                        border:0;
                        color: $white;
                        margin-top: 15px;
                        box-shadow: inset 0 0 0 30px rgba(0,0,0,0);


                        &:hover {
                            box-shadow: inset 0 0 0 30px rgba(0,0,0,0.3);
                        }

                        &:disabled {
                            background: $gray;
                            opacity: 1;
                            border-color: $gray;
                            cursor: not-allowed;
                            color: $white;
                            box-shadow: inset 0 0 0 30px rgba(0,0,0,0);

                            &:hover {
                                background: $gray;
                                opacity: 1;
                                border-color: $gray;
                                cursor: not-allowed;
                                color: $white;
                                box-shadow: inset 0 0 0 30px rgba(0,0,0,0);
                            }
                        }
                    }
                }
            }
        }
    }


    #generalModal
    {
        .modal-dialog
        {
            .modal-content
            {
                .modal-header
                {
                    border-bottom: 1px solid $gray-border !important;
                    .close
                    {
                        margin-top: 15px;
                        color: $gray;
                        @include font-size(18);
                    }
                    .modal-title
                    {
                        font-weight: 500;
                        margin-bottom: 0;
                        @include font-size(24);
                    }
                }

                .modal-body
                {
                    p
                    {
                        @include font-size(16);
                    }
                }
                
                .modal-footer
                {
                    justify-content: flex-start;
                    padding: 0 1rem 1rem;

                    button
                    {
                        font-weight: 600;
                        font-size: 12px;
                        height: 40px;
                        border-radius: 2px;
                        text-transform: uppercase;
                        line-height: 1.83;
                        letter-spacing: 0.5px;
                        text-align: center;
                        padding: 0 20px;
                        background-color: var(--primary);
                        border:none;
                        color: $white;
                        margin-top: 15px;
                        box-shadow: inset 0 0 0 30px rgba(0,0,0,0);


                        &:hover {
                            box-shadow: inset 0 0 0 30px rgba(0,0,0,0.3);
                        }

                        &:disabled {
                            background: $gray;
                            opacity: 1;
                            cursor: not-allowed;
                            color: $white;
                            box-shadow: inset 0 0 0 30px rgba(0,0,0,0);

                            &:hover {
                                background: $gray;
                                opacity: 1;
                                cursor: not-allowed;
                                color: $white;
                                box-shadow: inset 0 0 0 30px rgba(0,0,0,0);
                            }
                        }
                    }
                }
            }
        }
    }

    // Peer Feedback

    .review {
        .group_selector {
            color: $gray;
            @include font-size(12);

            .review_selector_header {
                margin-top: 0;
                margin-bottom: 10px;
            }
        }

        .question {
            font-weight: normal;
        }

        textarea {
            &.answer {
                width: 100%;
                min-height: 125px;
                padding: 5px;
            }
        }
    }

    //Grade Display

    .group_assessment {
        .group-project-assessment {
            .group-project-question-title {
                font-weight: normal;
                margin-bottom: 20px;
                @include font-size(16);
            }

            .group-project-assessment-answers {
                .group-project-answer-mean {
                    color: $bg-white-red !important;
                    font-weight: normal;
                }
            }
        }
    }


    //TA View

    .group-project-ask-ta-view {
        .group-project-ask-ta-label {
            img {
                width: 100%;
                height: auto;
                margin: 0 0 20px;
            }
        }

        .error {
            padding: 0;
        }

        .contact-ta-form {
            textarea {
                width: 100%;
                margin-top: 20px;
                padding: 10px;
                border: 1px solid $gray;
            }

            .button {
                cursor: pointer;
                font-weight: 600;
                font-size: 12px;
                height: 40px;
                border-radius: 2px;
                text-transform: uppercase;
                line-height: 1.83;
                letter-spacing: 0.5px;
                text-align: center;
                padding: 0 20px;
                background-color: var(--primary);
                border:0;
                color: $white;
                margin-bottom: 15px;
                margin-top: 8px;
                box-shadow: inset 0 0 0 30px rgba(0,0,0,0);
                float: none;
                &:hover {
                    box-shadow: inset 0 0 0 30px rgba(0,0,0,0.3);
                }

                &:disabled {
                    background: $gray;
                    opacity: 1;
                    border-color: $gray;
                    cursor: not-allowed;
                    color: $white;
                    box-shadow: inset 0 0 0 30px rgba(0,0,0,0);

                    &:hover {
                        background: $gray;
                        opacity: 1;
                        border-color: $gray;
                        cursor: not-allowed;
                        color: $white;
                        box-shadow: inset 0 0 0 30px rgba(0,0,0,0);
                    }
                }
            }
        }
    }


    // TA View Content

    .grading_override {
        height: 50px;
        line-height: 50px;
        background: $orange;
        color: $white;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .review_selector_header {
        font-size: 12px;
        font-style: normal;
        color: $gray;
    }

    .review_subjects {
        .review_subject {
            height: 40px !important;
            line-height: 40px;
            padding: 0 15px;
            margin: 0 !important;

            .review_subject_label {
                @include font-size(12);
            }

            .review_evaluating_now {
                font-style: italic;
                color: $black;
                font-size:12px;
            }

            .avatar
            {
                margin-top: 8px;
                border-radius: 50px;
                display:none;
            }

            .other_submissions {
                a
                {
                    line-height: 40px;
                    font-weight: normal;
                    @include font-size(14);
                }
            }
            &.selected
            {
                background: $yellow-light !important;
            }
        }

        // Tablet and Mobile View

        @media (max-width: 992px) { 
            
            

            .review_subject_label {
                width: calc(100% - 30px);
                display: inline-block;
            }

            .review_subject
            {
                padding:10px !important;
                height:auto!important;
                line-height: normal;
                margin-left: 25px;
                
            }
            .review_evaluating_now
            {
                font-size:14px !important;
                white-space: nowrap;
            }
            .avatar
            {
                display:none;
            }
            .other_submissions
            {
                float: none !important;
                text-align: left;
                width: auto;
                a
                {
                    line-height: normal !important;
                    width: auto;
                    font-size: 12px !important;
                }
            }
         }
    }


    .question {
        .group-project-question-title {
            font-weight: normal;
            @include font-size(16)
        }
    }
    textarea.answer {
        border-color: $hard-gray;
        min-height: 80px !important;
        padding: 15px !important;
        box-sizing: border-box;
    }

    select.answer {

        border-color: $hard-gray;
        width: 100%;
        max-width: 300px;
        padding: 15px;
        height: 50px;
        margin-bottom: 15px;
        border-radius: 0;
        background:$white;

    }

    button.submit {
        @extend %button;
        float: none !important;
    }


    .reveal-modal
    {
        .action_buttons
        {
            float: none !important;
           button.button
           {
               @extend %button;
           } 
        }
    }

    // Resources View

    .group-project-resources {
        padding: 0 !important;
        margin: 20px 10px !important;

        li {
            list-style: none !important;

            .resource_link {
                @include font-size(14);
                font-weight: normal;
            }
        }
    }

    .error {

        // padding-top:50px !important;
        h3 {
            font-weight: 300;
            @include font-size(24);
        }

        p {
            color: $gray;
        }
    }


.group-project-other-team-submissions
{
    .other-team-submission
    {
        .group-project-submissions
        {
            list-style: none;
        }

    }
}


    // Change Icons in content.

    .fa {
        &.fa-upload {
            &::before {
                font-family: 'Material Icons';
                content: '\e2c6';
                color: var(--primary);
            }
        }

        &.fa-files-o {
            &::before {
                content: '\e14d';
                font-weight: normal;
                font-family: 'Material Icons';
                color: var(--primary);
            }
        }

        &.fa-comment {
            &::before {
                content: '\e0ca';
                font-family: 'Material Icons';
                color: var(--primary);
            }
        }
    }


    // Discussion popup

    .group-project-xblock-wrapper {
        #group-project-discussion {
            .reveal-modal {
                left: 50% !important;
                transform: translateX(-50%);
                max-width: none !important;
                width: 100%;
                max-height: 80vh;
                overflow: auto;
            }
        }
    }

}


