// Lesson Overview or Details page styling
body{
  &.moduleArrow{
    .lessonOverview{
      .arrowPin {
        transition: all ease 0.7s;
        pointer-events: none;
        cursor: none;
        &.disable {
          background: var(--primary) !important;
          >span {
            > i {
              color: $white;
            }
          }
        }
        &.disabled {
          background: var(--primary) !important;
          pointer-events: none;
          >span {
            > i {
              color: $white;
            }
          }
        }
        &.left {
          left: -82px;
          opacity: 1;
          right: auto;
          > span {
            opacity: 1;
            i {
              left: 62px;
            }
          }
        }
        &.right {
          right: -82px;
          left: auto;
          opacity: 1;
          > span {
            opacity: 1;
            i {
              right: 62px;
            }
          }
        }
        > span {
          opacity: 1;
          visibility: visible;
          i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 100px;
          }
        }
      }
    }
  }
}
.lessonOverview {
  position: relative;

  .bookmark-button {
    display: none;
  }
  .contentCard {
    padding: 30px;
    .headerArea{
      .forModule {
        &:after {
          border: 1px solid var(--primary);
          line-height: 1;
          padding: 0 2px;
          border-radius: 2px;
          margin-top:-3px;
        }
      }
    }
  }

  .lessonContentWrap {
    .videoArea {
      min-height: 480px;
      background: #ececec;
    }
  }
  .nextPreviousWrap {
    position: relative;
    z-index: 99999;
  }
  .arrowPin {
    position: fixed;
    content: '';
    display: block;
    width: 164px;
    height: 164px;
    overflow: hidden;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    background-color: var(--primary);
    transition: all ease 0.3s;
    opacity: 0.5;
    &.disable {
      background: $gray !important;
      &:hover {
        opacity: 1;
      }
      >span {
        > i {
          color: $white;
        }
      }
    }
    &.disabled {
      background: $gray !important;
      pointer-events: none;
      &:hover {
        opacity: 1;
      }
      >span {
        > i {
          color: $white;
        }
      }
    }
    &.left {
      left: -111px;
      right: auto;
      > span {
        i {
          left: 62px;
        }
      }
      &:hover {
        opacity: 1;
        left: -82px
      }
    }
    &.right {
      right: -111px;
      left: auto;
      > span {
        i {
          right: 62px;
        }
      }
      &:hover {
        opacity: 1;
        right: -82px
      }
    }
    > span {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      opacity: 0;
      visibility: hidden;
      transition: all ease 0.2s;
      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 100px;
      }
    }
    &:hover {
      > span {
        opacity: 1;
        visibility: visible;
      }
    }
    .popover {
      max-width: 305px;
    }
  }
  .lesson-content {
    @include font-size(16);
    .unit-title {
      display: none;
    }
    .link-with-sup {
      display: inline-block;
    }
  }
  .xblock {
    img {
      max-width: 100%;
    }
  }
  .lesson-loader-bar {
    width: 0;
    height: 4px;
    background-color: var(--secondary);
    opacity: 0.6;
    transition-property: width, opacity;
    transition-duration: 0.3s , 0.3s;
    transition-timing-function: ease-in-out , ease-out;
  }
}

.contentCard{
  .headerArea {
    margin-bottom: 30px;
    position: relative;
    .zoomWrap {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      width: 25px;
      height: 25px;
      .popover-body {
        white-space: nowrap;
      }
      > a {
        display: block;
        width: 100%;
        height: 100%;
        &.zoomIn {
          display: none;
        }
      }
      svg {
        background: transparent;
        color: var(--primary);
        fill: var(--primary);
        g {
          fill: var(--primary);
        }
      }
    }
    h5 {
      color: $gray;
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 4px;
    }
    h2 {
      color: var(--primary);
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 34px;
      margin: 0;
      display: inline-block;
      vertical-align: top;
      position: relative;
      > a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    p {
      font-size: 16px;
      line-height: 22px;
      margin: 20px 0 0;
      font-weight: 600;
    }
  }
}


.headerArea {
  .dropdown-toggle {
    &:after {
      font-size: inherit !important;
    }
  }
}

// full Screen View
footer, main, header, body {
  transition: all ease 0.5s;
}



@media screen and (min-width: 992px){
  body.zoomIn {
  background: $white;
  main {
    margin: 0;
  }
  .contentCard {
    box-shadow: none;
  }
  header,
  footer,
  .learner-nav,
  .courseMainHeader {
    display: none !important;
    transition: all ease 0.5s;

  }
  .lessonOverview {
    .headerArea {
      .zoomWrap {
        > a {
          display: block;
          &.zoomIn {
            display: block;
          }
          &.zoomout {
            display: none;
          }
        }
      }
    }
  }
}
}

@media screen and (max-width: 992px) {
  .lessonOverview {
    margin-bottom: 100px;
    background: $white;
    .nextPreviousWrap {
      position: fixed;
      bottom: 0;
      background: $white;
      left: 0;
      z-index: 99999;
      width: 100%;
      > .holder {
        border-top: 1px solid $border-color;
        position: relative;
        padding: 11px 15px;
        overflow: hidden;
      }
      .arrowPin {
        position: relative;
        content: '';
        display: block;
        width: 38px;
        height: 38px;
        overflow: hidden;
        border-radius: 100%;
        top: auto;
        transform: translateY(0);
        color: $white;
        background-color: var(--primary);
        transition: all ease 0.3s;
        > span {
          display: block;
          height: 100%;
          width: 100%;
          position: relative;
          transition: all ease 0.2s;
          opacity: 1;
          visibility: visible;
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
          }
        }
        &.left {
          left: auto;
          right: auto;
          float: left;
          &:hover {
            left: inherit;
          }
        }
        &.right {
          float: right;
          left: auto;
          right: auto;
          > span {
            right: auto;
            i {
              right: auto;
            }
          }
          &:hover {
            right: inherit;
          }
        }
      }
    }
    .contentCard {
      box-shadow: none;
      padding: 20px 0;
    }
    .full-screen-mode {
      display: none;
    }
  }
  .contentCard{
    .headerArea {
      padding-right: 0 !important;
      padding-left: 0 !important;
      .zoomWrap {
        display: none;
      }
    }
  }
  body {
    &.lessonPageBody {
      footer {
        display: none !important;
        transition: none;
        animation: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .lessonOverview {
    .container {
      .row {
        > .col {
          padding: 0 15px;
        }
      }
    }
    .nextPreviousWrap {
      position: fixed;
      bottom: 0;
      background: $white;
      left: 0;
      z-index: 9;
      width: 100%;
      > .holder {
        padding: 12px 15px;
      }
    }
  }
  .contentCard {
    &.lessonOverview {
      margin: 0 -15px 80px;
    }
  }

  body.zoomIn {
    .lessonOverview {
      padding-bottom: 120px;
    }
  }
}
