@font-face {
  font-family: bower-bold;
  src: url("../fonts/Bower/Bower-Bold.otf");
}

@font-face {
  font-family: theinhard-regular;
  src: url("../fonts/TheinhardtPan/TheinhardtPan-Regular.otf");
}

@font-face {
  font-family: theinhard-medium;
  src: url("../fonts/TheinhardtPan/TheinhardtPan-Medium.otf");
}

@font-face {
  font-family: theinhard-light;
  src: url("../fonts/TheinhardtPan/TheinhardtPan-Light.otf");
}

.site-wrapper {
  &.login {
    background-color: white;
    .container {
      @media screen and (min-width: 1305px) {
        padding: 0 !important;
      }
      @media screen and (max-width: 1304px) {
        padding: 0 30px !important;
      }
    }
    header {
      margin-bottom: 0;
      height: 50px;
      position: relative;
      z-index: 10;
      .all-logos {
        >a{
          display: none;
        }
      }
    }

    main {
      padding: 0 0 20px;
      min-height: calc(100vh - 130px);
      @include media-breakpoint-down(sm)  {
        min-height: calc(100vh - 159px);
      }
      .background-absolute {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        top: 0;
        margin: 0;
        .col-7 {
          @include login-gradient();
          position:relative;
          padding: 0;
          &:before{
            position: relative;
            height:100%;
            display: block;
            content: '';
            background: url("../image/login/Accelerate-graphic.png") no-repeat;
            background-position: calc(100% - -20px)  calc(100% - -28px);
            background-size: 50%;
          }
        }
      }
      .login-page {
        display: flex;
        
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10+ */
          overflow: hidden;
        }
        @supports (-ms-accelerator:true) { /* Edge 12 - 15 */
          overflow: hidden;
        }
        @supports (-ms-ime-align:auto) { /* Edge 16+ */
          overflow: hidden;
        }
        .left-col {

          .hero-content {
            max-width: 532px;
            height: calc(100vh - 186px);
            display: table-cell;
            vertical-align: middle;
            padding: 44px 0 0;
            transform: translateY(-44px);
            @media (max-height: 700px) {
              transform: none;
              padding-bottom: 30px; 
            }

            .heading {
              font-family: bower-bold;
              display: block;
              color: white;
              line-height: 57px;
              font-size: 3.25rem;
              margin-bottom: 15px;

            }
            p {
              font-family: theinhard-light;
              @include font-size(18);
              color: white;
              line-height: 28px;
              margin-bottom: 20px;
            }
            a {
              font-family: theinhard-medium;
              @include font-size(18);
              color: white;
              line-height: 25px;
              display: inline-block;
              position: relative;
              &:hover {
                color: #00A9F4;
              }
              i {
                position: absolute;
                display: block;
                content:'';
                top: 0;
                -webkit-transition: all .3s 120ms;
                transition: all .3s 120ms;
              }
            }
          }
        }
      }
      [class*="col-7"] {
        flex: 0 0 65.9%;
        padding: 0;
        max-width: 65.9%;
      }
      [class*="col-5"] {
        flex: 0 0 34.1%;
        max-width: 34.1%;
        padding: 0;
      }
    }

    .login-McKa-logo {
      width: 277px;
      display: block;
      margin: 0 auto 20px;
      @media screen and (max-width: 767px) {
        width: 207px;
      }
    }

    .login-form-wrap {
      max-width: 295px;
      @media (min-width: 1024px) and (max-width: 1439px) {
        transform: translate(14vw, -52%) !important;
        width: 80%;
        max-width: 295px;
      }
      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 50%;
        transform: translateY(-52%);
      }

      input:not([type='checkbox']),
      button.btn {
        width: 100%;
        &:focus {
          box-shadow: inset 0 0 100px rgba(0,0,0,0.3) !important;
        }
        &:focus {
          box-shadow: inset 0 0 100px rgba(0,0,0,0.3) !important;
        }
      }
      .forgot-pswd-link {
        margin: 10px 0 0;
        color: var(--primary);
        &:hover {
          text-shadow: 0 0 0.5px rgba(0,0,0,0.3);
        }
        &:focus {
          background-color: lighten(desaturate(adjust-hue($primary, -25deg), 16), 47);
          border-radius: 4px;
        }
        strong {
          font-weight: 600 !important;
        }
      }
      h3 {
        @include font-size(20);
        font-family: theinhard-medium;
        line-height: 28px;
        color: #051C2C;
        margin-bottom: 30px;
      }
    }
    .helpLink {
      display: none;
      font-weight: 700;
      position: relative;
      text-decoration: none !important;
      i {
        vertical-align: middle;
        transition: all ease 0.3s;
      }
      @media screen and (max-width: 767px) {
        display: inline-block;
        text-align: center;
        color: $black !important;
      }
    }
    .quick-links {
      text-align: center;
      padding: 0;
      margin: 60px 0 0;
      @media screen and (max-width: 767px) {
        margin: 30px 0 0;
      }
      ul {
        margin: 0;
        padding: 0;
        transition: all ease 0.3s;
        li {
          display: inline-block;
          vertical-align: middle;
          color: $white;

          &:first-child {
            margin: 0;
          }
          a {
            color: $black;
            text-decoration: underline;
            @include font-size(14);

            @include media-breakpoint-between(xs, sm) {
              color: $white;
            }

            &:focus {
              background-color: lighten(desaturate(adjust-hue($primary, -25deg), 16), 47);
              border-radius: 4px;
            }
          }
        }
      }

      @media screen and (max-width: 767px) {

        ul {
          display: none;
          visibility: hidden;
        }

        &.show-links { // when we click on Need Help? link on mobile
          &:before {
            transition: all ease 0.2s;
            position: fixed;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 99;
            background: rgba($white, 0.8%);
          }
          .helpLink {
            z-index: 999;
            i {
              transform: rotate(-180deg);
            }
          }
          ul {
            display: block;
            visibility: visible;
            z-index: 999;
            height: auto;
            transition: all ease 0.3s;
            position: absolute;
            top: 20px;
            width: 100%;
            li {
              display: block;
              margin: 15px 0 0;
              text-align: center;
              border-radius: 2px;
              overflow: hidden;
              a {
                background: $blue-sharp;
                text-transform: capitalize;
                display: block;
                padding: 15px 30px;
                text-decoration: none;
                font-weight: 600;
              }
            }

          }
        }
      }
    }
    form {
      .form-group {
        small {
          font-size: 85%;
        }
        &.agreement {
          label {
            font-size: 0.9rem;
            color: $black;
            margin-left: 3px;
          }
        }
        &:not(.success),
        &:not(.error) {
          label, i {
            color: $lighter-gray;
          }
        }
        &.error {
          label,
          small,
          input {
            @extend .text-danger;
          }
        }
      }
      &.black {
        input:not([type='checkbox']) {
          background: $black;
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .form-group {
      position: relative;
      & + .form-group {
        margin-top: 30px;
      }
    }

    .form-label {
      position: absolute;
      transform: translate(15px, 15px);
      z-index: 9;
      transition: transform 150ms ease-out, font-size 150ms ease-out;
    }

    .focused .form-label {
      transform: translate(0px, -21px);
      font-size: .85em;
    }

    .form-input {
      position: relative;
    }

    submit {
      margin: 0 auto;
    }
    footer {
      background: $gray-border;
      margin: 0;

      ul li a.nav-link {
        color: $gray;
        &:before {
          background-color: $gray;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 50%;
      left: 0;
      right: 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
      z-index: -1;
    }
    .popover.bs-popover-bottom {
      margin-top: 10px !important;
    }
    #user_lock_out_notification {
      p {
        line-height: 21px;
        @include font-size(14);
      }
    }
    .already-activated {
      padding: 10px;
      border: 1px solid $bg-white-red;
      @extend .form-group;
      color: $black;
      font-size: 0.75rem;
      position: relative;
      margin-bottom: 30px !important;

      &::before {
        font-family: 'Material Icons';
        content: '\e000';
        position: absolute;
        font-size: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        color: $bg-white-red;
      }
    }
  }
}
.language-dropdown {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 200px;;
    li {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      padding: 10px 0;
      &:first-child {
        border-top: none;
      }
      h5 {
        font-size: inherit;
      }
      a {
        text-decoration: none;
        color: var(--primary);
        &.selected {
          color: $black;
        }
        &:active {
          background-color: transparent;
        }
      }
    }
  }
}

// ======== Responsive Styles ==================//

// Small Desktops

@include  media-breakpoint-down(lg) {
  .site-wrapper.login {
    main {
      .login-page {
        .left-col {
          .hero-content {
            max-width: 500px;
            .heading {
              font-size: 3rem;
            }
            p {
              font-size: 1.125rem;
              max-width: 395px;
            }
          }
        }
      }
    }
  }
}

// Tablet
@include media-breakpoint-down(md) {
  .site-wrapper {
    &.login {
      .appHeader {
        .container{ padding: 0 15px !important;}
        .col {
          > .logo {
            padding: 0 15px;
          }
        }
        .all-logos {
          > a.MckAcademy {
            padding: 0;
            border: 0;
            img {
              width: 128px;
              max-width: none !important;
              max-height: inherit !important;
            }
            &.black {
              display: inline-block;
            }
          }
        }
      }

      main {
        padding: 0;
        min-height: calc(100vh - 110px);
        .container {
          padding: 0 !important;
        }
        .login-page {
          flex-direction: column-reverse;
          .left-col {
            min-height: 505px;
            padding: 50px 60px;
            width: 100%;
            min-width: 100%;
            overflow: hidden;
            @include login-gradient();
            &:before {
              height: 100%;
              display: block;
              content: '';
              background: url("../image/login/Accelerate-graphic.png") no-repeat;
              background-position: 103% calc(100% - -51px);
              background-size: 45%;
              position: absolute;
              top: 0;
              width: 100%;
            }
            > img {
              display: none;
            }
            .hero-content {
              display: block;
              max-width: 458px;
              width: 100%;
              height: auto;
              position: relative;
              z-index: 1;
              padding: 0;
              transform: none;
              .heading {
                margin-bottom: 25px;
                line-height: 53px;
                font-size: 48px;
                letter-spacing: -0.18px;
              }
              p {
                margin-bottom: 25px;
              }
            }
          }
          .right-col-fixed {
            min-width: 100%;
            padding: 71px 0 48px 0;
          }
        }
      }
      .login-form-wrap {
        float: none !important;
        margin: 0 auto;
        display: block;
      }
      .background-absolute {
        display: none;
      }
      .quick-links {
        margin-top: 50px;
      }

      footer{
        >.container{
          padding:0 15px !important;
        }
        ul {
          li {
            > a.nav-link {
              padding: 0 0.6rem;
            }
          }
        }
      }
    }
  }
}

// Login Mobile Styles
@include media-breakpoint-down(sm) {
  .site-wrapper {
    &.login {
      .appHeader {
        .col {
          > .logo {
            padding: 0 5px;
          }
        }
        .language-selector {
          width: 74px;
        }
        .all-logos {
          > a.MckAcademy {
            img {
              width: 118px;
            }
          }
        }
      }
      main {
        .login-page {
          .left-col {
            padding: 45px 44px 65px;
            min-height: auto;
            &:before {
              display: none;
            }
            .hero-content {

              .heading {
                margin-bottom: 20px;
                font-size: 2.25rem;
                line-height: 40px;
                letter-spacing: -0.14px;
              }
              p {
                font-family: theinhard-light;
                line-height: 24px;
                margin-bottom: 24px;
              }
              > a {
                font-size: 1rem;
                line-height: 24px
              }
            }
          }
          .right-col-fixed {
            padding: 52px 0 34px 0;
          }
        }
      }
      .login-form-wrap {
        h3 {
          font-size: 1.125rem;
          line-height: 25px;
          margin-bottom: 20px;
          width:95%;
        }
      }
      .quick-links {
        margin-top: 20px;
        position: relative;
        height: 100%;
      }
      footer{
        font-size: 0.625rem !important;
        line-height:14px;
        min-height:auto;
        padding:12px 0 9px;
        ul {
          li {
            > a.nav-link {
              font-size: 0.625rem !important;
              line-height:21px;
              padding: 0 0.4rem;
              &::before {
                display: block;
                top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 359px) {
  .site-wrapper{
    &.login {
      .appHeader {
        .container{ }
        .col{
          >.logo{ padding: 0;}
        }
      }
      .login-form-wrap{
        max-width: initial;
        padding: 0 20px;
      }
      main {
        .login-page {
          .left-col{
            padding-left:20px;
            padding-right:20px;
          }
        }
      }
    }
  }
}

