.site-wrapper {
  &.login {
    min-height: 100vh;
    background: #f0f0f0 url("../image/login/McKA-login-bg.png") no-repeat 50% 50% ;
    background-size: cover;

    a {
      color: #000;
    }

    main {
      padding: 15px 0 20px;
      min-height: calc(100vh - 163px);
      @media screen and (max-width: 992px) {
        min-height: calc(100vh - 165.5px);
        padding-top: 90px;
      }
      @media screen and (max-width: 767px) {
        min-height: calc(100vh - 159px);
        padding-top: 50px;
      }
      .heading {
        display: block;
        color: #000;
        margin-bottom: 35px;
        font-size: 2.625rem;
        font-weight: 300;
        img {
          margin: 0 10px;
        }
        @media screen and (max-width: 992px) {
          .nl {
            display: block;
          }
          font-size: 2.575rem;
          img {
            margin-left: 0;
          }
        }
        @media screen and (max-width: 767px) {
          font-size: 1.7rem;
          margin-bottom: 30px;
          img {
            width: 11px;
            margin-right: 6px;
          }
        }
      }
    }

    .login-McKa-logo {
      width: 277px;
      display: block;
      margin: 0 auto 20px;
      @media screen and (max-width: 767px) {
        width: 207px;
      }
    }

    .login-form-wrap {
      max-width: 395px;
      margin: 0 auto;
      padding: 2.8125rem 2.8125rem 1.4125rem 2.8125rem;
      background: rgba(#fff, .6);
      @media screen and (max-width: 767px) {
        padding: 30px;
      }
      input:not([type='checkbox']),
      button.btn {
        width: 100%;
      }
      .forgot-pswd-link {
        float: left;
        margin: 10px 0 0;
        color: $black;
      }
    }
    .helpLink {
      display: none;
      font-weight: 700;
      position: relative;
      i {
        vertical-align: middle;
        transition: all ease 0.3s;
      }
      @media screen and (max-width: 767px) {
        display: inline-block;
        text-align: center;
      }
    }
    .quick-links {
      text-align: center;
      padding: 0;
      margin: 48px -30px 0;
      overflow: hidden;
      @media screen and (max-width: 767px) {
        margin: 30px 0 0;
      }
      ul {
        margin: 0;
        padding: 0;
        transition: all ease 0.3s;
      }
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 20px;
        color: $white;
        &:first-child {
          margin: 0;
        }
      }
      a {
        color: #000;
        text-transform: capitalize;
      }

      @media screen and (max-width: 767px) {

        ul {
          display: none;
          visibility: hidden;
        }

        &.show-links { // when we click on Need Help? link on mobile
          &:before {
            transition: all ease 0.2s;
            position: fixed;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 9;
            background: rgba(0, 0, 0, 0.6%);
          }
          .helpLink {
            z-index: 999;
            i {
              transform: rotate(-180deg);
            }
          }
          ul {
            display: block;
            visibility: visible;
            bottom: 0;
            top: auto;
            position: relative;
            z-index: 999;
            height: 100%;
            transition: all ease 0.3s;
            li {
              display: block;
              margin: 15px 0 0;
              text-align: center;
              border-radius: 2px;
              overflow: hidden;
              a {
                background: $blue-sharp;
                text-transform: capitalize;
                display: block;
                padding: 15px 30px;
              }
            }

          }
        }
      }
    }
    form {
      .form-group {
        margin-bottom: 5px;
        //input:not([type='checkbox']) {
        //  height: 50px;
        //  font-size: 0.9rem;
        //  border-radius: 0;
        //  border: 1px solid $gray;
        //  box-shadow: none;
        //  &:disabled {
        //    border: 0;
        //    opacity: 0.9;
        //  }
        //}
        small {
          font-size: 90%;
        }
        &.agreement {
          label {
            font-size: 0.9rem;
            color: $black;
            margin-left: 3px;
          }
        }
        &:not(.success),
        &:not(.error) {
          label, i {
            color: $lighter-gray;
          }
        }

      }
      &.black {
        input:not([type='checkbox']) {
          background: $black;
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .form-group {
      position: relative;
      & + .form-group {
        margin-top: 30px;
      }
    }

    .form-label {
      position: absolute;
      transform: translate(15px, 15px);
      z-index: 9;
      transition: transform 150ms ease-out, font-size 150ms ease-out;
    }

    .focused .form-label {
      transform: translate(0px, -21px);
      font-size: .85em;
    }

    .form-input {
      position: relative;
    }

    submit {
      margin: 0 auto;
    }
    footer {
      background: #e6e6e6;
      margin: 0;
      ul li a.nav-link:before {
        background: #000;
      }
    }

  }
}
.language-dropdown {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 200px;;
    li {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      padding: 10px 0;
      &:first-child {
        border-top: none;
      }
      h5 {
        font-size: inherit;
      }
      a {
        text-decoration: none;
        color: var(--primary);
        &:hover {
          color: #000;
        }
        &.selected {
          color: #000;
        }
      }
    }
  }
}
