// ======= Style are Supporting the Old User Overview Page's Content =======
#course-overview {
  p:empty {
    display: none;
  }
  img {
    max-width: 100%;
  }
  .hidden {
    display: none;
    visibility: hidden;
  }
  [class*="medium-"],
  [class*="columns"] {
    padding: 0 15px;
  }
  h1 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 43px;
    color: $black;
    margin-bottom: 20px;
  }
  .sub-1 {
    font-size: 0.75rem;
    line-height: 17px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid $border-color;
  }
  p:empty {
    display: none;
  }
  .medium-7.columns {
    float: left;
    overflow: hidden;
    width: 50%;
    img {
      width: 100%;
    }
  }
  //  Faculty Members
  .faculty {
    position: relative;

    h2 {
      font-size: 1rem;
      line-height: 22px;
      font-weight: 600;
      margin-bottom: 6px;
      text-transform: none;
    }
    .sub-1 {
      margin-bottom: 10px;
    }
    input[type=radio] {
      display: none;

      + label {

        width: 180px;
        height: 200px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        overflow: hidden;
        margin-right: 20px;
        cursor: pointer;
        &:after {
          position: absolute;
          display: block;
          content: '';
          top: 20px;
          left: -40px;
          right: auto;
          width: 40px;
          height: 40px;
          background: url("/static/image/bookmark.svg") no-repeat;
          background-size: 22px 39px;
          transition: all 0.3s ease;
        }

        img {
          object-fit: cover;
          max-width: 100%;
          height: 100%;
        }
      }

      &:checked + label {
        &:after {
          content: "";
          left: 0;
          right: auto;
          transition: all 0.3s ease
        }

        img {
          clip: rect(4px 4px 4px 4px);
        }
      }

      &#faculty_0:checked ~ #teacher_0 {
        display: block;
      }

      &#faculty_1:checked ~ #teacher_1 {
        display: block;
      }

      &#faculty_2:checked ~ #teacher_2 {
        display: block;
      }

      &#faculty_3:checked ~ #teacher_3 {
        display: block;
      }

      &#faculty_4:checked ~ #teacher_4 {
        display: block;
      }

      &#faculty_5:checked ~ #teacher_5 {
        display: block;
      }

      &#faculty_6:checked ~ #teacher_6 {
        display: block;
      }

      &#faculty_7:checked ~ #teacher_7 {
        display: block;
      }

      &#faculty_8:checked ~ #teacher_8 {
        display: block;
      }

      &#faculty_9:checked ~ #teacher_9 {
        display: block;
      }
    }

    .teacher {
      display: none;
      margin-top: 10px;

      p {
        font-size: 0.88rem;
        line-height: 19px;
      }
    }
  }
}

// ======== This Style's Support New Structure ========
.courseOverview {
  p {
    font-size: 1rem;
    line-height: 22px;
    margin: 20px 0 0;

    &:first-child {
      margin: 0;
    }

    br {
      margin: 0;
    }
  }
  ul {
    margin: 15px 0 0;
    padding-left: 10px;
    font-size: 1rem;
    line-height: 22px;
    li {
      margin: 2px 0 0 0;
    }
  }
  .descriptionWrap {
    margin-bottom: 25px;

    .head {
      margin-bottom: 12px;

      h2 {
        @include heading2();
        line-height: 43px;
        color: $black;
        margin-bottom: 20px;
      }

      .title {
        font-size: 0.75rem;
        line-height: 17px;
        color: $black;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    p {
      font-size: 1rem;
      line-height: 22px;
      margin: 20px 0 0;

      &:first-child {
        margin: 0;
      }
    }
  }

  .sectionsWrap {
    .section {
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid $border-color;

      &:first-child {
        margin-top: 0;
      }
    }
  }
  h5 {
    font-size: 0.75rem;
    line-height: 17px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  .textImageWrap {
    overflow: hidden;

    .imgWrap {
      overflow: hidden;
      width: 28.5%;
      margin-right: 25px;

      img {
        width: 100%;
      }
    }

    .textWrap {
      overflow: hidden;
      font-size: 1rem;
      line-height: 22px;
      font-weight: normal;
      padding: 5px 0;

      ul {
        padding-left: 20px;
        margin: 10px 0 20px;
      }

      .head {
        margin-bottom: 30px;
        p,
        div,
        strong,
        b,
        h1,
        h2,
        h3,
        h4,
        h5 {
          overflow: hidden;
          font-size: 1rem;
          line-height: 22px;
          font-weight: normal;
          margin: 0;
        }
      }
    }
    ul {
      margin: 10px 0;
      list-style: none;
      padding: 0 0 0 19px;
      list-style: disc;
      li {
        &:first-child {
          margin: 0;
        }
        b,
        strong {
          font-weight: 600;
        }
      }
      + ul {
        padding: 0;
        margin: 0;
      }
    }
  }
  .facultyWrap {
    .faculty {
      margin: 0 0 15px;
      padding: 0;
      list-style: none;
      li {
        width: 180px;
        height: auto;
        margin-left: 20px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        &:hover {
          cursor: pointer;
        }
        &.active {
          &:before {
            position: absolute;
            top: 30px;
            left: 0;
            display: block;
            width: 20px;
            height: 35px;
            content: '';
            background: url("../img/bookmark.svg") no-repeat;
            background-size: contain;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .facultyInfo {
      font-size: 1rem;
      line-height: 22px;
      h5,
      .title {
        font-size: 1rem;
        line-height: 22px;
        font-weight: 600;
        margin-bottom: 6px;
        text-transform: none;
      }
    }
    p {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  #course-overview {
    .faculty {
      input[type=radio] {
        + label {
          width: 22%;
          height: 141px;
          margin-bottom: 2.2%;
          &:first-child {
            margin: 0;
          }
        }
        &:checked + label:after {
          background-size: 22px 40px;
        }
      }
    }
  }

  .courseOverview {
    .textImageWrap {
      .imgWrap {
        width: 45%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #course-overview {
    .faculty {
      input[type=radio] {
        + label {
          width: 20%;
          height: auto;
          margin-right: 5px;
          margin-bottom: 5px;
          margin-right: 0;
          &:first-child {
            margin: 0;
          }
          img {
            height: auto;
          }
        }
        &:checked + label:after {
          background-size: 12px 18px;
        }
      }
    }
  }
  .courseOverview {
    .textImageWrap {
      .imgWrap {
        float: none;
        width: 100%;
        display: block;
        margin: 0 0 20px;
      }
      .textWrap {
        width: 100%;
      }
    }
  }
}
