.resetPassword {
  .errorlist{
    margin: 0;
    padding: 0;
    list-style: none;
    color: $bg-white-red;
  }
  .form{
    h4{
      margin: 10px 0 20px;
    }
  }
  form {
    .form-group {
      margin-bottom: 25px !important;
    }
    .form-group:not(.success) label,
    .form-group:not(.success) i {
      color: $lighter-gray;
    }
    .small{
      font-size: 0.75rem;
    }
  }
  .contentArea {
    margin-top: 25px;
  }
}
