// Resources
// For The old UI Structure support
#course-resources {
  i {
    &.fa {
      font-size: 1.125rem;
      width: 1.8rem;
    }
  }

  table {
    a {
      font-size: 1rem;
      line-height: 22px;
    }
    background: #fff;
    width: 100%;
    border: none;
    tr {
      &:last-child {
        td {
          &:first-child {
            margin-bottom: 0;
          }
        }
      }
      td {
        &:first-child {
          width: 30%;
          padding-bottom: 30px;
          overflow: hidden;
          @include media-breakpoint-down(lg) {    
           width:50%;
           }
           
        }
        padding: 0;
        
        .video-js{
          width: 100% !important;
        }
        .oo-player-container {
          width: 100% !important;
        }
        p {
          > a {
            padding-left: 0.6rem;
          }
        }
      }
    }
    h2 {
      line-height: 22px;
      margin: 4px 0 0;
      font-weight: normal;
      a {
        display: inline-block;
        color: var(--primary);
        vertical-align: middle;
        position: relative;
        font-size: 1rem;
        line-height: 22px;
        i {
          font-size: 1.125rem;
          line-height: 22px;
          position: absolute;
          top: 0.042857em;
          text-align: center;
          left: 0;
          width: auto;
        }
      }
    }
  }
  h1 {
    @include heading2();
    line-height: 43px;
    text-transform: capitalize;
    margin-bottom: 18px;
  }

  i.fa.fa-fw {
    display: none;
  }

  i.fa::before {
    @extend .d-block;
  }

  .fa-li {
    left: 0;
    position: relative;
  }

  hr {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $gray-border;
    padding: 0;
    margin-bottom: 0;

  }
  .sub-1 {
    text-transform: uppercase;
    color: $black;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 12px;
    padding-top: 30px;
  }

  ul.fa-ul,
  >ul{
    margin: 0 0 20px;
    padding: 0;
    > li {
      position: relative;
      margin-top: 4px;
      color: $gray;
      font-size: 0.75rem;
      line-height: 22px;
    }
    a {
      color: var(--primary);
      display: inline-block;
      vertical-align: middle;
      margin: -4px 0 0 0;
      position: relative;
      font-size: 1rem;
      line-height: 22px;
      & + a {
        padding-left: 0;
        margin: 0;
        font-size: inherit;
      }
      i {
        font-size: 1.125rem;
        line-height: 22px;
        position: absolute;
        top: 0.042857em;
        text-align: center;
        width: auto;
      }
    }
  }
  p {
    margin: 0;
    > a {
      margin-bottom: 4px;
      display: inline-block;
      position: relative;
      font-size: 1rem;
      line-height: 22px;
      color: var(--primary);
      i {
        font-size: 1.125rem;
        line-height: 22px;
        position: absolute;
        top: 0.042857em;
        text-align: center;
        width: auto;
        line-height: initial;
      }
    }
    > b {
      display: block;
      font-size: 0.875rem;
      line-height: 19px;
      text-transform: capitalize;
      margin: 20px 0 10px;
      font-weight: normal;
      color: $black;
    }
  }
  .label-5 {
    font-weight: 600;
    margin-bottom: 10px;
  }

  // For New UI Structure support If needed
  &.courseResourse, &#course-resources {
    h2 {
      font-size: 1rem;
      text-transform: capitalize;
    }
    i.fa-level-down {
      transform: rotate(-135deg) scaleX(-1);
      top: 6px;
    }
  }

  .contentSection {
    border-top: 1px solid $gray-border;
    padding-top: 36px;
    margin-top: 25px;
    &.sectionLinks {
      ul {
        li {
          margin: 3px 0 0;

          &:first-child {
            margin: 0;
          }
          i {
            transform: rotate(-45deg);
          }
        }
      }
    }
    &:first-child {
      border: 0;
      padding: 0;
      margin: 0;
    }

    .sectionTitle {
      text-transform: uppercase;
      color: $black;
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 17px;
      margin-bottom: 12px;
    }

    ul {
      margin: 0;
      li {
        position: relative;
        margin-top: 4px;
        color: $gray;
        font-size: 0.75rem;
        line-height: 22px;
        u {
          text-decoration: none;
        }

        i {
          color: $gray;
          font-style: normal;
          font-size: 0.75rem;
          line-height: 17px;
        }
        .title {
          font-size: 0.875rem;
          line-height: 19px;
          text-transform: capitalize;
          margin-bottom: 7px;
          font-weight: normal;
          color: $black;
        }

        a {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          position: relative;
          font-size: 1rem;
          line-height: 22px;
          padding-left: 1.742857rem;
          color: var(--primary);
          i {
            font-size: 1.125rem;
            line-height: 22px;
            position: absolute;
            top: 0.042857em;
            text-align: center;
            left: 0;
            width: auto;
          }
        }
      }
    }
  }
}

// Media Queries
@include media-breakpoint-between(xs, sm) {
  #course-resources {
    table {
      tr {
        td {
          padding: 0 0 30px;
          width: 100%;
          &:first-child {
            width: 100%;
            padding: 0 0 10px;
          }
          .oo-player-container {
            height: auto !important;
          }
        }
      }
    }
  }
  table {
  }
  tr {
    td {
      display: block;
      width: 100%;
    }
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .oo-player-container {
    .oo-player.oo-fullscreen {
      z-index: 99999;
    }
  }
}
