.static-page {
  color: $black;
  font-family: 'Open Sans', sans-serif;
  a {
    color:  var(--primary) !important;
  }
  .style-2 {
    font-size: 1rem;
    font-weight: 600;
    @extend .mt-4;
    @extend .mb-2;
  }
  h1, h4 {
    font-size: 1.7rem;
    @extend .mb-4;
  }
  p {
    @extend .mb-2;
  }
  .accordion {
    a {
      cursor: pointer;
      display: block;
      font-size: 1rem;
      padding: 0;
      color:  var(--primary);
      margin-bottom: .25rem;
      &:hover {
        color:  var(--primary);
      }
    }
    .collapse {
      @extend .mb-3;
    }
  }
  &.FAQ {
    .style-2 {
      text-transform: uppercase;
      @extend .mb-3;
      font-size: 0.75rem;
    }
  }
}

// Media Queries

@include media-breakpoint-between(xs, sm) {
  .static-page {
    .accordion {
      a {
        margin-bottom: .5rem;
      }
    }
  }
}
