- extends "layout.haml"
- load i18n
- load staticfiles
- block page_title
  %title {% trans "Access | McKinsey Academy" %}

- block header
  - include 'header_without_logo.haml'

- block content
  - if redirect_to
    .container.text-center.access-key-page
      .row
        .col-12.contentCard
          %p
            %div.scorm-access
              %i.fa.fa-spinner.fa-spin
              %span.popups-allowed
                {% trans "A popup window should open shortly to login with your provider. If it doesn't open in a few seconds, click the button below." %}
              %span.popups-blocked
                {% trans "Please click the button below to continue the login process." %}
              %br
              %button#scorm-login-launch.btn.btn-primary.btn-lg.m-2
                {% trans "Open Login Window" %}
            %div.normal-access
              %i.fa.fa-spinner.fa-spin
              {% trans "You will be redirected to your login provider." %}

  - else
    .container.text-center
      .row
        .col-12
          .contentCard
            %h3.sub-1 {% trans "Sorry!" %}
            %hr.blank
            %p {% trans "There was a problem with your access code." %}

- block footer

- block js_snippets
  - if redirect_to
    %script{id: 'access-key-script', src: "{% static 'js/accounts/access_keys.js' %}", 'data-redirect-to': "{{ redirect_to|safe }}"}
