- extends "layout.haml"
- load i18n
- block page_title
  %title {% trans "Access | McKinsey Academy" %}

- block content
  - if redirect_to
    .container.text-center
      .row
        .col-12.contentCard
          %p
            %i.fa.fa-spinner.fa-spin
            {% trans "You will be redirected to your login provider." %}
  - else
    .container.text-center
      .row
        .col-12
          .contentCard
            %h3.sub-1 {% trans "Sorry!" %}
            %hr.blank
            %p {% trans "There was a problem with your access code." %}
- block js_snippets
  - if redirect_to
    :javascript
      setTimeout(function redirect() {
        window.location = '{{ redirect_to|safe }}'
      }, 2000)
