- extends "layout.haml"
- load i18n
- load staticfiles

- block content
  - if redirect_to
    .container.text-center.access-key-page
      .row
        .col-12.contentCard
          %p
            %div.scorm-access
              %span.button_info
                {% trans "Please select the button below to launch your course." %}
              %br
              %button#scorm-login-launch.btn.btn-primary.btn-lg.m-2
                {% trans "Launch Course" %}
            %div.normal-access
              {% trans "You will be redirected to your login provider." %}

  - else
    .container.text-center
      .row
        .col-12
          .contentCard
            %h3.sub-1 {% trans "Sorry!" %}
            %hr.blank
            %p {% trans "There was a problem with your access code." %}

- block js_snippets
  - if redirect_to
    %script{id: 'access-key-script', src: "{% static 'js/accounts/access_keys.js' %}", 'data-redirect-to': "{{ redirect_to|safe }}"}
