- extends "layout.haml"
- load i18n
- load static

- block content
  .container.text-center.access-key-page
    .row
      .col-12.contentCard
        %p
          {% trans "You have successfully logged in. You can now close this window." %}

- block js_snippets
  :javascript
    window.close()

