- extends "layout.haml"
- load i18n
- block page_title
  %title {% trans "Login Process Failed | McKinsey Academy" %}

- block content
  #error_sso.error-page.container
    .row.justify-content-center
      .col-12
        .contentCard.text-center
          %h1 {% trans "Sign in error" %}
          %hr
          .sub-1 {% trans "Sorry!" %}
          - if error_details
            %p
              = error_details
          - else
            %p {% trans "Something has gone wrong, and we were not able to process the login with your company's login provider." %}
          %p {% blocktrans %} Please contact us at <a href='mailto:support@mckinseyacademy.com'>support@mckinseyacademy.com</a>. {% endblocktrans %}
          %img{src: "/static/image/errors/McKA_errors_1500illus.png", srcset: "/static/image/errors/McKA_errors_1500illus@2x.png 2x"}
