- extends "layout.haml"
- load i18n
- comment "This template is used for /accounts/finalize/ (SSO registration)"

- block header
   - include 'header_without_logo.haml'

- block content
  .container
    .row.justify-content-center
      .col-lg-7.col-md-12.static-page.border-top-main.p-5.bg-white.sso
        %h1 {% trans "Review our Terms and Privacy Policy" %}
        - if request.is_IE8
          .outdated_browser {% trans "We're sorry, McKinsey Academy is not compatible with your browser. You can continue the registration process, but will not be able to access course content without updating your browser. We recommend the latest versions of Google Chrome, Mozilla Firefox, and Apple Safari for an optimal experience." %}
        %form{action: "", method: "POST"}
          {% csrf_token %}
          = form.as_p
          %div.form-action
            %input.btn.btn-primary.btn-lg{type: "submit", value: "#{accept_label}"}

    .row.justify-content-center.sso
      .col-lg-7.col-md-12.form-footer
        %ul
          %li.nav-item
            {% trans "Need help?" %}
          %li.nav-item
            %a.nav-link{:href => "/faq/", :target => "_blank"} {% trans "Read FAQs" %}
          %li.nav-item
            %a.nav-link{:href => "#{support}", :target => "_blank"} {% trans "Contact Support" %}

- block footer
