- extends "layout.haml"
- load i18n
- load static

- block content
  #error_sso.error-page
    .row
      .large-10.large-centered.columns
        %h1 {% trans "Sign in error" %}
        %hr
        .sub-1 {% trans "Sorry!" %}
        - if error_details
          %p
            = error_details
        - else
          %p {% trans "Something has gone wrong, and we were not able to process the login with your company's login provider." %}
        %p {% trans "Please contact us at " %}
          %a{:href => "#{support}"} {% trans "support" %}.
        %img{src: "{% static 'image/errors/McKA_errors_1500illus.png' %}", srcset: "/static/image/errors/McKA_errors_1500illus@2x.png 2x"}
