- load i18n
- load assets
- load staticfiles

.modal.middleSize.noTopBorder.fade.editPhotoModal{:aria-hidden => "true", :aria-labelledby => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        .col
          %h4.modal-title
            {% trans "Profile Photo" %}
        %button.close{:aria-label => "Close", :data-dismiss => "modal", :type => "button"}
          %span{:aria-hidden => "true"} &#xD7;
      .modal-body
        .photoEditSteps
          %form#profileUploadForm{"enctype": "multipart/form-data", "name": "profile_image_upload", :action => "/accounts/user_profile/image/edit", "method": "POST"}
            - csrf_token
            .step
              .head.clearfix
                %span.stepTitle
                  {% trans "step 1:" %}
                %span.title
                  {% trans "Select New Profile Image" %}
              .inputFileWrap.clearfix
                .file-upload
                  .file-select.ome
                    .file-select-button.btn.btn-primary.dome-bc{:id => ""}
                      {% trans "browse" %}
                    #noFile.file-select-name
                      {% trans "No file selected" %}
                    %input#chooseFile.browseProfilePhoto{:name => "profile_image", :type => "file", "accept":" image/*"}

            .step
              .head.clearfix
                %span.stepTitle
                  {% trans "step 2:" %}
                %span.title
                  {% trans "Crop & Save" %}
              .img-container.mb-4
                %img.user-uploaded-image{'src': "#{user.image_url_full}", "height": "300"}

                %input.width-position{'type': 'hidden', 'name': 'width-position'}
                %input.height-position{'type': 'hidden', 'name': 'height-position'}
                %input.x1-position{'type': 'hidden', 'name': 'x1-position'}
                %input.y1-position{'type': 'hidden', 'name': 'y1-position'}

              %button.btn.btn-primary.ome.dome-bc{:type => "submit"}
                {% trans "Crop & Save" %}


