- extends 'admin/client/detail.haml'
- load static
- block admin_detail
  %h1
    %span= _("Client: ")
    %span= client.display_name
  %hr
  %section
  %h2
    %span= _("Current Contacts: ")
  %br
  %ul.contact-tiles
    - include 'admin/client-admin/contact_tiles.haml'
    %li.contact-tile.add-new-contact{"data-reveal-id": "add_contact", "data-reveal-ajax": "/admin/clients/#{client.id}/contact/add"}
      %i{'class': "fa fa-plus-square-o"}
  #add_contact.reveal-modal.medium{"data-reveal": "true"}
- block js_snippets
  %script{src: "{% static 'js/ajaxify_overlay_form.js' %}"}
  %script{src: "{% static 'js/admin.js' %}"}
  :javascript
    $(function(){
      ajaxify_overlay_form('#add_contact', 'form');
      $(document).on('click', '.user-list tr.student', function(){
        var that = $(this);
        that.toggleClass('selected');
        var checkbox = that.find('[type="checkbox"]');
        if(checkbox.prop('checked') == true){
          checkbox.prop('checked', false);
        }
        else{
          checkbox.prop('checked', true);
        }
      });
      $(document).on('click', '.contact-tile .fa-times-circle', function(){
        var that = $(this);
        $.ajax({
          'url': window.location.href + '/' + that.data('userid') + '/remove',
          'method': 'POST',
          'data':{'csrfmiddlewaretoken':  $.cookie('apros_csrftoken')}
        }).done(function(data){
          if(data.status){
            alert(data.status);
          }
          window.location.reload(true);
        });
      });
      $(document).on('opened.fndtn.reveal', '#add_contact', function(){
        $('.user-list').dataTable({
          paging: false,
          autoWidth: false,
          scrollY: "250px",
          scrollCollapse: true,
          "drawCallback": function( settings ) {
                $('.user-list').show();
                $('.dataTables_scrollBody').css('height', '250px');
            },
          "createdRow": function( row, data, index){
            var charNumber = [20, 30, null];
            setTableColumns(row, charNumber);
          },
          "dom": '<"top small-6"f>rt<"bottom"ilp><"clear">'
        });
      });
    });
