- block edit_company_image
  .change_company_image_form
    %form#company-cropping-form{'action': '/admin/clients/#{client_id}/image/edit', 'method': 'POST'}
      %label.label-10
        %span.label-5
          STEP 2:
        CROP & SAVE
      %hr
      - csrf_token
      %p
        Drag and adjust cropping tool to edit you company image.
      .img-container
          %img.company-uploaded-image{'src': "#{company_image}", 'onload': "this.parentNode.style.visibility = \"visible\""}
      .img-preview
      %input.upload-image-url{'type': 'hidden', 'name': 'upload-image-url', 'value': '#{company_image}'}
      %input.width-position{'type': 'hidden', 'name': 'width-position'}
      %input.height-position{'type': 'hidden', 'name': 'height-position'}
      %input.x1-position{'type': 'hidden', 'name': 'x1-position'}
      %input.y1-position{'type': 'hidden', 'name': 'y1-position'}
      %br
      %input.crop-save-image.button.small.radius.right{'type': 'submit', 'value': 'Crop & Save', 'disabled': 'disabled'}
