- extends "admin/list_layout.haml"
- block principal_message
  McKinsey's clients are central to our business, and they will get assigned to programs ran by McKinsey Academy
- block principal_list_message
  Here are the clients that we have in the system
