%table.student-list
  %thead
    %th Name
      %span{class: 'asc'}
        ▲
      %span{class: 'desc'}
        ▼
    %th Email
      %span{class: 'asc'}
        ▲
      %span{class: 'desc'}
        ▼
    %th Date Added
      %span{class: 'asc'}
        ▲
      %span{class: 'desc'}
        ▼
    %th Added By
      %span{class: 'asc'}
        ▲
      %span{class: 'desc'}
        ▼
    %th Status
      %span{class: 'asc'}
        ▲
      %span{class: 'desc'}
        ▼
  %tbody
    - for student in students
      %tr.student{id: "#{student.id}"}
        %td= student.username
        %td= student.email
        %td{style: "color: red;"} 1/1/2014
        %td{style: "color: red;"} admin
        %td{style: "color: red;"} enrolled
