- extends "layout.haml"
- load assets
- load i18n
- load static

- block content
  .row.background-absolute
    .col-7
    .col-5
  .container
    .login-page
      .right-col-fixed.col-5
        .login-form-wrap
          - if request.is_IE8
            %br
            .outdated_browser
              {% trans "We're sorry, McKinsey Academy is not compatible with your browser. You will not be able to access course content without updating your browser. We recommend the latest versions of Google Chrome, Mozilla Firefox, and Apple Safari for an optimal experience." %}
          - else
            %form.white.clearfix{id: "login-form", action: "/", method: "POST"}
              %h3
                {% trans "Log in to McKinsey Academy to start your learning journey." %}

                - if activation_message
                  .error.error-msg.already-activated
                    = activation_message
                - if error
                  = error
              - csrf_token
              .form-group.user_name_element
                %label.form-label{:for => "login_id", :focused} {% trans "Username or email" %}
                %input#login_id.form-control.form-input{:autofocus => "autofocus", :type => "text", :name => "login_id", value: "#{login_id}", :tabindex => "1"}/
                %i.material-icons.ico-state check_circle
                %small.login-error.form-text
              .form-group.user_password_element.d-none
                %label.form-label{:for => "password"} {% trans "Password" %}
                %input#password.form-control.form-input{:placeholder => "", :type => "password", name: "password"}/
                %i.material-icons.longTapPopover.show-hide{:data-container => "body", :data-content => "{% trans 'Show password' %}", :data-placement => "bottom", :data-toggle => "popover"} visibility_off
                %i.material-icons.ico-state
                %small.password-error.form-text
              .form-group.text-center
                %button#login.btn.btn-primary.btn-lg.mt-20{:type => "submit", :disabled, :tabindex => "3"} {% trans "Log in" %}
                %a.forgot-pswd-link.d-none{:data-target => "#password-reset-modal", :data-toggle => "modal", :href => "/accounts/password/reset/"}
                  %strong {% trans "Forgot password?" %}
            .quick-links
              %a.helpLink{:href => "javascript:Void(0)"}
                {% trans "Need Help?" %}
                %i.material-icons keyboard_arrow_down
              %ul
                %li
                  %a{:href => "/faq", :target => "_blank"} {% trans "FAQs" %}
                %li
                  %a{:href => "#{support}"} {% trans "Email Support" %}
      .left-col.col-7
        .hero-content
          %h1.heading
            {% trans "People make change happen, and people make it last." %}
          %p
            {% trans "We help organizations unlock the potential of their people and leadership teams. We assess capability gaps and work together to design and implement the right interventions to build needed skills in their people." %}
          %a{:href => "https://www.mckinsey.com/business-functions/learning-programs-for-clients/overview/mckinsey-academy/how-we-help-clients" , :target => "_blank"}
            {% trans "Learn about McKinsey Academy" %}
            %i.arrow-right{:aria-hidden => "true"}
              <svg width="16px" height="15px" viewBox="0 0 16 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: sketchtool 62 (101010) - https://sketch.com -->
              <title>4DE733D0-1955-41BF-AD31-9227DBA73423</title>
              <desc>Created with sketchtool.</desc>
              <g id="McKA---1440-Login-BB" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Login-A1-desktop-1440px" transform="translate(-362.000000, -554.000000)" fill="#00A9F4">
                        <g id="Content">
                            <g id="Copy" transform="translate(98.000000, 230.000000)">
                                <g id="Links-/-02.-Medium-(18px)-/-Inverse-/-Default" transform="translate(0.000000, 316.000000)">
                                    <polygon id="Path" transform="translate(272.000000, 15.583333) rotate(-180.000000) translate(-272.000000, -15.583333) " points="280 14.7083333 267.439919 14.7083333 272.460585 9.81708333 271.18521 8.58333333 264 15.5833333 271.18521 22.5833333 272.451603 21.3495833 267.439919 16.4583333 280 16.4583333"></polygon>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>


  -#- include "marketing/app_link_popup.haml"

  #user_activation_notification.modal.middleSize.noTopBorder.fade{:aria-hidden => "true", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          .col
            %h4.modal-title.title {% trans "Check your email inbox" %}
          %button.close{:aria-label => "Close", :data-dismiss => "modal", :type => "button"}
            %span{:aria-hidden => "true"} ×
        .modal-body
          %p.headline_message
          %br
          %br
          %p.activation_success_message.hide
            %span
              {% trans "If you don't see the email in your inbox, check your spam folder or" %}
            %a.download_user_activation{"id": "resend-email"}>
              {% trans "resend email" %}
            %span
              {% trans " with the link." %}
          %br
          %button.btn.btn-primary.btn-lg.mt-20{:data-dismiss => "modal"} {% trans "Return to Login" %}

  #user_lock_out_notification.modal.middleSize.noTopBorder.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          .col
            %h4.modal-title.title {% trans "You've been locked out!" %}
          %button.close{:aria-label => "Close", :data-dismiss => "modal", :type => "button"}
            %span{:aria-hidden => "true"} ×
        .modal-body
          %p.mckinsey-red
            %i.fa.fa-exclamation-triangle.text-danger
            {% trans "Your account is locked for" %}
            %b
              {% trans "15 minutes " %}
            {% trans "since your 5" %}
            %sup
              {% trans "th" %}
            {% trans " attempt." %}
          %p
            %span
              {% trans "Your account has been disabled for security reasons. To access your account," %}
            %a{"data-reveal-id": "reset-password", "data-reveal-ajax": "true", href: "#"}
              {% trans "reset your password" %}
            %span
              {% trans "or try to login again in 15 minutes." %}
          %a.btn.btn-primary.btn-lg.mt-20{"data-reveal-id": "reset-password", "data-reveal-ajax": "true", href: "#"}
            {% trans "Reset Password" %}

- block general_modal

  - include 'registration/password_reset_form.haml'
  - if form.reset == 'done'
    - include 'registration/password_reset_done.haml'
    %script
      $("#password-reset-done").modal('show');
  - if form.reset == 'complete'
    - include 'registration/password_reset_complete.haml'
    %script
      $("#password-reset-complete").modal('show');
  - if form.reset == 'failed'
    - include 'registration/password_reset_failed.haml'
    %script
      $("#password-reset-failed").modal('show');

- block js_snippets
  :javascript
    // Preserve hash value in ?next= argument
    if (window.location.hash !== '') {
        var hash = window.location.hash.substr(1);
        if (hash.indexOf('forgot-password-modal') > -1) {
            $('a[data-reveal-id="reset-password"]').click();
            window.location.hash = hash.replace('forgot-password-modal', '');
        } else {
            var next_with_hash = $.query.get('next') + window.location.hash,
                query_with_hash = $.query.set('next', next_with_hash).toString();
            window.history.replaceState({}, '', query_with_hash);
        }
    }
    window.onload = function(){
      setTimeout(loadAfterTime, 1000)
    };
    function loadAfterTime()
    {
        if ($('input:-webkit-autofill')) {
            $('input:-webkit-autofill').each(function () {
                $(this).parents('.form-group').addClass('focused');
                $('#login').attr("disabled", false);
            });
        }
    }

