.container {
    max-width: 1244px !important;

    @include media-breakpoint-down(lg) {
        max-width: 100% !important;
        &.full {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.contentCard
{
    &::after
    {
        content: '';
        display: table;
        clear: both;
    }
}

