@import "../common/mixins";

.container {
    max-width: 1244px !important;

    @include media-breakpoint-down(lg) {
        max-width: 100% !important;
        &.full {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.contentCard
{
    &::after
    {
        content: '';
        display: table;
        clear: both;
    }
}

#messagesModal {

  .modal-header {
    padding-bottom: 0;
    h5 {
      @include font-spec(24);
      color: $black;
    }
  }

  .modal-body {
    @include font-size(14);
    color: $black;
    padding-bottom: 2rem;
  }
}

