// overwrite or common variables
/*Import funtions from Bootstrap*/
// @import "../bootstrap/functions";


// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$container-max-widths: map-merge(
                (
                        sm: 540px,
                        md: 720px,
                        lg: 960px,
                        xl: 1274px
                ),
                $container-max-widths
);
// @include _assert-ascending($container-max-widths, "$container-max-widths");

// Modals
$modal-xl: 1244px !default;
$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;

$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform .3s ease-out !default;

/* ========= Custom Defined Variables ================*/

// Brand colors
$primary: #2042cb;
$secondary: #0093d3;
$header-top: #002960;


$colors: (
        "primary": $primary,
        "secondary": $secondary,
        'header-top': $header-top
);

:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }
}


// Type colors
$black: #000000;
$lighter-gray: #6F6F6F;
$gray: #696969;
$mid-gray: #cccccc;
$gray-border: #ebebeb;
$hard-gray: #979797;
$white: #ffffff;
$bg-white-red: #d50000;
$bg-black-red: #f00000;
$bg-white-green: #008000;
$bg-black-green: #00d400;
$sharp-green: #00F121;

// Navigation colors
$dark-blue: #0b0886;
$smoke-gray: #232d39;
$gray-border: #EBEBEB;

// Background colors
$ash-white: #f3f4f6;
$ash-hard: #f5f5f5;
$dark-gray: #4a4a4a;
$sky-blue: #e2eff7;
$blue-sharp: #2A3EC6;
$light-gray: #eeeeee;
$bg-login-footer: #251F2E;

// Typography
$body-font-family: 'Open Sans', sans-serif;
$body-font: 14px;

// input field color

$input-border:#999999;
$popup-border: #d8d8d8;
