.new-theme {

    [data-block-type="pb-mcq"],
    [data-block-type="pb-mrq"] {

        .choice-tips {
            background: white !important;
            opacity: 1 !important;
            color: black !important; 
            border-radius: 5px;
            box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3) ;
            padding: 15px 30px 15px 15px !important;

            p {
                line-height: 22px;
                color: $black !important;
                @include font-size(14);

                &:last-child {
                    margin-bottom: 0;
                }

                &:blank {
                    display: none;
                }
            }

            @media screen and (max-width: 480px) {
                width: calc(100vw - 75px) !important;
            }
        }

        .close {
            opacity: 1;
            right: 10px !important;
            top: 10px !important;

            &::before {
                font-family: 'Material Icons';
                content: '\e5cd';
                color: $gray;
                @include font-size(20);
            }
        }
    }
}

// RTL Styling

.rtl
{
    [data-block-type="pb-mrq"], 
    [data-block-type="pb-mcq"] {
        .questionnaire {
            .choice-tips-container {
                .choice-tips {
                    padding: 15px 15px 15px 30px !important;

                    .close {
                        left: 10px !important;
                        right:auto!important;
                    }
                }
            }
        }
    }
}