%p Dear #{username},
%p
  Your certificate for course have been generated to view your certificate please click the following link
  %br
  #{certificate_link}
%p Please contact our team at support@mckinseyacademy.com if you experience any technical issues.

%p
  Best,
  %br
  McKinsey Academy
