- load i18n

%p {% blocktrans %}Dear #{username}, {% endblocktrans %}
%p
  {% trans "Your certificate for course have been generated to view your certificate please click the following link" %}
  %br
  #{certificate_link}
%p {% trans "Please contact our team at #{support} if you experience any technical issues." %}

%p
  {% trans "Best," %}
  %br
  {% trans "McKinsey Academy" %}
