- load i18n
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title
  %body
    %h2
      = user.formatted_name
    %br
    {% trans "You have successfully completed course" %}
    %br
    %h2
      =course.name
