- extends "admin/admin_layout.haml"
- load i18n

- load staticfiles
- block custom_js
  %script{src: "{% static 'js/vendor/tinymce/tinymce.min.js' %}"}

- block content
  #mainCertificatesTemplateListContainer
    #certificatesTemplateListTitle
      %p {% trans "New Certificate" %}
    #certificatesTemplateListText
    %hr
    #mainCertificatesTemplateListGridContainer
      #mainCertificatesTemplateListGridWrapper
        #certificatesTemplateListViewGridBlock
          %form{:enctype => "multipart/form-data", :method => "post"}
            - csrf_token
            = form.as_p
            %button{:type => "submit"}
              {% trans "Save" %}
