- extends "admin/admin_layout.haml"
- load i18n

- block content 
  #mainCoursesListContainer
    #mainCoursesDetailContainer
      #coursesListTitle
        %p {% trans "Cohorts" %}
      #coursesListText
        %hr
    #mainCoursesWrapper
      #mainCoursesListBlockContainer
      	#coursesListViewGridBlock
