- extends "admin/admin_layout.haml"
- load i18n

- block content 
  #mainCompanyDashboardContainer
    #companyDashboardTitle
      %p {% trans "Companies" %}
    #companyDashboardText
      %p {% trans "Click on any of the below courses to view individual participant progress and performance data as well as overall course stats. If the course you are looking for is not visible, click on the View All Courses button." %}
    %hr

    #companyDashboardCompaniesWrapper
      - for company in companies
        .companyDashboardCompanyContainer
          %table.companyDashboardCompanyContainerTable
            %tr
              %td.companyDashboardCompanyDataContainer
                .companyDashboardCompanyName
                  %p ={company.name}
                .companyDashboardCompanyOtherData
                  %p {% trans "Total Participants:" %} ={company.numberParticipants}
                  %p {% trans "Active Courses:" %} ={company.activeCourses}
              %td.companyDashboardCompanyCoursesContainer
                %table.companyDashboardCompanyCoursesTable
                  - for course in company.courses
                    %tr.companyDashboardCompanyCourse
                      %td 
                        %a{:href => "/admin/companies/#{company.id}/courses/#{course.id}", :target => '_self'}
                          ={course.name}
                      %td ={course.id}
                      %td 
                        - if course.end == '-'
                          {% trans "Evergreen" %}
                        - else
                          ={course.start} - ={course.end}
          .companyDashboardCompanyDown
            - if not user.is_company_admin
              .companyDashboardCompanyInfo
                %a{:href => '/admin/companies/#{company.id}', :target => '_self'} Edit Company Info
            .companyDashboardCompanyAllCourses
              %a.button.small.radius{:href => "/admin/companies/#{company.id}", :target => '_self'}
                {% trans "View All Courses" %}
