- extends "admin/admin_layout.haml"
- load i18n

- block content
  #mainCompaniesListDetailsContainer
    #companiesListTitle
      %p {% trans "Companies" %}
    - if not user.is_internal_admin
      #companiesCreateNewCompanyButton
        %input.button.small.radius.createNewCompanyOpenModal{:type => "button", :value => '{% trans "Create New Company" %}'}
    #companiesListText
    %hr
  #mainCompaniesListGridContainer
    #mainCompaniesListGridWrapper
      #companiesListViewGridBlock


  #createNewCompanyModal.reveal-modal.small{"aria-hidden" : "true", "aria-labelledby" : "modalTitle", "data-reveal" : "", :role => "dialog"}
    %h2 {% trans "Enter Display Name for New Company" %}
    %hr
    .row.companyDisplayNameValue
      .large-6.columns
        %input.companyDisplayName{:type => "text", :value => '', :name => "company_display_name" }
    .row
      .large-12.columns
        .errorMessage
    .row.createNewCompanyControl
      .button.createNewCompany.small.radius
        {% trans "Create New Company" %}
      %a.closeModal{:href => "#"}
        {% trans "Cancel" %}
    %a.close-reveal-modal{"aria-label" : "Close"}
      &#215;

  - if enableDataDeletion
    #delete_data_modal.reveal-modal.small{'data-reveal': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      .titleContainer
        %h2 {% trans "Delete Data" %}
      %hr
      .contentContainer
        {% trans "Please note that the data is deleted permanently and you will lose all the data." %}
        %br
        #infoContainer
          User Name
        .deletionWarning
          %i.fa.fa-warning
          {% trans "Warning: Deletion cannot be undone!" %}
        #confirmDeletionContainer
          .confirm-deletion-box
            %input{type: "checkbox", id: "checkbox_confirm_user_deletion_1", class: "deletionConfirmationCheckbox"}
            %label
              .title
                {% trans "Users will not be able to access the platform" %}
            %br
            %input{type: "checkbox", id: "checkbox_confirm_user_deletion_2", class: "deletionConfirmationCheckbox"}
            %label
              .title
                {% trans "User data will no longer be available in the platform" %}
      .errorContainer
      .button-wrapper
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "Cancel"}
          {% trans "Cancel" %}
        %a.button.small.radius.menuButton.confirmButton.disabled{:type => "button"}
          {% trans "Yes" %}

    #delete_data_success.reveal-modal.small{'data-reveal': ''}
      .close-reveal-modal
        %i.fa.fa-times-circle
      .titleContainer
        %h2 {% trans "Successfully deleted data!" %}
      .button-wrapper.topPadding
        %a.button.small.radius.menuButton.close-reveal-modal.close-modal-inline{:type => "button", :value => "I'm Done"}
          {% trans "I'm Done" %}

- block js_snippets
  :javascript
    var enable_data_deletion = '{{enableDataDeletion}}';
