- extends "admin/admin_layout.haml"

- block content 
  #mainCompanyDetailsContainer
    #companyDetailsNavigation
      %a{:href => '/admin/companies', :target => '_self'}> < Back to All Companies
    #mainCompanyDetailsDataContainer{:data-id => '#{id}'}
      #companyDetailsTopDataWrapper
        .row.companyDetailsCompanyName
          ={company.name}
        .row.companyDetailsNumberParticipants
          %p Total Participants: ={company.numberParticipants}
        .row.companyDetailsNumberActiveCourses
          %p Active Courses: -
      #companyDetailsNavigationButtonsContainer
        .row
          .companyDetailsCoursesButton.large-3.columns
            %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'companyCourses', :data-container => '#companyDetailsDataWrapper', :onclick => 'Apros.Router.HashPageChanger(this)', :style => 'font-weight: bold'}> COURSES
          .companyDetailsCompanyInfoButton.large-3.columns
            %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'companyCompanyInfo', :data-container => '#companyDetailsDataWrapper', :onclick => 'Apros.Router.HashPageChanger(this)'}> COMPANY INFO
          .large-6.columns
        %hr
      #companyDetailsDataWrapper
        .companyCourses.contentNavigationContainer
          #companyDetailsCoursesViewGridBlock
        .companyCompanyInfo.contentNavigationContainer  
          #companyInfoInvoicingDetails.companyInfoTopic
            .row
              %p.companyInvoicingDetailsHead Invoicing Details
              %input.button.small.radius.companyInvoicingDetailsEditButton{:type => "button", :value => "Edit"}
            .row
              .large-6.columns
                .fullNameLabel
                  %label Full Name
                .fullNameInput
                  %p ={invoicing.full_name}
              .large-6.columns
                .titleLabel
                  %label Title
                .titleInput
                  %p ={invoicing.title}
            .row
              .large-6.columns
                .invoicingAddressLabel
                  %label Invoicing Address
                .invoicingAddressInput
                  %p ={invoicing.address1}, ={invoicing.address2}
                  %p ={invoicing.city}, ={invoicing.state} ={invoicing.postal_code}
                  %p ={invoicing.country}
              .large-6.columns
                .poLabel
                  %label PO#
                .poInput
                  %p ={invoicing.po}
          #companyInfoContacts.companyInfoTopic
            .row
              %p.companyContactsHead Contacts
              %input.button.small.radius.companyContactsEditButton{:type => "button", :value => "Edit"}
            - for contact in contacts
              .row.contactTypeRow
                %p ={contact.type}
                .fa.fa-info-circle
              .row
                .large-6.columns
                  .fullNameLabel
                    %label Full Name
                  .fullNameInput
                    %p ={contact.full_name}
                .large-6.columns
                  .titleLabel
                    %label Title
                  .titleInput
                    %p ={contact.title}
              .row
                .large-6.columns
                  .emailLabel
                    %label Email
                  .emailInput
                    %p ={contact.email}
                .large-6.columns
                  .phoneInput
                    %label Phone
                  .phoneLabel
                    %p ={contact.phone}
          #exportCompanyInfoButton.companyInfoTopic
            %a.button.radius.small Export Company Info