- extends "admin/admin_layout.haml"
- load i18n

- block content
  .row
    #coursesModal.reveal-modal.tiny{'data-reveal': None}
    #mainCompanyDetailsContainer
      #companyDetailsNavigation
        - if companyAdminFlag
          %a{:href => '/admin/company_dashboard', :target => '_self'}> <
            {% trans "Back to All Companies" %}
        - else
          %a{:href => '/admin/companies', :target => '_self'}> <
            {% trans "Back to All Companies" %}
      #mainCompanyDetailsDataContainer{:data-id => '#{company.id}', :admin-flag => '#{companyAdminFlag}'}
        #companyDetailsTopDataWrapper
          .row.companyDetailsCompanyName
            .companyDetailsTextName
              ={company.name}
            - if not companyAdminFlag
              %i.fa.fa-pencil.editCompanyNameIcon
              .companyDetailsInputName{:style => 'display:none;'}
                %input{:type => 'text', :value => '#{company.name}'}
              .errorMessage

          .row.companyDetailsNumberParticipants
            %p {% trans "Total Participants:" %} ={company.numberParticipants}
          - if not user.is_company_admin
            .row.companyDetailsCompanyID
              %p {% trans "Company ID:" %} ={company.id}
          .row.companyDetailsNumberActiveCourses
            %p {% trans "Active Courses:" %} ={company.activeCourses}

        - if not user.is_company_admin
          #additionalCompanyButtons
            %a.button.small.radius.navigationLink{:href => "/admin/clients/#{company.id}/navigation"}
              {% trans "Navigation" %}
            %a.button.small.radius.accessLink{:href => "{% url 'client_sso' client_id=company.id %}"}
              {% trans "Access" %}
            - if user.is_mcka_admin
              %a#addAppPopupLink.companyLinkedApps.button.small.radius{"data-reveal-id" => "linkApp", :href => "#"}
                {% trans "Link Apps" %}

        #companyDetailsNavigationButtonsContainer
          .row
            .companyDetailsCoursesButton.large-3.columns
              %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'companyCourses', :data-container => '#companyDetailsDataWrapper', :onclick => 'Apros.Router.HashPageChanger(this)', :style => 'font-weight: bold'}>
                {% trans "COURSES" %}

            - if user.is_mcka_admin
              .companyDetailsLinkedAppsButton.large-3.columns
                %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'companyLinkedApps', :data-container => '#companyDetailsDataWrapper', :onclick => 'Apros.Router.HashPageChanger(this)'}>
                  {% trans "LINKED APPS" %}

            .large-6.columns
          %hr
      #companyDetailsDataWrapper
        .companyCourses.contentNavigationContainer
          #companyDetailsCoursesContainer
            #companyDetailsCoursesViewGridBlock

        - if user.is_mcka_admin
          .companyLinkedApps.contentNavigationContainer
            #companyLinkedAppsContainer
              #companyLinkedAppsViewGridBlock

    - if user.is_mcka_admin
      #linkApp.reveal-modal.small{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
        %h4 {% trans "Link mobile app" %}
        %p {% blocktrans %} Type in the name of the mobile app that you want to link with "Company Name" {% endblocktrans %}
        %b {% trans "App Name" %}
        %input#appSearchInput{:placeholder => '{% trans "App Name" %}', :type => 'text', :name => 'app_name', :class => 'appSearchInput'}
        .errorMessage
        %button.button.small.radius.linkAppButton{:value => "Link App", :type => "Submit"}
          {% trans "Link App" %}
        %input.button.small.radius.close-reveal-modal{:value => "{% trans 'Cancel' %}", :type => "button"}/
        %a.close-reveal-modal{"aria-label" => "Close"} ×
