- extends "admin/admin_layout.haml"

- block content 
  #mainCompanyDetailsContainer
    #companyDetailsNavigation
      %a{:href => '/admin/companies', :target => '_self'}> < Back to All Companies
    #mainCompanyDetailsDataContainer{:data-id => '#{id}'}
      #companyDetailsTopDataWrapper
        .row.companyDetailsCompanyName
          ={name}
        .row.companyDetailsNumberParticipants
          %p Total Participants: ={numberParticipants}
        .row.companyDetailsNumberActiveCourses
          %p Active Courses: -
      #companyDetailsNavigationButtonsContainer
        .row
          .companyDetailsCoursesButton.large-3.columns
            %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'companyCourses', :data-container => '#companyDetailsDataWrapper', :onclick => 'Apros.Router.HashPageChanger(this)', :style => 'font-weight: bold'}> COURSES
          .companyDetailsCompanyInfoButton.large-3.columns
            %a.hashPageButton{:href => '#', :target => '_self', :data-target => 'companyCompanyInfo', :data-container => '#companyDetailsDataWrapper', :onclick => 'Apros.Router.HashPageChanger(this)'}> COMPANY INFO
          .large-6.columns
        %hr
      #companyDetailsDataWrapper
        .row.companyCourses.contentNavigationContainer
          #companyDetailsCoursesViewGridBlock
        .row.companyCompanyInfo.contentNavigationContainer  
          #companyInfoInvoicingDetails.companyInfoTopic
            %p Invoicing Details
          #companyInfoContacts.companyInfoTopic
            %p Contacts