- extends "admin/admin_layout.haml"
- load i18n

- block content 
  #mainCompaniesListDetailsContainer
    #companiesListTitle
      %p {% trans "Companies" %}
    - if not user.is_internal_admin
      #companiesCreateNewCompanyButton
        %input.button.small.radius.createNewCompanyOpenModal{:type => "button", :value => '{% trans "Create New Company" %}'}
    #companiesListText
    %hr
  #mainCompaniesListGridContainer
    #mainCompaniesListGridWrapper
      #companiesListViewGridBlock


  #createNewCompanyModal.reveal-modal.small{"aria-hidden" : "true", "aria-labelledby" : "modalTitle", "data-reveal" : "", :role => "dialog"}
    %h2 {% trans "Enter Display Name for New Company" %}
    %hr
    .row.companyDisplayNameValue
      .large-6.columns
        %input.companyDisplayName{:type => "text", :value => '', :name => "company_display_name" }
    .row
      .large-12.columns
        .errorMessage
    .row.createNewCompanyControl
      .button.createNewCompany.small.radius
        {% trans "Create New Company" %}
      %a.closeModal{:href => "#"}
        {% trans "Cancel" %}
    %a.close-reveal-modal{"aria-label" : "Close"}
      &#215;