#about-page,
#terms-page,
#privacy-page,
#faq-page,
#programs-page,
#contact-page,
#experience-page {
  section {
    padding: 0 rem-calc(20);
    margin: rem-calc(15) 0;
  }

  @media #{$small-only} {
    img.tileset { display: none; }
  }
}

.bio-pop,
.course-pop {
  p {
    margin-bottom: 25px;
    &:last-child { margin-bottom: 0; }
  }
}

#terms-page,
#privacy-page,
#faq-page {
  p {
    margin-top: 20px;
  }

  table {
    tr.heading {
      font-weight: bold;
    }
  }

  .address {
    line-height: 10px;
  }
}

@import './about';
@import './programs';
@import './contact';
@import './experience';
