#about-page,
#terms-page,
#privacy-page,
#faq-page,
#programs-page,
#contact-page,
#experience-page,
#edxoffer-page,
#fblf-page {
  overflow-x: hidden;

  section {
    padding: 0 rem-calc(20);
    margin: rem-calc(15) 0;
  }

  img.tileset {
    width: 1800px;
    max-width: none;
    position: relative;
    left: 50%;
    margin-left: -900px;
  }

  @media #{$screen} and (max-width: #{upper-bound($medium-range)}) {
    img.tileset {
      width: 900px;
      margin-left: -450px;
    }
  }

  @media #{$small-only} {
    img.tileset { display: none; }
  }
}

.bio-pop,
.course-pop {
  p {
    margin-bottom: 25px;
    &:last-child { margin-bottom: 0; }
  }
}

ul.faculty {
  margin: 20px 0 0;
  list-style-type: none;
  @include clearfix;

  li {
    float: left;
    width: 50%;
    height: 85px;

    img {
      float: left;
      margin-right: rem-calc(10);
      @include square-size(50px);
    }

    > div {
      float: left;
      width: 280px;
    }

    @media #{$small-only} {
      width: 100%;
      height: auto;
      margin-bottom: rem-calc(25);
    }
  }
}

#terms-page,
#privacy-page,
#faq-page {
  p {
    margin-top: 20px;
  }

  table {
    thead {
      font-weight: 700;
    }

    td.no-wrap {
      white-space: nowrap;
    }
  }

  .address {
    line-height: 10px;
  }
}

#faq-page {
  ul, ol {
    list-style-position: inside;

    li {
      em {
        display: block;
        text-indent: 17px;
      }

      span {
        font-weight: 700;
      }
    }
  }

  p.style-2 {
    + p {
      margin-top: 0;
    }
  }
}

@media #{$small-only} {
  #privacy-page {
    #cookieTable {
      margin-top: 20px;
      thead {
        display: none;
      }
      td {
        font-size: 12px;
        position: relative;
        display: block;
        padding: 12px 10px 12px 130px;

        &:before {
          position: absolute;
          left: 12px;
          top: 12px;
          font-size: 13px;
          font-weight: 600;
        }
        &:nth-child(1) {
          &:before {
            content: "Cookie";
          }
        }
        &:nth-child(2) {
          &:before {
            content: "Cookie Purpose";
          }
        }
        &:nth-child(3) {
          &:before {
            content: "Nature of the \A Cookies";
            white-space: pre;
          }
        }
        &:nth-child(4) {
          &:before {
            content: "Cookie Type";
          }
        }
        &:nth-child(5) {
          &:before {
            content: "Approval Method";
          }
        }
      }
    }
    #retention {
      margin-top: 10px;
      thead {
        display: none;
      }
      td {
        position: relative;
        font-size: 12px;
        display: block;
        padding: 12px 10px 12px 130px;

        &:before {
          position: absolute;
          left: 12px;
          top: 12px;
          font-size: 13px;
          font-weight: 600;
        }
        &:nth-child(1) {
          &:before {
            content: "System";
          }
        }
        &:nth-child(2) {
          &:before {
            content: "Data Retention \APurpose";
            white-space: pre;
          }
        }
        &:nth-child(3) {
          &:before {
            content: "Retention Period";
          }
        }
      }
    }
  }
}

@import './about';
@import './programs';
@import './contact';
@import './experience';
@import './productwalkthrough';
@import './fblf';
