#programs-page {
  p {
    margin-bottom: 20px;
    &:last-child { margin-bottom: 0; }
  }

  .coursebubbles {
    text-align: center;
    img {
      margin-bottom: 10px;
      @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);
    }
  }

  .person-title {
    margin-bottom: 5px;
  }

  ul.programs {
    margin: 0;
    list-style-type: none;

    li {
      margin-bottom: rem-calc(15);

      .card-flip {
        width: 180px;
        height: 125px;
        margin-bottom: rem-calc(10);

        .front, .back {
          width: 180px;
          height: 125px;
          @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);
        }

        .back { padding: 10px; }
      }

      .title { width: rem-calc(180); }
    }
  }

  ul.faculty {
    margin: 0;
    list-style-type: none;
    @include clearfix;

    li {
      float: left;
      width: 50%;
      height: 85px;

      img {
        float: left;
        margin-right: rem-calc(10);
        @include square-size(50px);
      }

      > div {
        float: left;
        width: 280px;
      }
    }
  }
}
