- extends "admin/admin_layout.haml"
- load i18n

- block content
  .admin-detail.row
    .large-12.large.columns
      - block admin_detail
        %h1
          %span
            {% trans "Contact: " %}
          %span= client.display_name
        %br
        %p
          {% trans "If you need assistance or have questions please contact your McKinsey Admin representative(s) below." %}

    .large-12.large.columns
      %br
      %br
      %ul.contact-tiles
        - include 'admin/client-admin/contact_tiles.haml'
