- extends "admin/admin_layout.haml"

- block content
  .admin-detail.row{'style': 'margin-top:80px;'}
    .large-12.large.columns
      - block admin_detail
        %h1
          %span= _("Contact: ")
          %span= client.display_name
        %br
        %p= _("If you need assistance or have questions please contact your McKinsey Admin representative(s) below.")

    .large-12.large.columns
      %br
      %br
      %ul.contact-tiles
        - include 'admin/client-admin/contact_tiles.haml'
