- extends "admin/admin_layout.haml"
- load static

- block content
  .row
    .header
      %h1
        = client.display_name
      .company-image
        %img{src: "#{company_image}"}
        %a#edit-company-image{"data-reveal-id": "edit-company-image-modal", "data-reveal-ajax": "true", 'href': "/admin/clients/#{client.id}/change_company_image"}
          change photo
    %hr
    %ul.courses-tiles
    %input#courses_list{'type': 'hidden', 'value': "#{courses_list}"}

  - block change_company_image
    #edit-company-image-modal.reveal-modal.medium{'data-reveal': 'true'}

- block js_snippets
  %script{src: "{% static 'js/vendor/cropper.min.js' %}"}
  %script{src: "{% static 'js/vendor/jquery.form.js' %}"}
  %script{src: "{% static 'js/image_editor.js' %}"}
  %script{src: "{% static 'js/client_admin_image_edit.js' %}"}
  %script{src: "{% static 'js/client_admin_courses_metrics.js' %}"}
