// Custom dropdown styling
.dropdown-menu {
  background-color: $white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0;
  font-size: 0.75rem;
  line-height: 17px;
  min-width: 176px;
  top: 6px !important;
  left: 20px !important;
  padding: 10px 30px !important;

  &:after {
    position: absolute;
    top: -9px;
    right: 17px;
    content: "";
    width: 20px;
    height: 10px;
    background: url("../image/dropdown-arrow.png") no-repeat;
    display: block;
  }
  &.profile-area {

    &:after,
    &:before {
      right: 30px;
    }
  }
  &.dropdown-menu-left {
    left: 20px !important;
    &:after,
    &:before {
      right: auto;
      left: 17px;
    }
    &.notification {
      left: -20px !important;
      padding: 30px !important;
      min-width: 370px;
      max-width: 400px;
    }
  }
  &.allLessons {
    max-height: 394px;
    padding-left: 0 !important;
    padding-right: 0 !important;

    .allCoursesList {
      padding-right: 30px;
      padding-left: 30px;
      max-height: 375px;
      overflow: auto;

      > .courseRow {
        cursor: pointer;
        padding: 0;
        margin: 0;

        .description {
          display: none;
        }
      }

      .holder {

        .data {
          padding: 7px 3px;

          &.title {
            width: 170px;
            font-size: 0.75rem;
            position: relative;
          }

          &.status {
            width: auto;
          }

          &.serial {
            font-weight: 400;
            letter-spacing: 0;
          }
        }
      }
    }
    &:after{
      left: 9% !important;
    }
  }
  > a {
    color: $secondary;
    font-size: 0.75rem;
    line-height: 17px;
    background: inherit;
    border-top: 1px solid $gray-border;
    padding: 12px 0;

    &:hover {
      color: $dark-blue;
      background: inherit;
    }

    &:active {
      background: inherit;
      color: inherit;
    }

    &:first-child {
      border: none;
      //padding-top: 0;
    }

    &:after {
      content: "";
    }
  }
  //profile dropdown on main Header
  &.large-menu {
    width: 376px !important;
    padding: 30px !important;
    top: 20px !important;

    .footer {

      a.btn {
        width: 100%;
      }
    }
  }
  &.middle-menu {
    min-width: 337px !important;
  }
}

// Add carrot icon for Dropdown
.dropdown-toggle {
  color: $secondary;
  &:hover {
    color: $dark-blue;
  }
  &:after {
    font-family: 'Material Icons';
    content: "\e313";
    border: 0;
    font-size: 1rem;
    margin: 0 0 0 1px;
    vertical-align: middle;
  }
}

.show {
  .dropdown-toggle {
    color: $dark-blue;
  }
}

@media screen and (max-width: 992px) {
  header {
    &.appHeader {
      .headerNav {
        margin-top: 18px;
      }
    }
  }
  .dropdown-menu {
    top: 24px !important;
  }
}

@media screen and (max-width: 992px) {
  .dropdown-menu {
    &.allLessons {
      .allCoursesList {
        .holder {
          .data.title {
            width: 108px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .dropdown-menu {
    &.dropdown-menu-left {
      &:after,
      &:after {
        left: 50%;
        margin: 0 0 0 -10px;
      }
      &.notification {
        min-width: auto;
        max-width: 320px;
      }
    }
  }

  .dropdown-menu {
    &.allLessons {
      width: calc(100% - 40px);
      left: 20px !important;
      max-width: 350px;
      min-width: 0;
      margin-left: -30px;

      &:after {
        right: 163px !important;
      }

      .allCoursesList {
        padding-right: 20px;
        padding-left: 20px;
      }
    }

    &.large-menu {
      width: 88% !important;
    }

    &.middle-menu{
      right: calc(50% - 10px);
    }
  }
}
