// Custom dropdown styling
.dropdown{
  position: relative;
  display: inline-block;
}


.courseMainHeader{
  .dropdown-menu{
    &.allModules{
      top: calc(100% + 0px) !important;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }
}
.dropdown-menu {
  background-color: $white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0;
  font-size: 0.75rem;
  line-height: 17px;
  min-width: 176px;
  top: 6px;
  left: 20px;
  padding: 10px 30px !important;
  transform: translate(0) !important;
  z-index: 99999 !important;

  > a {
    color: var(--primary);
    font-size: 0.75rem;
    line-height: 17px;
    background: inherit;
    border-top: 1px solid $gray-border;
    padding: 12px 0;
    text-transform: capitalize;
    li {
      > a {
        text-transform: capitalize;
        color: var(--primary);
      }
    }

    &:first-child {
      border: none;
    }

    &:after {
      content: "";
    }
  }
  &:after {
    position: absolute;
    top: -9px;
    content: "";
    width: 20px;
    height: 10px;
    background: url("../image/dropdown-arrow.png") no-repeat;
    display: block;
  }
  &.notification {
    padding: 30px !important;
    min-width: 370px;
    max-width: inherit;
    float: none;
  }
  &.allLessons {
    max-height: 394px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 999999 !important;

    .allCoursesList {
      padding-right: 30px;
      padding-left: 30px;
      max-height: 375px;
      overflow: auto;

      > .courseRow {
        cursor: pointer;
        padding: 0;
        margin: 0;

        .description {
          display: none;
        }
      }

      .holder {
        overflow: inherit;
        .data {
          padding: 7px 3px;

          &.title {
            width: 170px;
            font-size: 0.75rem;
            position: relative;
          }

          &.status {
            width: auto;
          }

          &.serial {
            font-weight: 400;
            letter-spacing: 0;
          }
        }
      }

      .bookmark {
        background-size: 20px 100%;
        width: 20px;
      }
    }
  }
  //profile dropdown on main Header
  &.large-menu {
    width: 376px !important;
    padding: 30px !important;

    .footer {
      a.btn {
        width: 100%;
      }
    }
  }
  &.middle-menu {
    min-width: 337px !important;
  }
  &.allModules {
    top: calc(100% + 10px) !important;
    min-width: 435px;
  }

  //Admin Site Dropdown
  &.adminModules{
    min-width: 300px;
    top: 52px !important;

    .totalNumber{
      display: block;
      font-size: 0.75rem;
      line-height: 17px;
      color: $black;
      font-weight: 600;
      padding-bottom: 5px;
      text-transform: uppercase;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
       li {
        > a {
          display: block;
          color: var(--primary);
          font-size: 0.75rem;
          font-weight: normal;
          line-height: 17px;
          background: inherit;
          border-top: 1px solid #EBEBEB;
          padding: 12px 0;
          text-transform: capitalize;
          &.active{
            font-weight: normal !important;
          }
        }
        &:first-child{
          >a{
            border-top: 0;
          }
        }
      }
    }
  }
  &.allLessons {
    @include media-breakpoint-up(sm) {
      max-width: 435px;
    }    
    .allCoursesList {
      .holder {
        .data {
          &.status {
            float: right;
            width: auto;
            @include media-breakpoint-up(sm) {
              min-width: 100px;
            }
          }
          &.serial {
            float: left;
            width: auto;
          }
          &.title {
            float: none;
            width: auto !important;
            display: block;
            overflow: hidden;
            line-height: 18px;
          }
        }
      }
    }
  }
}

// Add carrot icon for Dropdown
.dropdown-toggle {
  color: var(--primary);

  &:hover{ text-decoration: none;}
  &:after {
    font-family: 'Material Icons';
    content: "\e313";
    border: 0;
    font-size: inherit;
    margin: 0 0 0 1px;
    vertical-align: middle;
  }
  &:focus {
    color: var(--primary);
  }
}

.show {
  .dropdown-toggle {
    color: var(--primary);
    &:focus{
      color: var(--primary);
    }
  }
}

@include media-breakpoint-down(md) {
  header {
    &.appHeader {
      .headerNav {
        margin-top: 18px;
      }
    }
  }

  .dropdown-menu {
    &.allLessons {
      .allCoursesList {
        .holder {
          .data.title {
            width: 188px;
          }
        }
      }
    }
    &.allModules {
      min-width: 335px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .dropdown-menu {
    &.notification {
      min-width: auto;
      max-width: 320px;
      padding: 15px !important;
    }
    &.allLessons {
      max-width: 350px;
      .allCoursesList {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    &.large-menu {
      width: 88% !important;
    }
    &.allModules {
      min-width: calc(100vw - 30px);
      z-index: 999999 !important;
      &.allLessons .allCoursesList .holder .data.status {
        font-size: 0;
        float: right;
      }
      &.allLessons .allCoursesList .holder .data.title {
        width: calc(100% - 110px);
      }
    }
    &.dashboard-menu {
      min-width: 100% !important;
    }
    &.profileDropdown{
      width: 100% !important;
    }
    &.profileDropdown{
      width: 310px !important;
    }
  }

  // Notification tabs content on mobile
  .xns-container {
    .xns-actions {
      > ul {
        white-space: inherit;
        display: block;
        > li {
          white-space: initial;
          width: 33%;
          height: 30px;
          vertical-align: top;
          text-align: center;
          line-height: 30px;
          a {
            display: inline-block;
            vertical-align: middle;
            line-height: 10px;
            &:after {
              display: inline-block;
              vertical-align: middle;
              height: 30px;
              content: '';
            }
          }
        }
      }
    }
  }
}
