footer {
  background-color: $bg-login-footer;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  line-height: 60px;
  min-height: 60px;
  margin-top: 6rem;
  .container{
    >.row{
      display: block !important;
      margin: 0;
      padding:0 15px;
      width: 100% !important;
    }
  }
  .copyright {
    color: $gray;
    overflow:hidden;
  }
  ul {
    li {
      a.nav-link {
        color: $white;
        display: inline-block;
        padding: 0 7px;
        position: relative;
        font-weight: 400;
        text-transform: none;
        @media screen and (max-width: 992px) {
          padding: 0 0.3rem;
        }
        &:before {
          content: "";
          position: absolute;
          top: 24px;
          height: 10px;
          width: 1px;
          background-color: $white;
        }
        &:hover {
          text-decoration: underline;
        }
        &:focus {
          background-color: lighten(desaturate(adjust-hue($primary, -25deg), 16), 47);
          border-radius: 4px;
        }
      }
      &:first-child {
        a {
          &:before {
            display: none;
          }
        }
      }
    }
  }

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    [class*="col-"] {
      padding: 0
    }
    .container{
      >.row{
        padding:0;
      }
    }
    footer {
      .container {
        padding: 15px 30px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .nav {
      &[class*="justify-content"] {
        justify-content: center !important;
      }
    }
    .container {
      > .row {
        display: table !important;
        width:100%;
      }
    }
    margin-top: 50px;
    .copyright {
      display: table-caption;
      text-align: center;
    }
    .footerLinks {
      padding: 0;
      margin: 0 !important;
      float: none;
      display: table-footer-group;
      width: 100%;
    }
    footer {
      font-size: 10px;
      .container {
        padding: 15px;
      }
    }
  }
}

@include media-breakpoint-up(xs) {
  footer {
    line-height: 25px;
    padding: 18px 0 15px;
    ul {
      li {
        a.nav-link {
          &:before {
            top: 8px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  footer {
    ul {
      li {
        a {
          padding: 0 0.35rem;
          &::before {
            display: none;
          }
        }
      }
    }
  }
}
