input:not([type='checkbox']) {
  height: 50px;
  font-size: 1rem;
  border-radius: 0;
  border: 1px solid $gray;
  box-shadow: none;
  &:disabled {
    border: 0;
    opacity: 0.9;
  }
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit;
  }
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='file']) {
  &::-ms-clear,
  &::-ms-reveal{
    display: none !important;
    width: 0;
    height: 0;
  }
}

form {

  .form-group {
    position: relative;
    margin-bottom:1.5rem;
    .ico-state {
      visibility: hidden;
      transition: all ease 0.3s;
      transform: scale(0);
    }
    .ico-state {
      position: absolute;
      top: 13px;
      content: '';
    }
    #show-hide,.show-hide {
      visibility: visible;
      position: absolute;
      color: $lighter-gray;
      top: 14px;
      cursor: pointer;
    }
    small {
      font-size: 90%;
      color: $gray;
    }
  }

  .form-label {
    position: absolute;
    transform: translate(15px, 15px);
    z-index: 9;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
  }
  .focused .form-label {
    transform: translate(0px, -18px);
    font-size: .85em;
    color:  var(--primary);
  }

  //

  .success,
  .error {
    .ico-state {
      visibility: visible;
      transform: scale(1);
    }

    #show-hide,.show-hide {
      visibility: hidden;
    }
  }
  &.white {
    .form-group {
      &.success {
        input:not([type='checkbox']) {
          border-color: $bg-white-green;
          color: $bg-white-green;
        }
        .ico-state {
          color: $bg-white-green !important;
          visibility: visible;
        }
        label {
          //visibility: hidden;
          color: $bg-white-green !important;
        }
      }
      &.error {
        input:not([type='checkbox']) {
          border-color: $bg-white-red;
          color: $bg-white-red;
        }
        .ico-state {
          color: $bg-white-red !important;
        }
      }
    }
  }
  &.black {
    .form-group {
      &.success {
        input:not([type='checkbox']) {
          border-color: $bg-black-green !important;
          color: $bg-black-green !important;
        }
        .ico-state {
          color: $bg-black-green !important;
        }
        label {
          //visibility: hidden;
        }
      }
      &.error {
        input:not([type='checkbox']) {
          border-color: $bg-black-red !important;
          color: $bg-black-red !important;
        }
        .ico-state {
          color: $bg-black-red !important;
        }
      }
    }
    small {
      color: $white;
    }
    .focused .form-label {
      color: $white !important;
    }
    .form-input {
      color: $white;
    }
  }

  .error {
    input:-webkit-autofill,
    input:-internal-autofill-selected,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 1px solid $gray;
      -webkit-text-fill-color: $bg-white-red;
      -webkit-box-shadow: none;
      background-color: $white !important;
    }
  }
  button{
    &:disabled{
      background: $gray !important;
    }
  }
}
