input:not([type='checkbox']) {
  font-size: 1rem;
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}

form {

  .form-group {
    .ico-state{
      visibility: hidden;
      transition: all ease 0.3s;
      transform: scale(0);
    }
    .ico-state {
        position: absolute;
        right: 10px;
        top: 13px;
        content: '';
      }
    #show-hide {
      visibility: visible;
      position: absolute;
      right: 10px;
      top: 14px;
    }

  }

  .success,
  .error {
    .ico-state {
      visibility: visible;
      transform: scale(1);
    }
    input:not([type='checkbox']) {
      padding-right: 50px;
    }

    #show-hide { visibility: hidden;}

  }

  &.white {
    .form-group {
      &.success {
        input:not([type='checkbox']) {
          border-color: $bg-white-green;
          color: $bg-white-green;
        }
        .ico-state {
          color: $bg-white-green !important;
          visibility: visible;
        }
        label {
          visibility: hidden;
        }
      }
      &.error {
        input:not([type='checkbox']) {
          border-color: $bg-white-red;
          color: $bg-white-red;
        }
        .ico-state {
          color: $bg-white-red !important;
        }
      }
    }
  }

  &.black {
    .form-group {
      &.success {
        input:not([type='checkbox']) {
          border-color: $bg-black-green !important;
          color: $bg-black-green !important;
        }
        .ico-state {
          color: $bg-black-green !important;
        }
        label {
          visibility: hidden;
        }
      }
      &.error {
        input:not([type='checkbox']) {
          border-color: $bg-black-red !important;
          color: $bg-black-red !important;
        }
        .ico-state {
          color: $bg-black-red !important;
        }
      }
    }
    small{ color: $white;}
    .focused .form-label {
      color: $white !important;
    }
    .form-input { color: $white;}
  }

}
