//Removing App header on mobile
body {
  &.noAppHeader {
    header {
      &.appHeader {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}
.dropdown-item {
  white-space: normal !important;
}
.appHeader {
  .all-logos {
    padding: 15px 0;
    .navbar-brand {
      display: inline-block;
      vertical-align: middle;
      img {
        height: auto;
        max-height: 40px;
        width: auto;
        max-width: 180px;
      }
    }
  }
}

header {
  border-top: 5px solid var(--header-top);
  border-bottom: 1px solid $gray;
  background-color: $white;

  .language-selector {
    height: 70px;
    width: 80px;
    line-height: 70px;
    color: $black;

    .dropdown {
      display: inline-block;

      button {
        background-color: transparent;
        color: $dark-blue;
        text-transform: uppercase;
        font-size: 0.814rem;
        padding: 0;

        &:focus {
          outline: none;
        }
      }
      .dropdown-item {
        &:active,
        &:focus {
          background-color: transparent !important;
          color: $black;
        }
      }
    }

    i {
      vertical-align: middle;
      font-size: 30px;
    }
  }

  &.appHeader {
    margin: 0 0 30px;
    border-bottom-color: $mid-gray;

    .dropdown-menu {
      top: 55px !important;
    }
    > a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 30px;
      padding: 5px;
      overflow: hidden;
      background: var(--primary);
      color: $white;
      border-radius: 100%;

      &:hover {
        text-decoration: none;
      }

      &:after {
        display: none;
      }

      span {
        display: block;
        text-align: center;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .topRightArea {
      width: auto;
      margin-top: 19px;
    }

    .profileArea {
      width: 40px;
      height: 40px;

      > a {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 30px;
        padding: 5px;
        overflow: hidden;
        border-radius: 100%;
        position: relative;
        background: var(--primary);
        color: $white !important;
        border-radius: 100%;

        &:hover {
          text-decoration: none;
        }

        &:after {
          display: none;
        }

        span {
          display: block;
          text-align: center;
          position: relative;
          z-index: 999;
          color: $white !important;
        }

        img {
          width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 99;
        }
      }
      .dropdown-menu {
        transform: translate(0) !important;
        top: 78px !important;
        @include media-breakpoint-down(md) {
          top: 79px !important;
        }
        @include media-breakpoint-down(sm) {
          top: 69px !important;
        }
      }
    }

    .headerNav {
      width: auto;
      margin: 17px 0 0;
      > ul {
        > li { margin-bottom: 0;}
      }
    }
  }
}

// User profile avatar dropDown Menu
.profileDropdown {
  .header {
    .edit-link {
      color: var(--primary);
      font-size: 12px;
      letter-spacing: 0.02em;
      line-height: 17px;
      font-weight: 400;
    }

    .avatar-area,
    .titles-area {
      display: inline-block;
      vertical-align: middle;
    }

    .titles-area {
      width: calc(100% - 130px);
      .nameArea,
      .roleArea {
        > span,
        a {
          display: inline-block;
          vertical-align: middle;
        }
      }

      .nameArea {
        color: $black;        
        font-weight: 600;
        line-height: 22px;
      }

      .roleArea {
        color: #696969;
        line-height: 19px;
        font-weight: normal;
        margin-top: 5px;
      }
    }
  }

  .content {
    .title {
      display: block;
      color: $black;
      font-size: 12px;
      letter-spacing: 0.02em;
      font-weight: 600;
      line-height: 17px;
      margin-top: 7px;

      &:first-child {
        margin-top: 0;
      }
    }

    .titleName {
      @include font-size(14);
      line-height: 22px;
      font-weight: normal;
      color: $black;
    }

    .userMail {
      color: var(--primary);
      @include font-size(14);
      line-height: 22px;
      line-height: normal;
      word-break: break-all
    }

    > .wrap {
      border-bottom: 1px solid $light-gray;
      padding: 0 0 15px;
      margin: 0 0 15px;

      &:first-child {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid $light-gray;
      }
    }
  }
}

// Photo edit steps in modal
.photoEditSteps {
  .step {
    margin-top: 28px;

    &:first-child {
      margin: 0;
    }

    .head {
      border-bottom: 1.21px solid #F1F3F6;
      padding-bottom: 10px;
      margin-bottom: 20px;

      .stepTitle,
      .title {
        display: inline-block;
        vertical-align: middle;
        text-transform: capitalize;
      }

      .stepTitle {
        height: 17px;
        color: $gray;
        font-size: 12px;
        letter-spacing: 0.02em;
        line-height: 17px;
        margin: 0 10px 0 0;
      }

      .title {
        color: $black;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 22px;
      }
    }

    .imgCropWrap {
      height: 250px;
      max-width: 500px;
      background: $black;
      margin-bottom: 20px;
    }
  }
}

.site-wrapper {
  &.login {
    header {
      background: transparent;
      border: none;

      .language-selector {
        border: 0;

        .dropdown {
          button {
            background: transparent;
            color: $black;
          }
        }
      }

      i {
        color: $black;
      }
    }
  }

  header {
    .language-selector {
      border: 0;
      .dropdown {
        button {
          background: transparent;
          color: $black;
        }
      }
    }
    i {
      color: $black;
    }
  }

  .navbar-brand {
    padding: 0;
  }
}

//Course navigation wrapper
.courseNavWrap {
  padding-top: 2px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .mainNav {
    > ul {
      > li {
        > a {
          padding: 0 0 9px;
        }
      }
    }
  }
}

//Main (generic custom) navigation styles
.mainNav {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.9px;
      line-height: 16px;
      text-align: center;
      > a {
        color: var(--primary);
        padding: 0 0 18px;

        &:before {
          position: absolute;
          content: '';
          width: 0;
          height: 3px;
          background: transparent;
          bottom: -1px;
          transition: all ease 0.3s;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &:hover {
        a {
          outline: none;
          text-decoration: none;
        }
      }

      &.active {
        >a {
          color: #2E2D39 !important;

          &:before {
            width: 100%;
            background: #2E2D39;
          }
        }
      }

      &.notifications {
        .dropdown-toggle {
          &:after {
            display: none;
          }
        }
      }
      .dropdown-menu {
        > a {
          color: var(--primary);
        }
      }
    }
  }
}

// Inner page's Header (Course navigation or Header)
.courseMainHeader {
  margin: 0 0 3px;

  ul {
    li {
      padding: 0;
      margin-bottom: 0;
    }
  }

  .go-to-courses {
    display: block;
    text-decoration: none;
    position: relative;
    pointer-events: none;
    cursor: default;
    h1 {
      color: $black;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.15;
      margin: 0;
      padding: 0 0 11px;

      @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        padding-left: 15px;
        padding-right: 15px;
      }

    }

    .homeBtn {
      vertical-align: middle;
      cursor: pointer;
      display: none;

      i {
        font-size: inherit;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  .pn-Advancer {
    display: none;
  }

  .pn-ProductNav_Wrapper {
    position: relative;
  }
  .dropdown-menu {
    top: 35px !important;
  }

}

.courseMainHeader,
.mainNav {
  .dropdown-menu {
    > a {
      color: var(--primary);
      font-size: 0.75rem;
      letter-spacing: 0.02em;
      font-weight: normal;
      line-height: 17px;
      background: inherit;
      border-top: 1px solid $gray-border;
      padding: 12px 0;
      text-transform: capitalize;

      &:first-child {
        border: none;
      }

      &:after {
        content: "";
      }
    }
  }
}

// BreakPoints for small Screens
@media screen and (max-width: 992px) {
  .adminBtn {
    display: none !important;
  }
  .courseMainHeader {
    padding: 0 15px;

    h1 {
      font-size: 32px;
      line-height: 42px;
    }

    .pn-Advancer {
      padding: 0 3px;
      min-width: 10px;
      text-align: center;
      display: block;
      top: -9px;
      color: #ccc;
      opacity: 1;
      height: 38px;
      i {
        color: #ccc;
      }

      &.active {
        i {
          color: var(--primary);
        }
      }
    }
  }

  .pn-ProductNav {
    margin: 0 30px;
  }

  .allCoursesList {
    > .courseRow {
      .description {
        display: none;
      }
    }
  }

  .mainTopHeader {
    max-width: 100%;
    padding: 0 15px;
  }

  header {
    &.appHeader {
      .container {
        max-width: 100%;
        padding: 0 15px;
      }

      .all-logos {
        .navbar-brand {
          img {
            max-height: 40px !important;
            max-width: 125px !important;
            height: auto !important;
          }
        }
      }
    }
  }

  .contentCard{
    &.progressWidgets{
      #course-statistics{
        >.row{
          margin: 0 -10px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .pn-ProductNav {
    margin: 0;
    padding: 0 30px 2px;
  }

  header {
    height: 67.61px;
    &.appHeader {
      margin-bottom: 0;
      &.has-dashboard {
        margin-bottom: 35px;
      }
      padding: 0 15px;
      .topRightArea {
        margin-top: 10px;
      }
      .mainNav {
        > ul {
          > li {
            a {
              &::before {
                bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .mainTopHeader {
    padding: 0 25px;
    border-top: 5px solid var(--header-top);
  }

  .courseNavWrap {
    padding: 14px 0 0;
    margin: 0 -5px;
  }

  .courseMainHeader {
    padding: 0;
    margin: 0 0 3px;
    .go-to-courses {
      pointer-events: auto;
      &:hover {
        text-decoration: none;
      }
      h1 {
        padding: 6px 0;
        padding-left: 22px !important;
        margin-left: 9px;
        margin-right: 9px;
        border-bottom: 1px solid $mid-gray;
        margin: 0 -10px;
      }
    }
  }
  .appHeader {
    .topRightArea {
      margin-top: 10px;
      .headerNav {
        position: absolute;
        left: 0;
        top: 50px;
        right: 0;

        >ul {
          width: 100%;
          text-align: center;

          >li {
            margin-top: 9px;

            a {
              padding-bottom: 6px;
            }
          }
        }
      }
    }
  }

  header {
    &.appHeader {
      .all-logos {
        .navbar-brand {
          img {
            max-height: 30px !important;
            max-width: 94px !important;
            height: auto !important;
          }
        }
      }
    }
  }

  .courseMainHeader {
    .go-to-courses {
      position: relative;
      h1 {
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.02em;
        line-height: 17px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .homeBtn {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        background-color: var(--primary);
        font-size: 16px;
        bottom: 0;
        width: 30px;
        text-align: center;
        line-height: 30px;

        i {
          top: 50%;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white;
        }
      }
    }
  }

  .contentCard{
    &.progressWidgets{
      #course-statistics{
        >.row{
          margin: 0 -15px;
        }
      }
    }
  }
  .courseMainHeader {
    .dropdown-menu{
      top: 22px !important;
    }
  }
}

.nav {
  li {
    a { letter-spacing: 0.02em;}
  }
}

@include media-breakpoint-down(lg) {
  .courseNavWrap {
    position: relative;

    .courseNav {
      display: block;
      white-space: nowrap;
    }
  }
}

@include media-breakpoint-up(md) {
  header {
    .container {
      padding: 0;
    }
  }
}
