@mixin absolute-100{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin clearfix{
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

@mixin font-spec(
  $size: 10,
  $weight: normal,
  $line-spacing: $size){
  // first value to fall-back for browsers that don't support rems
  // second value for browsers that do support rems
  font-size: $size + px;
  font-size: rem-calc($size);
  font-weight: boldness($weight);
  line-height: $line-spacing + px;
  line-height: rem-calc($line-spacing);
}

@mixin square-size(
  $size: 40px){
  width: $size;
  height: $size;
}

// Flip Horizontal

@mixin flip-x-axis{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

// PaddingLR

@mixin paddinLR($value){
  padding-left: $value;
  padding-right: $value;
}

// Text overflow ellipsis

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue / 16) + rem;
}

@mixin transition() {
  transition: .35s;
}

@mixin focus-outline() {
  outline: 2px solid var(--secondary);
}

// Gradient for the Login Page's Background
@mixin login-gradient() {
  background-color: #051C2C;
  background: linear-gradient(135deg, #051C2C 60%, #03339C 100%);
  background: -webkit-linear-gradient(-45deg, #051C2C 60%, #03339C 100%);
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

@mixin login-gradient-rtl() {
  background-color: #051C2C;
  background: linear-gradient(250deg,#051C2C 60%,#03339C 100%);
  background: -webkit-linear-gradient(250deg,#051C2C 60%,#03339C 100%);
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
