.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    a {
      font-weight: 600;
      @include font-size(12);
      text-transform: uppercase;
      letter-spacing: 0.9px;
      color: var(--primary);
      @include transition();
      &.active {
        color: $smoke-gray;
      }
    }

    &.tertiary {
      li {
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.dropdown-menu {
  .sub-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      a {
        color: var(--primary);
        font-size: 0.75rem;
        letter-spacing: 0.02em;
        line-height: 17px;
        background: inherit;
        border-top: 1px solid #EBEBEB;
        padding: 12px 0;
        display: block;
      }
    }
  }
}

