
body{
  font-size: $body-font;
  background-color: $ash-white;
  font-family: $body-font-family;
}
a{
  color: $link-blue;
  &:hover{
    color: $link-blue;
    text-decoration: underline;
  }
}

@mixin heading1() {
  font-size: 42px;
  font-weight: 300;
}

@mixin heading2() {
  font-size: 32px;
  font-weight: 300;
}

@mixin heading3() {
  font-size: 24px;
  font-weight: 300;
}

@mixin heading4() {
  font-size: 18px;
  font-weight: 300;
}

@mixin heading5() {
  font-size: 12px;
  font-weight: 300;
}

