/****** IGNORE ******/

.inputFileWrap {
  position: relative;
  .error{
    color: $bg-white-red;
    font-size: 12px;
    margin:10px 0 0;
    i{
      font-size: 20px;
      vertical-align: middle;
    }
  }
}

.file-upload {
  .file-select {
    .file-select-button {
      font-weight: 600;
      font-size: 12px;
      height: 40px;
      border-radius: 2px;
      text-transform: uppercase;
      line-height: 1.83;
      letter-spacing: 0.5px;
      text-align: center;
      padding: 0 20px;
      display: inline-block;
      vertical-align: middle;
      background-color: #2042cb;
      border-color: #2042cb;
      color: $white;
      line-height: 40px;
      cursor: pointer;
      position: relative;
      //z-index: 99;
      &:hover {
        background-color: $dark-blue;
        border-color: $dark-blue;
      }
    }
    .file-select-name {
      color: $gray;
      font-size: 14px;
      line-height: 19px;
      margin: 0 0 0 15px;
      display: inline-block;
      vertical-align: middle;

    }
    &:hover {
      .file-select-button {
      }
    }
    input[type=file] {
      cursor: pointer;
      position: absolute;
      height: 42px;
      max-width: 220px;
      width: inherit;
      top: 0;
      left: 0;
      opacity: 0;z-index: 99;
      filter: alpha(opacity=0);
      &:hover{
        & + .file-select-button{
           background-color: $dark-blue;
        border-color: $dark-blue;
        }
      }
    }
  }
  .file-select.file-select-disabled {
    opacity: 0.65;
    &:hover {
      cursor: default;
      display: block;
      border: 2px solid #dce4ec;
      color: #34495e;
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      margin-top: 5px;
      text-align: left;
      background: #FFFFFF;
      overflow: hidden;
      position: relative;
      .file-select-button {
        font-weight: 600;
        font-size: 12px;
        height: 40px;
        border-radius: 2px;
        text-transform: uppercase;
        line-height: 1.83;
        letter-spacing: 0.5px;
        text-align: center;
        padding: 0 20px;
        display: inline-block;

        //background: #dce4ec;
        //color: #666666;
        //padding: 0 10px;
        //display: inline-block;
        //height: 40px;
        //line-height: 40px;
      }
      .file-select-name {
        line-height: 40px;
        display: inline-block;
        padding: 0 10px;
      }
    }
  }
}

.file-upload.active {
  .file-select {
    //border-color: $bg-white-green;
    border-color: $secondary;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    .file-select-button {
      //background: $bg-white-green;
      background: $secondary;
      color: #FFFFFF;
      transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
    }
  }
}

//}