// Slider navigations for small screens

* {
  box-sizing: inherit;
}

.courseNavWrap {
  pointer-events: none;

  &.nav-active {
    z-index: 9999 !important;
    .pn-ProductNav {
      overflow-x: hidden;
    }
  }

  * {
    pointer-events: none;

    .pn-ProductNav,
    .dropdown-menu,
    .pn-Advancer,
    .mainNav {
      pointer-events: all;

      * {
        pointer-events: all;
      }
    }
  }
}

.pn-ProductNav {
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */

  @media screen and (max-width: 992px) {
    /* Make this scrollable when needed */
    overflow-x: auto;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
  }
  .js & {
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Remove the default scrollbar for WebKit implementations */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  /* positioning context for advancers */
  position: relative;
  // Crush the whitespace here
  font-size: 0;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.pn-ProductNav_Contents {
  transition: transform .2s ease-in-out;
}

.pn-ProductNav_Contents-no-transition {
  transition: none;
}

.pn-ProductNav_Link {
  &[aria-selected="true"] {
    color: #2E2D39;
  }
}

.pn-Advancer {
  /* Reset the button */
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  padding: 0 10px;
  background: #f3f4f6;
  &:focus {
    outline: 0;
  }
  &:hover {
    cursor: pointer;
  }
  /* Now style it as needed */
  position: absolute;
  top: -1px;
  bottom: 0;
  /* Set the buttons invisible by default */
  opacity: 0;
  transition: opacity .3s;
}

.pn-Advancer_Left,
.pn-Advancer_Right {
  z-index: 99;
}

.pn-Advancer_Left {
  left: 0;
  [data-overflowing="both"] ~ &,
  [data-overflowing="left"] ~ & {
    opacity: 1;
  }
}

.pn-Advancer_Right {
  right: 0;
  [data-overflowing="both"] ~ &,
  [data-overflowing="right"] ~ & {
    opacity: 1;
  }
}

.pn-Advancer_Icon {
  width: 7px;
  height: 25px;
  fill: var(--primary);
}

.pn-ProductNav_Indicator {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100px;
  background-color: transparent;
  transform-origin: 0 0;
  transition: transform .2s ease-in-out, background-color .2s ease-in-out;
}

@include media-breakpoint-down(md) {
  .courseNavWrap {
    &.nav-active {
      .pn-ProductNav {
        padding-bottom: 502px !important;
        margin-bottom: -500px !important;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .courseNavWrap {
    &.nav-active {
      .pn-ProductNav {
        position: static;
      }
      .mainNav {
        ul {
          li {
            &.hasDropdown {
              position: inherit;
            }
            .dropdown-menu {
              width: 100%;
              max-width: 100%;
              &:after {
                display: none;
              }
            }
            > a {
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
    .mainNav {
      ul {
        li {
          &.hasDropdown {
            position: relative;
            > a {
              > span {
                position: relative;
                &:after {
                  position: absolute;
                  top: -9px;
                  content: "";
                  width: 20px;
                  height: 10px;
                  background: url(../image/dropdown-arrow.png) no-repeat;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  #course-progress-new {
    table {
      tbody {
        tr {
          td {
            .lesson-with-list {
              .dropdown-menu {
                width: 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .appHeader {
    .topRightArea {
      .headerNav{
        &.nav-active{
         >ul{
          >li {
            position: inherit;
            &.active{
             position: inherit;
            >a{
              &:before{
              display: none;
            }
            }
            }
          }
        }
        }
      }
    }
  }
}