body, html{
  position: relative;
  min-height: 100%;
  min-width: 320px;
}


//Add max-width of container for large screens
@include media-breakpoint-up(lg){
  .container{ max-width: 1244px;}
}


// Browser select text color
//*::selection {
//  background: $primary;
//  color: $white;
//}
//*::-moz-selection {
//  background: $primary;
//  color: $white;
//}