body, html{
  position: relative;
  min-height: 100%;
  min-width: 320px;
}


.row{
  >.col{
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }
}

//Add max-width of container for large screens
@include media-breakpoint-up(lg){
  .container{ max-width: 1244px;}
}

// Letter spacing for IE11

*{
  letter-spacing: 0;
}
