//for adventure and simulation
@import '../base/variables';
@import '../base/buttons';

body.new-theme {
    [data-block-type="adventure"] {
        .adventure {
            .info {
                font-size: 1rem;
            }

            .step-body {
                border: 1px solid $border_color_1;

                .step-child {
                    &.ooyala-child{
                        margin-bottom: 35px;
                    }
                    .questionnaire {
                        .choices-list {
                            .choice-selector {
                                input[type="radio"] {
                                    height: auto;
                                }
                            }

                            .choice-label {
                                padding-left: 12px;
                                margin-top: -2px;
                            }
                        }
                    }
                }

                .navigation-view {
                    .navigation-back-next-buttons {
                        .navigation-next {

                            @include primary-button;

                            &:enabled {
                                cursor: pointer;

                                &:hover,
                                &:active {
                                    @include primary-button-hover;
                                }
                            }

                            &:disabled {
                                background-color: $gray;
                                color: $light-gray;
                                cursor: default;
                            }
                        }

                        .navigation-back {

                            @include secondary-button;

                            &:enabled {
                                cursor: pointer;

                                &:hover,
                                &:active {
                                    @include secondary-button-hover;
                                }
                            }

                            &:disabled {
                                background-color: $gray;
                                color: $light-gray;
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    body.new-theme {
        [data-block-type="adventure"] {
            .adventure {
                .step-body {
                    .step-child {
                        .questionnaire {
                            .choices-list {
                                .choice-label {
                                    margin-top: -5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}