@import 'vars/variables';
@import 'mixins/mixins';
@import 'core/reset';
@import 'core/core';
@import 'form/checkbox';
@import 'form/radiobutton';
@import 'common/buttons';



.new-theme {
    [data-block-type="step-builder"] {

        // Title

        .question-title {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 25px;
        }

        // UL Generic Styling
        ul {

            padding: 0;
            margin: 20px 0 20px 25px;
            line-height: 26px;
            @include font-size(14);

            ul {
                padding: 0;
                margin: 0;
            }

            &.review-list {
                margin: 5px 0 10px;
            }
        }

        // Set button right margin incase of 2 buttons

        input[type="button"] {
            margin-right: 6px;
            // display: inline-block;
            border: 1px solid transparent;
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }

            @media (max-width: 575.98px) {
                margin-right: 0;
            }
        }

        // Add vertical Spacing for image in assessment block.

        img {
            margin: 20px 0;
        }

        // Grade Display

        .sb-review-score {
            margin-left: 0;
            margin-top: 25px;
        }

        .assessment-checkmark {
            margin-top: 4px;

            &.checkmark-partially-correct {
                &::before {
                    font-family: 'Material Icons';
                    content: '\e644';
                    @include font-size(24);
                }
            }

            &.checkmark-correct {
                &::before {
                    font-family: 'Material Icons';
                    content: '\e86c';
                    @include font-size(24);
                    color: $bg-white-green;
                }
            }

            &.checkmark-incorrect {
                &::before {
                    font-family: 'Material Icons';
                    content: '\e000';
                    @include font-size(24);
                    color: $bg-white-red;
                }
            }


        }

        .step-overall-checkmark {
            &::before {
                position: relative;
                top: 3px;
                left: -15px;
            }

            &.checkmark-partially-correct {
                &::before {
                    font-family: 'Material Icons';
                    content: '\e644';
                    @include font-size(24);
                }
            }

            &.checkmark-correct {
                &::before {
                    font-family: 'Material Icons';
                    content: '\e86c';
                    @include font-size(24);
                    color: $bg-white-green;
                }
            }

            &.checkmark-incorrect {
                &::before {
                    font-family: 'Material Icons';
                    content: '\e000';
                    @include font-size(24);
                    color: $bg-white-red;
                }
            }
        }



        .grade-result {
            h4 {
                @include font-size(24);
                font-weight: 300;
                margin-bottom: 15px;
            }
        }
    }

    .choice-result {
        &::before {
            position: relative;
        }
    }

    .review-link {
        display: block;
        text-align: right;
        margin-top: 15px;
    }

    .assessment-question-block {
        .submit {
            padding-left: 30px;
            position: relative;
            .step-overall-checkmark {
                background: transparent !important;
                display: none;
                position: absolute;
                left: -3px;
                top: -2px;
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                    top: 3px;
                    left: -13px;
                }
            }
        }
    }
}

// RTL

.rtl {
    &.new-theme {

        [data-block-type="step-builder"] {
            .step-overall-checkmark {
                float: right !important;
            }

            .assessment-checkmark {
                float: right !important;
                margin-right: 0 !important;
                margin-left: 10px !important;
            }

            .results-section {
                margin-left: 0;
                margin-right: 50px;
            }

            input[type="button"] {
                margin-right: 0 !important;
                margin-left: 6px;

                &:last-child {
                    margin-left: 0;
                }
                @media (max-width: 575.98px) {
                    margin-left: 0;
                }
            }

        }
    }
}