@import 'vars/variables';
@import 'mixins/mixins';
@import 'core/reset';
@import 'core/core';
@import 'form/checkbox';
@import 'form/radiobutton';
@import 'common/buttons';



.new-theme
{
    [data-block-type="step-builder"]
    {

        // Title

        .question-title
        {
            @include font-size(24);
            font-weight: 300;
            margin-bottom: 25px;
        }

      

        // UL Generic Styling
        ul
        {
           
            padding: 0;
            margin: 20px 0 20px 25px;
            line-height: 26px;
            @include font-size(14);

            ul
            {
                padding:0;
                margin:0;
            }

            &.review-list
            {
                margin: 5px 0 10px;
            }

        }

        

         // Set button right margin incase of 2 buttons

        input[type="button"]
        {
            margin-right:11px;
            display:inline-block;
            @media screen and (max-width: 480px) {
                margin-right:3px;
            }
        }


        // Add vertical Spacing for image in assessment block.

        img
        {
            margin:20px 0;
        }

        // Grade Display

        .sb-review-score
        {
            margin-left:0;
            margin-top: 25px;
        }

        .checkmark-partially-correct
        {
            &::before
            {
                font-family: 'Material Icons';
                content: '\e002';
                @include font-size(24);
                position: relative;
                top:-3px;
            }
        }

        .checkmark-incorrect {
            color: $bg-white-red;

            &::before {
                font-family: 'Material Icons';
                content: '\e5c9';
                @include font-size(24);
                position: relative;
                top:-3px;
            }
        }

        .checkmark-correct::before {
            color: $bg-white-green;
            font-family: 'Material Icons';
            content: '\e86c';
            @include font-size(24);
            position: relative;
                top:-3px;
        }
        
        .grade-result
        {
            h4
            {
                @include font-size(24);
                font-weight: 300;
                margin-bottom: 15px;
            }
        }

        .submit
        {
            .step-overall-checkmark
            {
                position: relative;
                top: 12px;
            }
        }

        


    }

    .review-link
    {
        display:block;
        text-align: right;
        margin-top: 15px;
    }   
}

// RTL

.rtl
{
    &.new-theme
    {
        .assessment-checkmark, .step-overall-checkmark
        {
            float: right!important;
            margin-right: 0 !important;
            margin-left:10px;
        }


        .choice-tips-container 
        {
            .choice-tips
            {
                padding: 15px 40px 15px 15px;
            }
        }


        .results-section
        {
            margin-right: 50px;
            margin-left: 0;
        }

        input[type="button"]
        {
            margin-right:0!important;
            margin-left:10px !important;
            @media screen and (max-width: 480px) {
                margin-left:3px!important;
            }

        }
    }
}