.new-theme{
    // these changes by murad in apros so I have removed from there and added here --- shahid
    .bc-player-default_default .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
        font-size: inherit;
        margin: 0;    
    }
    
    // if video is found inside the xBlock

    [data-block-type="ooyala-player"]{
        .video-js{
            width: 100% ;
            height: 650px !important;
            
            // for iPad Landscape
        
            @media only screen and (max-device-width : 1024px)  { 
                height: 485px !important;
            }

            // for iPad Portrait

            @media only screen and (max-device-width : 768px) { 
                height: 415px !important;
            }

            // for Mobile Devices

            @media only screen and (max-device-width : 767px) { 
                height: 194px !important;
            }
        }
    }

    // if the video is complimentery

    table{
        tr{
            td{
                .video-js{
                    @media only screen and (max-device-width : 1024px)  { 
                        width: 100% !important;
                        height: 236px !important;
                    }
            
                    @media only screen and (max-device-width : 768px) { 
                        height: 202px !important;
                    }
                    
                    @media only screen and (max-device-width : 767px) { 
                        height: 194px !important;
                    }
                }
            }
        }
    }

    .video-js{
        
        @media only screen and (max-device-width : 767px) { 
            width: 100% !important;
            height: 192px !important;
        }
    }
}