// Overrides for chat:
@import '../base/variables';

@mixin chat-mobile-only{
  @media screen and (max-width: 767px){
    @content;
  }
}

//To fix padding of xblock in native apps
.course-wrapper {
  main {
    padding: 0 10px !important;
    .chat-wrapper {
      .chat-block {
        .main-area {
          max-height: calc(100vh - 60px) !important;
        }
        .actions {
          margin: 20px !important;
        }
      }
    }
  }
}

// The image rotation in chat doesn't work correctly so have to overwrite the CSS
.chat-block .image-overlay img{
  position: absolute !important;
  max-width: 100% !important;
  max-height: calc(100% - 96px) !important;
  transform: translate(-50%, -50%) !important;
  width: auto !important;
  height: 1000px !important;
  top: calc(50% + 50px) !important;
  left: 50% !important;
}
@include chat-mobile-only{
  .chat-block {
        width: 100% !important;
        height: 100% !important;
    }

    .main-area {
        max-height: calc(100vh - 130px) !important;
    }

    .chat-block .messages {
        padding: 10px 0 0 0 !important;
    }

    .chat-block .restart-button {
        padding-bottom: 0;
        padding-right: 0;
    }
  
  //Removing offset of image from top as for mobile views, there is no topbar
  .chat-block .image-overlay img{
    max-height: 100% !important;
    top: 50% !important;
  }
}
