// Common overrides for xblocks:
@import '../base/variables';

body.new-theme {

    .discussion-content,
    .lesson-content {
        font-family: $body-font-family !important;

        * {
            outline: none !important;

            &:focus,
            &:active {
                outline: none !important;
            }
        }

        .icon {
            display: inline-block;
            color: currentColor;
            height: auto;
            width: auto;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }
    }

    .lesson-content {
        .themed-xblock {

            input[type="button"],
            button {
                background-color: var(--primary);
                border-radius: 2px;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 0.5px;
                font-weight: 600;
                height: 40px;
                padding: 0 20px;
                color: $white;
                cursor: pointer;

                &:hover {
                     background-color: $dark-blue;
                }

                &:disabled {
                    background-color: $gray;
                    color: $light-gray;
                    cursor: default;
                }
            }
        }
    }
}

.controls{
    .page-to.previous{
        left: 5% !important;
        margin-left: 0 !important;
    }
    .page-to.next{
        right: 5% !important;
        margin-right: 0 !important;
    }
}
