// Common overrides for xblocks:
@import '../base/variables';

body.new-theme {

    .discussion-content,
    .lesson-content {
        font-family: $body-font-family !important;

        * {
            outline: none !important;

            &:focus,
            &:active {
                outline: none !important;
            }
        }

        .icon {
            display: inline-block;
            color: currentColor;
            height: auto;
            width: auto;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }
    }

    .lesson-content {
        .themed-xblock {

            input[type="button"],
            button {
                //@include primary-theme-background-color;
                background-color: var(--primary);
                border-radius: 2px;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 0.5px;
                font-weight: 600;
                height: 40px;
                padding: 3px 15px;
                color: $white;
                cursor: pointer;
                border: 0;
                transition: .35s;
                box-shadow:inset 0 0 0 30px rgba(0,0,0,0); 

                &:hover {
                    box-shadow:inset 0 0 0 30px rgba(0,0,0,0.3); 
                }

                &:disabled {
                    background-color: $gray;
                    color: $light-gray;
                    cursor: default;
                    box-shadow:inset 0 0 0 30px rgba(0,0,0,0); 
                }
            }
        }
    }

    legend.question
    {
        >ul, >ol
        {
            margin: 20px 40px;
        }
    }


}

.controls{
    .page-to.previous{
        left: 5% !important;
        margin-left: 0 !important;
    }
    .page-to.next{
        right: 5% !important;
        margin-right: 0 !important;
    }
}
