// Common overrides for xblocks:
@import '../base/variables';

.lesson-content {
    .themed-xblock {
        input[type="button"],
        .lesson-content button {
            background-color: #2042CB;
            border-radius: 2px;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 0.67px;
            font-weight: 600;
            &:disabled{
                background-color: #696969;
                color: #EEEEEE;
            }
        }
    }
}