// Imports 

@import 'vars/variables';
@import 'mixins/mixins';
@import 'core/reset';
@import 'core/core';
@import 'form/checkbox';
@import 'form/radiobutton';
@import 'common/buttons';

// Styling

.new-theme {

	.diagnostic-feedback {
		.wizard {
			>.content {
				border-radius: 0;
				margin: 0;

				>.body {
					padding: 30px;

					.response_body {
						margin: -30px;
					}
				}

				@media screen and (max-width: 480px) {
					//height: auto!important;
				}
			}
		}

		.actions {
			text-align: left !important;

			ul {
				margin: 20px 0;
				text-align: left;

				li {
					margin: 0 !important;

					a {
						font-weight: 600;
						font-size: 12px;
						height: 40px;
						border-radius: 2px;
						text-transform: uppercase;
						line-height: 40px;
						letter-spacing: 0.5px;
						text-align: center;
						padding: 0 20px;
						background-color: var(--primary);
						transition: .35s;
						margin-right: 15px;
						box-shadow:inset 0 0 0 30px rgba(0,0,0,0);

						&:hover {
							background-color: var(--primary);
							padding: 0 20px;
							border-radius: 2px;
							box-shadow:inset 0 0 0 30px rgba(0,0,0,0.3);
						}

						&:disabled {
							background: $gray;
							opacity: 1;
							border-color: $gray;
							cursor: not-allowed;
							color: $white;
							box-shadow:inset 0 0 0 30px rgba(0,0,0,0);

							&:hover {
								background: $gray;
								opacity: 1;
								border-color: $gray;
								cursor: not-allowed;
								color: $white;
								box-shadow:inset 0 0 0 30px rgba(0,0,0,0);
							}
						}
					}

					&.disabled {
						a {
							background: $gray !important;
							opacity: 1;
							border-color: $gray;
							cursor: not-allowed;
							color: $white !important;
							box-shadow:inset 0 0 0 30px rgba(0,0,0,0);

							&:hover {
								background: $gray !important;
								opacity: 1;
								border-color: $gray;
								cursor: not-allowed;
								color: $white !important;
								box-shadow:inset 0 0 0 30px rgba(0,0,0,0);
							}
						}
					}
				}
			}
		}
	}



	[data-block-type="diagnostic-feedback"] {

		.q-container {
			.question-title {
				font-size: 12px;
				font-weight: bold;
				margin-bottom: 15px;
			}

			.quiz-question {
				padding-top: 0;

				p {
					margin-bottom: 10px;
				}
			}

			.user-answers {
				padding-left: 0;

				input[type="radio"] {
					position: absolute;
					opacity: 0;

					+label {
						padding-left: 0;

						p {
							display: inline-block;
							margin: 0;
							@include font-size(14);
							width: calc(100% - 30px);
						}

						&:before {
							font-family: 'Material Icons';
							content: '\e836';
							display: inline-block;
							width: 18px;
							height: 18px;
							@include font-size(18);
							line-height: normal;
							cursor: pointer;
							position: relative;
							top: 4px;
    						margin-right: 5px;
						}
					}

					&:checked {
						+label {
							&:before {
								content: '\e837';
							}
						}
					}

					&:focus {
						+label {
							&:before {
								outline: none;
								color: $black;
							}
						}
					}

					&:disabled {
						+label {
							&:before {
								content: '\e837';
								color: $black;
								opacity: .5;
							}
						}
					}

					+label {
						&:empty {
							&:before {
								margin-right: 0;
							}
						}
					}
				}

				br {
					display: none;
				}
			}
		}
	}

	[data-block-type="pb-mcq"],[data-block-type="pb-mrq"] {
		h4.question-title {
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.questionnaire {
			legend.question {
				@include font-size(16);
			}
		}
	}

	[data-block-type="adventure"]
	{
		.questionnaire
		{
			.question
			{
				h3.question-title {
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
				}
				p
				{
					margin-bottom: 0;
				}
			}
		}

		.navigation-view
		{
			margin-bottom: 20px;
			.navigation-back-next-buttons
			{
				text-align:left!important;
				button
				{
					margin-right: 10px;
				}

			}
		}
		
	}
}

// RTL

.rtl {
	&.new-theme {
		[data-block-type="diagnostic-feedback"] {
			.user-answers {
				padding-right: 0;
				padding-left: 20px;

				input[type="radio"] {
					+label {
						&:before {
							margin-right: 0;
							margin-left: 5px;
						}
					}
				}
			}
		}

		.actions {
			text-align: right!important;
			ul {

				li {
					a {
						margin-right: 0;
						margin-left: 15px;
					}
				}
			}
		}
	}
}
