// Imports 

@import 'vars/variables';
@import 'mixins/mixins';
@import 'core/reset';
@import 'core/core';
@import 'form/checkbox';
@import 'form/radiobutton';
@import 'common/buttons';

// Styling

.new-theme {




	[data-block-type="diagnostic-feedback"] {


		.q-container {
			.question-title {
				@include font-size(24);
				font-weight: 300;
				margin-bottom: 15px;
			}

			.quiz-question {
				padding-top: 0;
			}

			.user-answers {
				padding-left: 0;

				input[type="radio"] {
					position: absolute;
					opacity: 0;

					+label {
						padding-left: 0;

						p {
							display: inline-block;
							margin: 0 0 15px;
							@include font-size(14);
						}

						&:before {
							content: '';
							background: $white;
							border-radius: 100%;
							border: 2px solid $black;
							display: inline-block;
							width: 18px;
							height: 18px;
							position: relative;
							top: 4px;
							margin-right: 5px;
							vertical-align: top;
							cursor: pointer;
							text-align: center;
							transition: all 250ms ease;
						}
					}

					&:checked {
						+label {
							&:before {
								background-color: $black;
								border-color: $black;
								box-shadow: inset 0 0 0 2px $white;
							}
						}
					}

					&:focus {
						+label {
							&:before {
								outline: none;
								border-color: $black;
							}
						}
					}

					&:disabled {
						+label {
							&:before {
								box-shadow: inset 0 0 0 2px $white;
								border-color: $black;
								background: $black;
								opacity: .5;
							}
						}
					}

					+label {
						&:empty {
							&:before {
								margin-right: 0;
							}
						}
					}
				}
				br
				{
					display: none;
				}
			}
		}
	}
}