// Overrides for Drag and Drop v2:
@import '../base/variables';

@mixin dnd-mobile-only {
    @media screen and (max-width: 480px) { // Match the breakpoint used in the drag and drop XBlock's own CSS
        @content;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Overrides that we want on Apros (desktop + mobile web) and native apps (webviews):
/////////////////////////////////////////////////////////////////////////////////////////////////////////////
.themed-xblock.xblock--drag-and-drop {
    .drag-container, .target-img-wrapper, .actions-toolbar {
        /* Disallow selection on mobile, which causes problematic menu popups during drag and drop*/
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .actions-toolbar{
        // Submit button and remaining attempts
        .submit-answer-button{
            background-color: $mckinsey-success-green;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .attempts-used{
          margin-top: 8px;
        }
        .sidebar-button-wrapper{
          border: 0 !important;
        }
    }
}

.themed-xblock.xblock--drag-and-drop {
    // Hide the text at the top that says e.g. "1 point possible (ungraded)" (MCKIN-6169)
    .problem-progress {
        display: none;
    }
    // Don't display a border around the feedback text that appears below the drag and drop exercise (MCKIN-6169)
    .feedback p {
        border: none;
    }
    // Sidebar buttons active and disabled states
    .sidebar-buttons{
        padding-top: 0 !important;
        button {
            background-color: transparent !important;
            border: 1px solid white !important;
            color: white;
            font-size: 12px !important;
            font-weight: 600;
            &:disabled{
                background-color: #566a85 !important;
                color: #8094af;
                border: 0 !important;
            }
        }
    }

    .feedback p::before {
        display: none;
    }

    .keyboard-help-button {
        display: none;
    }
}


/* Align the Reset button to the right on mobile (non-McKinsey version has it left on mobile, right on desktop) */
.ltr .themed-xblock.xblock--drag-and-drop .actions-toolbar .action-toolbar-item.sidebar-buttons {
    float: right;
    padding-right: -5px;
    padding-top: 5px;
}
.rtl .themed-xblock.xblock--drag-and-drop .actions-toolbar .action-toolbar-item.sidebar-buttons {
    float: left;
    padding-left: -5px;
}

@include dnd-mobile-only {
    /* Don't display "Keyboard Help" on mobile devices that don't have keyboards anyways */
    .themed-xblock.xblock--drag-and-drop .keyboard-help-button {
        display: none;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Overrides that we want on Apros (desktop + mobile web) only:
/////////////////////////////////////////////////////////////////////////////////////////////////////////////
.lesson-content .themed-xblock.xblock--drag-and-drop // .lesson-content is specific to Apros
{
    // In Apros, the popups should always have a blue color, whether they're right or wrong (MCKIN-6169)
    .popup, .popup.popup-incorrect {
        background-color: $mckinsey-royal-blue;
    }

    .popup .close-feedback-popup-desktop-button{
        &:focus{
            outline: none;
        }
        span.text{
            // .fa class carry font-awesome but as the button has a text so font-family should be open-sans
            font-family: "Open Sans", sans-serif;
            font-size: 11px;
            padding: 10px 14px;
            min-width: 155px;
            &:after{
                font-family: "fontawesome";
                top: 5px;
            }
        }
    }

    .fa-remove:before, .fa-close:before, .fa-times:before{
        // the cross icon is bit bolder so changing the content for a thinner icon
        content: '\2715';
    }

    .fa-check:before{
        // The tick icon is a bit bolder so changing the content for a thinner icon
        content: '';
        position: absolute;
        left: 15px;
        top: 9px;
        right: 0;
        bottom: 0;
        width: 10px;
        height: 18px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .popup .popup-header-icon .fa{
        // Icon background is always green color no matter the answer is true or false
        background-color: $mckinsey-success-green;
        color: white;
        position: relative;
        line-height: 42px;
    }

    .popup.popup-incorrect .popup-header-icon .fa{
        // Wrong anwer icon is red
        background-color: $mckinsey-danger-red;
    }

    // Apros mobile web overrides:
    @include dnd-mobile-only {
        // Fix positioning of feedback popups in Apros mobile web (https://github.com/mckinseyacademy/mcka_apros/pull/1715):
        // Without this fix, they overlap with the apros header
        .popup {
            max-height: calc(100vh - 210px);
            top: 150px;
            transform: translateX(-50%);
        }
        // Feedback popups should always be white on mobile web:
        .popup, .popup.popup-incorrect {
            background-color: #fff;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Overrides that we want in the native mobile apps (webviews) only:
/////////////////////////////////////////////////////////////////////////////////////////////////////////////
@include dnd-mobile-only { .course-wrapper.chromeless .themed-xblock.xblock--drag-and-drop {
    // For the native mobile apps, there are some style overrides:
    // TBD - what MCKIN ticket were these for?
    .drag-container {
        background-color: #f7f7f7;
        padding: 15px;
    }

    .drag-container .item-bank {
        border: 0;
    }

    // Give the draggables a white background and blue text:
    .option {
        margin: 5px 7px 5px 0;
        background-color: #fff;
        font-weight: 600;
        color: #193c56
    }

    .popup .popup-header-icon {
        height: 32px;
        position: relative;
        margin-top: 10px;
    }

    .popup .popup-header-icon span:before {
        content: "\f058";
        position: absolute;
        left: 50%;
        top: 7px;
        transform: translateX(-50%);
        width: 26px;
        height: 26px;
        color: #629a2c;
        font-family: 'FontAwesome';
    }

    .popup .popup-content p {
        color: #629a2c;
    }

    .popup .popup-content.popup-content-incorrect p {
        color: #ff143e;
    }

    .popup button[class*="close"] span {
        font-size: 16px;
        font-weight: bold;
    }

    .popup .popup-header-icon-incorrect span:before {
        content: "\f06a";
        color: #ff143d;
    }

    //Drag & Drop list indentation
    ul{
        margin-left: 20px;
        padding: 0;
    }

    //To normalize extra indentation of nested list as it is being in use at number of places and a bit difficult
    //task to relocate all the <ul><ul></ul></ul> structure to make it a valid markup. Issue # MCKIN-6959
    ul > ul{
        margin-left: 0;
        padding: 0;
    }
}}
