.new-theme {
    [data-type="HTMLModule"] {

        // Ul

        ul {
            margin: 20px 0 20px 40px;

            >ul {
                margin: 0;
            }

            li {
                ul {
                    margin-left: 15px;
                }
            }
        }

        // table

        table {
            margin-bottom: 15px;
            tr {
                td {
                    @media (max-width: 767.98px) {
                        padding: 10px 0;
                        img {
                            width: 100%;
                        }
                        ul{
                            margin: 10px 0 10px 30px;
                            >ul {
                                margin: 0;
                            }
                            li {
                                ul {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Paragraph

        p {
            @media screen and (max-width: 767px) {
                padding-left: 2px;
                padding-right: 2px;
            }
        }
    }

    &.rtl {
        [data-type="HTMLModule"] {
            // Ul

            ul {
                margin: 20px 40px 20px 0;

                li {
                    ul {
                        margin-right: 15px;
                        margin-left: 0;
                    }
                }
            }

        }
    }
}