.new-theme {
    [data-type="HTMLModule"] {

        // Ul

        ul {
            margin: 20px ;

            >ul {
                margin: 0;
                padding-left: 20px;
            }

            li {
                ul {
                    margin-left: 15px;
                }
            }
        }


        // OL

        ol {
            margin: 20px;

            >ol {
                margin: 0;
                padding-left: 20px;
            }

            li {
                ol {
                    margin-left: 15px;
                }
            }
        }

        // table

        table {
            margin-bottom: 15px;

             // Tablet
             @media only screen and (max-device-width : 1024px)  { 
                table-layout: fixed;
            }

            tr {
                td {
                    padding: 10px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                    
                    // Mobile
                    @media (max-width: 767px) {
                        padding: 10px 0;
                        img {
                            width: 100%;
                        }
                        ul{
                            margin: 10px 0 10px 30px;
                            >ul {
                                margin: 0;
                            }
                            li {
                                ul {
                                    margin-left: 10px;
                                }
                            }
                        }

                        //OL

                        ol{
                            margin: 10px 0 10px 30px;
                            >ol {
                                margin: 0;
                            }
                            li {
                                ol {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Paragraph

        p {
            @media screen and (max-width: 767px) {
                padding-left: 2px;
                padding-right: 2px;
            }
        }
    }

    &.rtl {
        [data-type="HTMLModule"] {
            // Ul

            ul {
                margin: 20px;
                >ul {
                    margin: 0;
                    padding-right: 20px;
                }
                li {
                    ul {
                        margin-right: 15px;
                        margin-left: 0;
                    }
                }
            }

            ol {
                margin: 20px ;
                >ol {
                    margin: 0;
                    padding-right: 20px;
                }
                li {
                    ol {
                        margin-right: 15px;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}