// Overrides for Image Explorer V2:
@import '../base/variables';

@import "vars/variables";
@import "form/checkbox";
@import "form/radiobutton";
@import "mixins/mixins";
@import "common/buttons";

// New design of Image Explorer has different Blue & Magenta shades
// so we need to apply that colors in MCKA theme

.tutorial-wrapper {
  .tutorial-container {
    h3 {
      color: $mckinsey-royal-blue !important;
      margin-bottom: 20px;
    }

    a {
      color: $mckinsey-royal-blue !important;
      padding: 25px 0 10px !important;
    }
  }

  .tutorial-video {
    background-image: url("../images/IE_Instruction_Anim.gif") !important;
  }
}

body.new-theme {

  .lesson-content {
    .image-explorer-xblock-wrapper {
      margin-bottom: 20px;

      h2 {
        color: $black;
        font-size: 1.5rem;
      }

      .image-explorer-description {
        font-size: 0.875rem;

        .hint {
          font-style: italic;
        }
      }

      .image-explorer-wrapper {
        text-align: center;
        width: 100%;

        .image-explorer-hotspot {
          text-align: left;
          background-image: url(../../mcka-theme/images/hotspot-sprite.png);

          &:hover {
            background-position: 0 -41px;
          }

          &.visited {
            background-position: 0 -82px;

            &:hover {
              background-position: 0 -82px;
            }
          }

          .image-explorer-hotspot-reveal {
            background: $dark-gray;
            border-radius: 2px;

            .image-explorer-close-reveal {
              color: transparent;
              margin-right: 8px;
              margin-top: 0px;

              &:after {
                font-family: "Material Icons";
                content: "\e14c";
                color: $white;
                font-size: 1.125rem;
              }
            }

            .image-explorer-hotspot-content-wrapper {
              margin-top: 40px;

              .image-explorer-hotspot-reveal-header {
                font-size: 0.875rem;
                margin-bottom: 10px;
                display: inline-block;

                p {
                  margin: 0;
                  line-height: initial;
                }
              }

              .image-explorer-hotspot-reveal-body {
                font-size: 12px;

                ul {
                  padding-left: 5px;

                  li {
                    margin: 0 0 7px 17px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  body.new-theme {
    .lesson-content {
      .image-explorer-xblock-wrapper {
        .image-explorer-wrapper {
          .image-explorer-hotspot {
            width: 25px;
            height: 25px;        
            &:hover {
              background-position: 0 -25px;
            }

            &.visited {
              background-position: 0 -50px;

              &:hover {
                background-position: 0 -50px;
              }
            }

            .image-explorer-hotspot-reveal {
              width: 90% !important;
              height: 74% !important;
              top: 13%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}