// Overrides for Image Explorer V2:
@import '../base/variables';

@import "vars/variables";
@import "form/checkbox";
@import "form/radiobutton";
@import "mixins/mixins";
@import "common/buttons";

// New design of Image Explorer has different Blue & Magenta shades
// so we need to apply that colors in MCKA theme

.tutorial-wrapper {
  .tutorial-container {
    h3 {
      color: $mckinsey-royal-blue !important;
      margin-bottom: 20px;
    }

    a {
      color: $mckinsey-royal-blue !important;
      padding: 25px 0 10px !important;
    }
  }

  .tutorial-video {
    background-image: url("../images/IE_Instruction_Anim.gif") !important;
  }
}

body.new-theme {
  &.rtl {
    .image-explorer-description{
      text-align: right;
    }
    .image-explorer-close-reveal {
      right: auto !important;
      left: -5px;
    }

    .image-explorer-xblock-wrapper {
      .image-explorer-hotspot-reveal {
        .image-explorer-hotspot-content-wrapper {
          // padding-right: 10px;
          text-align: right;

          .image-explorer-hotspot-reveal-body {
            ul {
              margin-right: 15px !important;
            }
          }
        }
      }
    }

    // RTL Mobile
    @media only screen and (max-width: 767px){
      
      .image-explorer-hotspot-reveal{
        ul{
          padding-right: 10px;
        }
        .image-explorer-close-reveal {
          right: auto !important;
          left: -5px;
          top:-5px !important;
        }
      }

    }

  }

  .lesson-content {
    .image-explorer-xblock-wrapper {
      margin-bottom: 20px;
      text-align: center;

      h2 {
        color: $black;
        font-size: 1.5rem;
      }

      .image-explorer-description {
        font-size: 0.875rem;
        text-align: left;
        

        .hint {
          font-style: italic;
        }
      }

      .image-explorer-wrapper {
        text-align: center;

        .image-explorer-hotspot {
          text-align: left;
          background: transparent;
          border-radius: 22px;

          &:hover {
            &:before {
              @include primary-theme-content-color-hover;
            }
          }

          &.visited {
            &:before {
              content: "\e86c";
              @include primary-theme-content-color;
            }

            &:hover {
              &:before {
                @include primary-theme-content-color;
              }
            }
          }

          &:before {
            @include primary-theme-content-color;
            content: "\e147";
            font-family: "Material Icons";
            position: absolute;
            font-size: 32px;
            width: 23px;
            height: 23px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            line-height: 24px;
            text-indent: -5px;
            background: white;
            border-radius: 25px;
          }

          .image-explorer-hotspot-reveal {
            border-radius: 2px;
            background: $ash-white;
            border: 1px solid $popup-border;
            height: auto !important;

            .image-explorer-close-reveal {
              position: absolute;
              right: 6px;
              top: 0px;
              &::before {
                display: none;
              }

              &:after {
                font-family: "Material Icons";
                content: "\e14c";
                color: $gray;
                font-size: 1.125rem;
              }
            }

            .image-explorer-hotspot-content-wrapper {
              color: $black;
              margin: 30px;
              overflow: auto;
              height: auto;
              max-height: 300px;

              .image-explorer-hotspot-reveal-header {
                font-size: 0.875rem;
                margin-bottom: 5px;

                p {
                  margin: 0 0 15px 0 !important;
                  line-height: initial;
                  font-size: 0.875rem;
                }

                ul {
                  margin: 0 0 15px 0 !important;
                }
              }

              .image-explorer-hotspot-reveal-body {

                >ul,
                >li,
                >p,
                >span {
                  font-size: 14px;
                  color: $black;
                  line-height: 19px;
                }

                ul {
                  margin-bottom: 15px !important;

                  &.fa-ul {
                    list-style-type: none;
                  }
                }

                >h1,
                >h2,
                >h3,
                >h4,
                >h5,
                >h6 {
                  color: $black !important;
                }

                .ie-custom-div {
                  font-size: 14px;
                  line-height: 19px;
                  margin-bottom: 0;

                  ul,
                  li,
                  p,
                  span,
                  div {
                    font-size: 14px;
                    color: $black;
                    line-height: 19px;
                    margin-bottom: 0;
                  }

                  h1,
                  h2,
                  h3,
                  h4,
                  h5,
                  h6 {
                    color: $black !important;
                  }
                }

                >div:not(.ie-custom-div) {
                  margin-top: 3px;
                }

                a {
                  text-decoration: none;
                  @include primary-theme-content-color;
                }

                >ul {
                  padding-left: 5px;
                  margin: 5px 0;

                  li {
                    margin: 0 0 15px 17px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  body.new-theme {
    .lesson-content {
      .image-explorer-xblock-wrapper {
        .image-explorer-wrapper {
          .image-explorer-hotspot {

            &:before {
              font-size: 22px;
              width: 14px;
              height: 14px;
              line-height: 14px;

            }

            .image-explorer-hotspot-reveal {
              width: 100% !important;
              height: 74% !important;
              top: 13%;
              margin: 0 auto !important;
              max-height: none !important;

              .image-explorer-hotspot-content-wrapper {
                height: calc(100% - 60px);
                max-height: none;
                margin:30px 10px;
              }

              .oo-player-container {
                min-width: unset !important;
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}

.new-theme {
  [data-block-type="image-explorer"] {
    .image-explorer-wrapper {

      @media only screen and (max-width: 992px) {
        img {
          max-width: none;
          width: 100%;
          height: auto;
        }
      }

      .image-explorer-hotspot-reveal {
        background: white;
        opacity: 1;
        color: black;
        border-radius: 10px;
        box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);

        .image-explorer-hotspot-content-wrapper {
          margin: 15px;
        }

        .image-explorer-close-reveal {
          color: $primary;
          position: relative;
          font-size: 0;

          &::before {
            font-family: 'Material Icons';
            content: '\e5cd';

            font-size: 24px;
          }
        }
      }
    }
  }
}
