// Overrides for ooyala videos and supplymentary videos xblocks:
@import '../base/variables';

body.new-theme {


    /* desktop only  */
    @media (max-width: 767px) {
        .ooyala-player-xblock-wrapper {
            .p3sdk-container {
                .transcript-header {
                    .language-tracks {
                        ul {
                            li {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

        .ooyala-player-xblock-wrapper {
            .ooyala-player-container {
                .ooyalaplayer {
                    &.oo-player-container {
                        .oo-control-bar-items-wrapper {
                            .oo-playback-speed-container {
                                background-color: $mckinsey-primary-default-button !important;
                                border-radius: 2px !important;

                                &:hover,
                                &:active {
                                    background-color: $mckinsey-primary-hover-button !important;
                                }
                            }

                            .oo-popover-button-container {
                                background-color: $mckinsey-primary-default-button !important;
                                border-radius: 2px !important;

                                &:hover,
                                &:active {
                                    background-color: $mckinsey-primary-hover-button !important;
                                }
                            }
                        }
                    }
                }
            }

            .p3sdk-container {
                .p3sdk-interactive-transcript-collapse-visible {
                    a {
                        .transcript-toggle {
                            color: #2042cb;
                        }
                    }
                }

                .transcript-header {
                    .language-tracks {
                        ul {
                            li {
                                color: #2042cb !important;
                                font-size: 16px;
                                font-weight: 400;

                                &.selected {
                                    color: #2E2D39 !important;
                                }
                            }
                        }
                    }
                }

                .transcript-content {
                    padding-top: 20px;
                }
            }
        }
    }