//  Overrides for xblocks polls & surveys:
@import '../base/variables';

body.new-theme {
    .lesson-content {
        .themed-xblock {
            margin-bottom: 20px;

            .poll-header {
                font-size: 12px;
                color: $black;
            }

            .poll-container {
                .poll-question {
                    p {
                        font-size: 1rem;
                        color: $black;
                    }
                }

                .poll-answer {
                    input[type="radio"] {
                        height: auto;
                    }

                    .poll-answer-text {
                        padding-bottom: 3px;

                        p {
                            font-size: 1rem;
                            color: $black;
                            font-weight: normal;
                        }
                    }
                }
            }

            .poll-results {
                padding-left: 1em;

                poll-top-choice {
                    color: var(--primary);
                }

                .percentage-gauge-container {
                    .percentage-gauge {
                        background-color: $light-gray;
                    }
                }
            }

            .survey-table {

                margin-bottom: 20px;

                .survey-question {
                    p {
                        font-size: 1rem;
                        color: $black;
                        font-weight: normal;
                    }
                }

                .survey-option {
                    input[type="radio"] {
                        height: auto;
                    }

                    .visible-mobile-only {
                        padding-left: 5px;
                        font-size: 1rem;
                    }
                }

                &.poll-results {
                    .survey-row {
                        th {
                            font-size: 0.9375rem;
                        }

                        td {
                            font-size: 0.9375rem;

                            &.poll-top-choice {
                                color: var(--primary);
                                background-color: $light-gray;
                            }
                        }
                    }
                }
            }

        }
    }
}


/* desktop */
@media (min-width: 1024px) {
    body.new-theme {
        .lesson-content {
            .themed-xblock {
                .poll-container {
                    .poll-answer {
                        .poll-answer-text {
                            padding-bottom: 3px;
                        }
                    }
                }
            }
        }
    }
}

/* mobile */
@media (max-width: 767px) {
    .poll-answer {
        .poll-answer-text {
            padding-bottom: 6px;
        }
    }
}