@import "vars/variables";
@import "form/checkbox";
@import "form/radiobutton";
@import "mixins/mixins";
@import "common/buttons";

//  Overrides for xblocks polls & surveys:


body.new-theme {
    .lesson-content {
        .themed-xblock {
            margin-bottom: 20px;

            .poll-header {
                font-size: 12px;
                color: #000;
            }

            .poll-container {
                .poll-question {
                    p {
                        font-size: 1rem;
                        color: #000;
                    }
                }

                .poll-answer {
                    input[type="radio"] {
                        height: auto;
                    }

                    .poll-answer-text {
                        padding-bottom: 3px;

                        p {
                            font-size: 1rem;
                            color: #000;
                            font-weight: normal;
                        }
                    }
                }
            }

            .poll-results {
                padding-left: 1em;

                poll-top-choice {
                    color: #2042CB;
                }

                .percentage-gauge-container {
                    .percentage-gauge {
                        background-color: #EEEEEE;
                    }
                }
            }

            .survey-table {

                margin-bottom: 20px;

                .survey-question {
                    p {
                        font-size: 1rem;
                        color: #000;
                        font-weight: normal;
                    }
                }

                .survey-option {
                    input[type="radio"] {
                        height: auto;
                    }

                    .visible-mobile-only {
                        padding-left: 5px;
                        font-size: 1rem;
                    }
                }

                &.poll-results {
                    .survey-row {
                        th {
                            font-size: 0.9375rem;
                        }

                        td {
                            font-size: 0.9375rem;

                            &.poll-top-choice {
                                color: #2042CB;
                                background-color: #EEEEEE;
                            }
                        }
                    }
                }
            }

        }
    }
}


/* desktop */
@media (min-width: 1024px) {
    body.new-theme {
        .lesson-content {
            .themed-xblock {
                .poll-container {
                    .poll-answer {
                        .poll-answer-text {
                            padding-bottom: 3px;
                        }
                    }
                }
            }
        }
    }
}

/* mobile */
@media (max-width: 767px) {
    .poll-answer {
        .poll-answer-text {
            padding-bottom: 6px;
        }
    }
}

.new-theme
{
    @include font-size(14);
    [data-block-type="poll"]
    {
        .poll-container
        {
            .poll-answers
            {
                margin-bottom: 32px;
                padding:0;
                .poll-answer
                {
                    display: table-row !important;
                    .poll-input-container
                    {
                        padding-right: 24px;
                        line-height: normal;
                        padding-left:5px;
                        &:before
                        {
                            left:2px;
                            top:2px;
                        }
                        &:after
                        {
                            left:4px;
                            top:4px;
                        }

                        [type="radio"]
                        {
                            left:2px;
                            top:2px;
                        }


                    }
                    .poll-answer-text
                    {
                        font-weight: normal;
                        padding-bottom:5px;
                        p
                        {
                            margin:0;
                            font-size: 0.875rem!important;
                        }
                    }
                }
            }
        }

        // Poll Result

        .poll-results-wrapper
        {
            .poll-answers-results
            {
                padding:0;
                max-width: none;
                .poll-result
                {
                    .poll-result-input-container
                    {
                        padding: 10px 0;
                        width:28px;

                        [type="radio"]
                        {
                            height: auto;
                            top:2px;
                        }
                        &:before
                        {
                            
                            top:2px;
                        }
                        &:after
                        {
                            left:2px;
                            top:4px;
                        }
                    }

                    .percentage-gauge-container
                    {
                        .poll-answer-label
                        {
                            font-weight: normal;
                        }
                    }
                    .poll-percent-container
                        {
                            .poll-percent-display
                            {
                                font-weight: normal;
                            }
                        }
                }
            }
        }
    }

}
