// Overrides for Problem Builder
// from https://github.com/open-craft/problem-builder/blob/7e76920/problem_builder/public/themes/apros.css
.themed-xblock.mentoring {
    .choices-list .choice-selector {
        padding: 4px 3px 0 3px;
        font-size: 16px;
    }
    .sb-review-score {
        margin-left: 40px;
        margin-top: 15px;
    }
    .review-tips-list li {
        margin-left: 1.8em;
        padding-left: 0;
    }
    .copyright {
        // Hide the copyright message
        display: none;
    }
    .questionnaire {
        .choice-tips, .feedback {
            // Avoid a global reset to border-box found on Apros
            box-sizing: content-box;
        }

        .choice-label {
            // Fill the full page width for MRC/MCQ choices
            width: 100%
        }

    }

    .checkmark-incorrect::before {
        content: "\f12a";
    }

    .choice .choice-tips-container.with-tips {
        border: none;
    }

    .title h3 {
        // Same as h2.main in Apros, amended to h3
        color: #66a5b5;
    }

    h4 {
        text-transform: uppercase;
    }

    .questionnaire .choice-tips .close {
        display: block;
    }

    @import 'pb-questionnaire';

}