// Imports
@import 'vars/variables';
@import 'mixins/mixins';
@import 'core/reset';
@import 'core/core';
@import 'form/checkbox';
@import 'form/radiobutton';
@import 'common/buttons';

// Styling

.new-theme {
    [data-block-type="scormxblock"] {
        .scormxblock_block {
            .scorm_name {
                @include font-size(24);
                font-weight: 300;
                margin-bottom: 15px;
            }

            .scorm_description {
                margin: 0 0 25px;
                padding: 0;
                background: none;
                @include font-size(16);

                @media (max-width: 767.98px) {
                    @include font-size(14);
                }

            }

            .scorm_launch, .scorm_completion {
                button {
                    @extend %button;
                }
            }
        }
    }
}
