// Bi-App-Sass for APROS
// Define SASS in LTR abd Bi-App-Sass will automatically write respective RTL
@import "bootstrap/bootstrap-grid";
@import "bootstrap/mixins";
@import "common/variables";
@import "common/mixins";
@import "common/popover";
@import "common/dropdown";
@import "common/header";

// Body styles when Modal open
body {
  &.modal-open {
    @include padding-right(0 !important);
  }
}

// Header
.appHeader {
  .logo {
    @include padding-left(15px);
    .all-logos {
      @include float(left);
    }
    .topRightArea {
      @include float(right);

      .profileArea {
        @include float(right);
        @include margin-left(36px);
        @include right(20px);
      }
    }

    .headerNav {
      @include float(right);

      > ul {
        > li {
          @include margin-left(26px);
          @include margin-right(0);
          &:first-child {
            @include margin-left(0);
          }
        }
      }
    }
  }
  .all-logos {
    .navbar-brand {
      @include margin-left(6px);
      @include padding-left(10px);
      @include border-left(1px solid $border-color);
      &:first-child {
        @include margin-left(0);
        @include margin-right(0);
        @include padding-left(0);
        @include border-left(0);
      }
    }
  }
  .dropdown-menu {
    @include right(-20px !important);
    @include left(auto !important);
  }
  .profileArea {
    .dropdown-menu {
      @include right(-5px !important);
      @include left(auto !important);
    }
    &:after,
    &:before {
      @include right (30px);
    }
  }
}

// Navbar
.mainNav {
  > ul {
    > li {
      @include margin-left(30px);

      &:first-child {
        @include margin-left(0);
      }
      &:last-child {
        @include margin-right(30px);
      }
    }
  }
}

.courseMainHeader {
  .go-to-courses {
    h1 {
      @include media-breakpoint-between(xs, sm) {
        @include padding-left(36px !important);
        @include padding-right(0 !important);
      }
    }

    .homeBtn {
      @include media-breakpoint-between(xs, sm) {
        @include left(-10px);
      }
    }
  }
  .mainNav {
    > ul {
      > li {
        @include margin-left(30px);
        &:first-child {
          @include margin-left(0);
        }
        &.notifications {
          @include margin-right(30px !important);
          .notification {
            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
              @include padding-right(0 !important);
            }
          }
        }
      }
    }
  }
}

.courseNavWrap,
.learner-nav {
  .pn-ProductNav_Contents {
    @include float(left);
  }
}

// Learner Dashboard navigation for mobile
@include media-breakpoint-down(sm) {
  .learner-nav {
    &.courseMainHeader {
      .mainNav {
        > ul {
          @include padding-right(20px);
          > li {
            margin: 0 15px;
            &:first-child {
              @include margin-left(0);
            }
          }
        }
      }
    }
  }

  .appHeader {
    .logo {
      .topRightArea {
        .profileArea {
          .dropdown-menu {
            @include right(0 !important);
            @include left(auto !important);
          }
        }
      }
    }
  }
}

// Nav Dropdowns
.dropdown-menu {
  &.profileDropdown {
    &::after {
      @include right(7%);
    }
  }
  &.allLessons {
    @include left(calc(100% - 40px) !important);
    @include right(auto !important);
    &:after {
      @include left(23px !important);
    }
    .allCoursesList {
      .bookmark {
        @include left(-30px);
        @include right(auto);
        @include media-breakpoint-between(xs, sm) {
          @include left(-22px);
        }
      }
    }
  }
  &.course-materials {
    @include right(-22px !important);
    @include left(auto !important);
  }
  &.notification {
    @include left(-23px !important);
    @include right(auto !important);
    &:after {
      @include left(20px !important);
      @include right(auto !important);
    }

    @media screen and (max-width: 1024px) {
      @include right(2px !important);
      @include left(auto !important);
      &:after {
        @include right(20px !important);
        @include left(auto !important);
      }
    }
  }
  &.allModules{
    @include left(0 !important);
    @include right(auto !important);
    &::after {
      display: none;
      @include right(23px !important);
      @include left( auto !important);
    }
  }
  &:after {
    @include right(17px);
    @include left(auto);
  }
}

//End of Dropdowns

.profileDropdown {
  .header {

    .nameArea,
    .roleArea {
      span {
        @include margin-right(5px);
      }
    }

    .avatar-area {
      @include margin-right(28px);
    }
  }
}

// Course List
.my-courses {
  .card {
    .card-body {
      @include padding-left(25px);

      .course-detail {
        > span.course-progress {
          .bar {
            @include margin-left(5px);
          }
        }
        .lesson-count,
        .course-effort {
          @include margin-right(1.5vw);
        }
      }
    }
  }
}

// Progress widgets
.progressWidgets {
  .widget {
    @include border-left(1px solid $hard-gray);
    &:first-child {
      @include padding-left(0);
      @include border-left(0);
    }
    &:last-child {
      @include padding-right(0);
    }
  }
}

// Course Landing Page
#course-statistics {
  .widget {
    .progressArea {
      @include float(right);

      @include media-breakpoint-between(xs, sm) {
        float: none;
      }
    }
    &.course-progress {
      .progressArea {
        @include float(none);

        span {
          @include margin-left(6px);
        }
      }
    }
  }
}

.socialWidgets {
  .widget {
    > .holder {
      &::after {
        @include right(0);
        @include media-breakpoint-between(xs, md) {
          display: none;
        }
      }
    }

    &:first-child {
      h5 {
        @include margin-left(15px);
      }
    }

    > h5 {
      @include margin-left(30px);
    }
  }

  .head {
    h5 {
      @include margin-left(15px);

      @include media-breakpoint-between(xs, sm) {
        @include margin-left(5px);
      }
    }
  }

  .articlesArea {
    .holder {
      @include margin-right(30px);

      h5 {
        @include margin-left(15px);
      }
    }

    ul {
      li {
        @include padding-right(24px);
        @include padding-left(17px);
      }
    }
  }

  .socialArea {
    .tweet {
      > a {
        @include float(left);
        @include margin-right(20px);
      }
    }
  }

  .videosWidget {
    .videoWrap {
      @include float(left);
      @include margin-right(15px);
    }
  }
}

// Popover

.popover {
  .popover-body,
  .popover-content {
    b {
      @include padding-left(18px);
    }
    .material-icons {
      &[locked] {
        @include margin-right(3px);
      }
    }
  }
}

// Course cohort
#course-cohort {
  .leaderboards {
    ul {
      li {
        @include border-left(1px solid $hard-gray);
        &:first-child {
          border: 0;
        }
      }
    }
  }
}

// progress

#course-progress-new {
  .visual {
    @include border-right(1px solid $gray);
    @include padding-left(20px);

    @include media-breakpoint-between(xs, sm) {
      @include border-right(0);
      @include padding-left(15px);
    }
  }
  .modules {
    @include padding-left(30px);

    @include media-breakpoint-between(xs, sm) {
      @include padding-left(0);
    }

    @include media-breakpoint-between(md, lg) {
      @include padding-left(15px);
    }
  }
  table {
    td {
      &:first-child {
        @include border-left(0);
      }
      &:last-child {
        @include border-right(0);
      }
      &.week {
        span {
          color: $black;
          @include margin-right(20px);
          @include media-breakpoint-between(xs, md) {
            @include margin-right(5px);
          }
        }
      }
      .lesson-with-list {
        .lesson-item-name {
          .lesson-label {
            @include margin-left(5px);
            @include margin-right(25px);
            @include media-breakpoint-between(xs, lg) {
              @include margin-right(5px);
            }
          }
        }
      }
    }
  }
  .legend-status {
    span {
      @include margin-right(15px);
      @include media-breakpoint-between(xs, sm) {
        @include margin-right(7px);
      }
      i {
        @include margin-right(5px);
      }
    }
  }

  .proficiency-data,
  .engagement-data {
    .progressWidgets {
      @include border-right(1px solid $gray);
    }
  }
  .dropdown-toggle {
    &:after {
      @include margin-left(-2px);
    }
  }
  .proficiency-data,
  .engagement-data {
    table {
      tr {
        td {
          &:nth-child(2) {
            @include media-breakpoint-between(xs, sm) {
              @include text-align(right);
            }
          }
        }
      }
    }
  }
}

// Lesson List
.allCoursesList {
  > .courseRow {
    .title {
      > span {
        .locked {
          @include left(calc(100% - 20px));
        }
      }
    }
    .status {
      @include margin-right(7px);
    }

    &.locked {
        .title {
          > span {
            @include padding-right(20px);
          }
        }
      }

    .progressBar {
      .figure {
        @include margin-right(5px);

        @include media-breakpoint-between(xs, sm) {
          @include margin-right(0);
          @include text-align(left);
        }
      }
    }
  }

  .holder {
    .data {
      .statusBar {
        .progress-counter {
          &:before {
            @include left(0);
            @include right(auto);
          }
        }
      }
      &.serial {
        @include media-breakpoint-between(xs, sm) {
          @include padding-right(5px);
        }
        span {
          @include margin-left(4px);
        }
      }
      &.time {
        @include media-breakpoint-between(xs, sm) {
          @include padding-right(15px);
        }
        i {
          @include media-breakpoint-between(xs, sm) {
            @include margin-left(0);
          }
        }
      }
    }
  }
}

.allLessons {
  .bookmark {
    @include left(-33px);
  }
}

.lessonOverview {
  .contentCard {
    .headerArea {
      @include padding-right(35px);

      .zoomWrap {
        @include right(0);
      }
    }
  }
}

// Modal
.modal.middleSize {
  .modal-header {
    .close {
      @include right(25px);
    }
  }
}

// === newFeatureTour Modal =====
.newFeatureTour {
  .featureImage {
    @include float(right);
    @include margin-left(75px);
  }

  .btn-skip {
    @include right(20px);
  }

  .controlsWrap {
    .carousel-control-next {
      @include float(right);
    }
    .carousel-control-prev {
      @include float(left);
    }
    .carousel-control-prev,
    .carousel-control-next {
      > span {
        top: 50%;
        left: 50%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .newFeatureTour {
    .featureImage {
      @include margin-left(0);
    }
  }
}

@include media-breakpoint-down(sm) {
  .newFeatureTour {
    .featureImage {
      @include margin-left(0);
    }
  }
}

// Footer
footer {
  ul {
    li {
      a.nav-link {
        &:before {
          @include left(0);
        }
      }
    }
  }
}

// Misc
.bookmark {
  @include left(0);
  @include media-breakpoint-between(xs, sm) {
    @include left(-4px);
  }
}

.dashboard-menu {
  li {
    .bookmark {
      @include left(-30px);
    }
  }
}

// CSS specific styles
body.rtl {
  text-align: right;
  .bookmark {
    @include flip-x-axis;
  }
  .courseLanding {
    .viewDetailCourse {
      a {
        &:after {
          content: "\e408";
        }
      }
    }
  }
  #course-statistics {
    .widget {
      &.course-progress {
        .progressArea {
          span {
            @include media-breakpoint-between(xs, sm) {
              margin: 0;
            }
            .filler {
              &:before {
                @include left(0);
              }
            }
          }
        }
      }
    }
  }

  .socialWidgets {
    .videosWidget {
      h5 {
        margin-right: 0;
      }
    }
  }

  form {
    .form-label {
      transform: translate(-15px, 15px);
    }

    .focused {
      .form-label {
        transform: translate(0, -18px);
      }
    }
  }

  .dropdown-menu {

    &.profileDropdown {
      left: -18px !important;
      right: auto !important;
    }

    &.course-materials {
      left: -18px !important;
      right: auto !important;
    }
    &.allLessons{
      right: calc(100% - 44px) !important;
    }
    &.allModules{
      right: 0 !important;
      left: auto;
    }
    &.adminModules {
      @include left(0 !important);
      @include right(auto !important);
      &:after {
        display: none;
      }
    }
    &.allLessons {
      .allCoursesList {
        .holder {
          .data {
            &.status {
              float: left;
            }
            &.serial {
              float: right;
            }
          }
        }
      }
    }
  }

  .mapboxgl-ctrl-top-left {
    left: auto;
    right: 10px;
  }
  .lesson-dropdown-frame .lesson-dropdown-holder .dropdown-menu {
    left: auto !important;
    right: 0 !important;
  }

}

//Course Overview
.courseOverview {
  .textImageWrap {
    .imgWrap {
      @include float(left);
      @media screen and (max-width: 767px) {
        float: none;
      }
    }
  }
}

// Notification popup
.xns-counter {
  @include left(auto);
  @include right(-23px);
}


.xns-container {
  .xns-list-body{
    @include padding-right(10px);
  }
}

.xns-actions {
  ul {
    li {
      @include border-left(1px solid $light-gray);
      &:first-child {
        @include padding-left(0);
        @include border-left(0);
      }
    }
  }
}

// Learner Dashboard RTL
#learner-dashboard {
  .gallery-card {
    .gallery {
      .card {
        .content {
          .tag, .title, .date {
            @include left(15px);
          }
        }
      }
      [class*="col-"] {
        @include padding-left(0);
      }
    }
  }
}

.mCSB_inside > .mCSB_container {
  @include margin-right(15px);
}

// Admin site Biapp styles
.tableCardWrap {
  table {
    td {
      @include border-left(1px solid $smooth-gray);
      @include border-right(1px solid $smooth-gray);
      &:first-child {
        @include border-left(0);
      }
    }
  }
}

#managerDashboardWrapper {
  table {
    td {
      &.progress {
        > span {
          @include margin-right(20px);
        }
      }
    }
  }

  .bbGrid-container {
    table {
      tr[class*="subgrid"] {
        td {
          &:last-child {
            > span {
              @include margin-right(2px);
            }
          }
        }
      }
    }
  }
}

.bbGrid-grid {
  .bbGrid-grid-head {
    i {
      @include margin-left(5px);
    }
  }
}

// Companies Admin styles
#companyAdminCourseExportStatsModal{
  .saveChanges{
    .spinner-border{
      @include margin-right(2px);
    }
  }
}

.tableHeaderArea {
  .sidePanel {
    @include float(right);
  }
}

.companiesStats {
  > li {
    @include margin-right(30px);
    &:last-child {
      @include margin-left(0px);
    }
    span {
      @include margin-left(10px);
      &:first-child {
        @include margin-left(0px);
      }
    }
  }
}

#courseMainDetailsContainerView {
  .courseParticipantsButton,
  .courseStatsButton {
    @include margin-left(30px);
    &:first-child {
      @include margin-left(0)
    }
  }
}

#course-progress-new table td .dropdown-toggle {
  @include media-breakpoint-between(xs, md) {
    @include margin-left(25px);
  }
  @media only screen and (orientation: landscape) and (max-width: 1024px) {
    @include margin-left(25px);
  }
}

#companyDetailsCoursesContainer, #companyLearnerDashboardsContainer {
  .bbGrid-search-bar {
    @include right(30px);
    .input-group {
      @include float(right);
      input:not([type='checkbox']) {
        @include padding-right(40px);
      }
    }
  }
}

#courseMainDetailsContainerView {
  .bbGrid-search-bar {
    @include right(30px);
    .input-group {
      @include float(right);
      @include margin-left(20px);
    }
    #coursesDownloadStatsButton,
    .bulkActionsButtonContainer {
      @include float(right);
    }
  }
}

@include media-breakpoint-down(md) {
  .appHeader {
    .topRightArea {
      .profileArea {
        .dropdown-menu {
          @include right(5px !important);
          &:after {
            @include right(17px !important);
          }
        }
      }
    }
  }
  #mCSB_1_container {
    > .row {
      @include margin-right(-15px);
    }
  }
}

@include media-breakpoint-down(sm) {
  .dropdown-menu {
    &.dashboard-menu {
      @include left(0 !important);
      @include right(auto !important);
      &:after {
        @include left(140px !important);
        @include right(auto !important);
        display: none;
      }
    }
  }
  .appHeader {
    .topRightArea {
      .profileArea {
        @include margin-left(15px);
        .dropdown-menu {
          @include right(-14px !important);
        }
      }
    }
  }
  .appHeader {
    .logo {
      .topRightArea {
        .profileArea {
          @include margin-left(5px);
          .dropdown-menu {
            &:after {
              @include right(7px !important);
            }
          }
        }
      }
    }
  }
  #course-progress-new .course-page table thead tr {
    display: block;
    @include margin-right(-20px);
    @include margin-left(-20px);
  }
  .courseNavWrap {
    &.nav-active {
      .mainNav {
        ul {
          li {
            position: initial;
            .dropdown-menu {
              @include left(0 !important);
              @include right(auto !important);
            }
            &.notification {
              .dropdown-menu {
                @include left(auto !important);
                @include right(0 !important);
              }
            }
          }
        }
      }
    }
  }
  .xns-counter {
    @include right(auto);
    @include right(auto);
  }
  #course-statistics {
    .widget {
      .progressArea {
        @include float(left);
      }
    }
  }
  .progressWidgets {
    .widget {
      &:first-child {
        @include padding-left(0 !important);
      }
      &:last-child {
        @include padding-right(0 !important);
      }
    }
  }
}
