// Bi-App-Sass for APROS
// Define SASS in LTR abd Bi-App-Sass will automatically write respective RTL
@import "common/variables";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/mixins";
@import "common/mixins";
@import "common/popover";
@import "common/dropdown";
@import "common/header";

// Header

.appHeader {
  .logo {
    .navbar-brand {
      @include float(left);
      @include text-align(left);

      img {
        @include margin-left(-5px);
      }
    }

    .topRightArea {
      @include float(right);

      .profileArea {
        @include float(right);
        @include margin-left(36px);
        @include right(20px);
      }
    }

    .headerNav {
      @include float(right);

      > ul {
        > li {
          @include margin-left(30px);
        }
      }
    }
  }
}

// Navbar

.mainNav {
  > ul {
    > li {
      @include margin-left(30px);

      &:first-child {
        @include margin-left(0);
      }
    }
  }
}

.courseMainHeader {
  h1 {
    @include media-breakpoint-between(xs, sm) {
      @include padding-left(27px);
    }

    .backBtn {
      @include media-breakpoint-between(xs, sm) {
        @include left(0);
      }

      i {
        @include margin-left(-4px);
      }
    }
  }
}

.courseNavWrap {
  .pn-ProductNav_Contents {
    @include float(left);
  }
}

// Nav

.dropdown-menu {
  .allCoursesList {
    > .courseRow {
      .holder {
      }
    }
  }

  &.allLessons {
    .allCoursesList {
      .bookmark {
        @include left(-30px);
        @include right(auto);
        @include media-breakpoint-between(xs, sm) {
          @include left(-22px);
        }
      }
    }
  }
}

.profileDropdown {
  .header {
    .titles-area {
      @include margin-right(28px);
    }

    .nameArea,
    .titlesArea {
      .edit-link {
        @include margin-left(10px);
      }
    }

    .avatar-area {
      @include margin-right(28px);
    }
  }
}

// Course List

.my-courses {
  .card {
    .card-body {
      @include padding-left(25px);

      .course-detail {
        > span.course-progress {
          .bar {
            @include margin-left(5px);
          }
        }
      }

      .bookmark {
        @include left(-4px);
      }
    }
  }
}

// Widgets

#course-statistics {
  .widget {
    @include border-left(1px solid $hard-gray);

    &:first-child {
      @include padding-left(0);
      @include border-left(0);
    }

    &:last-child {
      @include padding-right(0);
    }

    .progressArea {
      @include float(right);

      @include media-breakpoint-between(xs, sm) {
        float: none;
      }
    }

    &.course-progress {
      .progressArea {
        @include float(none);

        span {
          @include margin-left(6px);
        }
      }
    }
  }
}

.socialWidgets {
  .widget {
    > .holder {
      @include border-left(1px solid $hard-gray);
    }

    &:first-child {
      > .holder {
        @include border-left(0);
      }
    }

    > h5 {
      @include margin-left(30px);
    }
  }

  .head {
    h5 {
      @include margin-left(15px);

      @include media-breakpoint-between(xs, sm) {
        @include margin-left(5px);
      }
    }
  }

  .articlesArea {
    .holder {
      @include margin-right(30px);

      h5 {
        @include margin-left(15px);
      }
    }

    ul {
      li {
        @include padding-right(24px);
        @include padding-left(17px);
      }
    }
  }

  .socialArea {
    .tweet {
      > a {
        @include float(left);
        @include margin-right(20px);
      }
    }
  }

  .videosWidget {
    .videoWrap {
      @include float(left);
      @include margin-right(15px);
    }
  }
}

// Course cohort
#course-cohort {
  .leaderboards {
    ul {
      li {
        @include border-left(1px solid $hard-gray);
        &:first-child {
          border: 0;
        }
      }
    }
  }
}

// Lesson List

.allCoursesList {
  >.courseRow {

    .status {
      @include margin-right(7px);
    }

    .progressBar {
      .figure {
        @include margin-right(5px);

        @include media-breakpoint-between(xs, sm) {
          @include margin-right(2px);
        }
      }
    }
    &.locked{
      .title{
        > span{
          @include padding-right(20px);
        }
      }
    }
  }

  .holder {
    .data {
      .statusBar {
        .progress-counter {
          &:before {
            @include left(0);
            @include right(auto);
          }
        }
      }
      &.serial {
        @include padding-right(25px);
        span {
          @include right(0);
        }
      }
      &.time{
        i{
          @include media-breakpoint-between(xs, sm){
            @include margin-left(0);
          }
        }
      }
    }
  }
}

// Lesson Page

.lessonOverview {
  .headerArea {
    @include padding-right(35px);

    .zoomWrap {
      @include right(0);
    }
  }
}

// Modal

.modal.middleSize {
  .modal-header {
    .close {
      @include margin-left(auto);
      @include margin-right(-1.9rem);
    }
  }
}

// Footer

footer {
  ul {
    li {
      a.nav-link {
        &:before {
          @include left(0);
        }
      }
    }
  }
}

// Misc

.bookmark {
  @include left(0);
}

// CSS specific styles

body.rtl {
  text-align: right;
  .bookmark{
    @include flip-x-axis;
  }

  #course-statistics {
    .widget {
      &.course-progress {
        .progressArea {
          span {
            @include media-breakpoint-between(xs, sm) {
              margin: 0;
            }
            .filler {
              &:before {
                @include left(0);
              }
            }
          }
        }
      }
    }
  }

  .courseMainHeader {
    h1 {
      .backBtn {
        i {
          @include flip-x-axis;
        }
      }
    }
  }

  .socialWidgets {
    .videosWidget {
      h5 {
        margin-right: 0;
      }
    }
  }

  form {
    .form-label {
      transform: translate(-15px, 15px);
    }

    .focused {
      .form-label {
        transform: translate(0, -18px);
      }
    }
  }

  .dropdown-menu {
    &.allLessons {
      &:after {
        right: 65px;
      }
    }

    &.course-materials {
      margin-left: -37px;
      &:after {
        left: 11px;
        right: auto;
      }
    }

    &.dashboard-menu {
      margin-left: -50px;
    }

    &.profileDropdown {
      margin-left: -42px;
    }
  }

  .mapboxgl-ctrl-top-left {
    left: auto;
    right: 10px;
  }
}

//Course Overview
.courseOverview {
  .textImageWrap {
    .imgWrap {
      @include float(left);
      @media screen and (max-width: 767px) {
        float: none;
      }
    }
  }
}

// Notification popup
.xns-counter {
  @include left(100%);
  @include right(auto);
}

.xns-actions {
  ul {
    li {
      @include border-left(1px solid $light-gray);
      &:first-child {
        @include padding-left(0);
        @include border-left(0);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .dropdown-menu {
    &.dropdown-menu-left {
      &.notification {
        @include left(0 !important);
        &:after {
          @include right(17px !important);
          @include left(auto !important);
        }
      }
    }
  }
}
