// Bi-App-Sass for APROS
// Define SASS in LTR abd Bi-App-Sass will automatically write respective RTL
@import "bootstrap/bootstrap-grid";
@import "bootstrap/mixins";
@import "common/variables";
@import "common/mixins";
@import "common/popover";
@import "common/dropdown";
@import "common/header";

// Body styles when Modal open
body {
  &.modal-open {
    @include padding-right(0 !important);
  }

  // Login Tablet
  @include media-breakpoint-down(md) {
    &.site-wrapper {
      &.login {
        main {
          .left-col {
            &:before {
              @include right(0);
              @include left(auto);
            }
          }
        }
      }
    }
  }

}

// Header
.appHeader {
  .logo {
    .all-logos {
      @include float(left);
    }
    .topRightArea {
      @include float(right);

      .profileArea {
        @include float(right);
        @include margin-left(36px);
        @include right(20px);
      }
    }

    .headerNav {
      > ul {
        > li {
          @include margin-left(26px);
          @include margin-right(0);
          &:first-child {
            @include margin-left(0);
          }
        }
      }
    }
  }
  .all-logos {
    .navbar-brand {
      @include margin-left(6px);
      @include padding-left(10px);
      @include border-left(1px solid $border-color);
      &:first-child {
        @include margin-left(0);
        @include margin-right(0);
        @include padding-left(0);
        @include border-left(0);
      }
    }
  }
  .dropdown-menu {
    @include right(-20px !important);
    @include left(auto !important);
  }
  .profileArea {
    .dropdown-menu {
      @include right(-5px !important);
      @include left(auto !important);
    }
    &:after,
    &:before {
      @include right (30px);
    }
  }
  .language-selector {
    @include padding-left(5px);
    @include float(right);
    @include border-left(1px solid $light-gray);
  }
}

// Navbar
.mainNav {
  > ul {
    > li {
      @include margin-left(30px);

      &:first-child {
        @include margin-left(0);
      }
      &:last-child {
        @include margin-right(30px);
      }
    }
  }
}

.courseMainHeader {
  .go-to-courses {
    h1 {
      @include media-breakpoint-between(xs, sm) {
        @include padding-left(36px !important);
        @include padding-right(0 !important);
      }
    }

    .homeBtn {
      @include media-breakpoint-between(xs, sm) {
        @include left(-10px);
      }
    }
  }
  .mainNav {
    > ul {
      > li {
        @include margin-left(27px);
        &:first-child {
          @include margin-left(0);
        }
        &.notifications {
          @include margin-right(30px !important);
          .notification {
            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
              @include padding-right(0 !important);
            }
          }
        }
      }
    }
  }
}

.pn-ProductNav_Wrapper {
  &.notActive {
    .pn-ProductNav_Contents {
      ul {
        > li {
          &:first-child {
            @include margin-left(0 !important);
          }
        }
      }
    }
  }
}
.courseNavWrap,
.learner-nav {
  .pn-ProductNav_Contents {
    @include float(left);
  }
}

// Learner Dashboard navigation for mobile
@include media-breakpoint-down(sm) {
  .learner-nav {
    &.courseMainHeader {
      .mainNav {
        > ul {
          @include padding-right(20px);
          > li {
            margin: 0 15px;
            &:first-child {
              @include margin-left(0);
            }
          }
        }
      }
    }
  }

  .appHeader {
    .logo {
      .topRightArea {
        .profileArea {
          .dropdown-menu {
            @include right(0 !important);
            @include left(auto !important);
          }
        }
      }
    }
  }
}

// Nav Dropdowns
.dropdown-menu {
  &.profileDropdown {
    &::after {
      @include right(7%);
    }
  }
  &.allLessons {
    @include left(calc(100% - 40px) !important);
    @include right(auto !important);
    &:after {
      @include left(23px !important);
    }
    .allCoursesList {
      .holder {
        .data {
          &.status {
            i {
              @include margin-right(5px);
            }
          }
        }
      }
      .bookmark {
        @include left(-30px);
        @include right(auto);
        @include media-breakpoint-between(xs, sm) {
          @include left(-22px);
        }
      }
    }
  }
  &.course-materials {
    @include right(-22px !important);
    @include left(auto !important);
    .bookmark {
      @include left(-30px);
    }
  }
  &.notification {
    @include left(-23px !important);
    @include right(auto !important);
    &:after {
      @include left(20px !important);
      @include right(auto !important);
    }

    @media screen and (max-width: 1024px) {
      @include right(2px !important);
      @include left(auto !important);
      &:after {
        @include right(20px !important);
        @include left(auto !important);
      }
    }
  }
  &.allModules{
    @include left(0 !important);
    @include right(auto !important);
    &::after {
      display: none;
      @include right(23px !important);
      @include left( auto !important);
    }
  }
  &:after {
    @include right(17px);
    @include left(auto);
  }
}

//End of Dropdowns

.profileDropdown {
  .header {

    .nameArea,
    .roleArea {
      span {
        @include margin-right(5px);
      }
    }

    .avatar-area {
      @include margin-right(28px);
    }
  }
}

// Course List
.my-courses {
  .card {
    .card-body {

      .course-detail {
        > span.course-progress {
          .bar {
            @include margin-left(5px);
          }
        }
        .lesson-count,
        .course-effort {
          @include margin-right(26px);
        }
      }
    }
  }
}

// Progress widgets
.progressWidgets {
  .widget {
    @include border-left(1px solid $hard-gray);
    &:first-child {
      @include padding-left(0);
      @include border-left(0);
    }
    &:last-child {
      @include padding-right(0);
    }
  }
}

// Course Landing Page
#course-statistics {
  .widget {
    .progressArea {
      @include float(right);

      @include media-breakpoint-between(xs, sm) {
        float: none;
      }
    }
    &.course-progress {
      .progressArea {
        @include float(none);

        span {
          @include margin-left(6px);
        }
      }
    }
  }
}

.socialWidgets {
  .widget {
    > .holder {
      &::after {
        @include right(0);
        @include media-breakpoint-between(xs, md) {
          display: none;
        }
      }
    }

    &:first-child {
      h5 {
        @include margin-left(15px);
      }
    }

    > h5 {
      @include margin-left(30px);
    }
  }

  .head {
    h5 {
      @include margin-left(15px);

      @include media-breakpoint-between(xs, sm) {
        @include margin-left(5px);
      }
    }
  }

  .articlesArea {
    .holder {
      @include margin-right(30px);

      h5 {
        @include margin-left(15px);
      }
    }

    ul {
      li {
        @include padding-right(24px);
        @include padding-left(17px);
      }
    }
  }

  .socialArea {
    .tweet {
      > a {
        @include float(left);
        @include margin-right(20px);
      }
    }
  }

  .videosWidget {
    .videoWrap {
      @include float(left);
      @include margin-right(15px);
    }
  }
}

.contentCard {
  .headerArea {
    h2 {
      @include padding-right(10px);
    }
  }
}
// Popover

.popover {
  .popover-body,
  .popover-content {
    b {
      @include padding-left(18px);
    }
    .material-icons {
      &[locked] {
        @include margin-right(3px);
      }
    }
  }
}

// Course Material / Resources
#course-resources {
  &.courseResourse,
  #course-resources {
    i {
      &.fa-level-down {
        @include left(0);
      }
    }
  }
  table tr td:first-child {
    @include padding-right(30px !important);
  }
  i.fa:before {
    @include text-align(left);
    @include margin-right(3px);
  }
  table h2 a {
    @include padding-left(1.742857rem);
    @include margin-right(7px);
  }
  ul {
    &.fa-ul {
      a {
        @include padding-left(1.742857rem);
        i {
          @include left(0);
        }
      }
    }
    >ul{
      @include padding-left(17px);
    }
  }
  p>a{
    @include padding-left(1.34286rem);
    i{
      @include left(0);
      @include right(auto);
    }
  }
}

body.rtl {
  #course-resources {
    i {
      &.fa-level-down {
        transform: rotate(-229deg) scaleX(1) !important;
        top: 0 !important;
        width: 1rem;
        &:before{
          transform: scale(1, 1) !important;
        }
      }
    }
    i.fa:before {
      transform: scale(-1 , 1) translateX(15px) translateY(1px);
      width: 1px;
    }
  }
}

// Course cohort
#course-cohort {
  .leaderboards {
    ul {
      li {
        @include border-left(1px solid $hard-gray);
        &:first-child {
          border: 0;
        }
        .user {
          >div {
            &.person-rank{
              @include text-align(right);
            }
          }
        }
      }
    }
  }
}

// progress

#course-progress-new {
  .visual {
    @include border-right(1px solid $gray);
    @include padding-left(20px);

    @include media-breakpoint-between(xs, sm) {
      @include border-right(0);
      @include padding-left(15px);
    }
  }
  .modules {
    @include padding-left(30px);

    @include media-breakpoint-between(xs, sm) {
      @include padding-left(0);
    }

    @include media-breakpoint-between(md, lg) {
      @include padding-left(15px);
    }
  }
  table {
    td {
      &:first-child {
        @include border-left(0);
      }
      &:last-child {
        @include border-right(0);
      }

      .lesson-with-list {
        .pn-ProductNav_Link{
          @include media-breakpoint-between(xs, md) {
          @include margin-left(25px);
          }
        }
      }


      &.week {
        span {
          color: $black;
          @include margin-right(20px);
          @include media-breakpoint-between(xs, md) {
            @include margin-right(5px);
          }
        }
      }
        .lesson-item-name {
          .lesson-label {
            @include margin-left(5px);
            @include margin-right(25px);
            @include media-breakpoint-between(xs, lg) {
              @include margin-right(5px);
            }
          }
        }
      }
      // case of three columns

      &.three-cols {
        tbody {
          tr {
            td {
              .lesson-with-list {
                .pn-ProductNav_Link{
                  @include margin-left(25px);
                }
              }
            }
          }
        }
      }
    }

  .legend-status {
    span {
      @include margin-right(15px);
      @include media-breakpoint-between(xs, sm) {
        @include margin-right(7px);
      }
      i {
        @include margin-right(5px);
      }
    }
  }

  .proficiency-data,
  .engagement-data {
    .progressWidgets {
      @include border-right(1px solid $gray);
    }
  }
  .proficiency-data {
    .lesson-row-item {
      .material-icons {
        @include left(0);
      }
    }
  }
  .dropdown-toggle {
    &:after {
      @include margin-left(-2px);
    }
  }
  .proficiency-data,
  .engagement-data {
    table {
      tr:first-child {
        td {
          &:nth-child(3) {
            @include media-breakpoint-between(xs, sm) {
              @include text-align(right);
            }
          }
        }
      }
      tr:not(:first-child) {
        td {
          &:nth-child(2) {
            @include media-breakpoint-between(xs, sm) {
              @include text-align(right);
            }
          }
        }
      }
    }
  }
}


// Lesson List
.allCoursesList {
  > .courseRow {
    .title {
      > span {
        .locked {
          @include left(calc(100% - 20px));
        }
      }
    }
    .status {
      @include margin-right(7px);
    }

    &.locked {
        .title {
          > span {
            @include padding-right(20px);
          }
        }
      }

    .progressBar {
      .figure {
        @include text-align(right);
        @include margin-right(5px);

        @include media-breakpoint-between(xs, sm) {
          @include margin-right(0);
          @include text-align(left);
        }
      }
    }
  }

  .holder {
    .data {
      .statusBar {
        .progress-counter {
          &:before {
            @include left(0);
            @include right(auto);
          }
        }
      }
      &.serial {
        @include padding-left(0);
        @include media-breakpoint-between(xs, sm) {
          @include padding-right(5px);
        }
        span {
          @include margin-left(4px);
        }
      }
      &.time {
        @include media-breakpoint-between(xs, sm) {
          @include padding-right(15px);
        }
        i {
          @include media-breakpoint-between(xs, sm) {
            @include margin-left(0);
          }
        }
      }
      &:first-child{
        @include padding-left(0);
      }
      &:last-child{
        @include padding-right(0);
      }
    }
  }
}

.allLessons {
  .bookmark {
    @include left(-33px);
  }
}

.lessonOverview {
  .contentCard {
    .headerArea {
      @include padding-right(35px);

      .zoomWrap {
        @include right(0);
      }
    }
  }
}

// Modal
.modal.middleSize {
  .modal-header {
    .close {
      @include right(25px);
      @include media-breakpoint-between(xs, sm) {
        @include right(15px);
      }
    }
  }
}

// === newFeatureTour Modal =====
.newFeatureTour {
  .featureImage {
    @include float(right);
    @include margin-left(75px);
  }

  .btn-skip {
    @include right(20px);
  }

  .controlsWrap {
    .carousel-control-next {
      @include float(right);
    }
    .carousel-control-prev {
      @include float(left);
    }
    .carousel-control-prev,
    .carousel-control-next {
      > span {
        top: 50%;
        left: 50%;
      }
    }
  }

  .carousel-inner{
  &.nextSlide{
    .carousel-item {
      // transform: translateX(-100%);
      &.active
      {
        &.next
        {
          // transform: translateX(0) ;
        }
      }
    &.next
    {
      // transform: translateX(100%);
    }
  }
}
&.prevSlide
{
  .carousel-item
  {
    // transform: translateX(100%);
    &.active
    {
      &.prev
      {
        // transform: translateX(0);
      }
    }
    &.prev
    {
      // transform: translateX(-100%);
    }
  }
}
}
}

@include media-breakpoint-down(md) {
  .newFeatureTour {
    .featureImage {
      @include margin-left(0);
    }
  }
}

@include media-breakpoint-down(sm) {
  .newFeatureTour {
    .featureImage {
      @include margin-left(0);
    }
  }
}

// Footer
footer {
  ul {
    li {
      a.nav-link {
        &:before {
          @include left(0);
        }
      }
      &:first-child{
        a{
          &.nav-link{
           @include padding-left(0);
          }
          &:before{
            display:none !important;
          }
        }
      }
      &:last-child{
        a{
          &.nav-link{
           @include padding-right(0);
          }
        }
      }
    }
  }
  .footerLinks{
    @include float(right);
    @include margin-left(15px);
  }
}

// Activation
.activation {
  .form {
    .form-group{
      &.agreement {
        label {
          @include margin-left(3px);
        }
      }
    }
  }
  form {
    .form-group {
      .ico-state {
        @include left(255px);
        @include right(auto);
      }
    }
  }
  .form-footer {
    ul {
      li {
        @include padding-right(0.94rem);
      }
    }
  }
}

// Misc
.bookmark {
  @include left(0);
  @include media-breakpoint-between(xs, sm) {
    @include left(-4px);
  }
}

.form-check-label {
  .checkmark {
    @include left(0);
  }
}

// form
form {
  .form-group {
    .ico-state {
      @include right(10px);
    }
    #show-hide, .show-hide {
      @include right(15px);
      @include left(auto);
    }
  }
  .success,
  .error {
    input:not([type='checkbox']) {
      @include padding-right(50px);
    }
  }
}

// Radio Buttons

.checkcontainer {
  @include padding-left(2.1rem);
  .radiobtn {
    @include left(0);
    &:after {
      @include left(3px);
    }
  }
}

.dashboard-menu {
  li {
    .bookmark {
      @include left(-30px);
    }
  }
}

// Static Pages

.guide {
  ul {
    @include padding-left(20px);
  }
  .illustrations {
    .img-with-cap {
      @include float(left);
      &:first-child {
        @include margin-right(20px);
      }
    }
    .fifty-half {
      @include float(left);
    }
  }
  .stores {
    a {
      @include margin-left(-4px);
      img {
        @include left(0);
      }
    }
  }
}

.sso {
  p {
    label {
      @include padding-left(20px);
    }
    input[type="checkbox"] {
      @include left(-3px);
    }
  }
  .form-footer {
    ul {
      li {
        @include padding-right(0.94rem);
      }
    }
  }
}

// Login

.site-wrapper {
  &.login {
    .quick-links {
      li {
        @include margin-left(20px);
      }
    }
    .login-form-wrap {
      @include right(0);
      @media (min-width: 1024px) and (max-width: 1439px) {
        @include right(48%);
      }
      .forgot-pswd-link {
        @include float(left);
      }
    }
    form.white {
      .form-group {
        .ico-state,
        #show-hide {
          @include left(auto);
          @include right(10px);
        }
      }
    }
    form{
      .show-hide{
        @include right(11px);
      }
    }
    .already-activated {
      @include padding-left(55px);
      &::before {
        @include left(18px);
      }
    }
    main {
      .login-page {
        .left-col {
          @include login-gradient-rtl;
        }
      }
      .background-absolute {
        .col-7 {
          @include login-gradient-rtl;
        }
      }
    }
  }
}

// Preloaders
.my-courses {
  .skeleton-loading {
    .card {
      .card-body {
        .course-detail {
          .course-progress {
            @include left(100px);
          }
        }
      }
    }
  }
}

// CSS specific styles
body.rtl {
  text-align: right;
  .my-courses{
    .bookmark{
      background-position-x: left;
    }
  }
  .bookmark {
    @include flip-x-axis;
  }
  .courseLanding {
    .viewDetailCourse {
      a {
        &:after {
          content: "\e408";
        }
      }
    }
  }
  #course-statistics {
    .widget {
      &.course-progress {
        .progressArea {
          span {
            @include media-breakpoint-between(xs, sm) {
              margin: 0;
            }
            .filler {
              &:before {
                @include left(0);
              }
            }
          }
        }
      }
    }
  }

  .socialWidgets {
    .videosWidget {
      h5 {
        margin-right: 0;
      }
    }
  }

  form {
    .form-label {
      transform: translate(-15px, 15px) !important;
    }

    .focused {
      .form-label {
        transform: translate(0, -18px) !important;
      }
    }
  }

  .dropdown-menu {

    &.profileDropdown {
      left: -18px !important;
      right: auto !important;
    }

    &.course-materials {
      left: -18px !important;
      right: auto !important;
    }
    &.allLessons{
      right: calc(100% - 44px) !important;
    }
    &.allModules{
      right: 0 !important;
      left: auto;
    }
    &.adminModules {
      @include left(0 !important);
      @include right(auto !important);
      &:after {
        display: none;
      }
    }
    &.allLessons {
      .allCoursesList {
        .holder {
          .data {
            &.status {
              float: left;
            }
            &.serial {
              float: right;
            }
          }
        }
      }
    }
  }

  .lesson-dropdown-frame .lesson-dropdown-holder .dropdown-menu {
    left: auto !important;
    right: 0 !important;
  }
  .form-check {
    padding-left: 0;
    padding-right: 1.25rem;
  }

  .form-check-label {
    .checkmark {
      top: 5px;
    }
  }
  .checkcontainer {
    .radiobtn {
      &:after {
        top: 3px;
      }
    }
  }

  // Login
  &.site-wrapper {
    &.login {
      main .login-page .left-col .hero-content a i {
        @include flip-x-axis;
      }
      main {
        .background-absolute {
          .col-7 {
            &:before {
              @include flip-x-axis;
            }
          }
        }


        @media screen and (max-width: 991px) {
          .left-col {
            &:before {
              @include flip-x-axis;
            }
          }
        }
      }
      @media (min-width: 1024px) and (max-width: 1439px) {
        .login-form-wrap {
          transform: translate(-14vw, -52%) !important;
        }
      }
    }
  }

  // Feature Tour
  .newFeatureTour{
    .carousel-indicators li {
      float: right;
      &:before{
        top: 0;
        right: 0;
      }
      &:after{

        top: 50%;
        bottom: 0;
        left:auto;
        overflow: hidden;
        border: 1px solid #ccc;
        transition: all .1s ease;
        transform: translateY(-50%);
      }
      &.active{
        &:after{
          right: -3px;
          width: 14px;
          height: 14px;
          border-color: var(--primary);
        }
      }
    }
    .carousel-control-next,
    .carousel-control-prev{
      >span{
        i{
          transform: rotate(180deg);
        }
      }
    }
  }
  .guide {
    .illustrations {
      img.flip-rtl {
        @include flip-x-axis;
      }
    }
  }
  .courseOverview {
    .faculty {
      input[type=radio] {
        +label {
          &:after {
            @include flip-x-axis;
          }
        }
      }
    }
  }
}

//Course Overview
.courseOverview {
  .textImageWrap {
    .imgWrap {
      @include float(left);
      @media screen and (max-width: 767px) {
        float: none;
      }
    }
  }
  .faculty {
    input[type=radio] {
     &+label {

        .bookmark{
          @include left(-40px);
          @include right(auto);
        }
      }
      &:checked{
        &+label {
          .bookmark {
            @include left(0);
            @include right(auto);
          }
        }
      }
    }
  }
}

// Notification popup
.xns-counter {
  @include left(auto);
  @include right(-23px);
}


.xns-container {
  .xns-list-body {
    @include padding-right(16px);
  }
}

.xns-actions {
  ul {
    li {
      @include border-left(1px solid $light-gray);
      &:first-child {
        @include padding-left(0);
        @include border-left(0);
      }
    }
  }
}

// Learner Dashboard RTL
#learner-dashboard {
  .gallery-card {
    .gallery {
      .card {
        .content {
          .tag, .title, .date {
            @include left(15px);
          }
        }
      }
      [class*="col-"] {
        @include padding-left(0);
      }
    }
  }
}

.mCSB_inside > .mCSB_container {
  @include margin-right(15px);
}

// Admin site Biapp styles
.tableCardWrap {
  table {
    td {
      @include border-left(1px solid $smooth-gray);
      @include border-right(1px solid $smooth-gray);
      &:first-child {
        @include border-left(0);
      }
    }
  }
}

#managerDashboardWrapper {
  table {
    td {
      &.progress {
        > span {
          @include margin-right(20px);
        }
      }
    }
  }

  .bbGrid-container {
    table {
      tr[class*="subgrid"] {
        td {
          &:last-child {
            > span {
              @include margin-right(2px);
            }
          }
        }
      }
    }
  }
}

.bbGrid-grid {
  .bbGrid-grid-head {
    i {
      @include margin-left(5px);
    }
  }
}

// Companies Admin styles
#companyAdminCourseExportStatsModal{
  .saveChanges{
    .spinner-border{
      @include margin-right(2px);
    }
  }
}

.tableHeaderArea {
  .sidePanel {
    @include float(right);
  }
}

.companiesStats {
  > li {
    @include margin-right(30px);
    &:last-child {
      @include margin-left(0px);
    }
    span {
      @include margin-left(10px);
      &:first-child {
        @include margin-left(0px);
      }
    }
  }
}

#courseMainDetailsContainerView {
  .courseParticipantsButton,
  .courseStatsButton {
    @include margin-left(30px);
    &:first-child {
      @include margin-left(0)
    }
  }
}


#companyDetailsCoursesContainer, #companyLearnerDashboardsContainer {
  .bbGrid-search-bar {
    @include right(30px);
    .input-group {
      @include float(right);
      input:not([type='checkbox']) {
        @include padding-right(40px);
      }
    }
  }
}

#courseMainDetailsContainerView {
  .bbGrid-search-bar {
    @include right(30px);
    .input-group {
      @include float(right);
      @include margin-left(20px);
    }
    #coursesDownloadStatsButton,
    .bulkActionsButtonContainer {
      @include float(right);
    }
  }
}

@include media-breakpoint-down(md) {
  .appHeader {
    .topRightArea {
      .profileArea {
        .dropdown-menu {
          @include right(5px !important);
          &:after {
            @include right(17px !important);
          }
        }
      }
    }
  }
  #mCSB_1_container {
    > .row {
      @include margin-right(-15px);
    }
  }
  footer {
    ul {
      li {
        &:first-child {
          a {
            &.nav-link {
              @include padding-left(0 !important);
            }
            &:before {
              display: none !important;
            }
          }
        }
        &:last-child {
          a {
            &.nav-link {
              @include padding-right(0 !important);
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .dropdown-menu {
    &.dashboard-menu {
      @include left(0 !important);
      @include right(auto !important);
      &:after {
        @include left(140px !important);
        @include right(auto !important);
        display: none;
      }
    }
  }
  .appHeader {
    .topRightArea {
      .profileArea {
        @include margin-left(15px);
        .dropdown-menu {
          @include right(-14px !important);
        }
      }
    }
  }
  .appHeader {
    .logo {
      .topRightArea {
        .profileArea {
          @include margin-left(5px);
          .dropdown-menu {
            &:after {
              @include right(7px !important);
            }
          }
        }
      }
    }
  }
  #course-progress-new .course-page table thead tr {
    display: block;
    @include margin-right(-20px);
    @include margin-left(-20px);
  }
  .courseNavWrap {
    &.nav-active {
      .mainNav {
        ul {
          li {
            position: initial;
            .dropdown-menu {
              @include left(0 !important);
              @include right(auto !important);
            }
            &.notification {
              .dropdown-menu {
                @include left(auto !important);
                @include right(0 !important);
              }
            }
          }
        }
      }
    }
  }
  .xns-counter {
    @include right(auto);
    @include right(auto);
  }
  .progressWidgets {
    .widget {
      &:first-child {
        @include padding-left(0 !important);
      }
      &:last-child {
        @include padding-right(0 !important);
      }
    }
  }
}

