- extends "layout.haml"
- load i18n

- block content
  #error_404.error-page
    .row
      .large-10.large-centered.columns
        %h1 {% trans "404: Page not found" %}
        %hr
        .sub-1 {% trans "Sorry!" %}
        %p {% trans "The page you are looking for might have been removed, been renamed, or may be temporarily unavailable." %}
        %p {% blocktrans %}Please go back to <a href='https://www.mckinseyacademy.com'>www.mckinseyacademy.com</a>, or contact us at <a href:'#{support}'>support</a>.{% endblocktrans %}
        %img{src: "/static/image/errors/McKA_errors_1404illus.png", srcset: "/static/image/errors/McKA_errors_1404illus@2x.png 2x"}
