- extends "layout.haml"

- block content
  #error_503
    .row
      .large-10.large-centered.columns
        %h1 503: Maintenance
        %hr
        .sub-1 Sorry!
        %p This service is temporarily unavailable. 
        %p Please go back to <a href='https://beta.mckinseyacademy.com'>beta.mckinseyacademy.com</a>, or contact us at <a href:'mailto:support@mckinseyacademy.com'>support@mckinseyacademy.com</a>.
        %img{src: "/static/image/errors/McKA_errors_1500illus.png", srcset: "/static/image/errors/McKA_errors_1500illus@2x.png 2x"}
