- load i18n

%table{:style => "background-color: #336ab1;padding: 10px 20px 100px;font-family: Arial, sans-serif;color: #333333;font-size: 15px;font-weight: 400;", :width => "100%"}
  %tr
    %td{:style => "width: 750px;", :width => "750"}
      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0 auto 0 auto;border-collapse: collapse;"}
        %tr
          %td{:style => "text-align: center; padding: 10px 0;"}
            - block logo
        %tr
          %td{:width => "750"}
            %table{:style => "background-color: #ffffff; padding: 40px; border-radius: 5px 5px 0 0;"}
              %tr
                %td{:width => "750"}
                  %h3{:style => "margin-top: 0;font-size: 18px;margin-bottom: 10px;"}
                    - block greetings
                  - block body
                  - block closing
                  - block footer
        %tr
          %td
            %table{:style => "width: 100%;padding: 15px; background-color: #062750; -webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;"}
              %tr
                %td
