- extends "layout.haml"

- block content
  %article#faq-page.row.collapse
    .large-10.large-centered.columns
      %section
        %h1 Frequently Asked Questions
        %p The McKinsey Academy Beta has started and we are happy to have you participate ahead of the official public launch!
        %p As a beta user, you will occasionally see pages and features in early stages of development. Please feel free to explore, and we’ll continue to add features and functionality in the coming weeks.
        %p This FAQ is focused on McKinsey Academy Beta. A full FAQ will be posted soon.
        %hr
        
        %p.style-2 What browsers are recommended for use with McKinsey Academy?
        %p The latest versions of Google Chrome, Mozilla Firefox, and Apple Safari. (The site is currently not optimized for mobile use.)

        %p.style-2 Which browsers are recommended for use with McKinsey Academy?
        %p We recommend the latest versions of Google Chrome, Mozilla Firefox, and Apple Safari for an optimal experience. 

        %p.style-2 Which devices are recommended for use with McKinsey Academy?
        %p The platform is accessible on all computer and tablet devices. The site is currently not optimized for mobile device use, and you will not currently be able to access course content on phones.

        %p.style-2 How can I get technical support?
        %p If you are having technical issues, please <a href="/contact">contact us here</a> so we can resolve your problem. and we will get back to you by the next business day (likely earlier).

        %p.style-2 What if I have questions about course content?
        %p Please reach out to the McKinsey teaching assistants by <a href="mailto:{{ ta_email_group }}">emailing them</a> and they will get back to you as soon as possible.

        %p.style-2 How can I contact McKinsey Academy?
        %p Have a question not related to technical support or course content? Please <a href="/contact">email us</a>. 

        