- extends "layout.haml"

- block content
  %article#faq-page.row.collapse
    .large-10.large-centered.columns
      %section
        %h1 Frequently Asked Questions
        %p
          A full FAQ will be posted soon.
        %hr
        
        %p.style-2 What browsers are recommended for use with McKinsey Academy?
        %p
          The latest versions of Google Chrome, Mozilla Firefox, and Apple Safari. (The site is currently not optimized for mobile use.)

        