%footer.row.collapse{role: "contentinfo"}
  .large-12.columns
    .copyright
      &copy; 2015
      = _("McKinsey & Company")
    %nav{role: 'navigation'}
      %ul
        %li
          %a{href: '/terms'}= _("Terms of Service")
        %li
          %a{href: '/privacy'}= _("Privacy Policy")
        %li
          %a{href: '/faq'}= _("FAQ")
