%footer.row.collapse{role: "contentinfo"}
  .large-12.columns
    .copyright
      &copy; 2014
      = _("McKinsey Academy")
    %nav{role: 'navigation'}
      %ul
        %li
          %a{href: '/tos'}= _("Terms of Service")
        %li
          %a{href: '/privacy'}= _("Privacy Policy")
        %li
          %a{href: '/faq'}= _("FAQ")
