- load i18n
%footer.row.collapse{role: "contentinfo"}
  .large-12.columns
    .copyright
      &copy; {% now "Y" %}
      McKinsey & Company
    %nav{role: 'navigation'}
      %ul
        %li
          %a{href: '/terms'}
            {% trans "Terms of Service" %}
        %li
          %a{href: '/privacy'}
            {% trans "Privacy Policy" %}
        %li
          %a{href: '/faq'}
            {% trans "FAQ" %}
