!!! 5
%html.no-js{lang:"en"}
  - load staticfiles
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, user-scalable=no"}
    - block meta
    %title= _("McKinsey Academy")

    -# favicon
    %link{rel: "icon", type:"image/x-icon", href: ".{% static 'image/favicon.ico' %}"}

    -# CSS
    - block css
      %link{rel: "stylesheet", href: "{% static 'css/normalize.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/font-awesome.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/leaflet.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/nv.d3.css' %}"}
      %link{rel: "stylesheet", href: "{% static 'css/cropper.css' %}"}

    - load assets
    {% assets "css_core" %}
      %link{rel: "stylesheet", href: "{{ ASSET_URL }}"}
    {% endassets %}

    {% assets "css_app" %}
      %link{rel: "stylesheet", href: "{{ ASSET_URL }}"}
    {% endassets %}

    {% if '/admin' in request.path %}
      {% assets "css_admin" %}
        %link{rel: "stylesheet", href: "{{ ASSET_URL }}"}
      {% endassets %}
    {% endif %}

    -# Override if you need another version of modernizr; or comment out for now - we dont' need it yet
    - block foundation_modernizer
      -# %script{src: "{% static 'js/vendor/modernizr.js' %}"}

    -# Custom head JS
    - block head_js

    - if ga_tracking_id
      %script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ ga_tracking_id }}', 'mckinseyacademy.com');
        ga('send', 'pageview');

  %body{id: "{% if '/admin' in request.path %}admin-body{% endif %}", class: "{% if program %}with-program{% endif %}"}
    - block help_context

    -# Header
    - block header
      - include 'header.haml'

    -# Main content goes here
    %main{role: "main"}
      - block content

    -# Footer
    - block footer
      - include 'footer.haml'

    -# Video overlay
    - block video_overlay
      #mckinsey_video.reveal-modal.medium{'data-reveal': None}
        .close-reveal-modal
          %i.fa.fa-times-circle
        .player-wrapper

    -# Block for general purpouse modal dialog
    - block general_modal
      #generalModal.reveal-modal.small{'data-reveal': None}
        %h2.title
        %p{'class': "lead description"}
        %a{'class': "close-reveal-modal fa fa-times-circle"}

    - block change_profile_image
      #edit-user-image-modal.reveal-modal.medium{'data-reveal': 'true'}

    -# Beta content overlay
    - block beta_content
      #beta_content.reveal-modal.small{'data-reveal': None}
        .close-reveal-modal
          %i.fa.fa-times-circle
        %p This is the McKinsey Academy Beta and we are happy to have you participate ahead of the official public launch!
        %p As a beta user, you will occasionally see pages and features like this one in early stages of development. Please feel free to explore, and we’ll continue to add features and functionality in the coming weeks.

    #edit_field_modal.reveal-modal.small{data-reveal: None}

    -# Override if you need another version of jQuery
    - block foundation_jquery
      %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}

    -# jQuery-cookie
    - block jquery_cookie
      %script{src: "{% static 'js/vendor/jquery.cookie.js' %}"}

    -# jQuery-xblock
    - block jquery_xblock
      %script{src: "{% static 'js/vendor/jquery.xblock.js' %}"}

    -# Foundation JS
    - block foundation_js
      %script{src: "{% static 'js/foundation.min.js' %}"}

    -# Ooyala Player JS
    - block ooyala_player
      %script{src: '//player.ooyala.com/v3/508480711cac43cfbc1931fe461c4d35?platform=html5-prority'}

    -# Custom JS
    - block body_js
      {% assets "js_all" %}
        %script{src: "{{ ASSET_URL }}"}
      {% endassets %}

    -# JS - custom snippets
    - block js_snippets

    -# Init Foundation
    - block foundation_js_init
      %script $(document).foundation();

