%%inherit(file="layout.html.haml")

%%block(name="user_region")

%%block(name="content")
  - from django.utils.translation import ugettext as _
  .row
    .large-4.medium-4.columns
      &nbsp;
    .login-form.large-4.medium-4.columns
      %form(action="/login/", method="POST")
        .error
          - if None != error:
            = error
        = csrf_token
        = form
        %input.button.radius.small(type="submit", value=_("Log In"))
      %a.other(href="/register")
        = _("Register")
    .large-4.medium-4.columns
      &nbsp;

%%block(name="js_snippets")
  :javascript
    $('form input[type="text"]').on('keypress', function(){
      $('.error').text('');
    });
