- from django.utils.translation import ugettext as _
!!! 5
%html.no-js(lang="en")
%head
  %meta(charset="utf-8")
  %meta(name="viewport", content="width=device-width", initialScale="1.0")
  %%block(name="meta")
  %title= _("McKinsey Academy")

  - # CSS
  / %%block(name="css")
  /   %link(rel="stylesheet", href="/static/css/normalize.css")
  /   %link(rel="stylesheet", href="/static/css/font-awesome.css")
  /   %link(rel="stylesheet", href="/static/css/app.css")
  <%! from django.template import Template, Context %>
  <% tpl = {% load compressed %}{% compressed_css 'app'%} %>
  ${Template(tpl).render(Context(dict_=dict(request=request)))}

  - # Override if you need another version of modernizr; or comment out for now - we dont' need it yet
  %%block(name="foundation_modernizer")
    -# %script(src="/static/js/vendor/modernizr.js")

  - # Custom head JS
  %%block(name="head_js")

%body

  - # Header
  %%include(file="header.html.haml")

  %%block(name="program_bar")

  - # Main content goes here
  %main(role="main")
    %%block(name="content")

  - # Footer
  %%include(file="footer.html.haml")

  - # Override if you need another version of jQuery
  %%block(name="foundation_jquery")
    %script(src="/static/js/vendor/jquery.js")

  - # Foundation JS
  %%block(name="foundation_js")
    %script(src="/static/js/foundation.min.js")

  - # Custom JS
  %%block(name="body_js")
    %script(src="/static/js/application.js")

  - # JS - custom snippets
  %%block(name="js_snippets")

  - # Init Foundation
  %%block(name="foundation_js_init")
    %script $(document).foundation();
