%h1 Terms of Use
%p
  “McKinsey Academy” includes this website
  %a{href: '/'}
    http://www.mckinseyacademy.com
  (the “Site”) and any related courses, programs, services, materials or offerings provided by us either through or in connection with the Site. McKinsey Academy is provided by McKinsey & Company, Inc. United States and its affiliates (“us”, “our” or “we”) for your (“you”) use, subject to the following terms and conditions (the “Terms”).
%hr
%p
  By accessing and using this Site or any other aspect of McKinsey Academy, you agree to these Terms. If you do not agree to these Terms, or are legally unable to agree to these Terms, you may not use the Site or McKinsey Academy.
%p
  We may periodically change the Terms, so please check back from time to time. By accessing and using this Site or McKinsey Academy after any changes to these Terms have been made, you agree to be bound by such revised Terms. These Terms were last updated on December 1, 2016.
%p
  For an explanation of our practices and policies related to the collection, use and storage of your information, please refer to Section 10 of these Terms as well as to our Privacy Policy (available at
  %a{href: '/privacy'}
    http://www.mckinseyacademy.com/privacy
  ).

%p.style-2 1. Copyrights
%p
  Except where indicated otherwise, all content and functionality of McKinsey Academy (except for User Content defined in Section 5 below), including text, course content and materials, videos, graphics, logos, icons, and images and the selection and arrangement thereof (the “McKinsey Academy Content”), is the exclusive property of either us or our licensors and is protected by U.S. and international copyright laws. Neither the content nor functionality of McKinsey Academy or this Site may be copied, reproduced, modified, published, uploaded, posted, transmitted, or distributed in any way without our written permission. Except as provided herein, we do not grant any express or implied right to you under any patents, copyrights, trademarks, trade secret information or other proprietary rights.

%p.style-2 2. Trademarks
%p
  The trademarks, service marks, designs, and logos (collectively, the “Trademarks”) displayed in connection with McKinsey Academy, including on the Site, are the registered and unregistered Trademarks of us and our licensors. You agree that, except as expressly permitted by us, you will not (i) refer to or attribute any information to us or our licensors in any public medium (e.g., press release, web sites or public social media) for advertising or promotional purposes, or for the purpose of informing or influencing any third party or (ii) use or reproduce any Trademark of ours or our licensors, or imply any endorsement by or relationship with us or our licensors.

%p.style-2 3. Use of Content
%p
  We hereby grant you a limited, non-exclusive, non-transferable license, for the term hereof, to access, download, and display the McKinsey Academy Content to which you are provided access by us, either as an unregistered user or as a Registered User, solely for your personal and non-commercial use, provided that you do not modify such McKinsey Academy Content in any way (including create derivative works thereof) or use such McKinsey Academy Content other than in connection with your personal and non-commercial participation in the McKinsey Academy courses and services made available to you by us from time to time, and that you retain all copyright and other proprietary notices displayed on the McKinsey Academy Content. You may not otherwise reproduce, modify, distribute, transmit, post, or disclose any McKinsey Academy Content without our prior written consent.
%p
  In no event may you attempt to gain access to the Site or any other portion or feature of McKinsey Academy, any McKinsey Academy Content, any User Account other than your own, or any other materials, information, data, networks or systems owned or operated by us or a third party on our behalf through any means not intentionally made available to you by us. In addition, you agree not to use robots, spiders, scripts or web-scraping tools to scrape, or otherwise download or collect, including in bulk, any McKinsey Academy Content, including User Content.

%p.style-2 4. User Registration
%p
  In order to use the Site or participate in certain other aspects of McKinsey Academy you, or your sponsoring organization (e.g., your employer or other organization or entity, including a professional organization, through which you are seeking to participate in McKinsey Academy) (your “Sponsoring Organization”) acting on your behalf and with your consent, must first register with us by creating a user account (a “User Account”). In order to create a User Account, you or your Sponsoring Organization must provide to us, either directly or indirectly (e.g., by authorizing a third-party site such as LinkedIn to provide to us), your first and last name and an email address. You must also select a user password and, for certain McKinsey Academy functionality, you may also be required to provide additional information as indicated at the time of registration. You and/or your Sponsoring Organization may also be prompted to provide additional optional information about yourself, including biographical, employment and other information. All of this information comprises your “User Account Information”.
%p
  You agree that you and your Sponsoring Organization will provide us only with accurate User Account Information and notify us promptly if any such User Account Information changes. You also acknowledge that you are responsible for maintaining the privacy and security of your User Account name and password. You may not share access to your User Account with any third party other than, if you so elect, your Sponsoring Organization, for any reason. If you believe your User Account privacy or security has been compromised you must notify us immediately. Our use of your User Account Information is subject to our Privacy Policy and these Terms.
%p
  We may retain User Account Information indefinitely in order to use it for ensuring compliance with these terms and any applicable legal requirements, in order to modify and improve McKinsey Academy and our related service offerings, as well as for any other purposes authorized by these Terms or our Privacy Policy.

%p.style-2 5. User Content
%p
  In connection with your use of the Site and/or other aspects of McKinsey Academy, you may have the opportunity to submit, post, publish, distribute, or otherwise share information, images, videos, materials, data or other content, including without limitation: posts to discussion forums or message boards; survey, questionnaire, or assessment responses; work product (in electronic or physical form) in connection with courses offered through McKinsey Academy; modifications to or commentary about McKinsey Academy Content or other work product of users of the Site; and feedback or comments about the Site, McKinsey Academy, McKinsey Academy Content, and courses or services provided or considered for provision in connection with McKinsey Academy (collectively, “User Content”). You acknowledge and agree that, by providing us any such User Content, you automatically grant, and hereby do grant, to us a worldwide, non-exclusive, transferable, assignable, sublicensable, fully paid-up, royalty-free, perpetual, irrevocable license and right to use, reproduce, publish, distribute, modify and otherwise exploit such User Content for any purpose, and in any form or media, not prohibited by applicable law. You also grant to other users of the McKinsey Academy services, including this Site, a non-exclusive license to access, reproduce and use such User Content in connection with their own use of McKinsey Academy services in compliance with these Terms. In addition, you hereby waive any claims against us for any alleged or actual infringement of any rights of privacy or publicity, intellectual property rights, moral rights, or rights of attribution in connection with our use of such User Content as permitted by these Terms.
%p
  You covenant that you shall not submit or otherwise publish on the Site or otherwise provide to us any User Content that (a) is threatening, libelous, defamatory, or obscene; (b) would constitute, or that encourages conduct that would constitute, a criminal offense, give rise to civil liability, or otherwise violate applicable law; (c) infringes the intellectual property, privacy, publicity, or other rights of any third parties; (d) contains a computer virus or other malicious or destructive element; (e) contains advertising; (f) constitutes or contains false or misleading statements, including for the purpose of misrepresenting your identity or your reason or intent in accessing the Site or McKinsey Academy or providing any such User Content; or (g) violates these Terms or is designed to interfere, or would reasonably be expected to interfere, with our provision of the Site or of McKinsey Academy and the reasonable use and enjoyment of other users of the same.
%p
  We do not and cannot review all User Content, and we are not responsible to you or any other party with respect to, and do not endorse or make any representation or warranty with respect to, any User Content provided or made available by other users of the Site. We reserve the right to refuse to accept or publish any User Content, and to remove any previously accepted or published User Content, in whole or in part, for any reason or for no reason.

%p.style-2 6. Notices of Infringement and Takedown
%p
  In addition to the limitations on User Content set forth in Section 5, we prohibit the posting of any information in connection with McKinsey Academy, including on this Site, which infringes or violates the copyright rights and/or other intellectual property rights (including rights of privacy and publicity) of any person or entity. If you believe that your intellectual property right (or such a right that you are responsible for enforcing) is infringed by any content on the Site or available through McKinsey Academy, please write to us at the address shown below, giving a written statement that contains: (a) identification of the copyrighted work and/or intellectual property right claimed to have been infringed; (b) identification of the allegedly infringing material that is requested to be removed; (c) your name, address, and daytime telephone number, and an e-mail address if available; (d) a statement that you have a good faith belief that the use of the copyrighted work and/or exercise of the intellectual property right is not authorized by the owner, its agent, or the law; (e) a statement that the information in the notification is accurate, and, under penalty of perjury, that the signatory is authorized to act on behalf of the owner of the right that is allegedly infringed; and (f) the signature of the intellectual property right owner or someone authorized on the owner's behalf to assert infringement of the right. Upon our receipt of such a statement (or any statement in conformance with 17 U.S.C. Section 512(c)(3)), we will remove any posted material that infringes the copyright or other intellectual property right of any person under U.S. law. U.S. law provides significant penalties for submitting such a statement falsely. Under appropriate circumstances, persons who repeatedly submit infringing or unlawful material will be prohibited from posting further submissions. Our contact for submission of notices under this Section 6 is set forth in the “Contact Us” Section of these Terms. 

%p.style-2 7. Disclaimers
%p
  THE CONTENT AND FUNCTIONALITY ON THE SITE AND OF MCKINSEY ACADEMY IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. IN ADDITION, WE MAKE NO WARRANTY THAT THE SITE OR ANY OTHER ASPECT OF MCKINSEY ACADEMY WILL OPERATE IN AN UNINTERRUPTED OR ERROR-FREE MANNER, THAT MCKINSEY ACADEMY, THE SITE, THE MCKINSEY ACADEMY CONTENT OR ANY USER CONTENT IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR THAT ANY DEFECTS IN MCKINSEY ACADEMY, THE SITE, THE MCKINSEY ACADEMY CONTENT OR ANY USER CONTENT WILL BE IDENTIFIED OR CORRECTED, OR THAT MCKINSEY ACADEMY, THE SITE, THE MCKINSEY ACADEMY CONTENT, ANY USER CONTENT PROVIDED THROUGH THE SITE OR ANY OF THE COURSES OR SERVICES PROVIDED TO YOU DIRECTLY OR INDIRECTLY AS PART OF MCKINSEY ACADEMY WILL MEET YOUR NEEDS OR EXPECTATIONS. WE ARE NOT, AND MCKINSEY ACADEMY, THIS SITE AND THE COURSES OFFERED IN CONNECTION THEREWITH ARE NOT OFFERED BY AN ACCREDITED EDUCATIONAL PROVIDER. NEITHER WE NOR OUR THIRD PARTY CONTENT PROVIDERS MAKE ANY WARRANTIES, EXPRESS OR IMPLIED, AS TO THE OWNERSHIP, ACCURACY, RELEVANCE OR ADEQUACY OF THE MCKINSEY ACADEMY CONTENT OR ANY USER CONTENT, OR THAT MCKINSEY ACADEMY, THE SITE OR ANY MCKINSEY ACADEMY CONTENT OR USER CONTENT WILL CONTINUE TO BE MADE AVAILABLE. WE SHALL HAVE NO LIABILITY OR RESPONSIBILITY FOR ANY INFORMATION PUBLISHED ON LINKED WEB SITES, CONTAINED IN ANY USER CONTENT PUBLISHED ON OR MADE AVAILABLE TO YOU THROUGH MCKINSEY ACADEMY OR THE SITE, OR PROVIDED BY THIRD PARTIES.
%p
  EXCEPT AS PROHIBITED BY LAW, NEITHER WE NOR OUR THIRD PARTY LICENSORS AND CONTENT PROVIDERS SHALL BE LIABLE TO YOU, YOUR SPONSORING ORGANIZATION OR ANY OTHER PERSON OR ENTITY FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES OR LOSSES OR FOR LOST REVENUES OR PROFITS, WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES AND REGARDLESS OF THE THEORY OF LIABILITY, IN CONNECTION WITH YOUR USE OF MCKINSEY ACADEMY, THE SITE OR ANY MCKINSEY ACADEMY CONTENT OR USER CONTENT, OR ANY ACTION, INACTION OR DECISION TAKEN BY YOU OR ANY OTHER PARTY IN CONNECTION THEREWITH.
%p
  IN NO EVENT SHALL OUR AGGREGATE LIABILITY WITH RESPECT TO ALL CLAIMS, ACTIONS AND EVENTS ARISING OUT OF OUR PROVISION TO YOU OF MCKINSEY ACADEMY EXCEED THE CUMULATIVE FEES, IF ANY, RECEIVED BY MCKINSEY FROM YOU DURING THE PRECEDING TWELVE MONTHS.

%p.style-2 8. Third Party Web Sites &amp; edX Platform
%p
  The Site, certain McKinsey Academy Content, and certain related features and services, including support services, of McKinsey Academy may be hosted or provided directly or indirectly by third parties. By using McKinsey Academy, the Site or any McKinsey Academy Content, you acknowledge and agree that we may provide such third parties with access to McKinsey Academy, the Site and any User Content provided by you in connection with your use thereof in any manner and for any purpose consistent with these Terms and our Privacy Policy. 
%p
  In addition, and without limiting the foregoing, we are collaborating with edX Inc. (“edX”), a not-for-profit corporation founded by leading academic institutions that provides training, hosting and other services in connection with online and blended learning, in order to help develop, provide and improve McKinsey Academy. As part of our collaboration with edX, certain aspects of McKinsey Academy, including this Site, may be developed, hosted, maintained, supported and/or delivered in whole or in part by edX, either directly or indirectly. In connection therewith, edX and its third party service providers may also receive access to User Content, User Account Information and other information about your use of McKinsey Academy. Consistent with our Privacy Policy, edX is required to maintain as confidential any personally-identifiable information about you and your use of McKinsey Academy to which edX may have access in connection with its provision of the services and support described above.

%p.style-2 9. Certificates
%p
  In our sole discretion we may choose to offer a certificate, statement or other acknowledgement or documentation to you and/or your Sponsoring Organization if you satisfy certain criteria (e.g., course completion) in connection with one or more courses or programs made available to you through McKinsey Academy (a “Certificate”). The issuance of a Certificate to you and/or your Sponsoring Organization, and the criteria governing such issuance, are solely within our discretion and may be changed at any time. In addition, you acknowledge that (a) your receipt of a Certificate, if any, does not represent an endorsement by us and (b) we are not an accredited educational institution, nor have we sought any such accreditation, and any such Certificate does not convey any academic credit or standing. You agree that you will not seek to obtain a Certificate through any false, misleading, or unlawful means, or misrepresent to the public or to any third party the nature, content or terms of issuance of any such Certificate.

%p.style-2 10. Privacy
%p
  We understand that your privacy is important to you and we are committed to respecting your privacy and protecting your personally-identifiable information (which is also referred to in some contexts and under some applicable laws as your personal data). Our Privacy Policy (available at
  %a{href: '/privacy'}
    http://www.mckinseyacademy.com/privacy
  ) describes how we use and protect your personally-identifiable information, as well as how and with whom we may share that information (including, for certain users, sharing information with your Sponsoring Organization).
%p
  Your use of McKinsey Academy, including the Site, is subject to and governed by these Terms and our Privacy Policy, and by using this Site or by otherwise using or participating in McKinsey Academy you confirm your agreement with, and understanding of, our Privacy Policy.
%p
  YOU ARE ENCOURAGED TO PRINT AND TO READ THE PRIVACY POLICY CAREFULLY AND TO CONTACT US BEFORE COMMENCING YOUR USE OF MCKINSEY ACADEMY OR THE SITE IF YOU HAVE ANY QUESTIONS ABOUT OUR PRIVACY POLICY OR THESE TERMS. 
%p
  IN THE EVENT OF ANY CONFLICT BETWEEN THESE TERMS AND OUR PRIVACY POLICY, THESE TERMS SHALL CONTROL.

%p.style-2 11. Termination; Discontinuation
%p
  You agree that we, in our sole discretion, may terminate your use of McKinsey Academy, the Site or your participation in the foregoing, for any reason or no reason, upon notice to you. In addition to the disclaimers set forth in Section 7, you acknowledge and agree that we reserve the right at any time in our sole discretion to cancel, delay, reschedule, or alter the format of any course or service offered through McKinsey Academy or the Site, or to cease providing any part or all of McKinsey Academy, the Site, the McKinsey Academy Content, or related services, and you agree that your right to use McKinsey Academy, the Site (or such portion thereof) and any applicable McKinsey Academy Content shall cease immediately and that we shall have no liability to you or any third party for such an action. If you no longer desire to have access to the Site, you may terminate your participation in the Site at any time. The rights granted to you hereunder will terminate automatically upon any termination of your right to use McKinsey Academy or the Site, as applicable; provided, however, that any license granted to you by us and any provision of these Terms or the Privacy Policy necessary to enforce or exercise your or our rights or obligations hereunder shall survive the termination of these Terms.

%p.style-2 12. Governing Law; Jurisdiction
%p
  These Terms are governed by the laws of the State of New York without reference to the principles of conflicts of laws thereof.

%p.style-2 13. Children
%p
  We understand the importance of protecting children's privacy, especially in an on-line environment. Neither McKinsey Academy nor the Site is designed for or directed at children 13 years of age or younger, and we will not intentionally collect or maintain information about anyone under this age.

%p.style-2 14. Miscellaneous
%p
  Use of the Site or of McKinsey Academy is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including without limitation this Section 14, and of our Privacy Policy. If any provision of these Terms is deemed invalid or unenforceable for any reason, such provision shall be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the Terms shall continue in full force and effect. Any rights not expressly granted herein are reserved.

%p.style-2 15. Contact Us
%p
  If you have any questions about these Terms, our Privacy Policy, or if you require any assistance in navigating or reading the materials on this Site or any other McKinsey Academy sites, please contact us at:

%p.address
  %br McKinsey Academy
  %br c/o Marc Metakis
  %br 55 East 52nd Street
  %br New York, NY 10022
  %br support@mckinseyacademy.com

