.admin-detail{
  ul{
    list-style: none;
    padding: 0;
    li{
      text-transform: uppercase;
      display: inline-block;
      padding: 20px 5px;
    }
  }
}
.client-programs{
  .courses{
    display: none;
  }
}
.course-list .course,
.student-list .student{
  cursor: pointer;
  &:hover{
    background-color: $mckinsey-academy-blue-gray;
  }
  &.selected{
    background-color: $mckinsey-academy-alt-blue;
  }
}

.program-selection .select-program-box{
  cursor: pointer;
  margin: 5px;
  border: 1px solid $border-line;
  &:hover{
    background-color: $mckinsey-academy-blue-gray;
  }
  .course-box{
    display: none;
  }
  &.selected{
    background-color: $mckinsey-academy-alt-blue;
    .course-box{
      display: block;
    }
  }
}