// Bi-App-Sass for APROS
// Define SASS in LTR abd Bi-App-Sass will automatically write respective RTL

@import "mixins";
@import "colors";
@import "foundation/functions";
@import "variables";


body{
  &.with-program{
    header {
      .logo {
        @include float(left);
      }
      nav {
        @include float(left);
      }
      .user-info {
        @include float(right);
      }
    }
    .program-bar{
      [class*="column"]{
        @include float(left);
        + [class*="column"]{
          &:last-child{
            @include float(right);
          }
        }
      }
      .program-menu{
        @include float(left);
      }
      .course_nav{
        .course-tabs{
          @include float(right);
          @include text-align(right);
          @include mobile{
            text-align: center;
          }
        }
      }
    }
  }
}

//Image Explorer

.image-explorer-hotspot-reveal{
  .image-explorer-close-reveal{
    @include float(right);
  }
  .image-explorer-hotspot-reveal-body {
    ul {
      @include margin-left(1.1rem);
    }
  }
}

//Course Cohort

#course-lessons,
#course-group-work,
#course-cohort,
#course-discussion,
#course-news,
#course-overview,
#course-progress,
#course-resources,
#course-syllabus{
  .global-help,
  .global-help:visited {
    @include right(10px);
  }
}

#course-cohort{
  .student-data{
    ul.students{
      @include float(left);
      li{
        @include float(left);
        @include border-right(1px solid $almost-white);
        &:first-child,
        &:last-child {
          @include border-right(none);
        }
      }
    }
    a.hide-team{

      @include float(right);
    }
  }
  .leaderboards{
    .leaderboards-list{
      li{
        @include border-right(1px solid $almost-white);
        .header{
          [class*="label"]{
            @include text-align(left);
          }
        }
        .user{
          .avatar{
            @include float(left);
            @include margin-right(10px);
          }
          .info{
            @include margin-left(60px);
            @include text-align(left);
          }
        }
        .rank{
          min-height: 71px;
        }
      }
    }
  }
}

// Progress Page

#course-progress-v2{
  table{
    tr{
      td, th{
        @include border-right(1px solid $border-line);
        &:last-child{
          @include border-right(none);
        }
        &:only-child{
          &.visual{
            @include border-right(1px solid $border-line);
          }
        }
      }
    }
  }
}

.lesson-with-list {
  @include padding-right(rem-calc(40));
    a[data-reveal-id] {
      @include right(rem-calc(10));
    }
}

.lesson-row-item{
    .status{
      @include float(left);
    }
    .lesson-item-name{
      @include text-align(left);
      @include margin-left(18px);
    }
}

// Discussion Page

.discussion-board{
  .page-header{
    .page-header-main {
      @include float(left);
    }
    .page-header-secondary{
      @include float(right);
      @include text-align(right);
    }
  }
  .page-header-secondary{
    .forum-search{
      @include margin-left(20px);
    }
  }
  .page-content{
    .discussion-post{
      .post-header-actions{
        @include float(right);
      }
      ol, ul{
        margin-right: 2.5rem;
      }
    }
    .forum-response{
      .response-header-actions{
        @include right(0);
      }
    }
  }
}


//Misc

#mckinsey_help{
  .help-line{
    padding: 15px 0;
    @include padding-left(50px);
  }
}

#course-menu{
  .bookmark{
    @include right(rem-calc(5));
  }
}

header[role=banner]{
  &.background-blue{
    .header-logo-img{
      @include float(left);
      @include margin-right(15px);
    }
    .user-info{
      .user-profile{
        .user-detail{
          > div{
            @include text-align(left);
          }
          .field-group{
            @include margin-left($detail_icon_size + 5);
            @include text-align(left);
            .editfield{
              @include border-left(1px solid $border-line);
              @include padding-left(4px);
            }
          }
        }
      }
    }
  }
  .language-selector{
    @include right(10px);
    @include text-align(left);
    .select-box{
      ul{
        @include right(-11px);
        @include mobile {
          @include right(-30px);
        }
        li{
          a{
            @include text-align(left);
          }
        }
      }
      &:after{
        @include right(0);
      }
      a.current{
        @include padding-right(20px);
      }
    }
  }
}

.course_nav{
  .xns-pane{
    @include right(0);
  }
}

.xns-container{
  @include padding-left(10px);
  .xns-content{
    .xns-tab-list{
      @include margin-left(0);
      li{
        @include border-right(1px solid #ddd);
        &:first-child{
          @include padding-left(0);
        }
        &:last-child{
          @include border-right(0);
        }
      }
    }
  }
  .xns-items{
    @include margin-left(0);
    @include padding-right(10px);
  }
  .xns-close-item{
    @include right(-7px);
  }
}

.login-form{
  .help{
    @include border-left(1px solid $mckinsey-grey);
  }
  label[for=id_accept_terms]{
    @include padding-left(20px);
  }
}

#home-courses{
  #course-statistics{
    section{
      @include border-right(1px solid $almost-white);
      &:last-child{
        @include border-right(none);
      }
      .info{
        @include right(10px);
      }
    }
  }
  #home-discover{
    .wrapper{
      section{
        @include border-right(1px solid $almost-white);
        &:first-of-type {
          @include padding-left(0);
        }
        &:last-of-type {
          @include padding-right(0);
          @include border-right(0);
        }
        ul{
          li{
            time{
              @include margin-right(1px);
              @include border-right(1px solid $mckinsey-academy-black);
              @include padding-right(5px);
            }
          }
        }
        .tweet{
          .content{
            @include float(left);
          }
        }
      }
    }
  }
}

#generalModal.reveal-modal,
#messagesModal.reveal-modal {
  @include padding-right(6em);
}

// Footer

footer[role=contentinfo]{
  .copyright{
    @include float(left);
    @include margin-right(10px);
  }
  nav{
    @include float(left);
    ul{
      @include float(left);
      li{
        @include float(left);
        @include border-left(1px solid $footer-separator);
      }
    }
  }
}


// RTL specified CSS selectors

.rtl {
  .chat-block{
    .user{
      .message-body{
        &::after{
          border-color: transparent $chat-bg-color $chat-bg-color transparent !important;
          right: 100% !important;
          border-width: 12px !important;
        }
        &::before{
          left: -16px !important;
          right: auto !important;
          border-color: transparent $chat-user-message-bg-color $chat-user-message-bg-color transparent !important;
        }
      }
    }
    .bot{
      .message-body{
        &::after{
          border-color: transparent transparent $chat-bg-color $chat-bg-color !important;
          left: 100% !important;
          border-width: 12px !important;
          right: auto !important;
        }
        &::before{
          border-color: transparent transparent $chat-bot-message-bg-color $chat-bot-message-bg-color !important;
          bottom: 0;
          right: -16px !important;
          left: auto !important;
        }
      }
    }
  }

  //ooyala video controls
  .oo-interactive-container{
    direction: ltr;
  }

  //Cohort
  #course-lessons,
  #course-group-work,
  #course-cohort,
  #course-discussion,
  #course-news,
  #course-overview,
  #course-progress,
  #course-resources,
  #course-syllabus{
    .global-help,
    .global-help:visited {
      transform: scale(-1, 1);
    }
  }

  #course-cohort{
    .leaderboards{
      .leaderboards-list{
        li{
          &:last-child{
            border-left: 0;
          }
          .rank{
            min-height: 71px;
          }
        }
      }
    }
    #map-cohort{
      .leaflet-popup-close-button{
        left: 0;
        right: auto !important;
      }
    }
  }

  // Progress Page v2

  #course-progress-v2{
    tbody{
      tr{
        td{
          .course-progress{
            .total{
              right: auto !important;
              left: rem-calc(-85) !important;
            }
            .visualization{
              .bar{
                right: 0;
                left: auto;
                background: linear-gradient(to left, #389b46, #b8d432);
                -pie-background: linear-gradient(to left, #389b46, #b8d432);
                &.trailing {
                  background: #ef4326;
                  background: linear-gradient(to left, #ef4326, #fbac40);
                  -pie-background: linear-gradient(to left, #ef4326, #fbac40);
                }
              }
            }
          }
          &.visual{
            border-left: 1px solid $border-line;
            border-right: 0;
          }
        }
      }
    }
    .user-progress{
      .visual{
        border-left: 1px !important;
      }
    }
  }

  //Cousre Progress

  .course-progress{
    .visualization{
      .bar{
        left: auto;
        right: 0;
        background: linear-gradient(to left, #389b46, #b8d432);
        -pie-background: linear-gradient(to left, #389b46, #b8d432);
        &.trailing {
          background: #ef4326;
          background: linear-gradient(to left, #ef4326, #fbac40);
          -pie-background: linear-gradient(to left, #ef4326, #fbac40);
        }
      }
      .total{
        -webkit-transform: translate(50%,0);
        -moz-transform: translate(50%,0);
        -ms-transform: translate(50%,0);
        -o-transform: translate(50%,0);
        transform: translate(50%,0);
      }
    }
  }

  //Modal
  .close-reveal-modal{
    right: auto;
    left: .78571rem;
  }

  // Misc

  .reset-password-form{
    form{
      float: right;
    }
  }

  .program-bar{
    .course_info{
      .program-name,
      .course-name{
        direction: ltr;
        text-align: right;
      }
    }
  }

  .fa-arrow-circle-right{
    &:before{
      content: "\f0a8";
    }
  }

  ol, ul{
    margin-left: 0;
    margin-right: 1.4rem;
  }

  img[align="right"]{
    float: left;
  }

  table{
    tr{
      td{
        text-align: initial;
      }
    }
  }

  #course-overview{
    .col-left{
      float: right;
    }
    .col-right{
      float: left;
      padding-left: 0;
      padding-right: 20px;
    }
  }

  #course-resources{
    .fa-li{
      left: auto;
      right: -2.14285714em;
    }
  }

  #OoyalaPingerIFrame0{
    left: auto;
    right: -5px;
  }
  
  header[role=banner]{
    &.background-blue{
      #profile-container{
        display: none;
        &.open{
          display: inline;
          right: auto !important;
          left: 0 !important;
        }
      }
    }
  }

  select{
    background-position: 0 center;
  }

  // Login & Activation

  .login-form{
    .columns{
      &:first-child{
        float: right;
      }
      &:last-child{
        float: left;
      }
    }
  }

  #module_list{
    ul{
      margin-right: 0;
    }
  }

  .fa-list-ul{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
  }
  .themed-xblock.mentoring .choice .choice-tips-container.with-tips,
  .themed-xblock.mentoring .questionnaire .feedback{
    border: 0 !important;
  }

  // Discussion Page

  .discussion-board{
    .page-header{
      .page-header-main{
        .all-topics{
          .fa{
            margin-right: 0;
            margin-left: 10px;
          }
        }
        .breadcrumbs{
          .nav-item{
            margin-right: 5px;
          }
        }
      }
      .page-header-secondary{
        .forum-search{
          margin-left: 0;
          .search-button{
            border-radius: 3px 0 0 3px;
            margin-left: 0;
            margin-right: -5px;
          }
        }
        .form-actions{
          .btn{
            margin-bottom: 18px !important;
          }
        }
      }
    }
    .page-content{
      .forum-nav-browse-filter{
        .icon{
          right: auto;
          left: 11px;
        }
      }
      .forum-nav-browse-menu{
        margin-right: 0;
        .forum-nav-browse-title{
          text-align: right;
        }
        .forum-nav-browse-menu-following{
          .forum-nav-browse-title{
            padding-left: 10px;
            padding-right: 30px;
          }
          .icon{
            float: right;
            left: auto;
            right: 10px;
          }
        }
        .forum-nav-browse-submenu{
          margin-right: 0;
          .forum-nav-browse-title{
            padding-left: 10px;
            padding-right: 20px;
          }
        }
      }
      .forum-nav{
        select{
          width: 100% !important;
        }
      }
      .forum-nav-thread-list{
        margin-right: 0;
      }
      .home-helpgrid{
        th{
          text-align: right;
        }
      }
      .post-actions-list{
        text-align: left;
        .actions-dropdown{
          left: 0;
          right: auto;
          .actions-dropdown-list{
            &:before{
              right: auto;
              left: 6px;
              border-width: 8px 6px;
            }
            &:after{
              left: 6px;
              right: auto;
            }
            .action-list-item{
              text-align: left;
              .action-label{
                float: right;
              }
              .action-icon{
                margin-left: 0;
                margin-right: 5px;
              }
            }
          }
        }
        .action-button{
          .action-label{
            float: right;
          }
        }
      }
      .forum-response{
        .response-header-actions{
          float: left;
          right: auto;
          .response-actions-list{
            text-align: left;
            .actions-dropdown{
              left: 0;
              right: auto;
            }
            .actions-dropdown-list{
              .action-list-item{
                text-align: left;
                .action-label{
                  float: right;
                }
              }
              &:before{
                left: 6px;
                right: auto;
                border-width: 8px 6px;
              }
              &:after{
                left: 6px;
                right: auto;
              }
            }
            .action-label{
              float: right;
            }
          }
        }
        .comment-actions-list{
          float: left;
          left: 10px;
          right: auto;
          text-align: left;
          .action-label{
            float: right;
          }
        }
        .response-body{
          padding: 10px 0 0 30px;
        }
        .actions-dropdown{
          left: 0;
          right: auto;
          border-width: 8px 6px;
          .actions-dropdown-list{
            &:before{
              left: 6px;
              right: auto;
              border-width: 8px 6px;
            }
            &:after{
              right: auto;
              left: 6px;
            }
            .action-list-item{
              text-align: left;
            }
          }
        }
      }
      .wmd-button-row{
        text-align: right;
        .wmd-button {
          left: auto !important;
          position: relative;
          margin: 0 2px;
        }
        .wmd-spacer {
          left: auto !important;
          margin-right: 14px;
          position: relative;
        }
      }
      .post-update{
        float: left !important;
      }
      .post-cancel{
        float: right;
      }
      .wmd-preview ul,
      .wmd-preview ol{
        margin-right: 2.5rem;
      }
    }
    .action-button{
      &:hover{
        .action-icon{
          border-radius: 3px 0 0 3px;
        }
      }
    }
    .wmd-preview-label{
      padding-right: 5px;
    }
  }
  #course-discussion{
    .discussion-content{
      .add-response{
        .add-response-btn{
          float: left;
          margin-right: 20px;
          margin-left: 0;
        }
      }
      .discussion-column{
        .response-count{
          margin-right: 0;
          margin-left: 10px;
          float: left;
        }
      }
      .comments{
        .comment-form{
          .discussion-submit-comment{
            float: left;
            margin-left: 0;
            margin-right: 20px;
          }
        }
      }
      button.cancel{
        float: right !important;
      }
      button.submit{
        float: left;
        margin-left: 0;
      }
    }
  }
}
