// Bi-App-Sass for APROS
// Define SASS in LTR abd Bi-App-Sass will automatically write respective RTL

@import "mixins";
@import "colors";

body{
  &.with-program{
    header {
      .logo {
        @include float(left);
      }
      nav {
        @include float(left);
      }
      .user-info {
        @include float(right);
      }
    }
    .program-bar{
      [class*="column"]{
        @include float(left);
        + [class*="column"]{
          &:last-child{
            @include float(right);
          }
        }
      }
      .program-menu{
        @include float(left);
      }
      .course_nav{
        .course-tabs{
          @include float(right);
          @include text-align(right);
          @include mobile{
            text-align: center;
          }
        }
      }
    }
  }
}

//Image Explorer

.image-explorer-hotspot-reveal{
  .image-explorer-close-reveal{
    @include float(right);
  }
  .image-explorer-hotspot-reveal-body {
    ul {
      @include margin-left(1.1rem);
    }
  }
}

// Simmulated Chat

.chat-block{
  .bot{
    .message-body{
      @include margin-left(25px $imp);
    }
  }
  .user{
    .message-body{
      @include margin-right(25px $imp);
    }
  }
}

// RTL specified CSS selectors

.rtl {
  .chat-block{
    .user{
        text-align: left !important;
      .message-body{
        &::after{
          border-color: transparent $chat-bg-color $chat-bg-color transparent;
          right: 100%;
        }
        &::before{
          left: -16px;
          right: auto;
          border-color: transparent $chat-user-message-bg-color $chat-user-message-bg-color transparent;
        }
      }
    }
    .bot{
      .message-body{
        &::after{
          border-color: transparent transparent $chat-bg-color $chat-bg-color;
          left: 100%;
        }
        &::before{
          border-color: transparent transparent $chat-bot-message-bg-color $chat-bot-message-bg-color;
          bottom: 0;
          right: -16px;
          left: auto;
        }
      }
    }
  }
}
