@import "settings";
@import "foundation";
@import "colors";
@import "mixins";
@import "buttons";

$rowWidth: 960px;

body{
  background-color: $background-tint;
  font-family: "Open Sans", sans-serif;
}

.header{
  $header-bar-height: 48px;
  background-color: $header-background;
  @include left-right-gradient($header-left-color, $header-right-color, 320px);
  color: $header-text;
  height: $header-bar-height;
  max-height: $header-bar-height;
  font-size: rem-calc(20);
  .columns{
    padding: 0;
  }
  .header-menu{
    top:-18px;
    position: relative;
    ul{
      li{
        list-style: none;
        text-transform: uppercase;
        font-size: rem-calc(12);
        margin: 0 0.5rem;
      }
    }
  }
  ul, li{
    display: inline-block;
  }
  >div{
    height: 100%;
    //margin: auto 0;
  }
  .logo{
    background: url(/static/image/McK_McKA_cobranding.png) no-repeat left center;
    width: 330px;
    height: 100%;
    display: inline-block;
  }
  .user-info{
    cursor: pointer;
    float: right;
    color: $user-text;
    font-size: rem-calc(12);
    text-align: right;
    $drop_down_offset: 3px;
    .fa{
      position:relative;
      &.fa-sort-asc{
        top: -1*$drop_down_offset;
      }
      &.fa-sort-desc{
        top: $drop_down_offset;
      }
    }
    div{
      display: inline;
    }
    .user-image img{
      @include square-size($header-bar-height);
    }
    .user-profile{
      $border-color: rgb(224,224,224);
      color: rgb(51,51,51);
      height: auto;
      display: block;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      background-color: #FFFFFF;
      div{
        display: block;
      }
      .user-detail{
        width: 100%;
        >div{
          padding-top: 3px;
          padding-left: 10px;
          text-align: left;
          border-bottom: 1px solid $border-color;
          height: 30px;
          vertical-align: middle;
          &.username{
            text-align: center;
            font-size: rem-calc(20);
          }
          &.logout{
            height: auto;
            vertical-align: middle;
            text-align: center;
            .button{
              margin: 0 0 5px;
            }
          }
        }
        $detail_icon_size: 18px;
        .fa{
          width: $detail_icon_size;          
          font-size: rem-calc($detail_icon_size);
          color: rgb(177,194,203);
          text-align: center;
        }
        .field-group{
          font-size: rem-calc(10);
          margin-left: $detail_icon_size + 5;
          margin-top: -1*$detail_icon_size;          
          .fieldtitle{
            font-weight: bold;
            .editfield{
              padding-left: 4px;
              border-left: 1px solid $border-color;
            }
          }
          .fieldcontent{
          }
        }
      }
      .user-image {
        width: 100%;
        height: 180px;
        img{
          margin: 10px 30px;
          @include square-size(160px);
        }
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
      }
    }  
  }
  .login-action{
    float: right;
    .button{
      padding: 8px 15px;
      margin: 10px;
    }
  }
  .application-name{
    display: inline-block;
    padding: 10px 10px;
  }
}

.footer{
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  background-color: $background-tint;
  color: $footer-text;
  padding: 0;
  ul{
    margin: 0;
    li{
      list-style: none;
      padding-right: 9px;
      font-size: rem-calc(10);
    }
    li+li{
      border-left: 1px solid $footer-separator;
      padding-left: 10px;
    }
  }
  ul, li{
    display: inline;
  }
}

.login-form{
  margin-top: 50px;
  .error{
    color: $mckinsey-red;
  }
}

.user-profile{
  width: 220px;
  div{
    display:block;
  }
}
