.button{
  &.small{
    $top-bottom-padding: rem-calc(10);
    padding-top: $top-bottom-padding;
    padding-bottom: $top-bottom-padding;
  }
}
a.button{
  color: $pure-white;
  &:visited{ color: $pure-white; }
}
