//$content_page_top: 2*$header-bar-height + 40;
//$content_page_bottom: $header-bar-height + 10;

.program-bar{
  @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);
  height: 48px;
  background-color: $program-bar-background;
  padding-top: 12px;
  .program-name{
    @include font-spec(10, bold, 12);
    color: $program-bar-program-title;
    text-transform: uppercase;
    &::after{
      content: ':';
    }
  }
  .course-name{
    @include font-spec(14, semibold, 14);
    color: $program-bar-course-title;
  }
}

.card-flip {
  position: relative;
  -webkit-perspective: 400px;

  &:hover {
    .front {
      z-index: 5;
      -webkit-transform: rotateY(180deg);
    }

    .back {
      z-index: 5;
      -webkit-transform: rotateX(0deg);
    }
  }

  .front, .back {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 400ms ease-in-out;
    -webkit-backface-visibility: hidden;
  }

  .front {
    z-index: 10;
    -webkit-transform: rotateX(0deg);
  }

  .back {
    -webkit-transform: rotateY(-180deg);
  }
}

.home-page{
  article {
    margin: 10px 0;
    padding: 20px 27px;
    border-bottom: 1px solid $almost-white;
  }

  ul {
    margin: 0;
    list-style-type: none;
  }

  .title {
    color: $almost-white;
    margin-bottom: 10px;
    @include font-spec(14, semibold, 14);
  }

  .sub-title {
    color: $mckinsey-blue;
    margin-bottom: 10px;
    @include font-spec(10, normal, 10);
  }

  .course-menu{
    margin: 10px 0;
    padding: 20px 27px;
    border-bottom: 1px solid $almost-white;

    .rotator {
      overflow-x: hidden;

      ul {
        white-space: nowrap;

        li {
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin-right: 20px;
          white-space: normal;
          &:last-child { margin-right: none; }

          a {
            display: block;
            width: 140px;
            height: 180px;
          }

          .front, .back {
            width: 140px;
            height: 180px;
            padding: 10px;
            @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);
          }

          .front {
            background: $pure-white;
          }

          .back {
            color: $pure-white;
            background-color: $mckinsey-academy-alt-blue;
            @include font-spec(10, normal, 12);
          }

          .index {
            color: $mckinsey-orange;
            margin-bottom: 20px;
            @include font-spec(12, semibold, 14);
          }

          .name {
            color: #666;
            @include font-spec(18, semibold, 20);
          }

          .lesson-progress {
            position: absolute;
            bottom: 20px;
            left: 20px;

            .tick {
              width: 5px;
              height: 5px;
              margin-right: 1px;
              float: left;
              background: #e0e0e0;
              &.on { background: $mckinsey-green; }
            }
          }
        }
      }
    }
  }

  .course-discover {
    @include clearfix;

    section {
      width: 33.3336%;
      float: left;
      padding: 0 10px;
      border-right: 1px solid $almost-white;
      &:last-child { border-right: none; }

      ul {
        li {
          margin-bottom: 20px;
        }
      }

      .article-title {
        margin-bottom: 10px;
        @include font-spec(18, normal, 20);
      }

      .attribution {
        @include font-spec(9, normal, 15);

        .when {
          text-transform: uppercase;
          font-weight: 600;

          time {
            margin-right: 1px;
            border-right: 1px solid $mckinsey-academy-black;
            padding-right: 5px;
          }
        }

        .author {
          font-style: italic;
        }
      }
    }
  }

  .course-quote {
    text-align: center;

    blockquote {
      position: relative;
      margin: 0 0 20px;
      padding: 0 100px;
      border: none;
      quotes: "\201C""\201D""\2018""\2019";
      @include font-spec(20, normal, 25);

      &:before, &:after {
        font-family: Georgia;
        color: $mckinsey-orange;
        position: absolute;
        top: 42px;
        font-size: 6em;
        line-height: 0.1em;
      }

      &:before {
        content: open-quote;
        left: 0;
      }

      &:after {
        content: close-quote;
        right: 0;
      }
    }

    .attribution {
      @include font-spec(12, normal, 15);
      img { margin-bottom: 10px; }
      .occupation { color: #999; }
    }
  }

  .lesson-menu{
    @include font-spec(12, bold, 14);
    border-top: 1px solid $mckinsey-academy-warm-gray;
    border-bottom: 1px solid $mckinsey-academy-warm-gray;
    margin: 10px 0;
    padding: 5px 0;
    color: $mckinsey-academy-black;
    .lesson{
      color: $mckinsey-academy-warm-gray;
      width: 40px;
      text-align: center;
      border-left: 1px solid $mckinsey-academy-warm-gray;
      a{
        color: $mckinsey-academy-alt-blue;
        &:hover{
          color: $mckinsey-academy-blue-gray;
        }
      }
      &:first-child{
        border-left: none;
      }
      .selected{
        color: $mckinsey-grey;
      }
    }
  }
  
  .lesson-module-status{
    display: inline-block;
    font-family: FontAwesome;
    @include font-spec(10);
    color: $mckinsey-grey;
    &::before{
      content: "\f10c";
    }
    &.complete{
      color: $mckinsey-green;
    }
    &.complete, &.current{
      &::before{
        content: "\f111"
      }
    }
    &:hover{
      color: $mckinsey-academy-alt-blue;
      &.current{
        color: $mckinsey-grey;
      }
    }
  }
  
  .lesson-pager{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding-bottom: rem-calc(80);
    .page-to{
      margin: 0 10px;
      @include font-spec(30);
      @include square-size(50px);
      @include drop-shadow($mckinsey-academy-black, 0.2, 3px, 3px, 4px, 0px);
      border-radius: 50%;
      display: inline-block;
      background-color: $mckinsey-academy-alt-blue;
      color: $pure-white;
      padding: 8px;
      &.previous{
        padding-right: 12px;
      }
      &.next{
        padding-left: 12px;
      }
    }
  }
  
  .lesson-title{
    @include font-spec(10, semibold, 12);
    color: $mckinsey-grey;
    padding-top: 25px;
    .lesson-index{
      font-weight: bold;
    }
    .page-desc{
      border-left: 1px solid $mckinsey-grey;
      padding-left: 5px;
      margin-left: 3px;
    }
  }
  
  .page-title{
    @include font-spec(22, normal, 24);
    color: $mckinsey-academy-turquoise;
  }
  
}

.program-menu{
  color: $mckinsey-blue;
  padding: 10px;
  > *{
    float: right;
  }
  .fa{
    cursor: pointer;
  }
}

.program-menu-content{
  display: none;
  &.open{
    display: block;
  }

  // The next few items are marked as !important to prevent the foundation dropdown code from re-positioning the dropdown - it's goping where we want it to go
  position: absolute !important;
  right:0 !important;
  top: 0 !important;
  left: auto !important;
  z-index: 10000;
  width: auto;
  background-color: $pure-white;
  @include drop-shadow($mckinsey-academy-black, 0.2, -3px, 3px, 4px, 0px);
  .program-title{
    margin: 12px 20px 0;
    @include font-spec(10, bold);
    text-transform: uppercase;
    &::after{
      content: ':';
    }
  }
  a.course-name, .course-name{
    @include font-spec(12, bold);
    padding: 5px 0;
    color: $pure-black;
    &.unavailable{
      color: $mckinsey-grey;
    }
    &.current{
      color: $mckinsey-orange;
    }
  }
  a.course-name{
    &:hover{
      opacity: 0.6;
    }
  }
  .status{
    @include font-spec(10, semibold);
    font-style: italic;
    &.complete{
      color: $mckinsey-green;
    }
    &.unavailable{
      color: $almost-white;
    }
  }
  ul{
    margin: 0 12px;
    list-style: none;
    li{
      padding: 0 8px 8px;
      border-top: 1px solid $almost-white;
      &:first-child{
        border-top: none;
        margin-top: 0;
      }
    }
  }
}

.content-page{
  @include drop-shadow($mckinsey-academy-black, 0.2, 0px, 3px, 4px, 0px);
  background-color: $pure-white;
  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  
  ul{
    list-style: none;
    display: inline;
    margin: 15px 0;
    li{
      @include font-spec(12, bold, 14);
      display: inline-block;
    }
  }
  
  .course-tabs{
    margin: 10px 0;
    ul{
      li{
        text-transform: uppercase;
        margin-right: 10px;
        color: $mckinsey-academy-alt-blue;
        &.selected{
          color: $mckinsey-grey;
        }
      }
    }
  }
  
  .lesson-menu{
    @include font-spec(12, bold, 14);
    border-top: 1px solid $mckinsey-academy-warm-gray;
    border-bottom: 1px solid $mckinsey-academy-warm-gray;
    margin: 10px 0;
    padding: 5px 0;
    color: $mckinsey-academy-black;
    .lesson{
      color: $mckinsey-academy-warm-gray;
      width: 40px;
      text-align: center;
      border-left: 1px solid $mckinsey-academy-warm-gray;
      a{
        color: $mckinsey-academy-alt-blue;
        &:hover{
          color: $mckinsey-academy-blue-gray;
        }
      }
      &:first-child{
        border-left: none;
      }
      .selected{
        color: $mckinsey-grey;
      }
    }
  }
  
  .lesson-module-status{
    display: inline-block;
    font-family: FontAwesome;
    @include font-spec(10);
    color: $mckinsey-grey;
    &::before{
      content: "\f10c";
    }
    &.complete{
      color: $mckinsey-green;
    }
    &.complete, &.current{
      &::before{
        content: "\f111"
      }
    }
    &:hover{
      color: $mckinsey-academy-alt-blue;
      &.current{
        color: $mckinsey-grey;
      }
    }
  }
  
  .lesson-pager{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding-bottom: rem-calc(80);
    .page-to{
      margin: 0 10px;
      @include font-spec(30);
      @include square-size(50px);
      @include drop-shadow($mckinsey-academy-black, 0.2, 3px, 3px, 4px, 0px);
      border-radius: 50%;
      display: inline-block;
      background-color: $mckinsey-academy-alt-blue;
      color: $pure-white;
      padding: 8px;
      &.previous{
        padding-right: 12px;
      }
      &.next{
        padding-left: 12px;
      }
    }
  }
  
  .lesson-title{
    @include font-spec(10, semibold, 12);
    color: $mckinsey-grey;
    padding-top: 45px;
    .lesson-index{
      font-weight: bold;
    }
    .page-desc{
      border-left: 1px solid $mckinsey-grey;
      padding-left: 5px;
      margin-left: 3px;
    }
  }
  
  .page-title{
    @include font-spec(22, normal, 24);
    color: $mckinsey-academy-turquoise;
  }
  
}
