$header-bar-height: 48px;

body{
  background-color: $background-tint;
  font-family: "Open Sans", sans-serif;
}

main[role=main] {
  margin-bottom: 100px;
}

footer[role=contentinfo]{
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  background-color: $background-tint;
  color: $footer-text;
  padding: 0;
  .copyright{
    @include font-spec(10, semibold);
    color: $mckinsey-grey;
    padding-right: 10px;
  }
  ul{
    margin: 0;
    li{
      @include font-spec(10, semibold);
      list-style: none;
      padding: 0 9px 0 10px;
      border-left: 1px solid $footer-separator;
    }
  }
  ul, li{
    display: inline;
  }
  .built-on{
    @include font-spec(10, semibold);
    float: right;
    margin: 6px 50px;
  }
}

.login-form, .registration-form{
  margin-top: 50px;
  .error, .errorlist{
    color: $mckinsey-red;
    padding: 10px 0;
    line-height: 1.3rem;
    list-style: none;
    margin-left: 0;
  }
  .other{
    @include font-spec(12);
    float: right;
    position: relative;
    top: -34px;
  }
}

