@mixin left-right-gradient(
  $left-color: #284670,
  $right-color: #002960,
  $gradient-width: 320px){
    background: -moz-linear-gradient(left, $left-color 0%, $right-color $gradient-width);
    background: -webkit-linear-gradient(left, $left-color 0%, $right-color $gradient-width);
    background: linear-gradient(left, $left-color 0%, $right-color $gradient-width);
  }

@mixin top-bottom-gradient(
  $top-color: #284670,
  $bottom-color: #002960){
    background: -moz-linear-gradient(top, $top-color 0%, $bottom-color 100%);
    background: -webkit-linear-gradient(top, $top-color 0%, $bottom-color 100%);
    background: linear-gradient(top, $top-color 0%, $bottom-color 100%);
  }

@mixin square-size(
  $size: 40px){
    width: $size;
    height: $size;
  }

@mixin drop-shadow(
  $color: #333333,
  $opacity: 0.2,
  $horiz-offset: 3px,
  $vert-offset: 3px,
  $blur-radius: 0px,
  $spread-radius: 0px){
    -moz-box-shadow:    $horiz-offset $vert-offset $blur-radius $spread-radius rgba($color, $opacity);
    -webkit-box-shadow: $horiz-offset $vert-offset $blur-radius $spread-radius rgba($color, $opacity);
    box-shadow:         $horiz-offset $vert-offset $blur-radius $spread-radius rgba($color, $opacity);
  }

@function boldness($value) {
  @if $value == semibold { @return 600; }
  @return $value;
}

/* McKinsey font defintions all specify size, normal|semibold|bold, line-spacing
 - with this we ensure that the font implementations match their definition
 */
@mixin font-spec(
  $size: 10,
  $weight: normal,
  $line-spacing: $size){
    // first value to fall-back for browsers that don't support rems
    // second value for browsers that do support rems
    font-size: $size + px;
    font-size: rem-calc($size);
    font-weight: boldness($weight);
    line-height: $line-spacing + px;
    line-height: rem-calc($line-spacing);
  }

@mixin mobile {
  @media (max-width: 767px){
    @content;
  }
}

@mixin mobilei5 {
  @media (max-width: 14rem){
    @content;
  }
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin circle-chart(
  $color1: $visualization-bg,
  $color2: $mckinsey-academy-black
  ){
  .progress-radial {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  $step: 5;
  $loops: round(100 / $step);
  $increment: 360 / $loops;
  $half: round($loops / 2);
  @for $i from 0 through $loops {

    &.cohort-progress-#{$i*$step} {
      .triangle {
        $deg: -90deg + ($increment * $i);
        @include transform(rotate($deg) translate(55px));
      }
    }

    &.progress-#{$i*$step} {
      @if $i < $half {
        $nextdeg: 90deg + ( $increment * $i );
        .progress-radial {
          @include background(linear-gradient(90deg, $color1 50%, transparent 50%, transparent), linear-gradient($nextdeg, $color2 50%, $color1 50%, $color1));
          -pie-background: linear-gradient(90deg, $color1 50%, transparent 50%, transparent) repeat scroll 0 0%, linear-gradient($nextdeg, $color2 50%, $color1 50%, $color1);
          behavior: url(/static/js/vendor/css3pie/PIE.htc);
        }
      } @else {
        $nextdeg: -90deg + ( $increment * ( $i - $half ) );
        .progress-radial {
          @include background(linear-gradient($nextdeg, $color2 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, $color2 50%, $color1 50%, $color1));
          -pie-background: linear-gradient($nextdeg, $color2 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, $color2 50%, $color1 50%, $color1);
          behavior: url(/static/js/vendor/css3pie/PIE.htc);
        }
      }
    }
  }
}

