%a.lesson-module-status.current{href: "#", data-activate: "overview", title: "Overview"}
%a.lesson-module-status{href: "#", data-activate: "upload", "title": "Upload"}
%a.lesson-module-status{href: "#", data-activate: "review", "title": "Review"}
%a.lesson-module-status{href: "#", data-activate: "grade", "title": "Grade"}
