%ul.lesson-menu
  - for sequential in group_project.sequentials
    %li
      - if sequential.id != current_sequential.id
        %a{href: "./group_work?seqid=#{sequential.id}"}
          = sequential.name
      - else
        %a.selected{href: "./group_work?seqid=#{sequential.id}"}
          = sequential.name
