.xblock-student_view-ooyala-player .bc-player-default_default-index-0 {
    width: 100%;
}

.bc-player-default_default .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    font-size: inherit;
    margin: 0;    
}
