- extends "courses/course_main.haml"
- load i18n

- block page_title
  %title
    = course.name
    {% trans "has not yet started" %}

- block content
  .container.text-center
    .row
      .col-12.contentCard
        {% trans "This content is not yet available." %}
