- extends "courses/course_main.haml"

- block content
  %article.row
    .large-10.large-centered.columns.course-page
      - include "courses/content_page/course_tabs.haml"
      - include current_template

- block js_snippets
  - if current_view == "lessons"
    :javascript
      $(function(){
        var lesson_content = $('#course-lessons .lesson-content');
        var lesson_data = {
          usageId: '{{ vertical_usage_id }}',
          sessionId: '{{ remote_session_key }}',
          baseDomain: '{{ lms_base_domain }}',
          lmsSubDomain: '{{ lms_sub_domain }}',
        };
        lesson_content.xblock(lesson_data);
      });

  - if current_view == "cohort"
    :javascript
      $(function(){
        var map = L.map('map-cohort', {zoomControl: true, attributionControl: false}).setView([51.505, -0.09], 1);
        L.tileLayer('https://{s}.tiles.mapbox.com/v3/mckinseyacademy.i2hg775e/{z}/{x}/{y}.png',{
          maxZoom: 18
        }).addTo(map);
        $.getJSON('http://api.tiles.mapbox.com/v3/mckinseyacademy.i2hg775e/geocode/london;new%20york%20city;san%20francisco.json').done(function(data){
          for(var i=0, l=data.length; i<l; i++ ) {
            var loc = data[i].results[0][0];
            var radius = Math.floor(Math.random() * 10) + 5
            L.circleMarker([loc.lat, loc.lon]).setRadius(radius).addTo(map);
          }
        })
      });
