- extends "courses/course_main.haml"

- block help_context
  #mckinsey_help.reveal-modal.small{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %p Have a question on how to use McKinsey Academy? You've come to the right place.
    %p For this beta release we don't have customized page-specific help operational, but many of your questions may be addresses in the <a href='/faq' target='_blank'>FAQ</a>.
    %p Can't find the answer to your question there? Please contact us directly at <a href='mailto:support@mckinseyacademy.com'>support@mckinseyacademy.com</a> and we'll sort it out for you.

- block content
  %article.row
    .large-10.large-centered.columns.course-page
      - block current_content
