- extends "courses/course_navigation.haml"
- load staticfiles
- block current_content
  #course-cohort
    %h1 Cohort
    %a.global-help{'data-reveal-id': 'mckinsey_help'}
      %i.fa.fa-question-circle
    #map-cohort
    .student-data
      %ul.students
        %li.label-2 # of people online:
        %li.label-4 #{metrics.users_enrolled} cohort participants
        %li.label-4 #{metrics.company_enrolled} company participants
        %li.label-4 #{metrics.group_enrolled} group work team members
      %a.hide-team{href: '#'} Hide team profiles
      %a.hide-team.hide{href: '#'} Show team profiles
    %hr
    .leaderboard-header
      %h1 Leaderboards
      %ul.select-board
        %li
          %a.selected{href: '#'} global cohort
        %li
          %a{href: '#'} my company
    .leaderboards
      %section
        %header
          .label-5 Proficiency:
          .label-4 cohort average = ={proficiency.course_avg}
          - if proficiency.position
            .rank your proficiency position: <br><span>#={proficiency.position}</span> with <span>={proficiency.points}</span>
          - else
            .rank your proficiency position <br> will be displayed here
          - if proficiency.leaders
            - for leader in proficiency.leaders
              .user
                %img.avatar{src: '={leader.avatar_url}'}
                .info
                  .person-name ={leader.username}
                  .person-title ={leader.title}
                  .person-rank #={leader.rank} <span>={leader.points_scored}</span>
          - else
            .user.dummy
              %img.avatar{src: '/static/image/empty_avatar.png'}
              .info
                .person-name username
                .person-title title
                .person-rank #1 <span>100</span>
            .user.dummy
              %img.avatar{src: '/static/image/empty_avatar.png'}
              .info
                .person-name username
                .person-title title
                .person-rank #2 <span>100</span>
            .user.dummy
              %img.avatar{src: '/static/image/empty_avatar.png'}
              .info
                .person-name username
                .person-title title
                .person-rank #3 <span>100</span>
      %section
        %header
          .label-5 Progress:
          .label-4 cohort average = ={completions.course_avg_percent}%
          - if completions.position
            .rank your progress position: <br><span>#={completions.position}</span> with <span>={completions.completion_percent}%</span>
          - else
            .rank your progress position <br> will be displayed here
          - if completions.leaders
            - for leader in completions.leaders
              .user
                %img.avatar{src: '={leader.avatar_url}'}
                .info
                  .person-name ={leader.username}
                  .person-title ={leader.title}
                  .person-rank #={leader.rank} <span>={leader.completion_percent}%</span>
          - else
            .user.dummy
              %img.avatar{src: '/static/image/empty_avatar.png'}
              .info
                .person-name username
                .person-title title
                .person-rank #1 <span>100%</span>
            .user.dummy
              %img.avatar{src: '/static/image/empty_avatar.png'}
              .info
                .person-name username
                .person-title title
                .person-rank #2 <span>100%</span>
            .user.dummy
              %img.avatar{src: '/static/image/empty_avatar.png'}
              .info
                .person-name username
                .person-title title
                .person-rank #3 <span>100%</span>
      %section
        %header
          .label-5 Engagement:
            %a{href: '#'} view all
          .label-4 cohort average = ={social.course_avg} points
          - if social.position
            .rank your engagement position: <br><span>#={social.position}</span> with <span>={social.points} pts.</span>
          - else
            .rank your engagement position <br> will be displayed here
          - if social.leaders
            - for leader in social.leaders
              .user
                %img.avatar{src: '={leader.avatar_url}'}
                .info
                  .person-name ={leader.username}
                  .person-title ={leader.title}
                  .person-rank #={leader.rank} <span>={leader.points} pts.</span>
          - else
            .user.dummy
              %img.avatar{src: '/static/image/empty_avatar.png'}
              .info
                .person-name username
                .person-title title
                .person-rank #1 <span>100 pts.</span>
            .user.dummy
              %img.avatar{src: '/static/image/empty_avatar.png'}
              .info
                .person-name username
                .person-title title
                .person-rank #2 <span>100 pts.</span>
            .user.dummy
              %img.avatar{src: '/static/image/empty_avatar.png'}
              .info
                .person-name username
                .person-title title
                .person-rank #3 <span>100 pts.</span>
    %hr
    .user-content
      %section
        %h1 Discussions
        %blockquote Even if we cannot directly shape an outcome, a model’s prediction may be communicated in a way that alters behavior and indirectly shapes it.
        .attribution
          %img{src: 'http://dummyimage.com/50/000/fff&text=User'}
          .person
            .person-name gwensisco
            .person-title Media Buyer
            %time.label-2{datetime: '2014-07-07T04:00:00.000Z'} JUL 07, 2014 | 3:52PM
      %section.recommendations
        %h1 Recommendations
        .link
          %a{href: '#'} Scientists Without Borders
        %p.style-4 A worldwide community of changemakers collaborating to accelerate solutions to urgent development challenges.
        .person-name janejohnson <span class='person-title'>COO</span>
        %a.button.radius.tiny Suggest a Link

  - include "courses/contact_ta.haml"

- block js_snippets
  %script{src: "{% static 'js/course_contact_modal.js' %}"}
  %script
    var CohortMapUsers = {{metrics.groups_users|safe}};
    var CohortMapCities = {{metrics.cities|safe}};
    var TAUser = {{ta_user|safe}};
