#background-full-calendar
  #over-full-calendar
    #row-full-calendar
      .row
        .large-12        
          .over-calendar
            %span#previous-calendar.arrow-calendar.fa.fa-angle-left
          #over-calendar-right.over-calendar
            %span#next-calendar.arrow-calendar.fa.fa-angle-right
          #under-calendar
            %span#close-calendar.fa.fa-times-circle
            %ul.tab-month
              %li.head-month
                %span.month
              %li.first.last
              %li.second.last
            %ul.tab-month
              %li.head-month
                %span.month
              %li.first.last
              %li.second.last
            %ul.tab-month
              %li.head-month
                %span.month
              %li.first.last
              %li.second.last
            %ul.tab-month
              %li.head-month
                %span.month
              %li.first.last
              %li.second.last
            %ul.legend-list
              %li.light-gray-legend
                %i.fa.fa-circle
                not available
              %li.gray-legend
                %i.fa.fa-circle
                not started
              %li.light-green-legend
                %i.fa.fa-circle
                in progress
              %li.green-legend
                %i.fa.fa-circle
                complete
              %li.red-legend
                %i.fa.fa-circle
                incomplete
              %li.teal-legend
                %i.fa.fa-circle
                not tracked

          #highcharts-container


%script
  var now = new Date();
  var dates = {{dates|safe}} ? {{dates|safe}}: [];
  var milestones = {{milestones|safe}} ? {{milestones|safe}}: [];

  var dateList = [];

  var mlist = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];

  for (var i=0; i < 5; i++) {
    dateList.push(
      Date.UTC((new Date(dates[i])).getUTCFullYear(), (new Date(dates[i])).getUTCMonth())
    );
  }

  addMonthNames(dates);
  addExtraSpaceToFrontEnd();
  
  var minDate = dateList[1];
  var maxDate = dateList[5];
  var maxRow = 2;

  var duplicateRows = 0;
  var addedRowsPerDuplicate = [0, 0, 0, 0, 0];
  var addToRow;

  var dataIPS = [];
  var dataCourse = [];
  var dataWeb = [];
  var dataDig = [];
  var dataGroup = [];

  var low;
  var high;

  var milestonesProcessed = milestones;

  processDuplicateDates();

  processMilestones();

  function processDuplicateDates() {

    for (var j=0 in milestones){
      milestones[j].addedRows = 0;
        for ( var z=0 in milestonesProcessed ) {
          if (milestonesProcessed[z].row == milestones[j].row && milestonesProcessed[z].checked) {
            if((milestonesProcessed[z].start <= milestones[j].start && milestonesProcessed[z].end >= milestones[j].start) || (milestonesProcessed[z].start >= milestones[j].start && milestonesProcessed[z].end <= milestones[j].end) || (milestonesProcessed[z].start <= milestones[j].start && milestonesProcessed[z].end >= milestones[j].end) || (milestonesProcessed[z].start <= milestones[j].end && milestonesProcessed[z].end >= milestones[j].end) || ( milestonesProcessed[z].start <= milestones[j].start && milestonesProcessed[z].end >= milestones[j].start )) {
              milestones[j].addedRows += 1;
            }
          }
        }

        if (milestones[j].addedRows > addedRowsPerDuplicate[milestones[j].row - 1]) {
          addedRowsPerDuplicate[milestones[j].row - 1] = milestones[j].addedRows;
        }

        milestonesProcessed[j].checked = true;
    }
  }

  function processMilestones() {

    var timeNow = (new Date()).getTime();

    for (var j=0 in milestones){

      if (milestones[j].start < minDate)
        minDate = milestones[j].start;
      if (milestones[j].end > maxDate)
        maxDate = milestones[j].end;

      if (parseInt(milestones[j].row, 10) > maxRow)
        maxRow = parseInt(milestones[j].row, 10);

      milestones[j].label = milestones[j].label ? milestones[j].label.substring(0, 16) : milestones[j].label;

      for (row = 0; row < (milestones[j].row - 1); row ++) {
        milestones[j].addedRows += addedRowsPerDuplicate[row];
      }

      //Tracked Data

      if (milestones[j].tile_type == "2" || milestones[j].tile_type == "3") {

        dataDig.push({
          color: calculateColor(milestones[j], timeNow),
          x: (milestones[j].row - 1 + milestones[j].addedRows),
          tile_type: milestones[j].tile_type,
          label: milestones[j].label,
          name: milestones[j].name,
          link: milestones[j].link,
          publish_date: getPublishDate(milestones[j]),
          user_progress: milestones[j].user_progress,
          low: milestones[j].start,
          high: milestones[j].end,
          fa_icon: milestones[j].fa_icon ? unescape('%u' + milestones[j].fa_icon.slice(-6,-2)) : '\uf109'
        });
      }

      if (milestones[j].tile_type == "5") {

        dataIPS.push({
          color: calculateColor(milestones[j], timeNow),
          x: (milestones[j].row - 1 + milestones[j].addedRows),
          tile_type: milestones[j].tile_type,
          label: milestones[j].label,
          name: milestones[j].name,
          link: milestones[j].link,
          publish_date: getPublishDate(milestones[j]),
          note: milestones[j].note,
          user_progress: milestones[j].user_progress,
          low: milestones[j].start,
          high: milestones[j].end,
          fa_icon: milestones[j].fa_icon ? unescape('%u' + milestones[j].fa_icon.slice(-6,-2)) : '\uf0c0'
        });
      }

      if (milestones[j].tile_type == "4"){

        dataCourse.push({
          color: calculateColor(milestones[j], timeNow),
          x: (milestones[j].row - 1 + milestones[j].addedRows),
          tile_type: milestones[j].tile_type,
          label: milestones[j].label,
          name: milestones[j].name,
          link: milestones[j].link,
          publish_date: getPublishDate(milestones[j]),
          user_progress: milestones[j].user_progress,
          low: milestones[j].start,
          high: milestones[j].end
        });
      }

      //Not Tracked Data

      if (milestones[j].tile_type == "1") {
        dataDig.push({
          color: '#66a5b5',
          x: (milestones[j].row - 1 + milestones[j].addedRows),
          tile_type: milestones[j].tile_type,
          label: milestones[j].label,
          name: milestones[j].name,
          publish_date: getPublishDate(milestones[j]),
          link: milestones[j].link,
          low: milestones[j].start,
          high: milestones[j].end,
          fa_icon: milestones[j].fa_icon ? unescape('%u' + milestones[j].fa_icon.slice(-6,-2)) : '\uf109'
        });
      }

      if (milestones[j].tile_type == "7") {
        dataDig.push({
          color: '#66a5b5',
          x: (milestones[j].row - 1 + milestones[j].addedRows),
          tile_type: milestones[j].tile_type,
          label: milestones[j].label,
          name: milestones[j].name,
          publish_date: getPublishDate(milestones[j]),
          link: milestones[j].link,
          note: milestones[j].note,
          low: milestones[j].start,
          high: milestones[j].end,
          fa_icon: milestones[j].fa_icon ? unescape('%u' + milestones[j].fa_icon.slice(-6,-2)) : '\uf086'
        });
      }

      if (milestones[j].tile_type == "6") {
        dataWeb.push({
          color: '#66a5b5',
          x: (milestones[j].row - 1 + milestones[j].addedRows),
          tile_type: milestones[j].tile_type,
          label: milestones[j].label,
          name: milestones[j].name,
          link: milestones[j].link,
          publish_date: getPublishDate(milestones[j]),
          low: milestones[j].start,
          high: milestones[j].end,
          fa_icon: milestones[j].fa_icon ? unescape('%u' + milestones[j].fa_icon.slice(-6,-2)) : '\uf03d'
        });
      }
    }
  }

  for (i=1; i < (maxRow + 1); i++) {
    for (j=0; j < addedRowsPerDuplicate[i - 1]; j++) {
      $( "<li class='first inter-row'></li><li class='second inter-row'></li>" ).insertBefore( ".first.last" );
      duplicateRows += 1;
    }

    if (i < maxRow)
      $( "<li class='first'></li><li class='second'></li>" ).insertBefore( ".first.last" );
  }

  maxRow += duplicateRows;

  $( "#row-full-calendar, #under-calendar, .over-calendar").css( "height", (190 + (maxRow - 2) * 50) );
  $( "#highcharts-container").css( "height", (283 + (maxRow - 5) * 52) );
  $( ".arrow-calendar").css( "margin-top", (50 + (maxRow - 2) * 20) );

  function getPublishDate(element){
    if (element.publish_date){
      return new Date(element.publish_date);
    } else {
      return null;
    }
  }

  function calculateColor(element, now){

    var notAvailable = "#e0e0e0";
    var notStarted = "#ccc";
    var inProgress = "#b6d332";
    var complete = "#629b2b";
    var incomplete = "#cd202c";

    switch(element.tile_type) {
      case '3':
      case '5':
        if (now < getPublishDate(element)){
          return notAvailable;
          break;
          } else if (element.user_progress == 100){
              return complete;
              break;
          } else if (element.user_progress == 0 && now < element.end){
              return notStarted;
              break;
          } else if (element.user_progress < 100 && now > element.end){
              return incomplete;
              break;
          }
      case '2':
      case '4':
        if (now < getPublishDate(element)){
          return notAvailable;
          break;
          } else if (element.user_progress == 100){
              return complete;
              break;
          } else if (element.user_progress == 0 && now < element.end){
              return notStarted;
              break;
          } else if (element.user_progress > 0 && element.user_progress < 100 && now < element.end){
              return inProgress;
              break;
          } else if (element.user_progress < 100 && now > element.end){
              return incomplete;
              break;
          }
    }
  }

  changeDisableArrowColors();

  $('#close-calendar').click(function() {
    $('#replace-calendar').empty();
    opened = false;
  });

  $('#next-calendar').click(function() {
    if (maxDate > dateList[5]) {
      $( "#previous-calendar").css( "color", "#4789c4" );
      moveCalendarDates(4);
    }
  });

  $('#previous-calendar').click(function() {
    if (minDate < dateList[1]) {
      $( "#next-calendar").css( "color", "#4789c4" );
      moveCalendarDates(-4);
    }
  });

  function moveCalendarDates(moveMonth) {
    var chart = $('#highcharts-container').highcharts();
    extremes = chart.yAxis[0].getExtremes();

    var newMinDate = new Date(extremes.min + 86400 * 9 *1000);
    newMinDate = newMinDate.setUTCMonth((newMinDate).getUTCMonth() + moveMonth);

    extremes.min = Date.UTC((new Date(newMinDate)).getUTCFullYear(), (new Date(newMinDate)).getUTCMonth());
    extremes.max = Date.UTC((new Date(newMinDate)).getUTCFullYear(), (new Date(newMinDate)).getUTCMonth() + 4);

    dateList = [];
    for (var i=0; i < 5; i++) {
      dateList.push(
        Date.UTC((new Date(newMinDate)).getUTCFullYear(), (new Date(newMinDate)).getUTCMonth() + i)
      );
    }

    addMonthNames( dateList );
    addExtraSpaceToFrontEnd();

    chart.yAxis[0].options.tickInterval = dateList;
    chart.yAxis[0].isDirty = true;

    chart.yAxis[0].setExtremes(extremes.min, extremes.max);
    changeDisableArrowColors();
  }

  function addExtraSpaceToFrontEnd() {
    dateList.push(dateList[4] + 86400 * 9 * 1000);
    dateList.unshift(dateList[0] - 86400 * 9 * 1000);
  }

  function changeDisableArrowColors() {
    if (minDate >= dateList[1])
      $( '#previous-calendar').css( 'color', '#868685' );
    if (maxDate <= dateList[5])
      $('#next-calendar').css( 'color', '#868685' );
  }

  function addMonthNames( dateList ) {
    $( ".month" ).each(function( index ) {
      $( this ).parent().removeClass( "active" );
      $( this ).html( mlist[new Date(dateList[index]).getUTCMonth()] );

      if ( ((new Date(dateList[index])).getUTCMonth()) == (new Date()).getUTCMonth() && ((new Date(dateList[index + 1])).getUTCFullYear()) == (new Date()).getUTCFullYear())
        $( this ).parent().addClass( "active" );
    });
  }

  $(window).click(function() {
    $('#replace-calendar').empty();
    opened = false;
  });

  $('#over-full-calendar').click(function(event){
    event.stopPropagation();
  });

%script{src: "/static/js/course_learner_dashboard/learner_dashboard_calendar_highcharts.js"}
