- extends "courses/course_main.haml"
- load i18n

- block content
  #replace-calendar{:data-learner-dashboard-id =>'#{learner_dashboard.id}'}
  %article.row
    .medium-10.medium-centered.columns.course-page
      - block current_content
