- extends "courses/course_main.haml"

- block content
  .row
    .large-1.medium-1.small-0.columns
      &nbsp;
    .large-10.medium-10.small-12.columns.content-page
      - include "courses/content_page/course_tabs.haml"
      - include "courses/content_page/lesson_menu.haml"
      .lesson-title
        %span.lesson-index Lesson {{current_chapter.index}}:
        %span.lesson-name= current_chapter.name
        %span.page-desc= current_page.description
      %h1.page-title
        = current_page.name
      .lesson-content
      .lesson-discussion
      - include "courses/content_page/lesson_pager.haml"
    .large-1.medium-1.small-0.columns
      &nbsp;

- block js_snippets
  :javascript
    var set_page_height = function(){
      var $page = $('.content-page');
      var $footer = $('footer');

      var new_height = $footer.position().top - $page.position().top - (2 * parseInt($page.css('margin-top')));
      $page.css({height: new_height + "px"});
    }
    $(window).on('resize', set_page_height);
    $(window).trigger('resize');

  :javascript
    $(function(){
      $('.content-page .lesson-content').xblock({
        usageId: '{{ vertical_usage_id }}',
        sessionId: '{{ remote_session_key }}',
        baseDomain: '{{ lms_base_domain }}',
        lmsSubDomain: '{{ lms_sub_domain }}',
      });
    });
