- extends "courses/course_main.haml"

- block content
  %article.row
    .large-10.large-centered.columns.course-page
      - include "courses/content_page/course_tabs.haml"
      - include current_template

  #course_discussion_modal.reveal-modal.medium{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-remove
    %p This is the McKinsey Academy Beta and we are happy to have you participate ahead of the official public launch!
    %p As a beta user, you will occasionally see pages and features like this one in early stages of development. Please feel free to explore, and we’ll continue to add features and functionality in the coming weeks.
    .screencap
      %img{src: '/static/image/McKA_discussionsNEWpopup.png'}

- block js_snippets
  - if current_view == "lessons" or current_view == "group_work"
    :javascript
      $(function(){
        var lesson_content = $('#{{ lesson_content_parent_id }} .lesson-content');
        var lesson_data = {
          usageId: '{{ vertical_usage_id }}',
          sessionId: '{{ remote_session_key }}',
          baseDomain: '{{ lms_base_domain }}',
          lmsSubDomain: '{{ lms_sub_domain }}',
        };
        lesson_content.xblock(lesson_data);

        $('#course-group-work .lesson-module-status').on('click', function(){
          $('#' + $(this).data('activate')).click();
        });
      });
