- extends "layout.haml"
- load staticfiles
- block page_title
  %title
    = program.display_name
    = _(" | Resources | McKinsey Academy")
- block header
  - include 'courses/course_learner_dashboard_header.haml'
- block content
  %script{src: "{% static 'js/highcharts/highcharts.js' %}"}
  %script{src: "{% static 'js/highcharts/highcharts-more.js' %}"}
  - include 'courses/course_learner_dashboard_branding.haml'
  #replace-calendar{:data-learner-dashboard-id =>'#{learner_dashboard.id}'}
  #course-resources
    .row
      .medium-10.medium-centered.columns.course-page
        %h1 Resources
        - autoescape off
          = resources_content

- block footer
  - include 'footer_ld.haml'

- block js_snippets
  %script{src: "{% static 'js/course_learner_dashboard/tile_id_to_view.js' %}"}
  %script{src: "{% static 'js/course_learner_dashboard/learner_dashboard_calendar_load.js' %}"}
