- extends "courses/course_navigation.haml"
- load i18n

- block page_title
  %title
    = program.display_name
    {% trans " | Progress | Courses | McKinsey Academy" %}

- block header
  - if progress_user.id == user.id
    - include "header.haml"
  - else
    - include "admin/admin_header.haml"

- block help_context
  #mckinsey_help.reveal-modal.small{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    .sub-1 Progress
    %p {% blocktrans %} Below are helpful tips to review your progress. You may also find answers to your questions in the <a href="/faq">FAQ</a>. Can’t find the answer there? Please contact us directly at <a href="mailto:support@mckinseyacademy.com">support@mckinseyacademy.com</a> and we’ll sort it out for you. {% endblocktrans %}
    .help-line {% trans "PROGRESS marks your progress (based on completion of modules and readings) through course content; the average progress of your cohort is also displayed" %}
    .help-line {% trans "GRADE displays your proficiency against a total possible score of 100; your proficiency is based on graded assessments and group work performance." %}

- block current_content
  #course-progress
    - if progress_user.id == user.id
      %h1
        {% trans "Course Progress for" %} '={progress_user.username}'
    - else
      %h1.admin-view
        Viewing Course Progress for '={progress_user.username} (={progress_user.full_name})'
    %a.global-help{'data-reveal-id': 'mckinsey_help'}
      %i.fa.fa-question-circle
    .sub-1 PROGRESS
    %p.style-6 {% blocktrans %} You are ={course.user_progress}% of the way through the course based on completion of modules within lessons: {% endblocktrans %}
    - include "courses/visualizations/course_progress.haml"
    %hr
    .sub-1 {% trans "GRADES" %}
    - ifnotequal group_activities None
      %p.style-6 {% blocktrans %} You need to complete all group work and feedback activities and earn a combined course grade of at least ={pass_grade}% to work towards a program certificate of completion. Your course grade is calculated as follows: {% endblocktrans %}
    - else
      %p.style-6 {% blocktrans %} You need a combined course grade of at least ={pass_grade}% to earn a certificate of completion. Your final grade is calculated as follows: {% endblocktrans %}
    .grades
      %ul
        - for grader in graders
          %li ={grader.type_name}: ={grader.weight} {% trans "percent of your grade" %}
      #chart-grades
        %svg
    %ul.legend
      - if has_values_for.normal
        %li.completed.label-3 {% trans "Completed" %}
      - if has_values_for.dropped
        %li.dropped.label-3 {% trans "Dropped" %}
      - if has_values_for.group_work
        %li.group-work.label-3 {% trans "Group Work" %}
      %li.current-grade.label-3 {% trans "Current grade" %}
    %p.style-6 {% blocktrans %} Pro forma grade is an estimate of your final grade assuming you continue to demonstrate the same level of proficiency on your uncompleted assessments as you did on your completed assessments to date. <a data-reveal-id='progress_modal'>Click here</a> to read more about how we may share your course information. {% endblocktrans %}
    %hr
    %table.lesson-table
      %thead
        %tr
          %th.label-4 {% trans "Lesson:" %}
          %th.label-4 {% trans "Suggested Deadline:" %}
          %th.label-4 {% trans "Assessment Score:" %}
          %th.label-4 {% trans "Progress:" %}
      %tbody
        - for lesson in course.chapters
          %tr
            %td.lesson.sub-1 ={lesson.index}: ={lesson.name}
            %td.deadline
              = lesson.due_upon
            - ifequal lesson.assesment_score None
              %td.assessment -
            - else
              %td.assessment ={lesson.assesment_score}%
            %td.lesson-progress
              .lesson-progress-bar
                .bar{style: "width:#{lesson.progress}%;"}
    - ifnotequal group_activities None
      %hr
      %table.lesson-table
        %thead
          %tr
            %th.label-4 {% trans "Group Work:" %}
            %th.label-4 {% trans "Upload Deadline:" %}
            %th.label-4 {% trans "Score:" %}
            %th.label-4 {% trans "Grades:" %}
        %tbody
          - for activity in group_activities
            %tr
              %td.lesson.sub-1 ={activity.name}
              %td.deadline
                = activity.due_on
              %td.assessment
                - ifequal activity.score None
                  \-
                - else
                  ={activity.score}%
              %td.lesson-progress
                %ul.group-grades
                  - for grade in activity.grades
                    %li ={grade}
                  - for i in activity.pending_grades
                    %li -

  #progress_modal.reveal-modal.small{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %p
      {% trans "If you are participating in McKinsey Academy as part of an employer-sponsored program, we may provide access to certain of your personally-identifiable information, including the courses you are taking, your progress through those courses and your level of achievement (including your grades) and participation in those courses, to your employer, in order to help them and you evaluate McKinsey Academy and its value to you and to your company. You could read more about our privacy and information sharing practices in our" %}
      %a{href: '/privacy'}
        {% trans "privacy policy." %}

  %script
    var historicalBarChart = {{bar_chart|safe}};
