#over-calendar
  %ul.tab-month
    %li.head-month
      %span August
    %li.first
    %li.second
    %li.first
    %li.second
    %li.first
    %li.second
    %li.first.last
    %li.second.last
  %ul.tab-month
    %li.head-month.active
      %span September
    %li.first
    %li.second
    %li.first
    %li.second
    %li.first
    %li.second
    %li.first.last
    %li.second.last
  %ul.tab-month
    %li.head-month
      %span October
    %li.first
    %li.second
    %li.first
    %li.second
    %li.first
    %li.second
    %li.first.last
    %li.second.last
  %ul.tab-month
    %li.head-month
      %span November
    %li.first
    %li.second
    %li.first
    %li.second
    %li.first
    %li.second
    %li.first.last
    %li.second.last
  %ul.legend-list
    %li.light-gray-legend
      %i.fa.fa-circle
      not available
    %li.gray-legend
      %i.fa.fa-circle
      not started
    %li.light-green-legend
      %i.fa.fa-circle
      in progress
    %li.green-legend
      %i.fa.fa-circle
      complete
    %li.red-legend
      %i.fa.fa-circle
      incomplete
    %li.teal-legend
      %i.fa.fa-circle
      not tracked

#highcharts-container