- extends "courses/course_navigation.haml"
- block current_content
  #course-progress
    %h1 Course Progress for '={user.username}'
    .sub-1 PROGRESS
    %p.style-6 You are ={percent_complete}% of the way through the course based on completion of modules within lessons:
    %section.course-progress
      .visualization{data-percent: '={percent_complete}%'}
        - if percent_complete < 6
          .total{style: 'left:18px;'}
            ={percent_complete}%
        - else
          .total{style: 'left:={percent_complete}%;'}
            ={percent_complete}%
        .bar{style: 'width:={percent_complete}%;'}
      .label-4 cohort average = 58%
    %hr
    .sub-1 GRADES
    %p.style-6 You need a combined course grade of at least 80% to earn a certificate of completion. Your final grade is calculated as follows:
    .grades
      %ul
        %li End-of-lesson assessments: 00? percent of your grade
        %li Group work: 00? percent of your grade
        %li Final assessment: 00? percent of your grade
      #chart-grades
        %svg
    %ul.legend
      %li.completed.label-3 Completed
      %li.group-work.label-3 Group Work avg.
      %li.current-grade.label-3 Current grade
    %p.style-6 Pro forma grade is an estimate of your final grade assuming you continue to demonstrate the same level of proficiency on your uncompleted assessments as you did on your completed assessments to date. <a data-reveal-id='progress_modal'>Click here</a> to read more about how we may share your course information.
    %hr
    %table.lesson-table
      %thead
        %tr
          %th.label-4 Lesson:
          %th.label-4 Suggested Deadline:
          %th.label-4 Assessment Score:
          %th.label-4 Progress:
      %tbody
        - for lesson in course.chapters
          %tr
            %td.lesson.sub-1 ={lesson.index}: ={lesson.name}
            - if lesson.due == None
              %td.deadline.none -
            - else
              %td.deadline ={lesson.due}
            - if lesson.assesment_score == None
              %td.assessment.none -
            - else
              %td.assessment ={lesson.assesment_score}%
            %td.lesson-progress
              - for sequential in lesson.sequentials
                - for lesson_module in sequential.pages
                  - if lesson_module.id in completed_modules
                    %span{class: "complete"}
                  - else
                    %span{class: "incomplete"}
    %hr
    %table.lesson-table
      %thead
        %th.label-4 Group Work:
        %th.label-4 Upload Deadline:
        %th.label-4 Score:
        %th.label-4 Individual Peer Grades:
      %tbody
        %tr
          %td.lesson.sub-1 Activity 1
          %td.deadline April 16th
          %td.assessment 80%
          %td
            %ul.group-grades
              %li 75
              %li 80
              %li 85
              %li 75
        %tr
          %td.lesson.sub-1 Activity 2
          %td.deadline April 16th
          %td.assessment.none -
          %td
            %ul.group-grades
              %li -
              %li -
              %li -
              %li -
        %tr
          %td.lesson.sub-1 Activity 3
          %td.deadline April 16th
          %td.assessment.none -
          %td
            %ul.group-grades
              %li -
              %li -
              %li -
              %li -

  #progress_modal.reveal-modal.small{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    %p
      If you are participating in McKinsey Academy as part of an employer-sponsored program, we may provide access to certain of your personally-identifiable information, including the courses you are taking, your progress through those courses and your level of achievement (including your grades) and participation in those courses, to your employer, in order to help them and you evaluate McKinsey Academy and its value to you and to your company. You could read more about our privacy and information sharing practices in our
      %a{href: '/privacy'} privacy policy.

  %script
    var historicalBarChart = {{bar_chart|safe}};
