#course-news
  %h1 News
  - for entry in news
    %section
      .sub-1= entry.date
      %p
        {% autoescape off %}
        = entry.content
        {% endautoescape %}
    %hr
  .load-more
    %a load more
