- extends "courses/course_navigation.haml"
- load i18n
- load static
- block current_content
  #course-discussion
    %a.global-help{'data-reveal-id': 'mckinsey_help'}
      %i.fa.fa-question-circle
    .row
      .error {% trans "User profiles are not yet available" %}
