#course-syllabus
  %h1 Syllabus
  %section
    .sub-1 Description
    %p This course will show you how to harness the changing Consumer Decision Journey (CDJ)—the process by which consumers learn about brands, decide what to buy, make their purchase, and engage with a brand over time—to achieve digital marketing success. You’ll explore key features of this new Consumer Decision Journey and how to smartly use it to set marketing strategy and budgets. You’ll see how data and analytics can help you figure out who your customers really are (and what matters to them!). You’ll learn about powerful strategies to connect with customers and how to make sure your tactics have the impact you need. We won’t forget to address measuring spend effectiveness and building an organization that’s oriented around the customer
    %p You’ll explore these topics through video presentations by David Edelman and guest lecturers, reading materials, and additional resources we’ve curated. You’ll practice real-world application of these skills in interactive exercises and assess your mastery along the way with in-course assessments. Throughout the course, you’ll have opportunities to reflect on what you have learned and to plan how you will apply these new skills on the job.
  %hr
  %section
    .sub-1 Lessons
    %p The course is composed of nine lessons, designed to help you build the skills outlined below.
    %ol
      - for lesson in course.chapters
        %li
          %a{href: "#{lesson.navigation_url}", title: "#{lesson.name}"}
            #{lesson.index}. #{lesson.name}
