- extends "layout.haml"
- load staticfiles

- block content
  #home-courses
    .row
      .large-10.large-centered.columns
        - include "courses/content_page/course_statistics.haml"
        %hr
        - include "courses/content_page/course_menu.haml"
        %hr
        - include "courses/content_page/course_discover.haml"
        %hr
        %article.course-quote
          %blockquote= quote.body
          .attribution
            %img{src: 'http://dummyimage.com/50x50/aaa/000'}
            .person-name= quote.byline
            .person-title= quote.byline_title
