- extends "courses/course_navigation.haml"

- block page_title
  %title
    = program.display_name
    = _(" | Resources | Courses | McKinsey Academy")

- block current_content
  #course-resources
    %h1 Resources
    %a.global-help{'data-reveal-id': 'mckinsey_help'}
      %i.fa.fa-question-circle
    - autoescape off
      = resources.content
