- extends "courses/course_main.haml"
- load i18n

- block page_title
  %title
    = course.name
    {% trans "has not yet started" %}

- block content
  %article.row
    .medium-10.medium-centered.columns.course-page
      .error
        {% trans "This content is not yet available." %}
