- extends "courses/course_main.haml"

- block content
  %article.row
    .large-10.large-centered.columns.course-page
      - include "courses/content_page/course_tabs.haml"
      - include current_template
