- extends "courses/course_navigation.haml"
- load i18n

- block help_context
  #mckinsey_help.reveal-modal.medium{'data-reveal': ''}
    .close-reveal-modal
      %i.fa.fa-times-circle
    .sub-1 {% trans "Group Work" %}
    - if group_project.is_v2
      %p
        {% blocktrans %}Below are helpful tips to contribute to group work. You may also find answers to your questions in the {% endblocktrans %}
        %a{:href => "/faq"} {% trans "FAQ" %}.
        {% trans "Can’t find the answer there? Please contact us directly at " %}
        %a{:href => "#{support}"} {% trans "support" %}
        {% trans " and we’ll sort it out for you." %}
      .help-line {% blocktrans %} Access group work using the <i class="mk-icon-groupworknav blue"></i> icon in the main navigation bar {% endblocktrans %}
      .help-line {% blocktrans %} Upload deliverables by clicking the <i class="fa fa-upload blue"></i> icon at the bottom of the Project Navigator. {% endblocktrans %}
      .help-line {% blocktrans %} Access project resources by clicking the <i class="fa fa-files-o blue"></i> icon at the bottom of the Project Navigator. {% endblocktrans %}
      .help-line {% blocktrans %} Group work has a private discussion you can use to collaborate with your group members. You can chat with your team by clicking the <i class="fa fa-comments-o blue"></i> icon at the bottom of the Project Navigator. Your private discussions, even when viewed on the main discussion page, are only visible to your group members, never to the larger cohort. {% endblocktrans %}
      .help-line {% blocktrans %} Send a message to a McKinsey TA by clicking the <span class="nav-1" style="font-size:16px;">TA</span> icon at the bottom of the Project Navigator. {% endblocktrans %}
    - else
      %p
        {% blocktrans %}Below are helpful tips to contribute to group work. You may also find answers to your questions in the {% endblocktrans %}
        %a{:href => "/faq"} {% trans "FAQ" %}.
        {% trans "Can’t find the answer there? Please contact us directly at " %}
        %a{:href => "#{support}"} {% trans "support" %}
      .help-line {% blocktrans %} Access group work using the <i class="mk-icon-groupworknav"></i> icon in the main navigation bar {% endblocktrans %}
      .help-line {% trans "Group work is made up of one or more activities, and each activity is made up of up to 4 stages:" %}
      .help-line {% trans "OVERVIEW - provides a high-level overview of the task(s)" %}
      .help-line {% trans "UPLOAD - allows your team to upload deliverables for TA or peer grading" %}
      .help-line {% trans "REVIEWS - allows you to anonymously grade peer projects and/or provide team feedback" %}
      .help-line {% trans "GRADE - displays your team feedback and peer (or TA) grade" %}
      .help-line
        .page-left
          %i.fa.fa-chevron-left
        {% trans "Move from stage to stage within an activity using the left and right arrows; deadlines for each stage are posted, and if a particular stage has not yet opened, it is noted" %}
      .help-line {% blocktrans %} Group work has a private inline discussion you can use to collaborate with only your group members. View these conversations in group work pages, or by accessing the larger discussion page using the <i class="fa fa-comments-o"></i> icon in the main navigation bar. Your private discussions, even when viewed on the main discussion page, are only visible to your group members, never to the larger cohort. {% endblocktrans %}
      .help-line {% trans "Email your group members (individually or combined) from the right column of each stage" %}
      .help-line {% trans "Email your McKinsey TA from the right column of each stage." %}
      .help-line {% trans "This video walks you through the group work experience:" %}
      #mk-help-video{'data-video-id': "F0cmwxcjoRJg4g6GAcZGCl4dAGJKQ1Cj"}


- block current_content
  #course-group-work
    %a.global-help{'data-reveal-id': 'mckinsey_help'}
      %i.fa.fa-question-circle
    - if not group_project or not project_group
      %div
        .error {% trans "Group work has not yet begun for this course. You will receive a message with information once it begins" %}
    - else
      - if not group_project.is_v2
        .row
          - include "courses/group_work/activity_menu.haml"
      %div
        - if group_project.is_v2
          .splitpiece.left
            .lesson-title
              %span {% trans "Group Project:" %}
              %span= group_project.name
            .lesson-content
        - else
          .splitpiece.left
            .lesson-title
              %span {% trans "Group Project:" %}
              %span= group_project.name
            .lesson-content
          #group-project-users.splitpiece.right
            .group-members
              %h4 {% trans "Group Members" %}
              - for member in project_group.members
                - include "courses/group_work/group_member.haml" with group_member=member data_reveal_id="email-member"
              - if project_group.id
                %a.email-team{'href': "#", 'data-reveal-id': 'email-team'}
                  {% trans "Email your group" %}
            %hr
            - if ta_user.id and not course.ended
              .ask-ta
                %h4 {% trans "Ask a TA" %}
                -# Temporarily use mailto: for ta link as well (add data_reveal_id back in for when dialog should be introduced
                - include "courses/group_work/group_member.haml" with group_member=ta_user data_reveal_id="contact-ta"
                -# include "courses/group_work/group_member.haml" with group_member=project_group.teaching_assistant
            - include "courses/contact_ta.haml" with contact_from="group-work"

- block js_snippets
  %script{src: '/static/js/course_learner_dashboard/tile_progress_update.js'}
  - include "courses/group_work/js_snippets.haml"
