#course-cohort
  %h1 Cohort
  #map-cohort
  .student-data
    %ul.students
      %li.label-2 # of people online:
      %li.label-4 467 cohort participants
      %li.label-4 280 company participants
      %li.label-4 3 group work team members
    %a.hide-team{href: '#'} Hide team profiles
