- extends "courses/course_navigation.haml"
- load staticfiles

- block page_title
  %title
    = program.display_name
    = _(" | Cohort | Courses | McKinsey Academy")

- block help_context
  #mckinsey_help.reveal-modal.small{'data-reveal': None}
    .close-reveal-modal
      %i.fa.fa-times-circle
    .sub-1 Cohort
    %p Below are helpful tips to interact with the cohort map and leaderboards. You may also find answers to your questions in the <a href="/faq">FAQ</a>. Can’t find the answer there? Please contact us directly at <a href="mailto:support@mckinseyacademy.com">support@mckinseyacademy.com</a> and we’ll sort it out for you.
    .help-line Access the cohort using the <i class="fa fa-globe"></i> icon in the main navigation bar.
    .help-line COHORT MAP displays your group members, your McKinsey TA, and the number of cohort participants from various cities. The details on the number of participants in your company and the total number of cohort participants are displayed under the map.
    .help-line You can email your McKinsey TA who is displayed on the map
    .help-line LEADERBOARDS display the top participants across proficiency, progress, and engagement, as well as your own ranking compared to the cohort average
    .help-line This video walks you through the learner experience:
    #mk-help-video{'data-video-id': "xxeGhmcDoM9TuNW1LQil2luNyHUSokt2"}

- block current_content
  #course-cohort
    %h1 Cohort
    %a.global-help{'data-reveal-id': 'mckinsey_help'}
      %i.fa.fa-question-circle
    #map-cohort
    .student-data
      %ul.students
        %li.label-2 # of participants:
        %li.label-4 #{metrics.users_enrolled} in your cohort
        %li.label-4 #{metrics.group_enrolled} group work team members
      %a.hide-team{href: '#'} Hide team profiles
      %a.hide-team.hide{href: '#'} Show team profiles
    %hr
    .leaderboard-header
      %h1 Leaderboards
    .leaderboards
      %table
        %colgroup
          %col{'style': "width:33%"}
          %col{'style': "width:33%"}
          %col{'style': "width:34%"}
        %tbody
          %tr
            %td
              .header
                .label-5 Proficiency:
                .label-4 cohort average = ={proficiency.course_average_display}
                - if is_observer
                 .rank As an Observer you will not appear on the proficiency leaderboard
                - elif proficiency.user_position and proficiency.user_grade_value
                 .rank your proficiency position: <br><span>#={proficiency.user_position}</span> with <span>={proficiency.user_grade_display}</span>
                - else
                  .rank your proficiency position <br> will be displayed here

            - if feature_flags.progress_page
              %td
                .header
                  .label-5 Progress:
                  .label-4 cohort average = ={completions.course_average_display}%
                  - if is_observer
                   .rank As an Observer you will not appear on the progress leaderboard
                  - elif completions.position and completions.user_progress_value
                    .rank your progress position: <br><span>#={completions.position}</span> with <span>={completions.user_progress_display}%</span>
                  - else
                    .rank your progress position <br> will be displayed here

            - if feature_flags.discussions
              %td
                .header
                  .label-5 Engagement:
                  .label-4 cohort average = ={social.course_avg} points
                  - if is_observer
                   .rank As an Observer you will not appear on the engagement leaderboard
                  - elif social.position
                    .rank your engagement position: <br><span>#={social.position}</span> with <span>={social.points} pts.</span>
                  - else
                    .rank your engagement position <br> will be displayed here

          %tr
            %td
              - if proficiency.has_leaders and  proficiency.leaders.0
                .user
                  %img.avatar{src: '={proficiency.leaders.0.avatar_url}', title: '={proficiency.leaders.0.username}'}
                  .info
                    .person-name ={proficiency.leaders.0.username}
                    - if proficiency.leaders.0.title
                      .person-title ={proficiency.leaders.0.title}
                    .person-rank #={proficiency.leaders.0.rank} <span>={proficiency.leaders.0.grade_display_value}</span>
              - else
                .user.dummy
                  %img.avatar{src: '/static/image/empty_avatar.png'}
                  .info
                    .person-name username
                    .person-title title
                    .person-rank #={leaderboard_ranks.0}
                      %span 100
            %td
              - if completions.has_leaders and completions.leaders.0
                .user
                  %img.avatar{src: '={completions.leaders.0.avatar_url}', title: '={completions.leaders.0.username}'}
                  .info
                    .person-name ={completions.leaders.0.username}
                    - if completions.leaders.0.title
                      .person-title ={completions.leaders.0.title}
                    .person-rank #={completions.leaders.0.rank} <span>={completions.leaders.0.user_progress_display}%</span>
              - else
                .user.dummy
                  %img.avatar{src: '/static/image/empty_avatar.png'}
                  .info
                    .person-name username
                    .person-title title
                    .person-rank #={leaderboard_ranks.0}
                      %span 100%
            - if feature_flags.discussions
              %td
                - if social.leaders and social.leaders.0
                  .user
                    %img.avatar{src: '={social.leaders.0.avatar_url}', title: '={social.leaders.0.username}'}
                    .info
                      .person-name ={social.leaders.0.username}
                      - if social.leaders.0.title
                        .person-title ={social.leaders.0.title}
                      .person-rank #={social.leaders.0.rank} <span>={social.leaders.0.points} pts.</span>
                - else
                  .user.dummy
                    %img.avatar{src: '/static/image/empty_avatar.png'}
                    .info
                      .person-name username
                      .person-title title
                      .person-rank #={leaderboard_ranks.0}
                        %span 100 pts.
          %tr
            %td
              - if proficiency.has_leaders and  proficiency.leaders.1
                .user
                  %img.avatar{src: '={proficiency.leaders.1.avatar_url}', title: '={proficiency.leaders.1.username}'}
                  .info
                    .person-name ={proficiency.leaders.1.username}
                    - if proficiency.leaders.1.title
                      .person-title ={proficiency.leaders.1.title}
                    .person-rank #={proficiency.leaders.1.rank} <span>={proficiency.leaders.1.grade_display_value}</span>
              - else
                .user.dummy
                  %img.avatar{src: '/static/image/empty_avatar.png'}
                  .info
                    .person-name username
                    .person-title title
                    .person-rank #={leaderboard_ranks.1}
                      %span 100
            %td
              - if completions.has_leaders and completions.leaders.1
                .user
                  %img.avatar{src: '={completions.leaders.1.avatar_url}', title: '={completions.leaders.1.username}'}
                  .info
                    .person-name ={completions.leaders.1.username}
                    - if completions.leaders.1.title
                      .person-title ={completions.leaders.1.title}
                    .person-rank #={completions.leaders.1.rank} <span>={completions.leaders.1.user_progress_display}%</span>
              - else
                .user.dummy
                  %img.avatar{src: '/static/image/empty_avatar.png'}
                  .info
                    .person-name username
                    .person-title title
                    .person-rank #={leaderboard_ranks.1}
                      %span 100%
            - if feature_flags.discussions
              %td
                - if social.leaders and social.leaders.1
                  .user
                    %img.avatar{src: '={social.leaders.1.avatar_url}', title: '={social.leaders.1.username}'}
                    .info
                      .person-name ={social.leaders.1.username}
                      - if social.leaders.1.title
                        .person-title ={social.leaders.1.title}
                      .person-rank #={social.leaders.1.rank} <span>={social.leaders.1.points} pts.</span>
                - else
                  .user.dummy
                    %img.avatar{src: '/static/image/empty_avatar.png'}
                    .info
                      .person-name username
                      .person-title title
                      .person-rank #={leaderboard_ranks.1}
                        %span 100 pts.
          %tr
            %td
              - if proficiency.has_leaders and  proficiency.leaders.2
                .user
                  %img.avatar{src: '={proficiency.leaders.2.avatar_url}', title: '={proficiency.leaders.2.username}'}
                  .info
                    .person-name ={proficiency.leaders.2.username}
                    - if proficiency.leaders.2.title
                      .person-title ={proficiency.leaders.2.title}
                    .person-rank #={proficiency.leaders.2.rank} <span>={proficiency.leaders.2.grade_display_value}</span>
              - else
                .user.dummy
                  %img.avatar{src: '/static/image/empty_avatar.png'}
                  .info
                    .person-name username
                    .person-title title
                    .person-rank #={leaderboard_ranks.2}
                      %span 100
            %td
              - if completions.has_leaders and completions.leaders.2
                .user
                  %img.avatar{src: '={completions.leaders.2.avatar_url}', title: '={completions.leaders.2.username}'}
                  .info
                    .person-name ={completions.leaders.2.username}
                    - if completions.leaders.2.title
                      .person-title ={completions.leaders.2.title}
                    .person-rank #={completions.leaders.2.rank} <span>={completions.leaders.2.user_progress_display}%</span>
              - else
                .user.dummy
                  %img.avatar{src: '/static/image/empty_avatar.png'}
                  .info
                    .person-name username
                    .person-title title
                    .person-rank #={leaderboard_ranks.2}
                      %span 100%
            - if feature_flags.discussions
              %td
                - if social.leaders and social.leaders.2
                  .user
                    %img.avatar{src: '={social.leaders.2.avatar_url}', title: '={social.leaders.2.username}'}
                    .info
                      .person-name ={social.leaders.2.username}
                      - if social.leaders.2.title
                        .person-title ={social.leaders.2.title}
                      .person-rank #={social.leaders.2.rank} <span>={social.leaders.2.points} pts.</span>
                - else
                  .user.dummy
                    %img.avatar{src: '/static/image/empty_avatar.png'}
                    .info
                      .person-name username
                      .person-title title
                      .person-rank #={leaderboard_ranks.2}
                        %span 100 pts.

    %hr.hidden
    .user-content.hidden
      %section
        %h1 Discussions
        %blockquote Even if we cannot directly shape an outcome, a model’s prediction may be communicated in a way that alters behavior and indirectly shapes it.
        .attribution
          %img{src: 'http://dummyimage.com/50/000/fff&text=User'}
          .person
            .person-name gwensisco
            .person-title Media Buyer
            %time.label-2{datetime: '2014-07-07T04:00:00.000Z'} JUL 07, 2014 | 3:52PM
      %section.recommendations
        %h1 Recommendations
        .link
          %a{href: '#'} Scientists Without Borders
        %p.style-4 A worldwide community of changemakers collaborating to accelerate solutions to urgent development challenges.
        .person-name janejohnson <span class='person-title'>COO</span>
        %a.button.radius.tiny Suggest a Link

  - include "courses/contact_ta.haml"

- block js_snippets
  %script{src: "{% static 'js/course_contact_modal.js' %}"}
  %script{src: '//api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'}
  %script
    var CohortMapUsers = {{metrics.groups_users|safe}};
    var CohortMapCities = {{metrics.cities|safe}};
    - if not course.ended
      var TAUser = {{ta_user|safe}};
    var mapbox_map_id = "{{mapbox_map_id}}";
    L.mapbox.accessToken = "{{mapbox_token}}";
