- load i18n
%input#notes-expand{'type': 'checkbox'}
#lesson-notes
  %nav
    %ul
      %li
        %label{'for': 'notes-expand'}
          %i.fa.fa-pencil-square-o
      %li
        %a.download{"href": "/courses/#{course_id}/export_notes/" }
          %i.fa.fa-download
      %li
        %a.notes-sort{'data-field': 'time'}
          %i.fa.fa-clock-o
      %li
        %a.notes-sort.on{'data-field': 'lesson'}
          %i.fa.fa-list-ol
    %form.notes-search
      %input{'type': 'search', 'placeholder': '{% trans "Search your notes" %}'}
      %input{'type': 'submit', 'value': '&#xf002;'}
  .notes-area
    .notes-inner
      %ul.notes-list
      %form.notes-entry{"action": "/courses/#{course_id}/lessons/#{course.current_lesson.id}/notes/", 'method': 'POST'}
        - csrf_token
        %input{'type': 'hidden', 'name': 'module_id', "value": "#{course.current_module.id}"}
        %textarea.notes-input{'name': 'body', 'placeholder': '{% trans "Enter course notes&hellip;" %}'}
        %input{'type': 'submit'}
  .notes-resize
    %i.fa.fa-sort
