.program-menu-content
  %i.fa.fa-bars
  .program-title
    McKinsey Management Program
  %ul.courses
    - for course in courses:    
      %li
        - url = ""
        - if course.is_released:
          %a.course-name(href=course.url,title=course.name)
            = course.name
        - else:
          .course-name
            = course.name
        .status
          = course.status
