- extends "admin/admin_layout.haml"
- load i18n

- block content
  .row
    %p {% trans "This is the course meta content detail page." %}

    %form.admin-form{action: "#{form_action}", method: "POST"}
      .error
        - if error
          {% trans "ERRORS:" %}
          = error
      - csrf_token
      %fieldset= form.as_p
      .submit-area
        %input.button.radius.small{type: "submit", value: "{% trans 'Save' %}"}
        %a{href: "#{cancel_link}"}
          .button.radius.small {% trans "Cancel" %}

